(edif comp4
 (edifVersion 2 0 0)
 (edifLevel 0)
 (keywordMap (keywordLevel 0))
 (status
  (written
   (timeStamp 1997 08 14 00 25 58)
   (program "EXPRESS.EXE" (Version "7.10.375"))
   (comment "Original data from OrCAD/CAPTURE schematic"))
  (comment "")
  (comment "August 13, 1997")
  (comment "G:\M1_LIBS\XC4000EX\COMP4.DSN")
  (comment "")
  (comment "")
  (comment "")
  (comment "")
  (comment "")
  (comment ""))
 (external OrCAD_LIB
  (edifLevel 0)
  (technology
   (numberDefinition
    (scale 1 1 (unit distance))))
  (cell xnor2
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port I0 (direction INPUT)(designator "I0"))
     (port I1 (direction INPUT)(designator "I1"))
     (port O (direction OUTPUT)(designator "O")))))
  (cell and4
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port I0 (direction INPUT)(designator "I0"))
     (port I1 (direction INPUT)(designator "I1"))
     (port I2 (direction INPUT)(designator "I2"))
     (port I3 (direction INPUT)(designator "I3"))
     (port O (direction OUTPUT)(designator "O"))))))
 (library MAIN_LIB
  (edifLevel 0)
  (technology
   (numberDefinition
    (scale 1 1 (unit distance))))
  (cell comp4
   (cellType generic)
   (view NetlistView
    (viewType netlist)
    (interface
     (port A0 (direction INPUT))
     (port B1 (direction INPUT))
     (port A1 (direction INPUT))
     (port B2 (direction INPUT))
     (port A2 (direction INPUT))
     (port B3 (direction INPUT))
     (port A3 (direction INPUT))
     (port EQ (direction OUTPUT))
     (port B0 (direction INPUT)))
    (contents
     (instance U1
      (viewRef NetlistView
       (cellRef xnor2
        (libraryRef OrCAD_LIB))) (designator "U1")
      (property Name (string "$1I43"))
      (property EDIForiginalOrigin (string "(pt 0 -50)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "xnor2")))
     (instance U2
      (viewRef NetlistView
       (cellRef xnor2
        (libraryRef OrCAD_LIB))) (designator "U2")
      (property Name (string "$1I42"))
      (property EDIForiginalOrigin (string "(pt 0 -50)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "xnor2")))
     (instance U3
      (viewRef NetlistView
       (cellRef and4
        (libraryRef OrCAD_LIB))) (designator "U3")
      (property Name (string "$1I32"))
      (property EDIForiginalOrigin (string "(pt 20 -80)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "and4")))
     (instance U4
      (viewRef NetlistView
       (cellRef xnor2
        (libraryRef OrCAD_LIB))) (designator "U4")
      (property Name (string "$1I33"))
      (property EDIForiginalOrigin (string "(pt 0 -50)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "xnor2")))
     (instance U5
      (viewRef NetlistView
       (cellRef xnor2
        (libraryRef OrCAD_LIB))) (designator "U5")
      (property Name (string "$1I34"))
      (property EDIForiginalOrigin (string "(pt 0 -50)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "xnor2")))
     (net EQ
      (joined
       (portRef O (instanceRef U3))
       (portRef EQ))
      (property Name (string "EQ")))
     (net A2
      (joined
       (portRef I1 (instanceRef U4))
       (portRef A2))
      (property Name (string "A2")))
     (net A0
      (joined
       (portRef I1 (instanceRef U1))
       (portRef A0))
      (property Name (string "A0")))
     (net B1
      (joined
       (portRef I0 (instanceRef U2))
       (portRef B1))
      (property Name (string "B1")))
     (net A1
      (joined
       (portRef I1 (instanceRef U2))
       (portRef A1))
      (property Name (string "A1")))
     (net B2
      (joined
       (portRef I0 (instanceRef U4))
       (portRef B2))
      (property Name (string "B2")))
     (net A3
      (joined
       (portRef I1 (instanceRef U5))
       (portRef A3))
      (property Name (string "A3")))
     (net B3
      (joined
       (portRef I0 (instanceRef U5))
       (portRef B3))
      (property Name (string "B3")))
     (net AB1
      (joined
       (portRef O (instanceRef U2))
       (portRef I2 (instanceRef U3)))
      (property Name (string "AB1")))
     (net AB2
      (joined
       (portRef O (instanceRef U4))
       (portRef I1 (instanceRef U3)))
      (property Name (string "AB2")))
     (net AB0
      (joined
       (portRef O (instanceRef U1))
       (portRef I3 (instanceRef U3)))
      (property Name (string "AB0")))
     (net B0
      (joined
       (portRef I0 (instanceRef U1))
       (portRef B0))
      (property Name (string "B0")))
     (net AB3
      (joined
       (portRef O (instanceRef U5))
       (portRef I0 (instanceRef U3)))
      (property Name (string "AB3")))))))
 (design comp4
  (cellRef comp4
   (libraryRef MAIN_LIB))))
