(edif ipad8
 (edifVersion 2 0 0)
 (edifLevel 0)
 (keywordMap (keywordLevel 0))
 (status
  (written
   (timeStamp 1997 08 14 00 57 52)
   (program "EXPRESS.EXE" (Version "7.10.375"))
   (comment "Original data from OrCAD/CAPTURE schematic"))
  (comment "")
  (comment "August 13, 1997")
  (comment "G:\M1_LIBS\XC4000EX\IPAD8.DSN")
  (comment "")
  (comment "")
  (comment "")
  (comment "")
  (comment "")
  (comment ""))
 (external OrCAD_LIB
  (edifLevel 0)
  (technology
   (numberDefinition
    (scale 1 1 (unit distance))))
  (cell ipad
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port IPAD (direction INOUT)(designator "IPAD"))))))
 (library MAIN_LIB
  (edifLevel 0)
  (technology
   (numberDefinition
    (scale 1 1 (unit distance))))
  (cell ipad8
   (cellType generic)
   (view NetlistView
    (viewType netlist)
    (interface
     (port I0 (direction INOUT))
     (port I1 (direction INOUT))
     (port I2 (direction INOUT))
     (port I3 (direction INOUT))
     (port I4 (direction INOUT))
     (port I5 (direction INOUT))
     (port I6 (direction INOUT))
     (port I7 (direction INOUT)))
    (contents
     (instance U1
      (viewRef NetlistView
       (cellRef ipad
        (libraryRef OrCAD_LIB))) (designator "U1")
      (property Name (string "$1I37"))
      (property EDIForiginalOrigin (string "(pt 0 -20)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "ipad"))
      (property EXT (string "IPAD")))
     (instance U2
      (viewRef NetlistView
       (cellRef ipad
        (libraryRef OrCAD_LIB))) (designator "U2")
      (property Name (string "$1I36"))
      (property EDIForiginalOrigin (string "(pt 0 -20)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "ipad"))
      (property EXT (string "IPAD")))
     (instance U3
      (viewRef NetlistView
       (cellRef ipad
        (libraryRef OrCAD_LIB))) (designator "U3")
      (property Name (string "$1I35"))
      (property EDIForiginalOrigin (string "(pt 0 -20)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "ipad"))
      (property EXT (string "IPAD")))
     (instance U4
      (viewRef NetlistView
       (cellRef ipad
        (libraryRef OrCAD_LIB))) (designator "U4")
      (property Name (string "$1I34"))
      (property EDIForiginalOrigin (string "(pt 0 -20)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "ipad"))
      (property EXT (string "IPAD")))
     (instance U5
      (viewRef NetlistView
       (cellRef ipad
        (libraryRef OrCAD_LIB))) (designator "U5")
      (property Name (string "$1I30"))
      (property EDIForiginalOrigin (string "(pt 0 -20)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "ipad"))
      (property EXT (string "IPAD")))
     (instance U6
      (viewRef NetlistView
       (cellRef ipad
        (libraryRef OrCAD_LIB))) (designator "U6")
      (property Name (string "$1I31"))
      (property EDIForiginalOrigin (string "(pt 0 -20)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "ipad"))
      (property EXT (string "IPAD")))
     (instance U7
      (viewRef NetlistView
       (cellRef ipad
        (libraryRef OrCAD_LIB))) (designator "U7")
      (property Name (string "$1I32"))
      (property EDIForiginalOrigin (string "(pt 0 -20)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "ipad"))
      (property EXT (string "IPAD")))
     (instance U8
      (viewRef NetlistView
       (cellRef ipad
        (libraryRef OrCAD_LIB))) (designator "U8")
      (property Name (string "$1I33"))
      (property EDIForiginalOrigin (string "(pt 0 -20)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "ipad"))
      (property EXT (string "IPAD")))
     (net I3
      (joined
       (portRef IPAD (instanceRef U4))
       (portRef I3))
      (property Name (string "I3")))
     (net I6
      (joined
       (portRef IPAD (instanceRef U7))
       (portRef I6))
      (property Name (string "I6")))
     (net I2
      (joined
       (portRef IPAD (instanceRef U3))
       (portRef I2))
      (property Name (string "I2")))
     (net I5
      (joined
       (portRef IPAD (instanceRef U6))
       (portRef I5))
      (property Name (string "I5")))
     (net I4
      (joined
       (portRef IPAD (instanceRef U5))
       (portRef I4))
      (property Name (string "I4")))
     (net I1
      (joined
       (portRef IPAD (instanceRef U2))
       (portRef I1))
      (property Name (string "I1")))
     (net I0
      (joined
       (portRef IPAD (instanceRef U1))
       (portRef I0))
      (property Name (string "I0")))
     (net I7
      (joined
       (portRef IPAD (instanceRef U8))
       (portRef I7))
      (property Name (string "I7")))))))
 (design ipad8
  (cellRef ipad8
   (libraryRef MAIN_LIB))))
