(edif sr8cled
 (edifVersion 2 0 0)
 (edifLevel 0)
 (keywordMap (keywordLevel 0))
 (status
  (written
   (timeStamp 1997 08 14 01 42 42)
   (program "EXPRESS.EXE" (Version "7.10.375"))
   (comment "Original data from OrCAD/CAPTURE schematic"))
  (comment "")
  (comment "August 13, 1997")
  (comment "G:\M1_LIBS\XC4000EX\SR8CLED.DSN")
  (comment "")
  (comment "")
  (comment "")
  (comment "")
  (comment "")
  (comment ""))
 (external OrCAD_LIB
  (edifLevel 0)
  (technology
   (numberDefinition
    (scale 1 1 (unit distance))))
  (cell m2_1
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port D0 (direction INPUT)(designator "D0"))
     (port D1 (direction INPUT)(designator "D1"))
     (port O (direction OUTPUT)(designator "O"))
     (port S0 (direction INPUT)(designator "S0")))))
  (cell fdce
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port C (direction INPUT)(designator "C"))
     (port CE (direction INPUT)(designator "CE"))
     (port CLR (direction INPUT)(designator "CLR"))
     (port D (direction INPUT)(designator "D"))
     (port Q (direction OUTPUT)(designator "Q")))))
  (cell or2
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port I0 (direction INPUT)(designator "I0"))
     (port I1 (direction INPUT)(designator "I1"))
     (port O (direction OUTPUT)(designator "O"))))))
 (library MAIN_LIB
  (edifLevel 0)
  (technology
   (numberDefinition
    (scale 1 1 (unit distance))))
  (cell sr8cled
   (cellType generic)
   (view NetlistView
    (viewType netlist)
    (interface
     (port D3 (direction INPUT))
     (port Q0 (direction OUTPUT))
     (port D4 (direction INPUT))
     (port CE (direction INPUT))
     (port Q1 (direction OUTPUT))
     (port D5 (direction INPUT))
     (port Q2 (direction OUTPUT))
     (port D6 (direction INPUT))
     (port Q3 (direction OUTPUT))
     (port D7 (direction INPUT))
     (port CLR (direction INPUT))
     (port Q4 (direction OUTPUT))
     (port SRI (direction INPUT))
     (port Q5 (direction OUTPUT))
     (port LEFT (direction INPUT))
     (port Q6 (direction OUTPUT))
     (port L (direction INPUT))
     (port Q7 (direction OUTPUT))
     (port SLI (direction INPUT))
     (port D0 (direction INPUT))
     (port D1 (direction INPUT))
     (port C (direction INPUT))
     (port D2 (direction INPUT)))
    (contents
     (instance U13
      (viewRef NetlistView
       (cellRef m2_1
        (libraryRef OrCAD_LIB))) (designator "U13")
      (property Name (string "MDL3"))
      (property EDIForiginalOrigin (string "(pt 30 -60)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "m2_1")))
     (instance U14
      (viewRef NetlistView
       (cellRef m2_1
        (libraryRef OrCAD_LIB))) (designator "U14")
      (property Name (string "MDR4"))
      (property EDIForiginalOrigin (string "(pt 30 -60)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "m2_1")))
     (instance U15
      (viewRef NetlistView
       (cellRef fdce
        (libraryRef OrCAD_LIB))) (designator "U15")
      (property Name (string "Q4"))
      (property EDIForiginalOrigin (string "(pt 20 -100)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "fdce"))
      (property INIT (string "R")))
     (instance U16
      (viewRef NetlistView
       (cellRef m2_1
        (libraryRef OrCAD_LIB))) (designator "U16")
      (property Name (string "MDL4"))
      (property EDIForiginalOrigin (string "(pt 30 -60)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "m2_1")))
     (instance U17
      (viewRef NetlistView
       (cellRef m2_1
        (libraryRef OrCAD_LIB))) (designator "U17")
      (property Name (string "MDR5"))
      (property EDIForiginalOrigin (string "(pt 30 -60)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "m2_1")))
     (instance U18
      (viewRef NetlistView
       (cellRef fdce
        (libraryRef OrCAD_LIB))) (designator "U18")
      (property Name (string "Q5"))
      (property EDIForiginalOrigin (string "(pt 20 -100)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "fdce"))
      (property INIT (string "R")))
     (instance U19
      (viewRef NetlistView
       (cellRef m2_1
        (libraryRef OrCAD_LIB))) (designator "U19")
      (property Name (string "MDL5"))
      (property EDIForiginalOrigin (string "(pt 30 -60)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "m2_1")))
     (instance U1
      (viewRef NetlistView
       (cellRef or2
        (libraryRef OrCAD_LIB))) (designator "U1")
      (property Name (string "$1I102"))
      (property EDIForiginalOrigin (string "(pt 0 -50)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "or2")))
     (instance U2
      (viewRef NetlistView
       (cellRef m2_1
        (libraryRef OrCAD_LIB))) (designator "U2")
      (property Name (string "MDR0"))
      (property EDIForiginalOrigin (string "(pt 30 -60)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "m2_1")))
     (instance U3
      (viewRef NetlistView
       (cellRef fdce
        (libraryRef OrCAD_LIB))) (designator "U3")
      (property Name (string "Q0"))
      (property EDIForiginalOrigin (string "(pt 20 -100)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "fdce"))
      (property INIT (string "R")))
     (instance U4
      (viewRef NetlistView
       (cellRef m2_1
        (libraryRef OrCAD_LIB))) (designator "U4")
      (property Name (string "MDL0"))
      (property EDIForiginalOrigin (string "(pt 30 -60)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "m2_1")))
     (instance U20
      (viewRef NetlistView
       (cellRef m2_1
        (libraryRef OrCAD_LIB))) (designator "U20")
      (property Name (string "MDR6"))
      (property EDIForiginalOrigin (string "(pt 30 -60)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "m2_1")))
     (instance U5
      (viewRef NetlistView
       (cellRef m2_1
        (libraryRef OrCAD_LIB))) (designator "U5")
      (property Name (string "MDR1"))
      (property EDIForiginalOrigin (string "(pt 30 -60)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "m2_1")))
     (instance U21
      (viewRef NetlistView
       (cellRef fdce
        (libraryRef OrCAD_LIB))) (designator "U21")
      (property Name (string "Q6"))
      (property EDIForiginalOrigin (string "(pt 20 -100)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "fdce"))
      (property INIT (string "R")))
     (instance U6
      (viewRef NetlistView
       (cellRef fdce
        (libraryRef OrCAD_LIB))) (designator "U6")
      (property Name (string "Q1"))
      (property EDIForiginalOrigin (string "(pt 20 -100)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "fdce"))
      (property INIT (string "R")))
     (instance U22
      (viewRef NetlistView
       (cellRef m2_1
        (libraryRef OrCAD_LIB))) (designator "U22")
      (property Name (string "MDL6"))
      (property EDIForiginalOrigin (string "(pt 30 -60)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "m2_1")))
     (instance U7
      (viewRef NetlistView
       (cellRef m2_1
        (libraryRef OrCAD_LIB))) (designator "U7")
      (property Name (string "MDL1"))
      (property EDIForiginalOrigin (string "(pt 30 -60)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "m2_1")))
     (instance U23
      (viewRef NetlistView
       (cellRef m2_1
        (libraryRef OrCAD_LIB))) (designator "U23")
      (property Name (string "MDR7"))
      (property EDIForiginalOrigin (string "(pt 30 -60)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "m2_1")))
     (instance U8
      (viewRef NetlistView
       (cellRef m2_1
        (libraryRef OrCAD_LIB))) (designator "U8")
      (property Name (string "MDR2"))
      (property EDIForiginalOrigin (string "(pt 30 -60)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "m2_1")))
     (instance U24
      (viewRef NetlistView
       (cellRef fdce
        (libraryRef OrCAD_LIB))) (designator "U24")
      (property Name (string "Q7"))
      (property EDIForiginalOrigin (string "(pt 20 -100)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "fdce"))
      (property INIT (string "R")))
     (instance U9
      (viewRef NetlistView
       (cellRef fdce
        (libraryRef OrCAD_LIB))) (designator "U9")
      (property Name (string "Q2"))
      (property EDIForiginalOrigin (string "(pt 20 -100)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "fdce"))
      (property INIT (string "R")))
     (instance U25
      (viewRef NetlistView
       (cellRef m2_1
        (libraryRef OrCAD_LIB))) (designator "U25")
      (property Name (string "MDL7"))
      (property EDIForiginalOrigin (string "(pt 30 -60)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "m2_1")))
     (instance U26
      (viewRef NetlistView
       (cellRef or2
        (libraryRef OrCAD_LIB))) (designator "U26")
      (property Name (string "$1I120"))
      (property EDIForiginalOrigin (string "(pt 0 -50)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "or2")))
     (instance U10
      (viewRef NetlistView
       (cellRef m2_1
        (libraryRef OrCAD_LIB))) (designator "U10")
      (property Name (string "MDL2"))
      (property EDIForiginalOrigin (string "(pt 30 -60)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "m2_1")))
     (instance U11
      (viewRef NetlistView
       (cellRef m2_1
        (libraryRef OrCAD_LIB))) (designator "U11")
      (property Name (string "MDR3"))
      (property EDIForiginalOrigin (string "(pt 30 -60)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "m2_1")))
     (instance U12
      (viewRef NetlistView
       (cellRef fdce
        (libraryRef OrCAD_LIB))) (designator "U12")
      (property Name (string "Q3"))
      (property EDIForiginalOrigin (string "(pt 20 -100)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "fdce"))
      (property INIT (string "R")))
     (net MDL2
      (joined
       (portRef O (instanceRef U10))
       (portRef D1 (instanceRef U8)))
      (property Name (string "MDL2")))
     (net CE
      (joined
       (portRef I1 (instanceRef U1))
       (portRef CE))
      (property Name (string "CE")))
     (net Q0
      (joined
       (portRef D0 (instanceRef U7))
       (portRef Q (instanceRef U3))
       (portRef Q0))
      (property Name (string "Q0")))
     (net Q3
      (joined
       (portRef D0 (instanceRef U16))
       (portRef D0 (instanceRef U8))
       (portRef Q (instanceRef U12))
       (portRef Q3))
      (property Name (string "Q3")))
     (net L
      (joined
       (portRef S0 (instanceRef U25))
       (portRef I0 (instanceRef U1))
       (portRef S0 (instanceRef U4))
       (portRef S0 (instanceRef U7))
       (portRef S0 (instanceRef U10))
       (portRef S0 (instanceRef U13))
       (portRef S0 (instanceRef U16))
       (portRef S0 (instanceRef U19))
       (portRef S0 (instanceRef U22))
       (portRef I1 (instanceRef U26))
       (portRef L))
      (property Name (string "L")))
     (net MDL6
      (joined
       (portRef D1 (instanceRef U20))
       (portRef O (instanceRef U22)))
      (property Name (string "MDL6")))
     (net MDR1
      (joined
       (portRef O (instanceRef U5))
       (portRef D (instanceRef U6)))
      (property Name (string "MDR1")))
     (net MDR0
      (joined
       (portRef O (instanceRef U2))
       (portRef D (instanceRef U3)))
      (property Name (string "MDR0")))
     (net SRI
      (joined
       (portRef D0 (instanceRef U23))
       (portRef SRI))
      (property Name (string "SRI")))
     (net MDL7
      (joined
       (portRef D1 (instanceRef U23))
       (portRef O (instanceRef U25)))
      (property Name (string "MDL7")))
     (net CLR
      (joined
       (portRef CLR (instanceRef U3))
       (portRef CLR (instanceRef U6))
       (portRef CLR (instanceRef U9))
       (portRef CLR (instanceRef U12))
       (portRef CLR (instanceRef U15))
       (portRef CLR (instanceRef U18))
       (portRef CLR (instanceRef U21))
       (portRef CLR (instanceRef U24))
       (portRef CLR))
      (property Name (string "CLR")))
     (net L_OR_CE
      (joined
       (portRef O (instanceRef U1))
       (portRef CE (instanceRef U24))
       (portRef CE (instanceRef U21))
       (portRef CE (instanceRef U18))
       (portRef CE (instanceRef U15))
       (portRef CE (instanceRef U12))
       (portRef CE (instanceRef U9))
       (portRef CE (instanceRef U6))
       (portRef CE (instanceRef U3)))
      (property Name (string "L_OR_CE")))
     (net MDL5
      (joined
       (portRef D1 (instanceRef U17))
       (portRef O (instanceRef U19)))
      (property Name (string "MDL5")))
     (net C
      (joined
       (portRef C (instanceRef U3))
       (portRef C (instanceRef U6))
       (portRef C (instanceRef U9))
       (portRef C (instanceRef U12))
       (portRef C (instanceRef U15))
       (portRef C (instanceRef U18))
       (portRef C (instanceRef U21))
       (portRef C (instanceRef U24))
       (portRef C))
      (property Name (string "C")))
     (net MDL4
      (joined
       (portRef O (instanceRef U16))
       (portRef D1 (instanceRef U14)))
      (property Name (string "MDL4")))
     (net Q1
      (joined
       (portRef D0 (instanceRef U10))
       (portRef D0 (instanceRef U2))
       (portRef Q (instanceRef U6))
       (portRef Q1))
      (property Name (string "Q1")))
     (net MDL3
      (joined
       (portRef O (instanceRef U13))
       (portRef D1 (instanceRef U11)))
      (property Name (string "MDL3")))
     (net MDL1
      (joined
       (portRef O (instanceRef U7))
       (portRef D1 (instanceRef U5)))
      (property Name (string "MDL1")))
     (net MDL0
      (joined
       (portRef O (instanceRef U4))
       (portRef D1 (instanceRef U2)))
      (property Name (string "MDL0")))
     (net SLI
      (joined
       (portRef D0 (instanceRef U4))
       (portRef SLI))
      (property Name (string "SLI")))
     (net Q6
      (joined
       (portRef D0 (instanceRef U25))
       (portRef D0 (instanceRef U17))
       (portRef Q (instanceRef U21))
       (portRef Q6))
      (property Name (string "Q6")))
     (net LEFT
      (joined
       (portRef I0 (instanceRef U26))
       (portRef LEFT))
      (property Name (string "LEFT")))
     (net Q5
      (joined
       (portRef D0 (instanceRef U22))
       (portRef D0 (instanceRef U14))
       (portRef Q (instanceRef U18))
       (portRef Q5))
      (property Name (string "Q5")))
     (net D0
      (joined
       (portRef D1 (instanceRef U4))
       (portRef D0))
      (property Name (string "D0")))
     (net Q4
      (joined
       (portRef D0 (instanceRef U19))
       (portRef D0 (instanceRef U11))
       (portRef Q (instanceRef U15))
       (portRef Q4))
      (property Name (string "Q4")))
     (net D2
      (joined
       (portRef D1 (instanceRef U10))
       (portRef D2))
      (property Name (string "D2")))
     (net D3
      (joined
       (portRef D1 (instanceRef U13))
       (portRef D3))
      (property Name (string "D3")))
     (net MDR7
      (joined
       (portRef O (instanceRef U23))
       (portRef D (instanceRef U24)))
      (property Name (string "MDR7")))
     (net MDR6
      (joined
       (portRef O (instanceRef U20))
       (portRef D (instanceRef U21)))
      (property Name (string "MDR6")))
     (net D4
      (joined
       (portRef D1 (instanceRef U16))
       (portRef D4))
      (property Name (string "D4")))
     (net MDR5
      (joined
       (portRef O (instanceRef U17))
       (portRef D (instanceRef U18)))
      (property Name (string "MDR5")))
     (net D5
      (joined
       (portRef D1 (instanceRef U19))
       (portRef D5))
      (property Name (string "D5")))
     (net MDR4
      (joined
       (portRef O (instanceRef U14))
       (portRef D (instanceRef U15)))
      (property Name (string "MDR4")))
     (net MDR3
      (joined
       (portRef O (instanceRef U11))
       (portRef D (instanceRef U12)))
      (property Name (string "MDR3")))
     (net D6
      (joined
       (portRef D1 (instanceRef U22))
       (portRef D6))
      (property Name (string "D6")))
     (net MDR2
      (joined
       (portRef O (instanceRef U8))
       (portRef D (instanceRef U9)))
      (property Name (string "MDR2")))
     (net Q7
      (joined
       (portRef D0 (instanceRef U20))
       (portRef Q (instanceRef U24))
       (portRef Q7))
      (property Name (string "Q7")))
     (net D7
      (joined
       (portRef D1 (instanceRef U25))
       (portRef D7))
      (property Name (string "D7")))
     (net L_LEFT
      (joined
       (portRef O (instanceRef U26))
       (portRef S0 (instanceRef U2))
       (portRef S0 (instanceRef U5))
       (portRef S0 (instanceRef U8))
       (portRef S0 (instanceRef U11))
       (portRef S0 (instanceRef U14))
       (portRef S0 (instanceRef U17))
       (portRef S0 (instanceRef U20))
       (portRef S0 (instanceRef U23)))
      (property Name (string "L_LEFT")))
     (net Q2
      (joined
       (portRef D0 (instanceRef U13))
       (portRef D0 (instanceRef U5))
       (portRef Q (instanceRef U9))
       (portRef Q2))
      (property Name (string "Q2")))
     (net D1
      (joined
       (portRef D1 (instanceRef U7))
       (portRef D1))
      (property Name (string "D1")))))))
 (design sr8cled
  (cellRef sr8cled
   (libraryRef MAIN_LIB))))
