(edif adsu4
 (edifVersion 2 0 0)
 (edifLevel 0)
 (keywordMap (keywordLevel 0))
 (status
  (written
   (timeStamp 1998 01 29 17 53 17)
   (program "CAPTURE.EXE" (Version "7.20.145"))
   (comment "Original data from OrCAD/CAPTURE schematic"))
  (comment "")
  (comment "January 29, 1998")
  (comment "G:\MANUFACTURER\XILINXM1\WORKINPROGRESS\XC5200\ADSU4.DSN")
  (comment "")
  (comment "")
  (comment "")
  (comment "")
  (comment "")
  (comment ""))
 (external OrCAD_LIB
  (edifLevel 0)
  (technology
   (numberDefinition
    (scale 1 1 (unit distance))))
  (cell xor2
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port I0 (direction INPUT))
     (port I1 (direction INPUT))
     (port O (direction OUTPUT)))))
  (cell inv
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port I (direction INPUT))
     (port O (direction OUTPUT)))))
  (cell fmap
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port I1 (direction INPUT))
     (port I2 (direction INPUT))
     (port I3 (direction INPUT))
     (port I4 (direction INPUT))
     (port O (direction INPUT)))))
  (cell xor3
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port I0 (direction INPUT))
     (port I1 (direction INPUT))
     (port I2 (direction INPUT))
     (port O (direction OUTPUT)))))
  (cell cy_mux
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port CI (direction INPUT))
     (port CO (direction OUTPUT))
     (port DI (direction INPUT))
     (port S (direction INPUT)))))
  (cell cy_init
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port COUT (direction INOUT))
     (port INIT (direction INOUT))))))
 (library MAIN_LIB
  (edifLevel 0)
  (technology
   (numberDefinition
    (scale 1 1 (unit distance))))
  (cell adsu4
   (cellType generic)
   (view NetlistView
    (viewType netlist)
    (interface
     (port S1 (direction OUTPUT))
     (port A0 (direction INPUT))
     (port OFL (direction OUTPUT))
     (port B1 (direction INPUT))
     (port S2 (direction OUTPUT))
     (port B2 (direction INPUT))
     (port A1 (direction INPUT))
     (port A2 (direction INPUT))
     (port B3 (direction INPUT))
     (port S3 (direction OUTPUT))
     (port A3 (direction INPUT))
     (port CI (direction INPUT))
     (port CO (direction OUTPUT))
     (port ADD (direction INPUT))
     (port S0 (direction OUTPUT))
     (port B0 (direction INPUT)))
    (contents
     (instance U13
      (viewRef NetlistView
       (cellRef xor2
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I76"))
      (property EDIForiginalOrigin (string "(pt 0 -50)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "xor2"))
      (portInstance I0
       (property PINTYPE (string "IN")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))))
     (instance U14
      (viewRef NetlistView
       (cellRef inv
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I244"))
      (property EDIForiginalOrigin (string "(pt 20 -20)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "inv"))
      (portInstance I
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))
       (property PARAM (string "INV"))))
     (instance U15
      (viewRef NetlistView
       (cellRef fmap
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I190"))
      (property EDIForiginalOrigin (string "(pt 20 -120)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "fmap"))
      (property RLOC (string "R0C1.LC1"))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance I2
       (property PINTYPE (string "IN")))
      (portInstance I3
       (property PINTYPE (string "IN")))
      (portInstance I4
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "IN"))))
     (instance U16
      (viewRef NetlistView
       (cellRef xor3
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I100"))
      (property EDIForiginalOrigin (string "(pt 0 -60)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "xor3"))
      (portInstance I0
       (property PINTYPE (string "IN")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance I2
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))))
     (instance U17
      (viewRef NetlistView
       (cellRef cy_mux
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I55"))
      (property EDIForiginalOrigin (string "(pt 0 -50)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "cy_mux"))
      (property RLOC (string "R0C0.LC1"))
      (portInstance CI
       (property PINTYPE (string "IN")))
      (portInstance CO
       (property PINTYPE (string "OUT")))
      (portInstance DI
       (property PINTYPE (string "IN")))
      (portInstance S
       (property PINTYPE (string "IN"))))
     (instance U18
      (viewRef NetlistView
       (cellRef fmap
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I175"))
      (property EDIForiginalOrigin (string "(pt 20 -120)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "fmap"))
      (property RLOC (string "R0C0.LC1"))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance I2
       (property PINTYPE (string "IN")))
      (portInstance I3
       (property PINTYPE (string "IN")))
      (portInstance I4
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "IN"))))
     (instance U19
      (viewRef NetlistView
       (cellRef xor2
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I74"))
      (property EDIForiginalOrigin (string "(pt 0 -50)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "xor2"))
      (portInstance I0
       (property PINTYPE (string "IN")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))))
     (instance U1
      (viewRef NetlistView
       (cellRef xor2
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I241"))
      (property EDIForiginalOrigin (string "(pt 0 -50)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "xor2"))
      (portInstance I0
       (property PINTYPE (string "IN")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))))
     (instance U2
      (viewRef NetlistView
       (cellRef inv
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I246"))
      (property EDIForiginalOrigin (string "(pt 20 -20)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "inv"))
      (portInstance I
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))
       (property PARAM (string "INV"))))
     (instance U3
      (viewRef NetlistView
       (cellRef fmap
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I205"))
      (property EDIForiginalOrigin (string "(pt 20 -120)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "fmap"))
      (property RLOC (string "R0C1.LC3"))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance I2
       (property PINTYPE (string "IN")))
      (portInstance I3
       (property PINTYPE (string "IN")))
      (portInstance I4
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "IN"))))
     (instance U4
      (viewRef NetlistView
       (cellRef xor3
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I57"))
      (property EDIForiginalOrigin (string "(pt 0 -60)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "xor3"))
      (portInstance I0
       (property PINTYPE (string "IN")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance I2
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))))
     (instance U5
      (viewRef NetlistView
       (cellRef cy_mux
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I58"))
      (property EDIForiginalOrigin (string "(pt 0 -50)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "cy_mux"))
      (property RLOC (string "R0C0.LC3"))
      (portInstance CI
       (property PINTYPE (string "IN")))
      (portInstance CO
       (property PINTYPE (string "OUT")))
      (portInstance DI
       (property PINTYPE (string "IN")))
      (portInstance S
       (property PINTYPE (string "IN"))))
     (instance U20
      (viewRef NetlistView
       (cellRef inv
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I112"))
      (property EDIForiginalOrigin (string "(pt 20 -20)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "inv"))
      (portInstance I
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))
       (property PARAM (string "INV"))))
     (instance U21
      (viewRef NetlistView
       (cellRef fmap
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I191"))
      (property EDIForiginalOrigin (string "(pt 20 -120)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "fmap"))
      (property RLOC (string "R0C1.LC0"))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance I2
       (property PINTYPE (string "IN")))
      (portInstance I3
       (property PINTYPE (string "IN")))
      (portInstance I4
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "IN"))))
     (instance U6
      (viewRef NetlistView
       (cellRef fmap
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I206"))
      (property EDIForiginalOrigin (string "(pt 20 -120)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "fmap"))
      (property RLOC (string "R0C0.LC3"))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance I2
       (property PINTYPE (string "IN")))
      (portInstance I3
       (property PINTYPE (string "IN")))
      (portInstance I4
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "IN"))))
     (instance U7
      (viewRef NetlistView
       (cellRef xor2
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I75"))
      (property EDIForiginalOrigin (string "(pt 0 -50)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "xor2"))
      (portInstance I0
       (property PINTYPE (string "IN")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))))
     (instance U22
      (viewRef NetlistView
       (cellRef xor3
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I50"))
      (property EDIForiginalOrigin (string "(pt 0 -60)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "xor3"))
      (portInstance I0
       (property PINTYPE (string "IN")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance I2
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))))
     (instance U8
      (viewRef NetlistView
       (cellRef inv
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I245"))
      (property EDIForiginalOrigin (string "(pt 20 -20)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "inv"))
      (portInstance I
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))
       (property PARAM (string "INV"))))
     (instance U23
      (viewRef NetlistView
       (cellRef cy_mux
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I111"))
      (property EDIForiginalOrigin (string "(pt 0 -50)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "cy_mux"))
      (property RLOC (string "R0C0.LC0"))
      (portInstance CI
       (property PINTYPE (string "IN")))
      (portInstance CO
       (property PINTYPE (string "OUT")))
      (portInstance DI
       (property PINTYPE (string "IN")))
      (portInstance S
       (property PINTYPE (string "IN"))))
     (instance U9
      (viewRef NetlistView
       (cellRef fmap
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I189"))
      (property EDIForiginalOrigin (string "(pt 20 -120)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "fmap"))
      (property RLOC (string "R0C1.LC2"))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance I2
       (property PINTYPE (string "IN")))
      (portInstance I3
       (property PINTYPE (string "IN")))
      (portInstance I4
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "IN"))))
     (instance U24
      (viewRef NetlistView
       (cellRef fmap
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I178"))
      (property EDIForiginalOrigin (string "(pt 20 -120)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "fmap"))
      (property RLOC (string "R0C0.LC0"))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance I2
       (property PINTYPE (string "IN")))
      (portInstance I3
       (property PINTYPE (string "IN")))
      (portInstance I4
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "IN"))))
     (instance U25
      (viewRef NetlistView
       (cellRef xor2
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I73"))
      (property EDIForiginalOrigin (string "(pt 0 -50)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "xor2"))
      (portInstance I0
       (property PINTYPE (string "IN")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))))
     (instance U26
      (viewRef NetlistView
       (cellRef cy_init
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I61"))
      (property EDIForiginalOrigin (string "(pt 20 -50)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "cy_init"))
      (property RLOC (string "R1C0.LC3"))
      (portInstance COUT)
      (portInstance INIT))
     (instance U10
      (viewRef NetlistView
       (cellRef xor3
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I56"))
      (property EDIForiginalOrigin (string "(pt 0 -60)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "xor3"))
      (portInstance I0
       (property PINTYPE (string "IN")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance I2
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))))
     (instance U11
      (viewRef NetlistView
       (cellRef cy_mux
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I62"))
      (property EDIForiginalOrigin (string "(pt 0 -50)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "cy_mux"))
      (property RLOC (string "R0C0.LC2"))
      (portInstance CI
       (property PINTYPE (string "IN")))
      (portInstance CO
       (property PINTYPE (string "OUT")))
      (portInstance DI
       (property PINTYPE (string "IN")))
      (portInstance S
       (property PINTYPE (string "IN"))))
     (instance U12
      (viewRef NetlistView
       (cellRef fmap
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I182"))
      (property EDIForiginalOrigin (string "(pt 20 -120)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "fmap"))
      (property RLOC (string "R0C0.LC2"))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance I2
       (property PINTYPE (string "IN")))
      (portInstance I3
       (property PINTYPE (string "IN")))
      (portInstance I4
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "IN"))))
     (net I2
      (joined
       (portRef O (instanceRef U10))
       (portRef S (instanceRef U11))
       (portRef I0 (instanceRef U13))
       (portRef O (instanceRef U12))
       (portRef I2 (instanceRef U9)))
      (property Name (string "I2")))
     (net S2
      (joined
       (portRef O (instanceRef U13))
       (portRef O (instanceRef U9))
       (portRef S2))
      (property Name (string "S2")))
     (net I3
      (joined
       (portRef O (instanceRef U4))
       (portRef S (instanceRef U5))
       (portRef I0 (instanceRef U7))
       (portRef O (instanceRef U6))
       (portRef I2 (instanceRef U3)))
      (property Name (string "I3")))
     (net SUB3
      (joined
       (portRef O (instanceRef U2))
       (portRef I2 (instanceRef U4)))
      (property Name (string "SUB3")))
     (net C_IN
      (joined
       (portRef COUT (instanceRef U26))
       (portRef CI (instanceRef U23))
       (portRef I1 (instanceRef U25))
       (portRef I1 (instanceRef U21)))
      (property Name (string "C_IN")))
     (net C1
      (joined
       (portRef CO (instanceRef U17))
       (portRef CI (instanceRef U11))
       (portRef I1 (instanceRef U13))
       (portRef I1 (instanceRef U9)))
      (property Name (string "C1")))
     (net A0
      (joined
       (portRef I0 (instanceRef U22))
       (portRef DI (instanceRef U23))
       (portRef I1 (instanceRef U24))
       (portRef A0))
      (property Name (string "A0")))
     (net S3
      (joined
       (portRef O (instanceRef U7))
       (portRef O (instanceRef U3))
       (portRef S3))
      (property Name (string "S3")))
     (net C0
      (joined
       (portRef CO (instanceRef U23))
       (portRef CI (instanceRef U17))
       (portRef I1 (instanceRef U19))
       (portRef I1 (instanceRef U15)))
      (property Name (string "C0")))
     (net A1
      (joined
       (portRef I0 (instanceRef U16))
       (portRef DI (instanceRef U17))
       (portRef I1 (instanceRef U18))
       (portRef A1))
      (property Name (string "A1")))
     (net C2
      (joined
       (portRef CO (instanceRef U11))
       (portRef CI (instanceRef U5))
       (portRef I1 (instanceRef U7))
       (portRef I0 (instanceRef U1))
       (portRef I1 (instanceRef U3)))
      (property Name (string "C2")))
     (net A2
      (joined
       (portRef I0 (instanceRef U10))
       (portRef DI (instanceRef U11))
       (portRef I1 (instanceRef U12))
       (portRef A2))
      (property Name (string "A2")))
     (net I1
      (joined
       (portRef O (instanceRef U16))
       (portRef S (instanceRef U17))
       (portRef I0 (instanceRef U19))
       (portRef O (instanceRef U18))
       (portRef I2 (instanceRef U15)))
      (property Name (string "I1")))
     (net B0
      (joined
       (portRef I1 (instanceRef U22))
       (portRef I2 (instanceRef U24))
       (portRef B0))
      (property Name (string "B0")))
     (net A3
      (joined
       (portRef I0 (instanceRef U4))
       (portRef DI (instanceRef U5))
       (portRef I1 (instanceRef U6))
       (portRef A3))
      (property Name (string "A3")))
     (net I0
      (joined
       (portRef O (instanceRef U22))
       (portRef S (instanceRef U23))
       (portRef I0 (instanceRef U25))
       (portRef O (instanceRef U24))
       (portRef I2 (instanceRef U21)))
      (property Name (string "I0")))
     (net B1
      (joined
       (portRef I1 (instanceRef U16))
       (portRef I2 (instanceRef U18))
       (portRef B1))
      (property Name (string "B1")))
     (net S0
      (joined
       (portRef O (instanceRef U25))
       (portRef O (instanceRef U21))
       (portRef S0))
      (property Name (string "S0")))
     (net SUB0
      (joined
       (portRef O (instanceRef U20))
       (portRef I2 (instanceRef U22)))
      (property Name (string "SUB0")))
     (net OFL
      (joined
       (portRef O (instanceRef U1))
       (portRef OFL))
      (property Name (string "OFL")))
     (net SUB1
      (joined
       (portRef O (instanceRef U14))
       (portRef I2 (instanceRef U16)))
      (property Name (string "SUB1")))
     (net SUB2
      (joined
       (portRef O (instanceRef U8))
       (portRef I2 (instanceRef U10)))
      (property Name (string "SUB2")))
     (net ADD
      (joined
       (portRef I (instanceRef U20))
       (portRef I (instanceRef U2))
       (portRef I (instanceRef U8))
       (portRef I (instanceRef U14))
       (portRef I3 (instanceRef U6))
       (portRef I3 (instanceRef U12))
       (portRef I3 (instanceRef U18))
       (portRef I3 (instanceRef U24))
       (portRef ADD))
      (property Name (string "ADD")))
     (net B2
      (joined
       (portRef I1 (instanceRef U10))
       (portRef I2 (instanceRef U12))
       (portRef B2))
      (property Name (string "B2")))
     (net CO
      (joined
       (portRef CO (instanceRef U5))
       (portRef I1 (instanceRef U1))
       (portRef CO))
      (property Name (string "CO")))
     (net S1
      (joined
       (portRef O (instanceRef U19))
       (portRef O (instanceRef U15))
       (portRef S1))
      (property Name (string "S1")))
     (net B3
      (joined
       (portRef I1 (instanceRef U4))
       (portRef I2 (instanceRef U6))
       (portRef B3))
      (property Name (string "B3")))
     (net CI
      (joined
       (portRef INIT (instanceRef U26))
       (portRef CI))
      (property Name (string "CI")))))))
 (design adsu4
  (cellRef adsu4
   (libraryRef MAIN_LIB))))
