(edif comp16
 (edifVersion 2 0 0)
 (edifLevel 0)
 (keywordMap (keywordLevel 0))
 (status
  (written
   (timeStamp 1998 01 29 18 06 06)
   (program "CAPTURE.EXE" (Version "7.20.145"))
   (comment "Original data from OrCAD/CAPTURE schematic"))
  (comment "")
  (comment "January 29, 1998")
  (comment "G:\MANUFACTURER\XILINXM1\WORKINPROGRESS\XC5200\COMP16.DSN")
  (comment "")
  (comment "")
  (comment "")
  (comment "")
  (comment "")
  (comment ""))
 (external OrCAD_LIB
  (edifLevel 0)
  (technology
   (numberDefinition
    (scale 1 1 (unit distance))))
  (cell xnor2
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port I0 (direction INPUT))
     (port I1 (direction INPUT))
     (port O (direction OUTPUT)))))
  (cell and4
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port I0 (direction INPUT))
     (port I1 (direction INPUT))
     (port I2 (direction INPUT))
     (port I3 (direction INPUT))
     (port O (direction OUTPUT))))))
 (library MAIN_LIB
  (edifLevel 0)
  (technology
   (numberDefinition
    (scale 1 1 (unit distance))))
  (cell comp16
   (cellType generic)
   (view NetlistView
    (viewType netlist)
    (interface
     (port B1 (direction INPUT))
     (port B13 (direction INPUT))
     (port A0 (direction INPUT))
     (port A14 (direction INPUT))
     (port B2 (direction INPUT))
     (port B14 (direction INPUT))
     (port A1 (direction INPUT))
     (port A15 (direction INPUT))
     (port B3 (direction INPUT))
     (port B15 (direction INPUT))
     (port A2 (direction INPUT))
     (port B4 (direction INPUT))
     (port A3 (direction INPUT))
     (port B5 (direction INPUT))
     (port A4 (direction INPUT))
     (port B6 (direction INPUT))
     (port A5 (direction INPUT))
     (port B7 (direction INPUT))
     (port A6 (direction INPUT))
     (port B8 (direction INPUT))
     (port A7 (direction INPUT))
     (port B9 (direction INPUT))
     (port A8 (direction INPUT))
     (port A9 (direction INPUT))
     (port EQ (direction OUTPUT))
     (port A10 (direction INPUT))
     (port B10 (direction INPUT))
     (port A11 (direction INPUT))
     (port B11 (direction INPUT))
     (port A12 (direction INPUT))
     (port B0 (direction INPUT))
     (port B12 (direction INPUT))
     (port A13 (direction INPUT)))
    (contents
     (instance U13
      (viewRef NetlistView
       (cellRef xnor2
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I61"))
      (property EDIForiginalOrigin (string "(pt 0 -50)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "xnor2"))
      (portInstance I0
       (property PINTYPE (string "IN")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PARAM (string "INV"))
       (property PINTYPE (string "OUT"))))
     (instance U14
      (viewRef NetlistView
       (cellRef and4
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I69"))
      (property EDIForiginalOrigin (string "(pt 20 -80)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "and4"))
      (portInstance I0
       (property PINTYPE (string "IN")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance I2
       (property PINTYPE (string "IN")))
      (portInstance I3
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))))
     (instance U15
      (viewRef NetlistView
       (cellRef xnor2
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I62"))
      (property EDIForiginalOrigin (string "(pt 0 -50)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "xnor2"))
      (portInstance I0
       (property PINTYPE (string "IN")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PARAM (string "INV"))
       (property PINTYPE (string "OUT"))))
     (instance U16
      (viewRef NetlistView
       (cellRef xnor2
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I63"))
      (property EDIForiginalOrigin (string "(pt 0 -50)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "xnor2"))
      (portInstance I0
       (property PINTYPE (string "IN")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PARAM (string "INV"))
       (property PINTYPE (string "OUT"))))
     (instance U17
      (viewRef NetlistView
       (cellRef xnor2
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I64"))
      (property EDIForiginalOrigin (string "(pt 0 -50)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "xnor2"))
      (portInstance I0
       (property PINTYPE (string "IN")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PARAM (string "INV"))
       (property PINTYPE (string "OUT"))))
     (instance U18
      (viewRef NetlistView
       (cellRef xnor2
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I65"))
      (property EDIForiginalOrigin (string "(pt 0 -50)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "xnor2"))
      (portInstance I0
       (property PINTYPE (string "IN")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PARAM (string "INV"))
       (property PINTYPE (string "OUT"))))
     (instance U19
      (viewRef NetlistView
       (cellRef and4
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I70"))
      (property EDIForiginalOrigin (string "(pt 20 -80)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "and4"))
      (portInstance I0
       (property PINTYPE (string "IN")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance I2
       (property PINTYPE (string "IN")))
      (portInstance I3
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))))
     (instance U1
      (viewRef NetlistView
       (cellRef xnor2
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I41"))
      (property EDIForiginalOrigin (string "(pt 0 -50)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "xnor2"))
      (portInstance I0
       (property PINTYPE (string "IN")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PARAM (string "INV"))
       (property PINTYPE (string "OUT"))))
     (instance U2
      (viewRef NetlistView
       (cellRef xnor2
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I40"))
      (property EDIForiginalOrigin (string "(pt 0 -50)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "xnor2"))
      (portInstance I0
       (property PINTYPE (string "IN")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PARAM (string "INV"))
       (property PINTYPE (string "OUT"))))
     (instance U3
      (viewRef NetlistView
       (cellRef and4
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I71"))
      (property EDIForiginalOrigin (string "(pt 20 -80)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "and4"))
      (portInstance I0
       (property PINTYPE (string "IN")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance I2
       (property PINTYPE (string "IN")))
      (portInstance I3
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))))
     (instance U4
      (viewRef NetlistView
       (cellRef xnor2
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I54"))
      (property EDIForiginalOrigin (string "(pt 0 -50)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "xnor2"))
      (portInstance I0
       (property PINTYPE (string "IN")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PARAM (string "INV"))
       (property PINTYPE (string "OUT"))))
     (instance U20
      (viewRef NetlistView
       (cellRef xnor2
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I66"))
      (property EDIForiginalOrigin (string "(pt 0 -50)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "xnor2"))
      (portInstance I0
       (property PINTYPE (string "IN")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PARAM (string "INV"))
       (property PINTYPE (string "OUT"))))
     (instance U5
      (viewRef NetlistView
       (cellRef xnor2
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I55"))
      (property EDIForiginalOrigin (string "(pt 0 -50)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "xnor2"))
      (portInstance I0
       (property PINTYPE (string "IN")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PARAM (string "INV"))
       (property PINTYPE (string "OUT"))))
     (instance U21
      (viewRef NetlistView
       (cellRef xnor2
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I67"))
      (property EDIForiginalOrigin (string "(pt 0 -50)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "xnor2"))
      (portInstance I0
       (property PINTYPE (string "IN")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PARAM (string "INV"))
       (property PINTYPE (string "OUT"))))
     (instance U6
      (viewRef NetlistView
       (cellRef xnor2
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I56"))
      (property EDIForiginalOrigin (string "(pt 0 -50)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "xnor2"))
      (portInstance I0
       (property PINTYPE (string "IN")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PARAM (string "INV"))
       (property PINTYPE (string "OUT"))))
     (instance U7
      (viewRef NetlistView
       (cellRef xnor2
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I57"))
      (property EDIForiginalOrigin (string "(pt 0 -50)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "xnor2"))
      (portInstance I0
       (property PINTYPE (string "IN")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PARAM (string "INV"))
       (property PINTYPE (string "OUT"))))
     (instance U8
      (viewRef NetlistView
       (cellRef and4
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I68"))
      (property EDIForiginalOrigin (string "(pt 20 -80)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "and4"))
      (portInstance I0
       (property PINTYPE (string "IN")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance I2
       (property PINTYPE (string "IN")))
      (portInstance I3
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))))
     (instance U9
      (viewRef NetlistView
       (cellRef xnor2
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I58"))
      (property EDIForiginalOrigin (string "(pt 0 -50)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "xnor2"))
      (portInstance I0
       (property PINTYPE (string "IN")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PARAM (string "INV"))
       (property PINTYPE (string "OUT"))))
     (instance U10
      (viewRef NetlistView
       (cellRef xnor2
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I59"))
      (property EDIForiginalOrigin (string "(pt 0 -50)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "xnor2"))
      (portInstance I0
       (property PINTYPE (string "IN")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PARAM (string "INV"))
       (property PINTYPE (string "OUT"))))
     (instance U11
      (viewRef NetlistView
       (cellRef and4
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I31"))
      (property EDIForiginalOrigin (string "(pt 20 -80)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "and4"))
      (portInstance I0
       (property PINTYPE (string "IN")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance I2
       (property PINTYPE (string "IN")))
      (portInstance I3
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))))
     (instance U12
      (viewRef NetlistView
       (cellRef xnor2
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I60"))
      (property EDIForiginalOrigin (string "(pt 0 -50)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "xnor2"))
      (portInstance I0
       (property PINTYPE (string "IN")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PARAM (string "INV"))
       (property PINTYPE (string "OUT"))))
     (net B3
      (joined
       (portRef I0 (instanceRef U5))
       (portRef B3))
      (property Name (string "B3")))
     (net A0
      (joined
       (portRef I1 (instanceRef U1))
       (portRef A0))
      (property Name (string "A0")))
     (net AB5
      (joined
       (portRef O (instanceRef U7))
       (portRef I2 (instanceRef U8)))
      (property Name (string "AB5")))
     (net B2
      (joined
       (portRef I0 (instanceRef U4))
       (portRef B2))
      (property Name (string "B2")))
     (net A5
      (joined
       (portRef I1 (instanceRef U7))
       (portRef A5))
      (property Name (string "A5")))
     (net AB4
      (joined
       (portRef O (instanceRef U6))
       (portRef I3 (instanceRef U8)))
      (property Name (string "AB4")))
     (net B7
      (joined
       (portRef I0 (instanceRef U10))
       (portRef B7))
      (property Name (string "B7")))
     (net AB11
      (joined
       (portRef O (instanceRef U16))
       (portRef I0 (instanceRef U14)))
      (property Name (string "AB11")))
     (net AB15
      (joined
       (portRef O (instanceRef U21))
       (portRef I0 (instanceRef U19)))
      (property Name (string "AB15")))
     (net AB9
      (joined
       (portRef O (instanceRef U13))
       (portRef I2 (instanceRef U14)))
      (property Name (string "AB9")))
     (net B12
      (joined
       (portRef I0 (instanceRef U17))
       (portRef B12))
      (property Name (string "B12")))
     (net AB12
      (joined
       (portRef O (instanceRef U17))
       (portRef I3 (instanceRef U19)))
      (property Name (string "AB12")))
     (net A9
      (joined
       (portRef I1 (instanceRef U13))
       (portRef A9))
      (property Name (string "A9")))
     (net B11
      (joined
       (portRef I0 (instanceRef U16))
       (portRef B11))
      (property Name (string "B11")))
     (net B10
      (joined
       (portRef I0 (instanceRef U15))
       (portRef B10))
      (property Name (string "B10")))
     (net A7
      (joined
       (portRef I1 (instanceRef U10))
       (portRef A7))
      (property Name (string "A7")))
     (net AB7
      (joined
       (portRef O (instanceRef U10))
       (portRef I0 (instanceRef U8)))
      (property Name (string "AB7")))
     (net B9
      (joined
       (portRef I0 (instanceRef U13))
       (portRef B9))
      (property Name (string "B9")))
     (net A6
      (joined
       (portRef I1 (instanceRef U9))
       (portRef A6))
      (property Name (string "A6")))
     (net AB6
      (joined
       (portRef O (instanceRef U9))
       (portRef I1 (instanceRef U8)))
      (property Name (string "AB6")))
     (net A8
      (joined
       (portRef I1 (instanceRef U12))
       (portRef A8))
      (property Name (string "A8")))
     (net B8
      (joined
       (portRef I0 (instanceRef U12))
       (portRef B8))
      (property Name (string "B8")))
     (net AB1
      (joined
       (portRef O (instanceRef U2))
       (portRef I2 (instanceRef U3)))
      (property Name (string "AB1")))
     (net B4
      (joined
       (portRef I0 (instanceRef U6))
       (portRef B4))
      (property Name (string "B4")))
     (net AB10
      (joined
       (portRef O (instanceRef U15))
       (portRef I1 (instanceRef U14)))
      (property Name (string "AB10")))
     (net AB8B
      (joined
       (portRef O (instanceRef U14))
       (portRef I1 (instanceRef U11)))
      (property Name (string "AB8B")))
     (net AB03
      (joined
       (portRef O (instanceRef U3))
       (portRef I3 (instanceRef U11)))
      (property Name (string "AB03")))
     (net A12
      (joined
       (portRef I1 (instanceRef U17))
       (portRef A12))
      (property Name (string "A12")))
     (net AB13
      (joined
       (portRef O (instanceRef U18))
       (portRef I2 (instanceRef U19)))
      (property Name (string "AB13")))
     (net A11
      (joined
       (portRef I1 (instanceRef U16))
       (portRef A11))
      (property Name (string "A11")))
     (net ABCF
      (joined
       (portRef O (instanceRef U19))
       (portRef I0 (instanceRef U11)))
      (property Name (string "ABCF")))
     (net A10
      (joined
       (portRef I1 (instanceRef U15))
       (portRef A10))
      (property Name (string "A10")))
     (net B15
      (joined
       (portRef I0 (instanceRef U21))
       (portRef B15))
      (property Name (string "B15")))
     (net A15
      (joined
       (portRef I1 (instanceRef U21))
       (portRef A15))
      (property Name (string "A15")))
     (net A14
      (joined
       (portRef I1 (instanceRef U20))
       (portRef A14))
      (property Name (string "A14")))
     (net EQ
      (joined
       (portRef O (instanceRef U11))
       (portRef EQ))
      (property Name (string "EQ")))
     (net AB2
      (joined
       (portRef O (instanceRef U4))
       (portRef I1 (instanceRef U3)))
      (property Name (string "AB2")))
     (net A13
      (joined
       (portRef I1 (instanceRef U18))
       (portRef A13))
      (property Name (string "A13")))
     (net B14
      (joined
       (portRef I0 (instanceRef U20))
       (portRef B14))
      (property Name (string "B14")))
     (net AB8
      (joined
       (portRef O (instanceRef U12))
       (portRef I3 (instanceRef U14)))
      (property Name (string "AB8")))
     (net B13
      (joined
       (portRef I0 (instanceRef U18))
       (portRef B13))
      (property Name (string "B13")))
     (net B6
      (joined
       (portRef I0 (instanceRef U9))
       (portRef B6))
      (property Name (string "B6")))
     (net A4
      (joined
       (portRef I1 (instanceRef U6))
       (portRef A4))
      (property Name (string "A4")))
     (net B5
      (joined
       (portRef I0 (instanceRef U7))
       (portRef B5))
      (property Name (string "B5")))
     (net A3
      (joined
       (portRef I1 (instanceRef U5))
       (portRef A3))
      (property Name (string "A3")))
     (net AB3
      (joined
       (portRef O (instanceRef U5))
       (portRef I0 (instanceRef U3)))
      (property Name (string "AB3")))
     (net A2
      (joined
       (portRef I1 (instanceRef U4))
       (portRef A2))
      (property Name (string "A2")))
     (net A1
      (joined
       (portRef I1 (instanceRef U2))
       (portRef A1))
      (property Name (string "A1")))
     (net AB0
      (joined
       (portRef O (instanceRef U1))
       (portRef I3 (instanceRef U3)))
      (property Name (string "AB0")))
     (net AB47
      (joined
       (portRef O (instanceRef U8))
       (portRef I2 (instanceRef U11)))
      (property Name (string "AB47")))
     (net AB14
      (joined
       (portRef O (instanceRef U20))
       (portRef I1 (instanceRef U19)))
      (property Name (string "AB14")))
     (net B1
      (joined
       (portRef I0 (instanceRef U2))
       (portRef B1))
      (property Name (string "B1")))
     (net B0
      (joined
       (portRef I0 (instanceRef U1))
       (portRef B0))
      (property Name (string "B0")))))))
 (design comp16
  (cellRef comp16
   (libraryRef MAIN_LIB))))
