(edif cr8ce
 (edifVersion 2 0 0)
 (edifLevel 0)
 (keywordMap (keywordLevel 0))
 (status
  (written
   (timeStamp 1998 01 29 18 08 45)
   (program "CAPTURE.EXE" (Version "7.20.145"))
   (comment "Original data from OrCAD/CAPTURE schematic"))
  (comment "")
  (comment "January 29, 1998")
  (comment "G:\MANUFACTURER\XILINXM1\WORKINPROGRESS\XC5200\CR8CE.DSN")
  (comment "")
  (comment "")
  (comment "")
  (comment "")
  (comment "")
  (comment ""))
 (external OrCAD_LIB
  (edifLevel 0)
  (technology
   (numberDefinition
    (scale 1 1 (unit distance))))
  (cell fdce_1
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port C (direction INPUT))
     (port CE (direction INPUT))
     (port CLR (direction INPUT))
     (port D (direction INPUT))
     (port Q (direction OUTPUT)))))
  (cell inv
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port I (direction INPUT))
     (port O (direction OUTPUT)))))
  (cell VCC
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port P (direction OUTPUT))))))
 (library MAIN_LIB
  (edifLevel 0)
  (technology
   (numberDefinition
    (scale 1 1 (unit distance))))
  (cell cr8ce
   (cellType generic)
   (view NetlistView
    (viewType netlist)
    (interface
     (port Q0 (direction OUTPUT))
     (port CE (direction INPUT))
     (port Q1 (direction OUTPUT))
     (port Q2 (direction OUTPUT))
     (port Q3 (direction OUTPUT))
     (port CLR (direction INPUT))
     (port Q4 (direction OUTPUT))
     (port Q5 (direction OUTPUT))
     (port Q6 (direction OUTPUT))
     (port Q7 (direction OUTPUT))
     (port C (direction INPUT)))
    (contents
     (instance U13
      (viewRef NetlistView
       (cellRef fdce_1
        (libraryRef OrCAD_LIB)))
      (property Name (string "Q3"))
      (property EDIForiginalOrigin (string "(pt 0 -100)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "fdce_1"))
      (portInstance C
       (property PINTYPE (string "IN")))
      (portInstance CE
       (property PINTYPE (string "IN")))
      (portInstance CLR
       (property PINTYPE (string "IN")))
      (portInstance D
       (property PINTYPE (string "IN")))
      (portInstance Q
       (property PINTYPE (string "OUT"))))
     (instance U14
      (viewRef NetlistView
       (cellRef fdce_1
        (libraryRef OrCAD_LIB)))
      (property Name (string "Q7"))
      (property EDIForiginalOrigin (string "(pt 0 -100)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "fdce_1"))
      (portInstance C
       (property PINTYPE (string "IN")))
      (portInstance CE
       (property PINTYPE (string "IN")))
      (portInstance CLR
       (property PINTYPE (string "IN")))
      (portInstance D
       (property PINTYPE (string "IN")))
      (portInstance Q
       (property PINTYPE (string "OUT"))))
     (instance U15
      (viewRef NetlistView
       (cellRef inv
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I7"))
      (property EDIForiginalOrigin (string "(pt 20 -20)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "inv"))
      (portInstance I
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))
       (property PARAM (string "INV"))))
     (instance U16
      (viewRef NetlistView
       (cellRef inv
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I5"))
      (property EDIForiginalOrigin (string "(pt 20 -20)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "inv"))
      (portInstance I
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))
       (property PARAM (string "INV"))))
     (instance U17
      (viewRef NetlistView
       (cellRef VCC
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I33"))
      (property EDIForiginalOrigin (string "(pt 10 -20)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "VCC"))
      (portInstance P
       (property PINTYPE (string "OUT"))))
     (instance U1
      (viewRef NetlistView
       (cellRef fdce_1
        (libraryRef OrCAD_LIB)))
      (property Name (string "Q0"))
      (property EDIForiginalOrigin (string "(pt 0 -100)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "fdce_1"))
      (portInstance C
       (property PINTYPE (string "IN")))
      (portInstance CE
       (property PINTYPE (string "IN")))
      (portInstance CLR
       (property PINTYPE (string "IN")))
      (portInstance D
       (property PINTYPE (string "IN")))
      (portInstance Q
       (property PINTYPE (string "OUT"))))
     (instance U2
      (viewRef NetlistView
       (cellRef fdce_1
        (libraryRef OrCAD_LIB)))
      (property Name (string "Q4"))
      (property EDIForiginalOrigin (string "(pt 0 -100)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "fdce_1"))
      (portInstance C
       (property PINTYPE (string "IN")))
      (portInstance CE
       (property PINTYPE (string "IN")))
      (portInstance CLR
       (property PINTYPE (string "IN")))
      (portInstance D
       (property PINTYPE (string "IN")))
      (portInstance Q
       (property PINTYPE (string "OUT"))))
     (instance U3
      (viewRef NetlistView
       (cellRef inv
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I12"))
      (property EDIForiginalOrigin (string "(pt 20 -20)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "inv"))
      (portInstance I
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))
       (property PARAM (string "INV"))))
     (instance U4
      (viewRef NetlistView
       (cellRef inv
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I3"))
      (property EDIForiginalOrigin (string "(pt 20 -20)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "inv"))
      (portInstance I
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))
       (property PARAM (string "INV"))))
     (instance U5
      (viewRef NetlistView
       (cellRef fdce_1
        (libraryRef OrCAD_LIB)))
      (property Name (string "Q1"))
      (property EDIForiginalOrigin (string "(pt 0 -100)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "fdce_1"))
      (portInstance C
       (property PINTYPE (string "IN")))
      (portInstance CE
       (property PINTYPE (string "IN")))
      (portInstance CLR
       (property PINTYPE (string "IN")))
      (portInstance D
       (property PINTYPE (string "IN")))
      (portInstance Q
       (property PINTYPE (string "OUT"))))
     (instance U6
      (viewRef NetlistView
       (cellRef fdce_1
        (libraryRef OrCAD_LIB)))
      (property Name (string "Q5"))
      (property EDIForiginalOrigin (string "(pt 0 -100)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "fdce_1"))
      (portInstance C
       (property PINTYPE (string "IN")))
      (portInstance CE
       (property PINTYPE (string "IN")))
      (portInstance CLR
       (property PINTYPE (string "IN")))
      (portInstance D
       (property PINTYPE (string "IN")))
      (portInstance Q
       (property PINTYPE (string "OUT"))))
     (instance U7
      (viewRef NetlistView
       (cellRef inv
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I13"))
      (property EDIForiginalOrigin (string "(pt 20 -20)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "inv"))
      (portInstance I
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))
       (property PARAM (string "INV"))))
     (instance U8
      (viewRef NetlistView
       (cellRef inv
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I2"))
      (property EDIForiginalOrigin (string "(pt 20 -20)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "inv"))
      (portInstance I
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))
       (property PARAM (string "INV"))))
     (instance U9
      (viewRef NetlistView
       (cellRef fdce_1
        (libraryRef OrCAD_LIB)))
      (property Name (string "Q2"))
      (property EDIForiginalOrigin (string "(pt 0 -100)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "fdce_1"))
      (portInstance C
       (property PINTYPE (string "IN")))
      (portInstance CE
       (property PINTYPE (string "IN")))
      (portInstance CLR
       (property PINTYPE (string "IN")))
      (portInstance D
       (property PINTYPE (string "IN")))
      (portInstance Q
       (property PINTYPE (string "OUT"))))
     (instance U10
      (viewRef NetlistView
       (cellRef fdce_1
        (libraryRef OrCAD_LIB)))
      (property Name (string "Q6"))
      (property EDIForiginalOrigin (string "(pt 0 -100)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "fdce_1"))
      (portInstance C
       (property PINTYPE (string "IN")))
      (portInstance CE
       (property PINTYPE (string "IN")))
      (portInstance CLR
       (property PINTYPE (string "IN")))
      (portInstance D
       (property PINTYPE (string "IN")))
      (portInstance Q
       (property PINTYPE (string "OUT"))))
     (instance U11
      (viewRef NetlistView
       (cellRef inv
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I8"))
      (property EDIForiginalOrigin (string "(pt 20 -20)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "inv"))
      (portInstance I
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))
       (property PARAM (string "INV"))))
     (instance U12
      (viewRef NetlistView
       (cellRef inv
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I4"))
      (property EDIForiginalOrigin (string "(pt 20 -20)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "inv"))
      (portInstance I
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))
       (property PARAM (string "INV"))))
     (net N00597
      (joined
       (portRef P (instanceRef U17))
       (portRef CE (instanceRef U5))
       (portRef CE (instanceRef U9))
       (portRef CE (instanceRef U13))
       (portRef CE (instanceRef U2))
       (portRef CE (instanceRef U6))
       (portRef CE (instanceRef U10))
       (portRef CE (instanceRef U14)))
      (property Name (string "N00597")))
     (net TQ1
      (joined
       (portRef O (instanceRef U7))
       (portRef D (instanceRef U5)))
      (property Name (string "TQ1")))
     (net TQ7
      (joined
       (portRef O (instanceRef U16))
       (portRef D (instanceRef U14)))
      (property Name (string "TQ7")))
     (net TQ6
      (joined
       (portRef O (instanceRef U12))
       (portRef D (instanceRef U10)))
      (property Name (string "TQ6")))
     (net TQ5
      (joined
       (portRef O (instanceRef U8))
       (portRef D (instanceRef U6)))
      (property Name (string "TQ5")))
     (net Q0
      (joined
       (portRef I (instanceRef U3))
       (portRef C (instanceRef U5))
       (portRef Q (instanceRef U1))
       (portRef Q0))
      (property Name (string "Q0")))
     (net TQ4
      (joined
       (portRef O (instanceRef U4))
       (portRef D (instanceRef U2)))
      (property Name (string "TQ4")))
     (net TQ3
      (joined
       (portRef O (instanceRef U15))
       (portRef D (instanceRef U13)))
      (property Name (string "TQ3")))
     (net Q3
      (joined
       (portRef I (instanceRef U15))
       (portRef Q (instanceRef U13))
       (portRef C (instanceRef U2))
       (portRef Q3))
      (property Name (string "Q3")))
     (net Q7
      (joined
       (portRef I (instanceRef U16))
       (portRef Q (instanceRef U14))
       (portRef Q7))
      (property Name (string "Q7")))
     (net TQ2
      (joined
       (portRef O (instanceRef U11))
       (portRef D (instanceRef U9)))
      (property Name (string "TQ2")))
     (net Q5
      (joined
       (portRef I (instanceRef U8))
       (portRef C (instanceRef U10))
       (portRef Q (instanceRef U6))
       (portRef Q5))
      (property Name (string "Q5")))
     (net CE
      (joined
       (portRef CE (instanceRef U1))
       (portRef CE))
      (property Name (string "CE")))
     (net TQ0
      (joined
       (portRef O (instanceRef U3))
       (portRef D (instanceRef U1)))
      (property Name (string "TQ0")))
     (net Q6
      (joined
       (portRef I (instanceRef U12))
       (portRef C (instanceRef U14))
       (portRef Q (instanceRef U10))
       (portRef Q6))
      (property Name (string "Q6")))
     (net C
      (joined
       (portRef C (instanceRef U1))
       (portRef C))
      (property Name (string "C")))
     (net Q4
      (joined
       (portRef I (instanceRef U4))
       (portRef C (instanceRef U6))
       (portRef Q (instanceRef U2))
       (portRef Q4))
      (property Name (string "Q4")))
     (net CLR
      (joined
       (portRef CLR (instanceRef U2))
       (portRef CLR (instanceRef U6))
       (portRef CLR (instanceRef U10))
       (portRef CLR (instanceRef U14))
       (portRef CLR (instanceRef U1))
       (portRef CLR (instanceRef U5))
       (portRef CLR (instanceRef U9))
       (portRef CLR (instanceRef U13))
       (portRef CLR))
      (property Name (string "CLR")))
     (net Q1
      (joined
       (portRef I (instanceRef U7))
       (portRef C (instanceRef U9))
       (portRef Q (instanceRef U5))
       (portRef Q1))
      (property Name (string "Q1")))
     (net Q2
      (joined
       (portRef I (instanceRef U11))
       (portRef C (instanceRef U13))
       (portRef Q (instanceRef U9))
       (portRef Q2))
      (property Name (string "Q2")))))))
 (design cr8ce
  (cellRef cr8ce
   (libraryRef MAIN_LIB))))
