(edif dec_cc16
 (edifVersion 2 0 0)
 (edifLevel 0)
 (keywordMap (keywordLevel 0))
 (status
  (written
   (timeStamp 1998 01 29 18 09 36)
   (program "CAPTURE.EXE" (Version "7.20.145"))
   (comment "Original data from OrCAD/CAPTURE schematic"))
  (comment "")
  (comment "January 29, 1998")
  (comment "G:\MANUFACTURER\XILINXM1\WORKINPROGRESS\XC5200\DEC_CC16.DSN")
  (comment "")
  (comment "")
  (comment "")
  (comment "")
  (comment "")
  (comment ""))
 (external OrCAD_LIB
  (edifLevel 0)
  (technology
   (numberDefinition
    (scale 1 1 (unit distance))))
  (cell dec_cc4
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port A0 (direction INPUT))
     (port A1 (direction INPUT))
     (port A2 (direction INPUT))
     (port A3 (direction INPUT))
     (port C_IN (direction INPUT))
     (port O (direction INOUT))))))
 (library MAIN_LIB
  (edifLevel 0)
  (technology
   (numberDefinition
    (scale 1 1 (unit distance))))
  (cell dec_cc16
   (cellType generic)
   (view NetlistView
    (viewType netlist)
    (interface
     (port A14 (direction INPUT))
     (port A0 (direction INPUT))
     (port A15 (direction INPUT))
     (port A1 (direction INPUT))
     (port A2 (direction INPUT))
     (port A3 (direction INPUT))
     (port A4 (direction INPUT))
     (port A5 (direction INPUT))
     (port A6 (direction INPUT))
     (port A7 (direction INPUT))
     (port A8 (direction INPUT))
     (port A9 (direction INPUT))
     (port O (direction INOUT))
     (port A10 (direction INPUT))
     (port A11 (direction INPUT))
     (port A12 (direction INPUT))
     (port A13 (direction INPUT))
     (port C_IN (direction INPUT)))
    (contents
     (instance U1
      (viewRef NetlistView
       (cellRef dec_cc4
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I56"))
      (property EDIForiginalOrigin (string "(pt 20 -120)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "dec_cc4"))
      (portInstance A0
       (property PINTYPE (string "IN")))
      (portInstance A1
       (property PINTYPE (string "IN")))
      (portInstance A2
       (property PINTYPE (string "IN")))
      (portInstance A3
       (property PINTYPE (string "IN")))
      (portInstance C_IN
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "BI"))))
     (instance U2
      (viewRef NetlistView
       (cellRef dec_cc4
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I57"))
      (property EDIForiginalOrigin (string "(pt 20 -120)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "dec_cc4"))
      (portInstance A0
       (property PINTYPE (string "IN")))
      (portInstance A1
       (property PINTYPE (string "IN")))
      (portInstance A2
       (property PINTYPE (string "IN")))
      (portInstance A3
       (property PINTYPE (string "IN")))
      (portInstance C_IN
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "BI"))))
     (instance U3
      (viewRef NetlistView
       (cellRef dec_cc4
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I88"))
      (property EDIForiginalOrigin (string "(pt 20 -120)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "dec_cc4"))
      (portInstance A0
       (property PINTYPE (string "IN")))
      (portInstance A1
       (property PINTYPE (string "IN")))
      (portInstance A2
       (property PINTYPE (string "IN")))
      (portInstance A3
       (property PINTYPE (string "IN")))
      (portInstance C_IN
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "BI"))))
     (instance U4
      (viewRef NetlistView
       (cellRef dec_cc4
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I89"))
      (property EDIForiginalOrigin (string "(pt 20 -120)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "dec_cc4"))
      (portInstance A0
       (property PINTYPE (string "IN")))
      (portInstance A1
       (property PINTYPE (string "IN")))
      (portInstance A2
       (property PINTYPE (string "IN")))
      (portInstance A3
       (property PINTYPE (string "IN")))
      (portInstance C_IN
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "BI"))))
     (net A12
      (joined
       (portRef A0 (instanceRef U4))
       (portRef A12))
      (property Name (string "A12")))
     (net A4
      (joined
       (portRef A0 (instanceRef U2))
       (portRef A4))
      (property Name (string "A4")))
     (net C_IN
      (joined
       (portRef C_IN (instanceRef U4))
       (portRef C_IN))
      (property Name (string "C_IN")))
     (net A15
      (joined
       (portRef A3 (instanceRef U4))
       (portRef A15))
      (property Name (string "A15")))
     (net A14
      (joined
       (portRef A2 (instanceRef U4))
       (portRef A14))
      (property Name (string "A14")))
     (net A5
      (joined
       (portRef A1 (instanceRef U2))
       (portRef A5))
      (property Name (string "A5")))
     (net A13
      (joined
       (portRef A1 (instanceRef U4))
       (portRef A13))
      (property Name (string "A13")))
     (net N00397
      (joined
       (portRef C_IN (instanceRef U1))
       (portRef O (instanceRef U2)))
      (property Name (string "N00397")))
     (net A3
      (joined
       (portRef A3 (instanceRef U1))
       (portRef A3))
      (property Name (string "A3")))
     (net A9
      (joined
       (portRef A1 (instanceRef U3))
       (portRef A9))
      (property Name (string "A9")))
     (net A8
      (joined
       (portRef A0 (instanceRef U3))
       (portRef A8))
      (property Name (string "A8")))
     (net A11
      (joined
       (portRef A3 (instanceRef U3))
       (portRef A11))
      (property Name (string "A11")))
     (net A10
      (joined
       (portRef A2 (instanceRef U3))
       (portRef A10))
      (property Name (string "A10")))
     (net N00504
      (joined
       (portRef C_IN (instanceRef U2))
       (portRef O (instanceRef U3)))
      (property Name (string "N00504")))
     (net N00453
      (joined
       (portRef C_IN (instanceRef U3))
       (portRef O (instanceRef U4)))
      (property Name (string "N00453")))
     (net A0
      (joined
       (portRef A0 (instanceRef U1))
       (portRef A0))
      (property Name (string "A0")))
     (net O
      (joined
       (portRef O (instanceRef U1))
       (portRef O))
      (property Name (string "O")))
     (net A7
      (joined
       (portRef A3 (instanceRef U2))
       (portRef A7))
      (property Name (string "A7")))
     (net A1
      (joined
       (portRef A1 (instanceRef U1))
       (portRef A1))
      (property Name (string "A1")))
     (net A6
      (joined
       (portRef A2 (instanceRef U2))
       (portRef A6))
      (property Name (string "A6")))
     (net A2
      (joined
       (portRef A2 (instanceRef U1))
       (portRef A2))
      (property Name (string "A2")))))))
 (design dec_cc16
  (cellRef dec_cc16
   (libraryRef MAIN_LIB))))
