(edif ofdt4
 (edifVersion 2 0 0)
 (edifLevel 0)
 (keywordMap (keywordLevel 0))
 (status
  (written
   (timeStamp 1998 01 29 18 48 46)
   (program "CAPTURE.EXE" (Version "7.20.145"))
   (comment "Original data from OrCAD/CAPTURE schematic"))
  (comment "")
  (comment "January 29, 1998")
  (comment "G:\MANUFACTURER\XILINXM1\WORKINPROGRESS\XC5200\OFDT4.DSN")
  (comment "")
  (comment "")
  (comment "")
  (comment "")
  (comment "")
  (comment ""))
 (external OrCAD_LIB
  (edifLevel 0)
  (technology
   (numberDefinition
    (scale 1 1 (unit distance))))
  (cell ofdt
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port C (direction INPUT))
     (port D (direction INPUT))
     (port O (direction OUTPUT))
     (port T (direction INPUT))))))
 (library MAIN_LIB
  (edifLevel 0)
  (technology
   (numberDefinition
    (scale 1 1 (unit distance))))
  (cell ofdt4
   (cellType generic)
   (view NetlistView
    (viewType netlist)
    (interface
     (port D3 (direction INPUT))
     (port O0 (direction OUTPUT))
     (port O1 (direction OUTPUT))
     (port O2 (direction OUTPUT))
     (port O3 (direction OUTPUT))
     (port D0 (direction INPUT))
     (port D1 (direction INPUT))
     (port T (direction INPUT))
     (port C (direction INPUT))
     (port D2 (direction INPUT)))
    (contents
     (instance U1
      (viewRef NetlistView
       (cellRef ofdt
        (libraryRef OrCAD_LIB)))
      (property Name (string "O0"))
      (property EDIForiginalOrigin (string "(pt 20 -110)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "ofdt"))
      (portInstance C
       (property PINTYPE (string "IN")))
      (portInstance D
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT")))
      (portInstance T
       (property PINTYPE (string "IN"))))
     (instance U2
      (viewRef NetlistView
       (cellRef ofdt
        (libraryRef OrCAD_LIB)))
      (property Name (string "O1"))
      (property EDIForiginalOrigin (string "(pt 20 -110)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "ofdt"))
      (portInstance C
       (property PINTYPE (string "IN")))
      (portInstance D
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT")))
      (portInstance T
       (property PINTYPE (string "IN"))))
     (instance U3
      (viewRef NetlistView
       (cellRef ofdt
        (libraryRef OrCAD_LIB)))
      (property Name (string "O2"))
      (property EDIForiginalOrigin (string "(pt 20 -110)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "ofdt"))
      (portInstance C
       (property PINTYPE (string "IN")))
      (portInstance D
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT")))
      (portInstance T
       (property PINTYPE (string "IN"))))
     (instance U4
      (viewRef NetlistView
       (cellRef ofdt
        (libraryRef OrCAD_LIB)))
      (property Name (string "O3"))
      (property EDIForiginalOrigin (string "(pt 20 -110)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "ofdt"))
      (portInstance C
       (property PINTYPE (string "IN")))
      (portInstance D
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT")))
      (portInstance T
       (property PINTYPE (string "IN"))))
     (net C
      (joined
       (portRef C (instanceRef U1))
       (portRef C (instanceRef U2))
       (portRef C (instanceRef U3))
       (portRef C (instanceRef U4))
       (portRef C))
      (property Name (string "C")))
     (net O3
      (joined
       (portRef O (instanceRef U4))
       (portRef O3))
      (property Name (string "O3")))
     (net O1
      (joined
       (portRef O (instanceRef U2))
       (portRef O1))
      (property Name (string "O1")))
     (net O0
      (joined
       (portRef O (instanceRef U1))
       (portRef O0))
      (property Name (string "O0")))
     (net O2
      (joined
       (portRef O (instanceRef U3))
       (portRef O2))
      (property Name (string "O2")))
     (net D0
      (joined
       (portRef D (instanceRef U1))
       (portRef D0))
      (property Name (string "D0")))
     (net D1
      (joined
       (portRef D (instanceRef U2))
       (portRef D1))
      (property Name (string "D1")))
     (net T
      (joined
       (portRef T (instanceRef U1))
       (portRef T (instanceRef U2))
       (portRef T (instanceRef U3))
       (portRef T (instanceRef U4))
       (portRef T))
      (property Name (string "T")))
     (net D2
      (joined
       (portRef D (instanceRef U3))
       (portRef D2))
      (property Name (string "D2")))
     (net D3
      (joined
       (portRef D (instanceRef U4))
       (portRef D3))
      (property Name (string "D3")))))))
 (design ofdt4
  (cellRef ofdt4
   (libraryRef MAIN_LIB))))
