(edif or5
 (edifVersion 2 0 0)
 (edifLevel 0)
 (keywordMap (keywordLevel 0))
 (status
  (written
   (timeStamp 1998 01 29 18 50 10)
   (program "CAPTURE.EXE" (Version "7.20.145"))
   (comment "Original data from OrCAD/CAPTURE schematic"))
  (comment "")
  (comment "January 29, 1998")
  (comment "G:\MANUFACTURER\XILINXM1\WORKINPROGRESS\XC5200\OR5.DSN")
  (comment "")
  (comment "")
  (comment "")
  (comment "")
  (comment "")
  (comment ""))
 (external OrCAD_LIB
  (edifLevel 0)
  (technology
   (numberDefinition
    (scale 1 1 (unit distance))))
  (cell or3
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port I0 (direction INPUT))
     (port I1 (direction INPUT))
     (port I2 (direction INPUT))
     (port O (direction OUTPUT))))))
 (library MAIN_LIB
  (edifLevel 0)
  (technology
   (numberDefinition
    (scale 1 1 (unit distance))))
  (cell or5
   (cellType generic)
   (view NetlistView
    (viewType netlist)
    (interface
     (port I0 (direction INPUT))
     (port I1 (direction INPUT))
     (port I2 (direction INPUT))
     (port O (direction OUTPUT))
     (port I3 (direction INPUT))
     (port I4 (direction INPUT)))
    (contents
     (instance U1
      (viewRef NetlistView
       (cellRef or3
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I69"))
      (property EDIForiginalOrigin (string "(pt 0 -60)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "or3"))
      (portInstance I0
       (property PINTYPE (string "IN")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance I2
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))))
     (instance U2
      (viewRef NetlistView
       (cellRef or3
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I88"))
      (property EDIForiginalOrigin (string "(pt 0 -60)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "or3"))
      (portInstance I0
       (property PINTYPE (string "IN")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance I2
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))))
     (net O
      (joined
       (portRef O (instanceRef U2))
       (portRef O))
      (property Name (string "O")))
     (net I0
      (joined
       (portRef I0 (instanceRef U2))
       (portRef I0))
      (property Name (string "I0")))
     (net I35
      (joined
       (portRef O (instanceRef U1))
       (portRef I2 (instanceRef U2)))
      (property Name (string "I35")))
     (net I1
      (joined
       (portRef I1 (instanceRef U2))
       (portRef I1))
      (property Name (string "I1")))
     (net I3
      (joined
       (portRef I1 (instanceRef U1))
       (portRef I3))
      (property Name (string "I3")))
     (net I4
      (joined
       (portRef I2 (instanceRef U1))
       (portRef I4))
      (property Name (string "I4")))
     (net I2
      (joined
       (portRef I0 (instanceRef U1))
       (portRef I2))
      (property Name (string "I2")))))))
 (design or5
  (cellRef or5
   (libraryRef MAIN_LIB))))
