(edif readback
 (edifVersion 2 0 0)
 (edifLevel 0)
 (keywordMap (keywordLevel 0))
 (status
  (written
   (timeStamp 1998 01 29 18 52 19)
   (program "CAPTURE.EXE" (Version "7.20.145"))
   (comment "Original data from OrCAD/CAPTURE schematic"))
  (comment "")
  (comment "January 29, 1998")
  (comment "G:\MANUFACTURER\XILINXM1\WORKINPROGRESS\XC5200\READBACK.DSN")
  (comment "")
  (comment "")
  (comment "")
  (comment "")
  (comment "")
  (comment ""))
 (external OrCAD_LIB
  (edifLevel 0)
  (technology
   (numberDefinition
    (scale 1 1 (unit distance))))
  (cell rdclk
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port I (direction INPUT)))))
  (cell rdbk
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port DATA (direction OUTPUT))
     (port RIP (direction OUTPUT))
     (port TRIG (direction INPUT))))))
 (library MAIN_LIB
  (edifLevel 0)
  (technology
   (numberDefinition
    (scale 1 1 (unit distance))))
  (cell readback
   (cellType generic)
   (view NetlistView
    (viewType netlist)
    (interface
     (port RIP (direction INOUT))
     (port DATA (direction INOUT))
     (port TRIG (direction INPUT))
     (port CLK (direction INPUT)))
    (contents
     (instance U1
      (viewRef NetlistView
       (cellRef rdclk
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I73"))
      (property EDIForiginalOrigin (string "(pt 20 -80)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "rdclk"))
      (portInstance I
       (property PINTYPE (string "IN"))))
     (instance U2
      (viewRef NetlistView
       (cellRef rdbk
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I72"))
      (property EDIForiginalOrigin (string "(pt 20 -80)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "rdbk"))
      (portInstance DATA
       (property PINTYPE (string "OUT")))
      (portInstance RIP
       (property PINTYPE (string "OUT")))
      (portInstance TRIG
       (property PINTYPE (string "IN"))))
     (net CLK
      (joined
       (portRef I (instanceRef U1))
       (portRef CLK))
      (property Name (string "CLK")))
     (net DATA
      (joined
       (portRef DATA (instanceRef U2))
       (portRef DATA))
      (property Name (string "DATA")))
     (net RIP
      (joined
       (portRef RIP (instanceRef U2))
       (portRef RIP))
      (property Name (string "RIP")))
     (net TRIG
      (joined
       (portRef TRIG (instanceRef U2))
       (portRef TRIG))
      (property Name (string "TRIG")))))))
 (design readback
  (cellRef readback
   (libraryRef MAIN_LIB))))
