(edif sr8re
 (edifVersion 2 0 0)
 (edifLevel 0)
 (keywordMap (keywordLevel 0))
 (status
  (written
   (timeStamp 1998 01 29 18 57 24)
   (program "CAPTURE.EXE" (Version "7.20.145"))
   (comment "Original data from OrCAD/CAPTURE schematic"))
  (comment "")
  (comment "January 29, 1998")
  (comment "G:\MANUFACTURER\XILINXM1\WORKINPROGRESS\XC5200\SR8RE.DSN")
  (comment "")
  (comment "")
  (comment "")
  (comment "")
  (comment "")
  (comment ""))
 (external OrCAD_LIB
  (edifLevel 0)
  (technology
   (numberDefinition
    (scale 1 1 (unit distance))))
  (cell fdre
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port C (direction INPUT))
     (port CE (direction INPUT))
     (port D (direction INPUT))
     (port Q (direction OUTPUT))
     (port R (direction INPUT))))))
 (library MAIN_LIB
  (edifLevel 0)
  (technology
   (numberDefinition
    (scale 1 1 (unit distance))))
  (cell sr8re
   (cellType generic)
   (view NetlistView
    (viewType netlist)
    (interface
     (port Q0 (direction OUTPUT))
     (port CE (direction INPUT))
     (port Q1 (direction OUTPUT))
     (port Q2 (direction OUTPUT))
     (port Q3 (direction OUTPUT))
     (port Q4 (direction OUTPUT))
     (port Q5 (direction OUTPUT))
     (port Q6 (direction OUTPUT))
     (port Q7 (direction OUTPUT))
     (port SLI (direction INPUT))
     (port R (direction INPUT))
     (port C (direction INPUT)))
    (contents
     (instance U1
      (viewRef NetlistView
       (cellRef fdre
        (libraryRef OrCAD_LIB)))
      (property Name (string "Q0"))
      (property EDIForiginalOrigin (string "(pt 20 -100)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "fdre"))
      (portInstance C
       (property PINTYPE (string "IN")))
      (portInstance CE
       (property PINTYPE (string "IN")))
      (portInstance D
       (property PINTYPE (string "IN")))
      (portInstance Q
       (property PINTYPE (string "OUT")))
      (portInstance R
       (property PINTYPE (string "IN"))))
     (instance U2
      (viewRef NetlistView
       (cellRef fdre
        (libraryRef OrCAD_LIB)))
      (property Name (string "Q4"))
      (property EDIForiginalOrigin (string "(pt 20 -100)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "fdre"))
      (portInstance C
       (property PINTYPE (string "IN")))
      (portInstance CE
       (property PINTYPE (string "IN")))
      (portInstance D
       (property PINTYPE (string "IN")))
      (portInstance Q
       (property PINTYPE (string "OUT")))
      (portInstance R
       (property PINTYPE (string "IN"))))
     (instance U3
      (viewRef NetlistView
       (cellRef fdre
        (libraryRef OrCAD_LIB)))
      (property Name (string "Q1"))
      (property EDIForiginalOrigin (string "(pt 20 -100)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "fdre"))
      (portInstance C
       (property PINTYPE (string "IN")))
      (portInstance CE
       (property PINTYPE (string "IN")))
      (portInstance D
       (property PINTYPE (string "IN")))
      (portInstance Q
       (property PINTYPE (string "OUT")))
      (portInstance R
       (property PINTYPE (string "IN"))))
     (instance U4
      (viewRef NetlistView
       (cellRef fdre
        (libraryRef OrCAD_LIB)))
      (property Name (string "Q5"))
      (property EDIForiginalOrigin (string "(pt 20 -100)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "fdre"))
      (portInstance C
       (property PINTYPE (string "IN")))
      (portInstance CE
       (property PINTYPE (string "IN")))
      (portInstance D
       (property PINTYPE (string "IN")))
      (portInstance Q
       (property PINTYPE (string "OUT")))
      (portInstance R
       (property PINTYPE (string "IN"))))
     (instance U5
      (viewRef NetlistView
       (cellRef fdre
        (libraryRef OrCAD_LIB)))
      (property Name (string "Q2"))
      (property EDIForiginalOrigin (string "(pt 20 -100)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "fdre"))
      (portInstance C
       (property PINTYPE (string "IN")))
      (portInstance CE
       (property PINTYPE (string "IN")))
      (portInstance D
       (property PINTYPE (string "IN")))
      (portInstance Q
       (property PINTYPE (string "OUT")))
      (portInstance R
       (property PINTYPE (string "IN"))))
     (instance U6
      (viewRef NetlistView
       (cellRef fdre
        (libraryRef OrCAD_LIB)))
      (property Name (string "Q6"))
      (property EDIForiginalOrigin (string "(pt 20 -100)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "fdre"))
      (portInstance C
       (property PINTYPE (string "IN")))
      (portInstance CE
       (property PINTYPE (string "IN")))
      (portInstance D
       (property PINTYPE (string "IN")))
      (portInstance Q
       (property PINTYPE (string "OUT")))
      (portInstance R
       (property PINTYPE (string "IN"))))
     (instance U7
      (viewRef NetlistView
       (cellRef fdre
        (libraryRef OrCAD_LIB)))
      (property Name (string "Q3"))
      (property EDIForiginalOrigin (string "(pt 20 -100)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "fdre"))
      (portInstance C
       (property PINTYPE (string "IN")))
      (portInstance CE
       (property PINTYPE (string "IN")))
      (portInstance D
       (property PINTYPE (string "IN")))
      (portInstance Q
       (property PINTYPE (string "OUT")))
      (portInstance R
       (property PINTYPE (string "IN"))))
     (instance U8
      (viewRef NetlistView
       (cellRef fdre
        (libraryRef OrCAD_LIB)))
      (property Name (string "Q7"))
      (property EDIForiginalOrigin (string "(pt 20 -100)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "fdre"))
      (portInstance C
       (property PINTYPE (string "IN")))
      (portInstance CE
       (property PINTYPE (string "IN")))
      (portInstance D
       (property PINTYPE (string "IN")))
      (portInstance Q
       (property PINTYPE (string "OUT")))
      (portInstance R
       (property PINTYPE (string "IN"))))
     (net Q2
      (joined
       (portRef D (instanceRef U7))
       (portRef Q (instanceRef U5))
       (portRef Q2))
      (property Name (string "Q2")))
     (net Q0
      (joined
       (portRef D (instanceRef U3))
       (portRef Q (instanceRef U1))
       (portRef Q0))
      (property Name (string "Q0")))
     (net C
      (joined
       (portRef C (instanceRef U2))
       (portRef C (instanceRef U4))
       (portRef C (instanceRef U6))
       (portRef C (instanceRef U8))
       (portRef C (instanceRef U1))
       (portRef C (instanceRef U3))
       (portRef C (instanceRef U5))
       (portRef C (instanceRef U7))
       (portRef C))
      (property Name (string "C")))
     (net R
      (joined
       (portRef R (instanceRef U2))
       (portRef R (instanceRef U4))
       (portRef R (instanceRef U6))
       (portRef R (instanceRef U8))
       (portRef R (instanceRef U1))
       (portRef R (instanceRef U3))
       (portRef R (instanceRef U5))
       (portRef R (instanceRef U7))
       (portRef R))
      (property Name (string "R")))
     (net Q1
      (joined
       (portRef D (instanceRef U5))
       (portRef Q (instanceRef U3))
       (portRef Q1))
      (property Name (string "Q1")))
     (net Q6
      (joined
       (portRef D (instanceRef U8))
       (portRef Q (instanceRef U6))
       (portRef Q6))
      (property Name (string "Q6")))
     (net Q7
      (joined
       (portRef Q (instanceRef U8))
       (portRef Q7))
      (property Name (string "Q7")))
     (net CE
      (joined
       (portRef CE (instanceRef U1))
       (portRef CE (instanceRef U2))
       (portRef CE (instanceRef U4))
       (portRef CE (instanceRef U6))
       (portRef CE (instanceRef U8))
       (portRef CE (instanceRef U7))
       (portRef CE (instanceRef U5))
       (portRef CE (instanceRef U3))
       (portRef CE))
      (property Name (string "CE")))
     (net Q5
      (joined
       (portRef D (instanceRef U6))
       (portRef Q (instanceRef U4))
       (portRef Q5))
      (property Name (string "Q5")))
     (net Q3
      (joined
       (portRef Q (instanceRef U7))
       (portRef D (instanceRef U2))
       (portRef Q3))
      (property Name (string "Q3")))
     (net SLI
      (joined
       (portRef D (instanceRef U1))
       (portRef SLI))
      (property Name (string "SLI")))
     (net Q4
      (joined
       (portRef D (instanceRef U4))
       (portRef Q (instanceRef U2))
       (portRef Q4))
      (property Name (string "Q4")))))))
 (design sr8re
  (cellRef sr8re
   (libraryRef MAIN_LIB))))
