(edif x74_195
 (edifVersion 2 0 0)
 (edifLevel 0)
 (keywordMap (keywordLevel 0))
 (status
  (written
   (timeStamp 1998 01 29 19 18 32)
   (program "CAPTURE.EXE" (Version "7.20.145"))
   (comment "Original data from OrCAD/CAPTURE schematic"))
  (comment "")
  (comment "January 29, 1998")
  (comment "G:\MANUFACTURER\XILINXM1\WORKINPROGRESS\XC5200\X74_195.DSN")
  (comment "")
  (comment "")
  (comment "")
  (comment "")
  (comment "")
  (comment ""))
 (external OrCAD_LIB
  (edifLevel 0)
  (technology
   (numberDefinition
    (scale 1 1 (unit distance))))
  (cell inv
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port I (direction INPUT))
     (port O (direction OUTPUT)))))
  (cell nand3b1
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port I0 (direction INPUT))
     (port I1 (direction INPUT))
     (port I2 (direction INPUT))
     (port O (direction OUTPUT)))))
  (cell or3b1
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port I0 (direction INPUT))
     (port I1 (direction INPUT))
     (port I2 (direction INPUT))
     (port O (direction OUTPUT)))))
  (cell nand3
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port I0 (direction INPUT))
     (port I1 (direction INPUT))
     (port I2 (direction INPUT))
     (port O (direction OUTPUT)))))
  (cell nand2
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port I0 (direction INPUT))
     (port I1 (direction INPUT))
     (port O (direction OUTPUT)))))
  (cell m2_1
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port D0 (direction INPUT))
     (port D1 (direction INPUT))
     (port O (direction OUTPUT))
     (port S0 (direction INPUT)))))
  (cell fdc
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port C (direction INPUT))
     (port CLR (direction INPUT))
     (port D (direction INPUT))
     (port Q (direction OUTPUT))))))
 (library MAIN_LIB
  (edifLevel 0)
  (technology
   (numberDefinition
    (scale 1 1 (unit distance))))
  (cell x74_195
   (cellType generic)
   (view NetlistView
    (viewType netlist)
    (interface
     (port D (direction INPUT))
     (port QA (direction OUTPUT))
     (port QB (direction OUTPUT))
     (port QC (direction OUTPUT))
     (port QD (direction OUTPUT))
     (port CLR (direction INPUT))
     (port J (direction INPUT))
     (port K (direction INPUT))
     (port CK (direction INPUT))
     (port QDB (direction OUTPUT))
     (port S_L (direction INPUT))
     (port A (direction INPUT))
     (port B (direction INPUT))
     (port C (direction INPUT)))
    (contents
     (instance U13
      (viewRef NetlistView
       (cellRef inv
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I157"))
      (property EDIForiginalOrigin (string "(pt 20 -20)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "inv"))
      (portInstance I
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))
       (property PARAM (string "INV"))))
     (instance U14
      (viewRef NetlistView
       (cellRef inv
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I146"))
      (property EDIForiginalOrigin (string "(pt 20 -20)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "inv"))
      (portInstance I
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))
       (property PARAM (string "INV"))))
     (instance U1
      (viewRef NetlistView
       (cellRef nand3b1
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I130"))
      (property EDIForiginalOrigin (string "(pt 0 -60)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "nand3b1"))
      (portInstance I0
       (property PARAM (string "INV"))
       (property PINTYPE (string "IN")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance I2
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PARAM (string "INV"))
       (property PINTYPE (string "OUT"))))
     (instance U2
      (viewRef NetlistView
       (cellRef or3b1
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I131"))
      (property EDIForiginalOrigin (string "(pt 0 -60)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "or3b1"))
      (portInstance I0
       (property PINTYPE (string "IN"))
       (property PARAM (string "INV")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance I2
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))))
     (instance U3
      (viewRef NetlistView
       (cellRef nand3
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I133"))
      (property EDIForiginalOrigin (string "(pt 20 -60)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "nand3"))
      (portInstance I0
       (property PINTYPE (string "IN")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance I2
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))
       (property PARAM (string "INV"))))
     (instance U4
      (viewRef NetlistView
       (cellRef nand2
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I129"))
      (property EDIForiginalOrigin (string "(pt 20 -50)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "nand2"))
      (portInstance I0
       (property PINTYPE (string "IN")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))
       (property PARAM (string "INV"))))
     (instance U5
      (viewRef NetlistView
       (cellRef m2_1
        (libraryRef OrCAD_LIB)))
      (property Name (string "MA"))
      (property EDIForiginalOrigin (string "(pt 30 -60)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "m2_1"))
      (portInstance D0
       (property PINTYPE (string "IN")))
      (portInstance D1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT")))
      (portInstance S0
       (property PINTYPE (string "IN"))))
     (instance U6
      (viewRef NetlistView
       (cellRef fdc
        (libraryRef OrCAD_LIB)))
      (property Name (string "QA"))
      (property EDIForiginalOrigin (string "(pt 20 -100)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "fdc"))
      (portInstance C
       (property PINTYPE (string "IN")))
      (portInstance CLR
       (property PINTYPE (string "IN")))
      (portInstance D
       (property PINTYPE (string "IN")))
      (portInstance Q
       (property PINTYPE (string "OUT"))))
     (instance U7
      (viewRef NetlistView
       (cellRef m2_1
        (libraryRef OrCAD_LIB)))
      (property Name (string "MB"))
      (property EDIForiginalOrigin (string "(pt 30 -60)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "m2_1"))
      (portInstance D0
       (property PINTYPE (string "IN")))
      (portInstance D1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT")))
      (portInstance S0
       (property PINTYPE (string "IN"))))
     (instance U8
      (viewRef NetlistView
       (cellRef fdc
        (libraryRef OrCAD_LIB)))
      (property Name (string "QB"))
      (property EDIForiginalOrigin (string "(pt 20 -100)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "fdc"))
      (portInstance C
       (property PINTYPE (string "IN")))
      (portInstance CLR
       (property PINTYPE (string "IN")))
      (portInstance D
       (property PINTYPE (string "IN")))
      (portInstance Q
       (property PINTYPE (string "OUT"))))
     (instance U9
      (viewRef NetlistView
       (cellRef m2_1
        (libraryRef OrCAD_LIB)))
      (property Name (string "MC"))
      (property EDIForiginalOrigin (string "(pt 30 -60)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "m2_1"))
      (portInstance D0
       (property PINTYPE (string "IN")))
      (portInstance D1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT")))
      (portInstance S0
       (property PINTYPE (string "IN"))))
     (instance U10
      (viewRef NetlistView
       (cellRef fdc
        (libraryRef OrCAD_LIB)))
      (property Name (string "QC"))
      (property EDIForiginalOrigin (string "(pt 20 -100)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "fdc"))
      (portInstance C
       (property PINTYPE (string "IN")))
      (portInstance CLR
       (property PINTYPE (string "IN")))
      (portInstance D
       (property PINTYPE (string "IN")))
      (portInstance Q
       (property PINTYPE (string "OUT"))))
     (instance U11
      (viewRef NetlistView
       (cellRef m2_1
        (libraryRef OrCAD_LIB)))
      (property Name (string "MD"))
      (property EDIForiginalOrigin (string "(pt 30 -60)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "m2_1"))
      (portInstance D0
       (property PINTYPE (string "IN")))
      (portInstance D1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT")))
      (portInstance S0
       (property PINTYPE (string "IN"))))
     (instance U12
      (viewRef NetlistView
       (cellRef fdc
        (libraryRef OrCAD_LIB)))
      (property Name (string "QD"))
      (property EDIForiginalOrigin (string "(pt 20 -100)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "fdc"))
      (portInstance C
       (property PINTYPE (string "IN")))
      (portInstance CLR
       (property PINTYPE (string "IN")))
      (portInstance D
       (property PINTYPE (string "IN")))
      (portInstance Q
       (property PINTYPE (string "OUT"))))
     (net D
      (joined
       (portRef D0 (instanceRef U11))
       (portRef D))
      (property Name (string "D")))
     (net N00449
      (joined
       (portRef O (instanceRef U4))
       (portRef I0 (instanceRef U3)))
      (property Name (string "N00449")))
     (net S_L
      (joined
       (portRef S0 (instanceRef U11))
       (portRef S0 (instanceRef U5))
       (portRef S0 (instanceRef U7))
       (portRef S0 (instanceRef U9))
       (portRef S_L))
      (property Name (string "S_L")))
     (net N00446
      (joined
       (portRef O (instanceRef U2))
       (portRef I1 (instanceRef U3)))
      (property Name (string "N00446")))
     (net B
      (joined
       (portRef D0 (instanceRef U7))
       (portRef B))
      (property Name (string "B")))
     (net QD
      (joined
       (portRef Q (instanceRef U12))
       (portRef I (instanceRef U13))
       (portRef QD))
      (property Name (string "QD")))
     (net N00439
      (joined
       (portRef O (instanceRef U1))
       (portRef I2 (instanceRef U3)))
      (property Name (string "N00439")))
     (net QB
      (joined
       (portRef D1 (instanceRef U9))
       (portRef Q (instanceRef U8))
       (portRef QB))
      (property Name (string "QB")))
     (net MC
      (joined
       (portRef O (instanceRef U9))
       (portRef D (instanceRef U10)))
      (property Name (string "MC")))
     (net QDB
      (joined
       (portRef O (instanceRef U13))
       (portRef QDB))
      (property Name (string "QDB")))
     (net CLR
      (joined
       (portRef I (instanceRef U14))
       (portRef CLR))
      (property Name (string "CLR")))
     (net MD
      (joined
       (portRef O (instanceRef U11))
       (portRef D (instanceRef U12)))
      (property Name (string "MD")))
     (net MB
      (joined
       (portRef O (instanceRef U7))
       (portRef D (instanceRef U8)))
      (property Name (string "MB")))
     (net J
      (joined
       (portRef I0 (instanceRef U1))
       (portRef I1 (instanceRef U4))
       (portRef I0 (instanceRef U2))
       (portRef J))
      (property Name (string "J")))
     (net MA
      (joined
       (portRef O (instanceRef U5))
       (portRef D (instanceRef U6)))
      (property Name (string "MA")))
     (net A
      (joined
       (portRef D0 (instanceRef U5))
       (portRef A))
      (property Name (string "A")))
     (net K
      (joined
       (portRef I0 (instanceRef U4))
       (portRef I1 (instanceRef U1))
       (portRef I2 (instanceRef U2))
       (portRef K))
      (property Name (string "K")))
     (net QA
      (joined
       (portRef I2 (instanceRef U1))
       (portRef D1 (instanceRef U7))
       (portRef I1 (instanceRef U2))
       (portRef Q (instanceRef U6))
       (portRef QA))
      (property Name (string "QA")))
     (net QC
      (joined
       (portRef D1 (instanceRef U11))
       (portRef Q (instanceRef U10))
       (portRef QC))
      (property Name (string "QC")))
     (net CLRB
      (joined
       (portRef O (instanceRef U14))
       (portRef CLR (instanceRef U12))
       (portRef CLR (instanceRef U6))
       (portRef CLR (instanceRef U8))
       (portRef CLR (instanceRef U10)))
      (property Name (string "CLRB")))
     (net C
      (joined
       (portRef D0 (instanceRef U9))
       (portRef C))
      (property Name (string "C")))
     (net JK
      (joined
       (portRef O (instanceRef U3))
       (portRef D1 (instanceRef U5)))
      (property Name (string "JK")))
     (net CK
      (joined
       (portRef C (instanceRef U6))
       (portRef C (instanceRef U8))
       (portRef C (instanceRef U10))
       (portRef C (instanceRef U12))
       (portRef CK))
      (property Name (string "CK")))))))
 (design x74_195
  (cellRef x74_195
   (libraryRef MAIN_LIB))))
