(edif bufod
 (edifVersion 2 0 0)
 (edifLevel 0)
 (keywordMap (keywordLevel 0))
 (status
  (written
   (timeStamp 1997 08 13 22 05 00)
   (program "EXPRESS.EXE" (Version "7.10.375"))
   (comment "Original data from OrCAD/CAPTURE schematic"))
  (comment "")
  (comment "August 13, 1997")
  (comment "G:\M1_LIBS\XC4000E\BUFOD.DSN")
  (comment "")
  (comment "")
  (comment "")
  (comment "")
  (comment "")
  (comment ""))
 (external OrCAD_LIB
  (edifLevel 0)
  (technology
   (numberDefinition
    (scale 1 1 (unit distance))))
  (cell wand1
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port I (direction INPUT)(designator "I"))
     (port O (direction OUTPUT)(designator "O"))))))
 (library MAIN_LIB
  (edifLevel 0)
  (technology
   (numberDefinition
    (scale 1 1 (unit distance))))
  (cell bufod
   (cellType generic)
   (view NetlistView
    (viewType netlist)
    (interface
     (port I (direction INPUT))
     (port O (direction INOUT)))
    (contents
     (instance U1
      (viewRef NetlistView
       (cellRef wand1
        (libraryRef OrCAD_LIB))) (designator "U1")
      (property Name (string "$1I2"))
      (property EDIForiginalOrigin (string "(pt 20 -20)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "wand1")))
     (net O
      (joined
       (portRef O (instanceRef U1))
       (portRef O))
      (property Name (string "O")))
     (net I
      (joined
       (portRef I (instanceRef U1))
       (portRef I))
      (property Name (string "I")))))))
 (design bufod
  (cellRef bufod
   (libraryRef MAIN_LIB))))
