(edif cb4ce
 (edifVersion 2 0 0)
 (edifLevel 0)
 (keywordMap (keywordLevel 0))
 (status
  (written
   (timeStamp 1997 08 13 22 09 06)
   (program "EXPRESS.EXE" (Version "7.10.375"))
   (comment "Original data from OrCAD/CAPTURE schematic"))
  (comment "")
  (comment "August 13, 1997")
  (comment "G:\M1_LIBS\XC4000E\CB4CE.DSN")
  (comment "")
  (comment "")
  (comment "")
  (comment "")
  (comment "")
  (comment ""))
 (external OrCAD_LIB
  (edifLevel 0)
  (technology
   (numberDefinition
    (scale 1 1 (unit distance))))
  (cell VCC
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port P (direction OUTPUT)(designator "P")))))
  (cell ftce
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port C (direction INPUT)(designator "C"))
     (port CE (direction INPUT)(designator "CE"))
     (port CLR (direction INPUT)(designator "CLR"))
     (port Q (direction OUTPUT)(designator "Q"))
     (port T (direction INPUT)(designator "T")))))
  (cell and2
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port I0 (direction INPUT)(designator "I0"))
     (port I1 (direction INPUT)(designator "I1"))
     (port O (direction OUTPUT)(designator "O")))))
  (cell and3
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port I0 (direction INPUT)(designator "I0"))
     (port I1 (direction INPUT)(designator "I1"))
     (port I2 (direction INPUT)(designator "I2"))
     (port O (direction OUTPUT)(designator "O")))))
  (cell and4
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port I0 (direction INPUT)(designator "I0"))
     (port I1 (direction INPUT)(designator "I1"))
     (port I2 (direction INPUT)(designator "I2"))
     (port I3 (direction INPUT)(designator "I3"))
     (port O (direction OUTPUT)(designator "O"))))))
 (library MAIN_LIB
  (edifLevel 0)
  (technology
   (numberDefinition
    (scale 1 1 (unit distance))))
  (cell cb4ce
   (cellType generic)
   (view NetlistView
    (viewType netlist)
    (interface
     (port TC (direction OUTPUT))
     (port Q0 (direction OUTPUT))
     (port Q1 (direction OUTPUT))
     (port CE (direction INPUT))
     (port Q2 (direction OUTPUT))
     (port Q3 (direction OUTPUT))
     (port CLR (direction INPUT))
     (port CEO (direction OUTPUT))
     (port C (direction INPUT)))
    (contents
     (instance U1
      (viewRef NetlistView
       (cellRef VCC
        (libraryRef OrCAD_LIB))) (designator "U1")
      (property Name (string "$1I58"))
      (property EDIForiginalOrigin (string "(pt 10 -20)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "VCC")))
     (instance U2
      (viewRef NetlistView
       (cellRef ftce
        (libraryRef OrCAD_LIB))) (designator "U2")
      (property Name (string "Q0"))
      (property EDIForiginalOrigin (string "(pt 20 -100)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "ftce")))
     (instance U3
      (viewRef NetlistView
       (cellRef ftce
        (libraryRef OrCAD_LIB))) (designator "U3")
      (property Name (string "Q1"))
      (property EDIForiginalOrigin (string "(pt 20 -100)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "ftce")))
     (instance U4
      (viewRef NetlistView
       (cellRef and2
        (libraryRef OrCAD_LIB))) (designator "U4")
      (property Name (string "$1I33"))
      (property EDIForiginalOrigin (string "(pt 20 -50)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "and2")))
     (instance U5
      (viewRef NetlistView
       (cellRef ftce
        (libraryRef OrCAD_LIB))) (designator "U5")
      (property Name (string "Q2"))
      (property EDIForiginalOrigin (string "(pt 20 -100)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "ftce")))
     (instance U6
      (viewRef NetlistView
       (cellRef and3
        (libraryRef OrCAD_LIB))) (designator "U6")
      (property Name (string "$1I32"))
      (property EDIForiginalOrigin (string "(pt 20 -60)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "and3")))
     (instance U7
      (viewRef NetlistView
       (cellRef ftce
        (libraryRef OrCAD_LIB))) (designator "U7")
      (property Name (string "Q3"))
      (property EDIForiginalOrigin (string "(pt 20 -100)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "ftce")))
     (instance U8
      (viewRef NetlistView
       (cellRef and4
        (libraryRef OrCAD_LIB))) (designator "U8")
      (property Name (string "$1I31"))
      (property EDIForiginalOrigin (string "(pt 20 -80)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "and4")))
     (instance U9
      (viewRef NetlistView
       (cellRef and2
        (libraryRef OrCAD_LIB))) (designator "U9")
      (property Name (string "$1I67"))
      (property EDIForiginalOrigin (string "(pt 20 -50)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "and2")))
     (net Q3
      (joined
       (portRef Q (instanceRef U7))
       (portRef I0 (instanceRef U8))
       (portRef Q3))
      (property Name (string "Q3")))
     (net CLR
      (joined
       (portRef CLR (instanceRef U7))
       (portRef CLR (instanceRef U2))
       (portRef CLR (instanceRef U3))
       (portRef CLR (instanceRef U5))
       (portRef CLR))
      (property Name (string "CLR")))
     (net TC
      (joined
       (portRef I1 (instanceRef U9))
       (portRef O (instanceRef U8))
       (portRef TC))
      (property Name (string "TC")))
     (net Q2
      (joined
       (portRef Q (instanceRef U5))
       (portRef I1 (instanceRef U8))
       (portRef I0 (instanceRef U6))
       (portRef Q2))
      (property Name (string "Q2")))
     (net Q0
      (joined
       (portRef T (instanceRef U3))
       (portRef Q (instanceRef U2))
       (portRef I3 (instanceRef U8))
       (portRef I2 (instanceRef U6))
       (portRef I1 (instanceRef U4))
       (portRef Q0))
      (property Name (string "Q0")))
     (net CE
      (joined
       (portRef CE (instanceRef U7))
       (portRef CE (instanceRef U2))
       (portRef CE (instanceRef U3))
       (portRef CE (instanceRef U5))
       (portRef I0 (instanceRef U9))
       (portRef CE))
      (property Name (string "CE")))
     (net T3
      (joined
       (portRef T (instanceRef U7))
       (portRef O (instanceRef U6)))
      (property Name (string "T3")))
     (net T2
      (joined
       (portRef T (instanceRef U5))
       (portRef O (instanceRef U4)))
      (property Name (string "T2")))
     (net Q1
      (joined
       (portRef Q (instanceRef U3))
       (portRef I2 (instanceRef U8))
       (portRef I1 (instanceRef U6))
       (portRef I0 (instanceRef U4))
       (portRef Q1))
      (property Name (string "Q1")))
     (net C
      (joined
       (portRef C (instanceRef U7))
       (portRef C (instanceRef U2))
       (portRef C (instanceRef U3))
       (portRef C (instanceRef U5))
       (portRef C))
      (property Name (string "C")))
     (net N00406
      (joined
       (portRef P (instanceRef U1))
       (portRef T (instanceRef U2)))
      (property Name (string "N00406")))
     (net CEO
      (joined
       (portRef O (instanceRef U9))
       (portRef CEO))
      (property Name (string "CEO")))))))
 (design cb4ce
  (cellRef cb4ce
   (libraryRef MAIN_LIB))))
