(edif d3_8e
 (edifVersion 2 0 0)
 (edifLevel 0)
 (keywordMap (keywordLevel 0))
 (status
  (written
   (timeStamp 1997 08 13 22 22 48)
   (program "EXPRESS.EXE" (Version "7.10.375"))
   (comment "Original data from OrCAD/CAPTURE schematic"))
  (comment "")
  (comment "August 13, 1997")
  (comment "G:\M1_LIBS\XC4000E\D3_8E.DSN")
  (comment "")
  (comment "")
  (comment "")
  (comment "")
  (comment "")
  (comment ""))
 (external OrCAD_LIB
  (edifLevel 0)
  (technology
   (numberDefinition
    (scale 1 1 (unit distance))))
  (cell and4b3
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port I0 (direction INPUT)(designator "I0"))
     (port I1 (direction INPUT)(designator "I1"))
     (port I2 (direction INPUT)(designator "I2"))
     (port I3 (direction INPUT)(designator "I3"))
     (port O (direction OUTPUT)(designator "O")))))
  (cell and4b2
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port I0 (direction INPUT)(designator "I0"))
     (port I1 (direction INPUT)(designator "I1"))
     (port I2 (direction INPUT)(designator "I2"))
     (port I3 (direction INPUT)(designator "I3"))
     (port O (direction OUTPUT)(designator "O")))))
  (cell and4b1
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port I0 (direction INPUT)(designator "I0"))
     (port I1 (direction INPUT)(designator "I1"))
     (port I2 (direction INPUT)(designator "I2"))
     (port I3 (direction INPUT)(designator "I3"))
     (port O (direction OUTPUT)(designator "O")))))
  (cell and4
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port I0 (direction INPUT)(designator "I0"))
     (port I1 (direction INPUT)(designator "I1"))
     (port I2 (direction INPUT)(designator "I2"))
     (port I3 (direction INPUT)(designator "I3"))
     (port O (direction OUTPUT)(designator "O"))))))
 (library MAIN_LIB
  (edifLevel 0)
  (technology
   (numberDefinition
    (scale 1 1 (unit distance))))
  (cell d3_8e
   (cellType generic)
   (view NetlistView
    (viewType netlist)
    (interface
     (port A0 (direction INPUT))
     (port D3 (direction OUTPUT))
     (port A1 (direction INPUT))
     (port E (direction INPUT))
     (port D4 (direction OUTPUT))
     (port A2 (direction INPUT))
     (port D5 (direction OUTPUT))
     (port D6 (direction OUTPUT))
     (port D7 (direction OUTPUT))
     (port D0 (direction OUTPUT))
     (port D1 (direction OUTPUT))
     (port D2 (direction OUTPUT)))
    (contents
     (instance U1
      (viewRef NetlistView
       (cellRef and4b3
        (libraryRef OrCAD_LIB))) (designator "U1")
      (property Name (string "$1I37"))
      (property EDIForiginalOrigin (string "(pt 0 -80)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "and4b3")))
     (instance U2
      (viewRef NetlistView
       (cellRef and4b2
        (libraryRef OrCAD_LIB))) (designator "U2")
      (property Name (string "$1I36"))
      (property EDIForiginalOrigin (string "(pt 0 -80)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "and4b2")))
     (instance U3
      (viewRef NetlistView
       (cellRef and4b2
        (libraryRef OrCAD_LIB))) (designator "U3")
      (property Name (string "$1I35"))
      (property EDIForiginalOrigin (string "(pt 0 -80)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "and4b2")))
     (instance U4
      (viewRef NetlistView
       (cellRef and4b1
        (libraryRef OrCAD_LIB))) (designator "U4")
      (property Name (string "$1I34"))
      (property EDIForiginalOrigin (string "(pt 0 -80)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "and4b1")))
     (instance U5
      (viewRef NetlistView
       (cellRef and4b2
        (libraryRef OrCAD_LIB))) (designator "U5")
      (property Name (string "$1I33"))
      (property EDIForiginalOrigin (string "(pt 0 -80)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "and4b2")))
     (instance U6
      (viewRef NetlistView
       (cellRef and4b1
        (libraryRef OrCAD_LIB))) (designator "U6")
      (property Name (string "$1I32"))
      (property EDIForiginalOrigin (string "(pt 0 -80)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "and4b1")))
     (instance U7
      (viewRef NetlistView
       (cellRef and4b1
        (libraryRef OrCAD_LIB))) (designator "U7")
      (property Name (string "$1I31"))
      (property EDIForiginalOrigin (string "(pt 0 -80)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "and4b1")))
     (instance U8
      (viewRef NetlistView
       (cellRef and4
        (libraryRef OrCAD_LIB))) (designator "U8")
      (property Name (string "$1I30"))
      (property EDIForiginalOrigin (string "(pt 20 -80)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "and4")))
     (net D3
      (joined
       (portRef O (instanceRef U4))
       (portRef D3))
      (property Name (string "D3")))
     (net D1
      (joined
       (portRef O (instanceRef U2))
       (portRef D1))
      (property Name (string "D1")))
     (net A1
      (joined
       (portRef I1 (instanceRef U8))
       (portRef I1 (instanceRef U1))
       (portRef I1 (instanceRef U2))
       (portRef I2 (instanceRef U3))
       (portRef I2 (instanceRef U4))
       (portRef I0 (instanceRef U5))
       (portRef I0 (instanceRef U6))
       (portRef I2 (instanceRef U7))
       (portRef A1))
      (property Name (string "A1")))
     (net D6
      (joined
       (portRef O (instanceRef U7))
       (portRef D6))
      (property Name (string "D6")))
     (net D5
      (joined
       (portRef O (instanceRef U6))
       (portRef D5))
      (property Name (string "D5")))
     (net E
      (joined
       (portRef I3 (instanceRef U8))
       (portRef I3 (instanceRef U1))
       (portRef I3 (instanceRef U2))
       (portRef I3 (instanceRef U3))
       (portRef I3 (instanceRef U4))
       (portRef I3 (instanceRef U5))
       (portRef I3 (instanceRef U6))
       (portRef I3 (instanceRef U7))
       (portRef E))
      (property Name (string "E")))
     (net D7
      (joined
       (portRef O (instanceRef U8))
       (portRef D7))
      (property Name (string "D7")))
     (net D4
      (joined
       (portRef O (instanceRef U5))
       (portRef D4))
      (property Name (string "D4")))
     (net A0
      (joined
       (portRef I2 (instanceRef U8))
       (portRef I2 (instanceRef U1))
       (portRef I2 (instanceRef U2))
       (portRef I1 (instanceRef U3))
       (portRef I1 (instanceRef U4))
       (portRef I1 (instanceRef U5))
       (portRef I2 (instanceRef U6))
       (portRef I0 (instanceRef U7))
       (portRef A0))
      (property Name (string "A0")))
     (net A2
      (joined
       (portRef I0 (instanceRef U8))
       (portRef I0 (instanceRef U1))
       (portRef I0 (instanceRef U2))
       (portRef I0 (instanceRef U3))
       (portRef I0 (instanceRef U4))
       (portRef I2 (instanceRef U5))
       (portRef I1 (instanceRef U6))
       (portRef I1 (instanceRef U7))
       (portRef A2))
      (property Name (string "A2")))
     (net D0
      (joined
       (portRef O (instanceRef U1))
       (portRef D0))
      (property Name (string "D0")))
     (net D2
      (joined
       (portRef O (instanceRef U3))
       (portRef D2))
      (property Name (string "D2")))))))
 (design d3_8e
  (cellRef d3_8e
   (libraryRef MAIN_LIB))))
