(edif ibuf8
 (edifVersion 2 0 0)
 (edifLevel 0)
 (keywordMap (keywordLevel 0))
 (status
  (written
   (timeStamp 1997 08 13 22 39 07)
   (program "EXPRESS.EXE" (Version "7.10.375"))
   (comment "Original data from OrCAD/CAPTURE schematic"))
  (comment "")
  (comment "August 13, 1997")
  (comment "G:\M1_LIBS\XC4000E\IBUF8.DSN")
  (comment "")
  (comment "")
  (comment "")
  (comment "")
  (comment "")
  (comment ""))
 (external OrCAD_LIB
  (edifLevel 0)
  (technology
   (numberDefinition
    (scale 1 1 (unit distance))))
  (cell ibuf
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port I (direction INPUT)(designator "I"))
     (port O (direction OUTPUT)(designator "O"))))))
 (library MAIN_LIB
  (edifLevel 0)
  (technology
   (numberDefinition
    (scale 1 1 (unit distance))))
  (cell ibuf8
   (cellType generic)
   (view NetlistView
    (viewType netlist)
    (interface
     (port O0 (direction OUTPUT))
     (port O1 (direction OUTPUT))
     (port O2 (direction OUTPUT))
     (port O3 (direction OUTPUT))
     (port O4 (direction OUTPUT))
     (port O5 (direction OUTPUT))
     (port O6 (direction OUTPUT))
     (port I0 (direction INPUT))
     (port O7 (direction OUTPUT))
     (port I1 (direction INPUT))
     (port I2 (direction INPUT))
     (port I3 (direction INPUT))
     (port I4 (direction INPUT))
     (port I5 (direction INPUT))
     (port I6 (direction INPUT))
     (port I7 (direction INPUT)))
    (contents
     (instance U1
      (viewRef NetlistView
       (cellRef ibuf
        (libraryRef OrCAD_LIB))) (designator "U1")
      (property Name (string "$1I37"))
      (property EDIForiginalOrigin (string "(pt 20 -20)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "ibuf")))
     (instance U2
      (viewRef NetlistView
       (cellRef ibuf
        (libraryRef OrCAD_LIB))) (designator "U2")
      (property Name (string "$1I36"))
      (property EDIForiginalOrigin (string "(pt 20 -20)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "ibuf")))
     (instance U3
      (viewRef NetlistView
       (cellRef ibuf
        (libraryRef OrCAD_LIB))) (designator "U3")
      (property Name (string "$1I35"))
      (property EDIForiginalOrigin (string "(pt 20 -20)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "ibuf")))
     (instance U4
      (viewRef NetlistView
       (cellRef ibuf
        (libraryRef OrCAD_LIB))) (designator "U4")
      (property Name (string "$1I34"))
      (property EDIForiginalOrigin (string "(pt 20 -20)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "ibuf")))
     (instance U5
      (viewRef NetlistView
       (cellRef ibuf
        (libraryRef OrCAD_LIB))) (designator "U5")
      (property Name (string "$1I30"))
      (property EDIForiginalOrigin (string "(pt 20 -20)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "ibuf")))
     (instance U6
      (viewRef NetlistView
       (cellRef ibuf
        (libraryRef OrCAD_LIB))) (designator "U6")
      (property Name (string "$1I31"))
      (property EDIForiginalOrigin (string "(pt 20 -20)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "ibuf")))
     (instance U7
      (viewRef NetlistView
       (cellRef ibuf
        (libraryRef OrCAD_LIB))) (designator "U7")
      (property Name (string "$1I32"))
      (property EDIForiginalOrigin (string "(pt 20 -20)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "ibuf")))
     (instance U8
      (viewRef NetlistView
       (cellRef ibuf
        (libraryRef OrCAD_LIB))) (designator "U8")
      (property Name (string "$1I33"))
      (property EDIForiginalOrigin (string "(pt 20 -20)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "ibuf")))
     (net O6
      (joined
       (portRef O (instanceRef U7))
       (portRef O6))
      (property Name (string "O6")))
     (net O5
      (joined
       (portRef O (instanceRef U6))
       (portRef O5))
      (property Name (string "O5")))
     (net I5
      (joined
       (portRef I (instanceRef U6))
       (portRef I5))
      (property Name (string "I5")))
     (net O4
      (joined
       (portRef O (instanceRef U5))
       (portRef O4))
      (property Name (string "O4")))
     (net O3
      (joined
       (portRef O (instanceRef U4))
       (portRef O3))
      (property Name (string "O3")))
     (net O2
      (joined
       (portRef O (instanceRef U3))
       (portRef O2))
      (property Name (string "O2")))
     (net I6
      (joined
       (portRef I (instanceRef U7))
       (portRef I6))
      (property Name (string "I6")))
     (net I1
      (joined
       (portRef I (instanceRef U2))
       (portRef I1))
      (property Name (string "I1")))
     (net O1
      (joined
       (portRef O (instanceRef U2))
       (portRef O1))
      (property Name (string "O1")))
     (net I3
      (joined
       (portRef I (instanceRef U4))
       (portRef I3))
      (property Name (string "I3")))
     (net I7
      (joined
       (portRef I (instanceRef U8))
       (portRef I7))
      (property Name (string "I7")))
     (net I2
      (joined
       (portRef I (instanceRef U3))
       (portRef I2))
      (property Name (string "I2")))
     (net O0
      (joined
       (portRef O (instanceRef U1))
       (portRef O0))
      (property Name (string "O0")))
     (net I0
      (joined
       (portRef I (instanceRef U1))
       (portRef I0))
      (property Name (string "I0")))
     (net O7
      (joined
       (portRef O (instanceRef U8))
       (portRef O7))
      (property Name (string "O7")))
     (net I4
      (joined
       (portRef I (instanceRef U5))
       (portRef I4))
      (property Name (string "I4")))))))
 (design ibuf8
  (cellRef ibuf8
   (libraryRef MAIN_LIB))))
