(edif wand4
 (edifVersion 2 0 0)
 (edifLevel 0)
 (keywordMap (keywordLevel 0))
 (status
  (written
   (timeStamp 1997 08 13 23 33 07)
   (program "EXPRESS.EXE" (Version "7.10.375"))
   (comment "Original data from OrCAD/CAPTURE schematic"))
  (comment "")
  (comment "August 13, 1997")
  (comment "G:\M1_LIBS\XC4000E\WAND4.DSN")
  (comment "")
  (comment "")
  (comment "")
  (comment "")
  (comment "")
  (comment ""))
 (external OrCAD_LIB
  (edifLevel 0)
  (technology
   (numberDefinition
    (scale 1 1 (unit distance))))
  (cell wand1
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port I (direction INPUT)(designator "I"))
     (port O (direction OUTPUT)(designator "O"))))))
 (library MAIN_LIB
  (edifLevel 0)
  (technology
   (numberDefinition
    (scale 1 1 (unit distance))))
  (cell wand4
   (cellType generic)
   (view NetlistView
    (viewType netlist)
    (interface
     (port I0 (direction INPUT))
     (port I1 (direction INPUT))
     (port I2 (direction INPUT))
     (port O (direction INOUT))
     (port I3 (direction INPUT)))
    (contents
     (instance U1
      (viewRef NetlistView
       (cellRef wand1
        (libraryRef OrCAD_LIB))) (designator "U1")
      (property Name (string "$1I45"))
      (property EDIForiginalOrigin (string "(pt 20 -20)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "wand1")))
     (instance U2
      (viewRef NetlistView
       (cellRef wand1
        (libraryRef OrCAD_LIB))) (designator "U2")
      (property Name (string "$1I44"))
      (property EDIForiginalOrigin (string "(pt 20 -20)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "wand1")))
     (instance U3
      (viewRef NetlistView
       (cellRef wand1
        (libraryRef OrCAD_LIB))) (designator "U3")
      (property Name (string "$1I43"))
      (property EDIForiginalOrigin (string "(pt 20 -20)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "wand1")))
     (instance U4
      (viewRef NetlistView
       (cellRef wand1
        (libraryRef OrCAD_LIB))) (designator "U4")
      (property Name (string "$1I42"))
      (property EDIForiginalOrigin (string "(pt 20 -20)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "wand1")))
     (net I0
      (joined
       (portRef I (instanceRef U1))
       (portRef I0))
      (property Name (string "I0")))
     (net I2
      (joined
       (portRef I (instanceRef U3))
       (portRef I2))
      (property Name (string "I2")))
     (net I1
      (joined
       (portRef I (instanceRef U2))
       (portRef I1))
      (property Name (string "I1")))
     (net I3
      (joined
       (portRef I (instanceRef U4))
       (portRef I3))
      (property Name (string "I3")))
     (net O
      (joined
       (portRef O (instanceRef U1))
       (portRef O (instanceRef U4))
       (portRef O (instanceRef U3))
       (portRef O (instanceRef U2))
       (portRef O))
      (property Name (string "O")))))))
 (design wand4
  (cellRef wand4
   (libraryRef MAIN_LIB))))
