(edif x74_154
 (edifVersion 2 0 0)
 (edifLevel 0)
 (keywordMap (keywordLevel 0))
 (status
  (written
   (timeStamp 1997 08 13 23 36 48)
   (program "EXPRESS.EXE" (Version "7.10.375"))
   (comment "Original data from OrCAD/CAPTURE schematic"))
  (comment "")
  (comment "August 13, 1997")
  (comment "G:\M1_LIBS\XC4000E\X74_154.DSN")
  (comment "")
  (comment "")
  (comment "")
  (comment "")
  (comment "")
  (comment ""))
 (external OrCAD_LIB
  (edifLevel 0)
  (technology
   (numberDefinition
    (scale 1 1 (unit distance))))
  (cell nand5b2
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port I0 (direction INPUT)(designator "I0"))
     (port I1 (direction INPUT)(designator "I1"))
     (port I2 (direction INPUT)(designator "I2"))
     (port I3 (direction INPUT)(designator "I3"))
     (port I4 (direction INPUT)(designator "I4"))
     (port O (direction OUTPUT)(designator "O")))))
  (cell nand5b1
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port I0 (direction INPUT)(designator "I0"))
     (port I1 (direction INPUT)(designator "I1"))
     (port I2 (direction INPUT)(designator "I2"))
     (port I3 (direction INPUT)(designator "I3"))
     (port I4 (direction INPUT)(designator "I4"))
     (port O (direction OUTPUT)(designator "O")))))
  (cell nor2
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port I0 (direction INPUT)(designator "I0"))
     (port I1 (direction INPUT)(designator "I1"))
     (port O (direction OUTPUT)(designator "O")))))
  (cell nand5
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port I0 (direction INPUT)(designator "I0"))
     (port I1 (direction INPUT)(designator "I1"))
     (port I2 (direction INPUT)(designator "I2"))
     (port I3 (direction INPUT)(designator "I3"))
     (port I4 (direction INPUT)(designator "I4"))
     (port O (direction OUTPUT)(designator "O")))))
  (cell nand5b4
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port I0 (direction INPUT)(designator "I0"))
     (port I1 (direction INPUT)(designator "I1"))
     (port I2 (direction INPUT)(designator "I2"))
     (port I3 (direction INPUT)(designator "I3"))
     (port I4 (direction INPUT)(designator "I4"))
     (port O (direction OUTPUT)(designator "O")))))
  (cell nand5b3
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port I0 (direction INPUT)(designator "I0"))
     (port I1 (direction INPUT)(designator "I1"))
     (port I2 (direction INPUT)(designator "I2"))
     (port I3 (direction INPUT)(designator "I3"))
     (port I4 (direction INPUT)(designator "I4"))
     (port O (direction OUTPUT)(designator "O"))))))
 (library MAIN_LIB
  (edifLevel 0)
  (technology
   (numberDefinition
    (scale 1 1 (unit distance))))
  (cell x74_154
   (cellType generic)
   (view NetlistView
    (viewType netlist)
    (interface
     (port D (direction INPUT))
     (port Y7 (direction OUTPUT))
     (port Y8 (direction OUTPUT))
     (port Y9 (direction OUTPUT))
     (port Y10 (direction OUTPUT))
     (port Y11 (direction OUTPUT))
     (port Y12 (direction OUTPUT))
     (port Y13 (direction OUTPUT))
     (port Y14 (direction OUTPUT))
     (port Y15 (direction OUTPUT))
     (port Y0 (direction OUTPUT))
     (port Y1 (direction OUTPUT))
     (port G1 (direction INPUT))
     (port Y2 (direction OUTPUT))
     (port G2 (direction INPUT))
     (port Y3 (direction OUTPUT))
     (port A (direction INPUT))
     (port Y4 (direction OUTPUT))
     (port B (direction INPUT))
     (port Y5 (direction OUTPUT))
     (port C (direction INPUT))
     (port Y6 (direction OUTPUT)))
    (contents
     (instance U13
      (viewRef NetlistView
       (cellRef nand5b2
        (libraryRef OrCAD_LIB))) (designator "U13")
      (property Name (string "$1I126"))
      (property EDIForiginalOrigin (string "(pt 0 -100)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "nand5b2")))
     (instance U14
      (viewRef NetlistView
       (cellRef nand5b1
        (libraryRef OrCAD_LIB))) (designator "U14")
      (property Name (string "$1I131"))
      (property EDIForiginalOrigin (string "(pt 0 -100)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "nand5b1")))
     (instance U15
      (viewRef NetlistView
       (cellRef nor2
        (libraryRef OrCAD_LIB))) (designator "U15")
      (property Name (string "$1I140"))
      (property EDIForiginalOrigin (string "(pt 0 -50)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "nor2")))
     (instance U16
      (viewRef NetlistView
       (cellRef nand5b1
        (libraryRef OrCAD_LIB))) (designator "U16")
      (property Name (string "$1I130"))
      (property EDIForiginalOrigin (string "(pt 0 -100)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "nand5b1")))
     (instance U17
      (viewRef NetlistView
       (cellRef nand5
        (libraryRef OrCAD_LIB))) (designator "U17")
      (property Name (string "$1I133"))
      (property EDIForiginalOrigin (string "(pt 20 -100)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "nand5")))
     (instance U1
      (viewRef NetlistView
       (cellRef nand5b4
        (libraryRef OrCAD_LIB))) (designator "U1")
      (property Name (string "$1I118"))
      (property EDIForiginalOrigin (string "(pt 0 -100)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "nand5b4")))
     (instance U2
      (viewRef NetlistView
       (cellRef nand5b3
        (libraryRef OrCAD_LIB))) (designator "U2")
      (property Name (string "$1I119"))
      (property EDIForiginalOrigin (string "(pt 0 -100)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "nand5b3")))
     (instance U3
      (viewRef NetlistView
       (cellRef nand5b3
        (libraryRef OrCAD_LIB))) (designator "U3")
      (property Name (string "$1I120"))
      (property EDIForiginalOrigin (string "(pt 0 -100)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "nand5b3")))
     (instance U4
      (viewRef NetlistView
       (cellRef nand5b2
        (libraryRef OrCAD_LIB))) (designator "U4")
      (property Name (string "$1I123"))
      (property EDIForiginalOrigin (string "(pt 0 -100)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "nand5b2")))
     (instance U5
      (viewRef NetlistView
       (cellRef nand5b3
        (libraryRef OrCAD_LIB))) (designator "U5")
      (property Name (string "$1I121"))
      (property EDIForiginalOrigin (string "(pt 0 -100)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "nand5b3")))
     (instance U6
      (viewRef NetlistView
       (cellRef nand5b2
        (libraryRef OrCAD_LIB))) (designator "U6")
      (property Name (string "$1I124"))
      (property EDIForiginalOrigin (string "(pt 0 -100)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "nand5b2")))
     (instance U7
      (viewRef NetlistView
       (cellRef nand5b2
        (libraryRef OrCAD_LIB))) (designator "U7")
      (property Name (string "$1I125"))
      (property EDIForiginalOrigin (string "(pt 0 -100)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "nand5b2")))
     (instance U8
      (viewRef NetlistView
       (cellRef nand5b1
        (libraryRef OrCAD_LIB))) (designator "U8")
      (property Name (string "$1I129"))
      (property EDIForiginalOrigin (string "(pt 0 -100)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "nand5b1")))
     (instance U9
      (viewRef NetlistView
       (cellRef nand5b3
        (libraryRef OrCAD_LIB))) (designator "U9")
      (property Name (string "$1I122"))
      (property EDIForiginalOrigin (string "(pt 0 -100)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "nand5b3")))
     (instance U10
      (viewRef NetlistView
       (cellRef nand5b2
        (libraryRef OrCAD_LIB))) (designator "U10")
      (property Name (string "$1I128"))
      (property EDIForiginalOrigin (string "(pt 0 -100)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "nand5b2")))
     (instance U11
      (viewRef NetlistView
       (cellRef nand5b2
        (libraryRef OrCAD_LIB))) (designator "U11")
      (property Name (string "$1I127"))
      (property EDIForiginalOrigin (string "(pt 0 -100)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "nand5b2")))
     (instance U12
      (viewRef NetlistView
       (cellRef nand5b1
        (libraryRef OrCAD_LIB))) (designator "U12")
      (property Name (string "$1I132"))
      (property EDIForiginalOrigin (string "(pt 0 -100)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "nand5b1")))
     (net Y8
      (joined
       (portRef O (instanceRef U9))
       (portRef Y8))
      (property Name (string "Y8")))
     (net G1
      (joined
       (portRef I1 (instanceRef U15))
       (portRef G1))
      (property Name (string "G1")))
     (net Y9
      (joined
       (portRef O (instanceRef U10))
       (portRef Y9))
      (property Name (string "Y9")))
     (net C
      (joined
       (portRef I1 (instanceRef U17))
       (portRef I1 (instanceRef U1))
       (portRef I1 (instanceRef U2))
       (portRef I2 (instanceRef U3))
       (portRef I0 (instanceRef U4))
       (portRef I3 (instanceRef U5))
       (portRef I3 (instanceRef U6))
       (portRef I3 (instanceRef U7))
       (portRef I1 (instanceRef U8))
       (portRef I2 (instanceRef U9))
       (portRef I1 (instanceRef U10))
       (portRef I1 (instanceRef U11))
       (portRef I0 (instanceRef U12))
       (portRef I4 (instanceRef U13))
       (portRef I2 (instanceRef U14))
       (portRef I2 (instanceRef U16))
       (portRef C))
      (property Name (string "C")))
     (net Y0
      (joined
       (portRef O (instanceRef U1))
       (portRef Y0))
      (property Name (string "Y0")))
     (net Y11
      (joined
       (portRef O (instanceRef U12))
       (portRef Y11))
      (property Name (string "Y11")))
     (net A
      (joined
       (portRef I3 (instanceRef U17))
       (portRef I3 (instanceRef U1))
       (portRef I3 (instanceRef U2))
       (portRef I0 (instanceRef U3))
       (portRef I3 (instanceRef U4))
       (portRef I0 (instanceRef U5))
       (portRef I4 (instanceRef U6))
       (portRef I1 (instanceRef U7))
       (portRef I3 (instanceRef U8))
       (portRef I0 (instanceRef U9))
       (portRef I4 (instanceRef U10))
       (portRef I0 (instanceRef U11))
       (portRef I1 (instanceRef U12))
       (portRef I0 (instanceRef U13))
       (portRef I1 (instanceRef U14))
       (portRef I0 (instanceRef U16))
       (portRef A))
      (property Name (string "A")))
     (net Y1
      (joined
       (portRef O (instanceRef U2))
       (portRef Y1))
      (property Name (string "Y1")))
     (net D
      (joined
       (portRef I0 (instanceRef U17))
       (portRef I0 (instanceRef U1))
       (portRef I2 (instanceRef U2))
       (portRef I1 (instanceRef U3))
       (portRef I1 (instanceRef U4))
       (portRef I2 (instanceRef U5))
       (portRef I0 (instanceRef U6))
       (portRef I0 (instanceRef U7))
       (portRef I0 (instanceRef U8))
       (portRef I3 (instanceRef U9))
       (portRef I3 (instanceRef U10))
       (portRef I3 (instanceRef U11))
       (portRef I3 (instanceRef U12))
       (portRef I3 (instanceRef U13))
       (portRef I3 (instanceRef U14))
       (portRef I3 (instanceRef U16))
       (portRef D))
      (property Name (string "D")))
     (net Y12
      (joined
       (portRef O (instanceRef U13))
       (portRef Y12))
      (property Name (string "Y12")))
     (net B
      (joined
       (portRef I2 (instanceRef U17))
       (portRef I2 (instanceRef U1))
       (portRef I0 (instanceRef U2))
       (portRef I3 (instanceRef U3))
       (portRef I4 (instanceRef U4))
       (portRef I1 (instanceRef U5))
       (portRef I1 (instanceRef U6))
       (portRef I4 (instanceRef U7))
       (portRef I2 (instanceRef U8))
       (portRef I1 (instanceRef U9))
       (portRef I0 (instanceRef U10))
       (portRef I4 (instanceRef U11))
       (portRef I2 (instanceRef U12))
       (portRef I1 (instanceRef U13))
       (portRef I0 (instanceRef U14))
       (portRef I1 (instanceRef U16))
       (portRef B))
      (property Name (string "B")))
     (net Y2
      (joined
       (portRef O (instanceRef U3))
       (portRef Y2))
      (property Name (string "Y2")))
     (net Y14
      (joined
       (portRef O (instanceRef U16))
       (portRef Y14))
      (property Name (string "Y14")))
     (net Y3
      (joined
       (portRef O (instanceRef U4))
       (portRef Y3))
      (property Name (string "Y3")))
     (net N00473
      (joined
       (portRef O (instanceRef U15))
       (portRef I4 (instanceRef U16))
       (portRef I4 (instanceRef U1))
       (portRef I4 (instanceRef U2))
       (portRef I4 (instanceRef U3))
       (portRef I2 (instanceRef U4))
       (portRef I4 (instanceRef U5))
       (portRef I2 (instanceRef U6))
       (portRef I2 (instanceRef U7))
       (portRef I4 (instanceRef U8))
       (portRef I4 (instanceRef U9))
       (portRef I2 (instanceRef U10))
       (portRef I2 (instanceRef U11))
       (portRef I4 (instanceRef U12))
       (portRef I2 (instanceRef U13))
       (portRef I4 (instanceRef U14))
       (portRef I4 (instanceRef U17)))
      (property Name (string "N00473")))
     (net Y13
      (joined
       (portRef O (instanceRef U14))
       (portRef Y13))
      (property Name (string "Y13")))
     (net Y4
      (joined
       (portRef O (instanceRef U5))
       (portRef Y4))
      (property Name (string "Y4")))
     (net Y5
      (joined
       (portRef O (instanceRef U6))
       (portRef Y5))
      (property Name (string "Y5")))
     (net Y6
      (joined
       (portRef O (instanceRef U7))
       (portRef Y6))
      (property Name (string "Y6")))
     (net Y7
      (joined
       (portRef O (instanceRef U8))
       (portRef Y7))
      (property Name (string "Y7")))
     (net G2
      (joined
       (portRef I0 (instanceRef U15))
       (portRef G2))
      (property Name (string "G2")))
     (net Y15
      (joined
       (portRef O (instanceRef U17))
       (portRef Y15))
      (property Name (string "Y15")))
     (net Y10
      (joined
       (portRef O (instanceRef U11))
       (portRef Y10))
      (property Name (string "Y10")))))))
 (design x74_154
  (cellRef x74_154
   (libraryRef MAIN_LIB))))
