(edif comp2
 (edifVersion 2 0 0)
 (edifLevel 0)
 (keywordMap (keywordLevel 0))
 (status
  (written
   (timeStamp 1998 01 29 17 11 52)
   (program "CAPTURE.EXE" (Version "7.20.145"))
   (comment "Original data from OrCAD/CAPTURE schematic"))
  (comment "")
  (comment "January 29, 1998")
  (comment "G:\MANUFACTURER\XILINXM1\WORKINPROGRESS\XC3X00\COMP2.DSN")
  (comment "")
  (comment "")
  (comment "")
  (comment "")
  (comment "")
  (comment ""))
 (external OrCAD_LIB
  (edifLevel 0)
  (technology
   (numberDefinition
    (scale 1 1 (unit distance))))
  (cell xnor2
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port I0 (direction INPUT))
     (port I1 (direction INPUT))
     (port O (direction OUTPUT)))))
  (cell and2
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port I0 (direction INPUT))
     (port I1 (direction INPUT))
     (port O (direction OUTPUT))))))
 (library MAIN_LIB
  (edifLevel 0)
  (technology
   (numberDefinition
    (scale 1 1 (unit distance))))
  (cell comp2
   (cellType generic)
   (view NetlistView
    (viewType netlist)
    (interface
     (port A0 (direction INPUT))
     (port B1 (direction INPUT))
     (port A1 (direction INPUT))
     (port EQ (direction OUTPUT))
     (port B0 (direction INPUT)))
    (contents
     (instance U1
      (viewRef NetlistView
       (cellRef xnor2
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I31"))
      (property EDIForiginalOrigin (string "(pt 0 -50)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "xnor2"))
      (portInstance I0
       (property PINTYPE (string "IN")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))
       (property PARAM (string "INV"))))
     (instance U2
      (viewRef NetlistView
       (cellRef and2
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I35"))
      (property EDIForiginalOrigin (string "(pt 20 -50)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "and2"))
      (portInstance I0
       (property PINTYPE (string "IN")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))))
     (instance U3
      (viewRef NetlistView
       (cellRef xnor2
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I30"))
      (property EDIForiginalOrigin (string "(pt 0 -50)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "xnor2"))
      (portInstance I0
       (property PINTYPE (string "IN")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))
       (property PARAM (string "INV"))))
     (net AB0
      (joined
       (portRef O (instanceRef U1))
       (portRef I1 (instanceRef U2)))
      (property Name (string "AB0")))
     (net A0
      (joined
       (portRef I1 (instanceRef U1))
       (portRef A0))
      (property Name (string "A0")))
     (net AB1
      (joined
       (portRef O (instanceRef U3))
       (portRef I0 (instanceRef U2)))
      (property Name (string "AB1")))
     (net B0
      (joined
       (portRef I0 (instanceRef U1))
       (portRef B0))
      (property Name (string "B0")))
     (net B1
      (joined
       (portRef I0 (instanceRef U3))
       (portRef B1))
      (property Name (string "B1")))
     (net A1
      (joined
       (portRef I1 (instanceRef U3))
       (portRef A1))
      (property Name (string "A1")))
     (net EQ
      (joined
       (portRef O (instanceRef U2))
       (portRef EQ))
      (property Name (string "EQ")))))))
 (design comp2
  (cellRef comp2
   (libraryRef MAIN_LIB))))
