(edif obufe
 (edifVersion 2 0 0)
 (edifLevel 0)
 (keywordMap (keywordLevel 0))
 (status
  (written
   (timeStamp 1998 01 29 17 26 19)
   (program "CAPTURE.EXE" (Version "7.20.145"))
   (comment "Original data from OrCAD/CAPTURE schematic"))
  (comment "")
  (comment "January 29, 1998")
  (comment "G:\MANUFACTURER\XILINXM1\WORKINPROGRESS\XC3X00\OBUFE.DSN")
  (comment "")
  (comment "")
  (comment "")
  (comment "")
  (comment "")
  (comment ""))
 (external OrCAD_LIB
  (edifLevel 0)
  (technology
   (numberDefinition
    (scale 1 1 (unit distance))))
  (cell inv
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port I (direction INPUT))
     (port O (direction OUTPUT)))))
  (cell obuft
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port I (direction INPUT))
     (port O (direction OUTPUT))
     (port T (direction INPUT))))))
 (library MAIN_LIB
  (edifLevel 0)
  (technology
   (numberDefinition
    (scale 1 1 (unit distance))))
  (cell obufe
   (cellType generic)
   (view NetlistView
    (viewType netlist)
    (interface
     (port E (direction INPUT))
     (port I (direction INPUT))
     (port O (direction OUTPUT)))
    (contents
     (instance U1
      (viewRef NetlistView
       (cellRef inv
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I12"))
      (property EDIForiginalOrigin (string "(pt 20 -20)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "inv"))
      (portInstance I
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PARAM (string "INV"))
       (property PINTYPE (string "OUT"))))
     (instance U2
      (viewRef NetlistView
       (cellRef obuft
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I10"))
      (property EDIForiginalOrigin (string "(pt 20 -30)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "obuft"))
      (portInstance I
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT")))
      (portInstance T
       (property PINTYPE (string "IN"))))
     (net E
      (joined
       (portRef I (instanceRef U1))
       (portRef E))
      (property Name (string "E")))
     (net I
      (joined
       (portRef I (instanceRef U2))
       (portRef I))
      (property Name (string "I")))
     (net T
      (joined
       (portRef O (instanceRef U1))
       (portRef T (instanceRef U2)))
      (property Name (string "T")))
     (net O
      (joined
       (portRef O (instanceRef U2))
       (portRef O))
      (property Name (string "O")))))))
 (design obufe
  (cellRef obufe
   (libraryRef MAIN_LIB))))
