(edif add4x2
 (edifVersion 2 0 0)
 (edifLevel 0)
 (keywordMap (keywordLevel 0))
 (status
  (written
   (timeStamp 1998 01 29 19 34 54)
   (program "CAPTURE.EXE" (Version "7.20.145"))
   (comment "Original data from OrCAD/CAPTURE schematic"))
  (comment "")
  (comment "January 29, 1998")
  (comment "G:\MANUFACTURER\XILINXM1\WORKINPROGRESS\XC9500\ADD4X2.DSN")
  (comment "")
  (comment "")
  (comment "")
  (comment "")
  (comment "")
  (comment ""))
 (external OrCAD_LIB
  (edifLevel 0)
  (technology
   (numberDefinition
    (scale 1 1 (unit distance))))
  (cell and2
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port I0 (direction INPUT))
     (port I1 (direction INPUT))
     (port O (direction OUTPUT)))))
  (cell xor2
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port I0 (direction INPUT))
     (port I1 (direction INPUT))
     (port O (direction OUTPUT)))))
  (cell and3
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port I0 (direction INPUT))
     (port I1 (direction INPUT))
     (port I2 (direction INPUT))
     (port O (direction OUTPUT)))))
  (cell or4
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port I0 (direction INPUT))
     (port I1 (direction INPUT))
     (port I2 (direction INPUT))
     (port I3 (direction INPUT))
     (port O (direction OUTPUT)))))
  (cell and4
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port I0 (direction INPUT))
     (port I1 (direction INPUT))
     (port I2 (direction INPUT))
     (port I3 (direction INPUT))
     (port O (direction OUTPUT)))))
  (cell or2
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port I0 (direction INPUT))
     (port I1 (direction INPUT))
     (port O (direction OUTPUT)))))
  (cell or3
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port I0 (direction INPUT))
     (port I1 (direction INPUT))
     (port I2 (direction INPUT))
     (port O (direction OUTPUT)))))
  (cell or5
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port I0 (direction INPUT))
     (port I1 (direction INPUT))
     (port I2 (direction INPUT))
     (port I3 (direction INPUT))
     (port I4 (direction INPUT))
     (port O (direction OUTPUT)))))
  (cell and5
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port I0 (direction INPUT))
     (port I1 (direction INPUT))
     (port I2 (direction INPUT))
     (port I3 (direction INPUT))
     (port I4 (direction INPUT))
     (port O (direction OUTPUT)))))
  (cell GND
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port G (direction OUTPUT))))))
 (library MAIN_LIB
  (edifLevel 0)
  (technology
   (numberDefinition
    (scale 1 1 (unit distance))))
  (cell add4x2
   (cellType generic)
   (view NetlistView
    (viewType netlist)
    (interface
     (port A0 (direction INPUT))
     (port B1 (direction INPUT))
     (port S1 (direction OUTPUT))
     (port A1 (direction INPUT))
     (port B2 (direction INPUT))
     (port S2 (direction OUTPUT))
     (port A2 (direction INPUT))
     (port B3 (direction INPUT))
     (port S3 (direction OUTPUT))
     (port A3 (direction INPUT))
     (port CI (direction INPUT))
     (port CO (direction OUTPUT))
     (port B0 (direction INPUT))
     (port S0 (direction OUTPUT)))
    (contents
     (instance U13
      (viewRef NetlistView
       (cellRef and2
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I196"))
      (property EDIForiginalOrigin (string "(pt 20 -50)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "and2"))
      (portInstance I0
       (property PINTYPE (string "IN")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))))
     (instance U14
      (viewRef NetlistView
       (cellRef xor2
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I171"))
      (property EDIForiginalOrigin (string "(pt 0 -50)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "xor2"))
      (portInstance I0
       (property PINTYPE (string "IN")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))))
     (instance U15
      (viewRef NetlistView
       (cellRef and3
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I195"))
      (property EDIForiginalOrigin (string "(pt 20 -60)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "and3"))
      (portInstance I0
       (property PINTYPE (string "IN")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance I2
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))))
     (instance U16
      (viewRef NetlistView
       (cellRef or4
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I187"))
      (property EDIForiginalOrigin (string "(pt 0 -80)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "or4"))
      (portInstance I0
       (property PINTYPE (string "IN")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance I2
       (property PINTYPE (string "IN")))
      (portInstance I3
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))))
     (instance U17
      (viewRef NetlistView
       (cellRef xor2
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I210"))
      (property EDIForiginalOrigin (string "(pt 0 -50)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "xor2"))
      (portInstance I0
       (property PINTYPE (string "IN")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))))
     (instance U18
      (viewRef NetlistView
       (cellRef and4
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I194"))
      (property EDIForiginalOrigin (string "(pt 20 -80)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "and4"))
      (portInstance I0
       (property PINTYPE (string "IN")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance I2
       (property PINTYPE (string "IN")))
      (portInstance I3
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))))
     (instance U19
      (viewRef NetlistView
       (cellRef xor2
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I170"))
      (property EDIForiginalOrigin (string "(pt 0 -50)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "xor2"))
      (portInstance I0
       (property PINTYPE (string "IN")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))))
     (instance U1
      (viewRef NetlistView
       (cellRef xor2
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I208"))
      (property EDIForiginalOrigin (string "(pt 0 -50)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "xor2"))
      (portInstance I0
       (property PINTYPE (string "IN")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))))
     (instance U2
      (viewRef NetlistView
       (cellRef and2
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I201"))
      (property EDIForiginalOrigin (string "(pt 20 -50)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "and2"))
      (portInstance I0
       (property PINTYPE (string "IN")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))))
     (instance U3
      (viewRef NetlistView
       (cellRef xor2
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I209"))
      (property EDIForiginalOrigin (string "(pt 0 -50)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "xor2"))
      (portInstance I0
       (property PINTYPE (string "IN")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))))
     (instance U4
      (viewRef NetlistView
       (cellRef or2
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I185"))
      (property EDIForiginalOrigin (string "(pt 0 -50)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "or2"))
      (portInstance I0
       (property PINTYPE (string "IN")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))))
     (instance U5
      (viewRef NetlistView
       (cellRef and2
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I200"))
      (property EDIForiginalOrigin (string "(pt 20 -50)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "and2"))
      (portInstance I0
       (property PINTYPE (string "IN")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))))
     (instance U20
      (viewRef NetlistView
       (cellRef and4
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I193"))
      (property EDIForiginalOrigin (string "(pt 20 -80)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "and4"))
      (portInstance I0
       (property PINTYPE (string "IN")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance I2
       (property PINTYPE (string "IN")))
      (portInstance I3
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))))
     (instance U21
      (viewRef NetlistView
       (cellRef and2
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I192"))
      (property EDIForiginalOrigin (string "(pt 20 -50)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "and2"))
      (portInstance I0
       (property PINTYPE (string "IN")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))))
     (instance U6
      (viewRef NetlistView
       (cellRef and2
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I199"))
      (property EDIForiginalOrigin (string "(pt 20 -50)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "and2"))
      (portInstance I0
       (property PINTYPE (string "IN")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))))
     (instance U22
      (viewRef NetlistView
       (cellRef xor2
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I169"))
      (property EDIForiginalOrigin (string "(pt 0 -50)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "xor2"))
      (portInstance I0
       (property PINTYPE (string "IN")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))))
     (instance U7
      (viewRef NetlistView
       (cellRef xor2
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I206"))
      (property EDIForiginalOrigin (string "(pt 0 -50)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "xor2"))
      (portInstance I0
       (property PINTYPE (string "IN")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))))
     (instance U23
      (viewRef NetlistView
       (cellRef and3
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I191"))
      (property EDIForiginalOrigin (string "(pt 20 -60)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "and3"))
      (portInstance I0
       (property PINTYPE (string "IN")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance I2
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))))
     (instance U8
      (viewRef NetlistView
       (cellRef and3
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I198"))
      (property EDIForiginalOrigin (string "(pt 20 -60)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "and3"))
      (portInstance I0
       (property PINTYPE (string "IN")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance I2
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))))
     (instance U9
      (viewRef NetlistView
       (cellRef or3
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I186"))
      (property EDIForiginalOrigin (string "(pt 0 -60)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "or3"))
      (portInstance I0
       (property PINTYPE (string "IN")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance I2
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))))
     (instance U24
      (viewRef NetlistView
       (cellRef or5
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I207"))
      (property EDIForiginalOrigin (string "(pt 0 -100)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "or5"))
      (portInstance I0
       (property PINTYPE (string "IN")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance I2
       (property PINTYPE (string "IN")))
      (portInstance I3
       (property PINTYPE (string "IN")))
      (portInstance I4
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))))
     (instance U25
      (viewRef NetlistView
       (cellRef and4
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I190"))
      (property EDIForiginalOrigin (string "(pt 20 -80)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "and4"))
      (portInstance I0
       (property PINTYPE (string "IN")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance I2
       (property PINTYPE (string "IN")))
      (portInstance I3
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))))
     (instance U26
      (viewRef NetlistView
       (cellRef and5
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I189"))
      (property EDIForiginalOrigin (string "(pt 20 -100)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "and5"))
      (portInstance I0
       (property PINTYPE (string "IN")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance I2
       (property PINTYPE (string "IN")))
      (portInstance I3
       (property PINTYPE (string "IN")))
      (portInstance I4
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))))
     (instance U27
      (viewRef NetlistView
       (cellRef xor2
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I168"))
      (property EDIForiginalOrigin (string "(pt 0 -50)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "xor2"))
      (portInstance I0
       (property PINTYPE (string "IN")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))))
     (instance U28
      (viewRef NetlistView
       (cellRef and5
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I188"))
      (property EDIForiginalOrigin (string "(pt 20 -100)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "and5"))
      (portInstance I0
       (property PINTYPE (string "IN")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance I2
       (property PINTYPE (string "IN")))
      (portInstance I3
       (property PINTYPE (string "IN")))
      (portInstance I4
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))))
     (instance U10
      (viewRef NetlistView
       (cellRef or2
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I211"))
      (property EDIForiginalOrigin (string "(pt 0 -50)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "or2"))
      (portInstance I0
       (property PINTYPE (string "IN")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))))
     (instance U11
      (viewRef NetlistView
       (cellRef and3
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I197"))
      (property EDIForiginalOrigin (string "(pt 20 -60)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "and3"))
      (portInstance I0
       (property PINTYPE (string "IN")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance I2
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))))
     (instance U12
      (viewRef NetlistView
       (cellRef GND
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I212"))
      (property EDIForiginalOrigin (string "(pt 10 -30)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "GND"))
      (portInstance G
       (property PINTYPE (string "OUT"))))
     (net N00547
      (joined
       (portRef G (instanceRef U12))
       (portRef I0 (instanceRef U10)))
      (property Name (string "N00547")))
     (net X2
      (joined
       (portRef O (instanceRef U22))
       (portRef I2 (instanceRef U15))
       (portRef I3 (instanceRef U18))
       (portRef I3 (instanceRef U20))
       (portRef I2 (instanceRef U25))
       (portRef I3 (instanceRef U26))
       (portRef I3 (instanceRef U28))
       (portRef I1 (instanceRef U7)))
      (property Name (string "X2")))
     (net N00500
      (joined
       (portRef O (instanceRef U15))
       (portRef I2 (instanceRef U16)))
      (property Name (string "N00500")))
     (net N00473
      (joined
       (portRef O (instanceRef U21))
       (portRef I4 (instanceRef U24)))
      (property Name (string "N00473")))
     (net A1
      (joined
       (portRef I1 (instanceRef U19))
       (portRef I1 (instanceRef U6))
       (portRef I1 (instanceRef U25))
       (portRef I1 (instanceRef U15))
       (portRef A1))
      (property Name (string "A1")))
     (net N00466
      (joined
       (portRef O (instanceRef U23))
       (portRef I3 (instanceRef U24)))
      (property Name (string "N00466")))
     (net A3
      (joined
       (portRef I1 (instanceRef U21))
       (portRef I1 (instanceRef U27))
       (portRef A3))
      (property Name (string "A3")))
     (net N00459
      (joined
       (portRef O (instanceRef U28))
       (portRef I0 (instanceRef U24)))
      (property Name (string "N00459")))
     (net X1
      (joined
       (portRef O (instanceRef U19))
       (portRef I2 (instanceRef U8))
       (portRef I2 (instanceRef U11))
       (portRef I2 (instanceRef U18))
       (portRef I2 (instanceRef U20))
       (portRef I2 (instanceRef U26))
       (portRef I2 (instanceRef U28))
       (portRef I1 (instanceRef U3)))
      (property Name (string "X1")))
     (net CO
      (joined
       (portRef O (instanceRef U24))
       (portRef CO))
      (property Name (string "CO")))
     (net N00452
      (joined
       (portRef O (instanceRef U26))
       (portRef I1 (instanceRef U24)))
      (property Name (string "N00452")))
     (net S2
      (joined
       (portRef O (instanceRef U7))
       (portRef S2))
      (property Name (string "S2")))
     (net S1
      (joined
       (portRef O (instanceRef U3))
       (portRef S1))
      (property Name (string "S1")))
     (net S3
      (joined
       (portRef O (instanceRef U17))
       (portRef S3))
      (property Name (string "S3")))
     (net S0
      (joined
       (portRef O (instanceRef U1))
       (portRef S0))
      (property Name (string "S0")))
     (net B2
      (joined
       (portRef I0 (instanceRef U13))
       (portRef I0 (instanceRef U23))
       (portRef I0 (instanceRef U22))
       (portRef B2))
      (property Name (string "B2")))
     (net CI
      (joined
       (portRef I1 (instanceRef U10))
       (portRef CI))
      (property Name (string "CI")))
     (net A0
      (joined
       (portRef I1 (instanceRef U14))
       (portRef I1 (instanceRef U2))
       (portRef I1 (instanceRef U26))
       (portRef I1 (instanceRef U18))
       (portRef I1 (instanceRef U8))
       (portRef A0))
      (property Name (string "A0")))
     (net N00534
      (joined
       (portRef O (instanceRef U4))
       (portRef I0 (instanceRef U3)))
      (property Name (string "N00534")))
     (net CI_OR0
      (joined
       (portRef O (instanceRef U10))
       (portRef I0 (instanceRef U5))
       (portRef I0 (instanceRef U11))
       (portRef I0 (instanceRef U20))
       (portRef I0 (instanceRef U28))
       (portRef I1 (instanceRef U1)))
      (property Name (string "CI_OR0")))
     (net N00531
      (joined
       (portRef O (instanceRef U8))
       (portRef I1 (instanceRef U9)))
      (property Name (string "N00531")))
     (net B1
      (joined
       (portRef I0 (instanceRef U19))
       (portRef I0 (instanceRef U6))
       (portRef I0 (instanceRef U25))
       (portRef I0 (instanceRef U15))
       (portRef B1))
      (property Name (string "B1")))
     (net N00524
      (joined
       (portRef O (instanceRef U6))
       (portRef I2 (instanceRef U9)))
      (property Name (string "N00524")))
     (net N00493
      (joined
       (portRef O (instanceRef U20))
       (portRef I0 (instanceRef U16)))
      (property Name (string "N00493")))
     (net B3
      (joined
       (portRef I0 (instanceRef U21))
       (portRef I0 (instanceRef U27))
       (portRef B3))
      (property Name (string "B3")))
     (net X3
      (joined
       (portRef O (instanceRef U27))
       (portRef I2 (instanceRef U23))
       (portRef I3 (instanceRef U25))
       (portRef I4 (instanceRef U26))
       (portRef I4 (instanceRef U28))
       (portRef I1 (instanceRef U17)))
      (property Name (string "X3")))
     (net N00517
      (joined
       (portRef O (instanceRef U11))
       (portRef I0 (instanceRef U9)))
      (property Name (string "N00517")))
     (net N00514
      (joined
       (portRef O (instanceRef U9))
       (portRef I0 (instanceRef U7)))
      (property Name (string "N00514")))
     (net N00486
      (joined
       (portRef O (instanceRef U18))
       (portRef I1 (instanceRef U16)))
      (property Name (string "N00486")))
     (net X0
      (joined
       (portRef O (instanceRef U14))
       (portRef I1 (instanceRef U5))
       (portRef I1 (instanceRef U11))
       (portRef I1 (instanceRef U20))
       (portRef I1 (instanceRef U28))
       (portRef I0 (instanceRef U1)))
      (property Name (string "X0")))
     (net N00507
      (joined
       (portRef O (instanceRef U13))
       (portRef I3 (instanceRef U16)))
      (property Name (string "N00507")))
     (net N00483
      (joined
       (portRef O (instanceRef U16))
       (portRef I0 (instanceRef U17)))
      (property Name (string "N00483")))
     (net N00480
      (joined
       (portRef O (instanceRef U25))
       (portRef I2 (instanceRef U24)))
      (property Name (string "N00480")))
     (net B0
      (joined
       (portRef I0 (instanceRef U14))
       (portRef I0 (instanceRef U2))
       (portRef I0 (instanceRef U26))
       (portRef I0 (instanceRef U18))
       (portRef I0 (instanceRef U8))
       (portRef B0))
      (property Name (string "B0")))
     (net N00544
      (joined
       (portRef O (instanceRef U2))
       (portRef I1 (instanceRef U4)))
      (property Name (string "N00544")))
     (net A2
      (joined
       (portRef I1 (instanceRef U22))
       (portRef I1 (instanceRef U13))
       (portRef I1 (instanceRef U23))
       (portRef A2))
      (property Name (string "A2")))
     (net N00537
      (joined
       (portRef O (instanceRef U5))
       (portRef I0 (instanceRef U4)))
      (property Name (string "N00537")))))))
 (design add4x2
  (cellRef add4x2
   (libraryRef MAIN_LIB))))
