(edif compm4
 (edifVersion 2 0 0)
 (edifLevel 0)
 (keywordMap (keywordLevel 0))
 (status
  (written
   (timeStamp 1998 01 29 19 28 06)
   (program "CAPTURE.EXE" (Version "7.20.145"))
   (comment "Original data from OrCAD/CAPTURE schematic"))
  (comment "")
  (comment "January 29, 1998")
  (comment "G:\MANUFACTURER\XILINXM1\WORKINPROGRESS\XC9500\COMPM4.DSN")
  (comment "")
  (comment "")
  (comment "")
  (comment "")
  (comment "")
  (comment ""))
 (external OrCAD_LIB
  (edifLevel 0)
  (technology
   (numberDefinition
    (scale 1 1 (unit distance))))
  (cell and2b1
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port I0 (direction INPUT))
     (port I1 (direction INPUT))
     (port O (direction OUTPUT)))))
  (cell and2
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port I0 (direction INPUT))
     (port I1 (direction INPUT))
     (port O (direction OUTPUT)))))
  (cell or2
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port I0 (direction INPUT))
     (port I1 (direction INPUT))
     (port O (direction OUTPUT)))))
  (cell or2b1
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port I0 (direction INPUT))
     (port I1 (direction INPUT))
     (port O (direction OUTPUT))))))
 (library MAIN_LIB
  (edifLevel 0)
  (technology
   (numberDefinition
    (scale 1 1 (unit distance))))
  (cell compm4
   (cellType generic)
   (view NetlistView
    (viewType netlist)
    (interface
     (port B1 (direction INPUT))
     (port A0 (direction INPUT))
     (port A1 (direction INPUT))
     (port B2 (direction INPUT))
     (port B3 (direction INPUT))
     (port A2 (direction INPUT))
     (port A3 (direction INPUT))
     (port LT (direction OUTPUT))
     (port GT (direction OUTPUT))
     (port B0 (direction INPUT)))
    (contents
     (instance U13
      (viewRef NetlistView
       (cellRef and2b1
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I353"))
      (property EDIForiginalOrigin (string "(pt 0 -50)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "and2b1"))
      (portInstance I0
       (property PINTYPE (string "IN"))
       (property PARAM (string "INV")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))))
     (instance U14
      (viewRef NetlistView
       (cellRef and2b1
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I548"))
      (property EDIForiginalOrigin (string "(pt 0 -50)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "and2b1"))
      (portInstance I0
       (property PINTYPE (string "IN"))
       (property PARAM (string "INV")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))))
     (instance U15
      (viewRef NetlistView
       (cellRef and2
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I553"))
      (property EDIForiginalOrigin (string "(pt 20 -50)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "and2"))
      (portInstance I0
       (property PINTYPE (string "IN")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))))
     (instance U16
      (viewRef NetlistView
       (cellRef or2
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I554"))
      (property EDIForiginalOrigin (string "(pt 0 -50)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "or2"))
      (portInstance I0
       (property PINTYPE (string "IN")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))))
     (instance U17
      (viewRef NetlistView
       (cellRef or2b1
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I543"))
      (property EDIForiginalOrigin (string "(pt 0 -50)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "or2b1"))
      (portInstance I0
       (property PINTYPE (string "IN"))
       (property PARAM (string "INV")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))))
     (instance U18
      (viewRef NetlistView
       (cellRef and2b1
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I542"))
      (property EDIForiginalOrigin (string "(pt 0 -50)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "and2b1"))
      (portInstance I0
       (property PINTYPE (string "IN"))
       (property PARAM (string "INV")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))))
     (instance U19
      (viewRef NetlistView
       (cellRef and2
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I592"))
      (property EDIForiginalOrigin (string "(pt 20 -50)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "and2"))
      (portInstance I0
       (property PINTYPE (string "IN")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))))
     (instance U1
      (viewRef NetlistView
       (cellRef and2b1
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I318"))
      (property EDIForiginalOrigin (string "(pt 0 -50)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "and2b1"))
      (portInstance I0
       (property PINTYPE (string "IN"))
       (property PARAM (string "INV")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))))
     (instance U2
      (viewRef NetlistView
       (cellRef and2
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I319"))
      (property EDIForiginalOrigin (string "(pt 20 -50)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "and2"))
      (portInstance I0
       (property PINTYPE (string "IN")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))))
     (instance U3
      (viewRef NetlistView
       (cellRef or2
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I320"))
      (property EDIForiginalOrigin (string "(pt 0 -50)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "or2"))
      (portInstance I0
       (property PINTYPE (string "IN")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))))
     (instance U4
      (viewRef NetlistView
       (cellRef or2b1
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I325"))
      (property EDIForiginalOrigin (string "(pt 0 -50)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "or2b1"))
      (portInstance I0
       (property PINTYPE (string "IN"))
       (property PARAM (string "INV")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))))
     (instance U20
      (viewRef NetlistView
       (cellRef or2b1
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I538"))
      (property EDIForiginalOrigin (string "(pt 0 -50)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "or2b1"))
      (portInstance I0
       (property PINTYPE (string "IN"))
       (property PARAM (string "INV")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))))
     (instance U5
      (viewRef NetlistView
       (cellRef and2b1
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I330"))
      (property EDIForiginalOrigin (string "(pt 0 -50)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "and2b1"))
      (portInstance I0
       (property PINTYPE (string "IN"))
       (property PARAM (string "INV")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))))
     (instance U21
      (viewRef NetlistView
       (cellRef or2
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I537"))
      (property EDIForiginalOrigin (string "(pt 0 -50)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "or2"))
      (portInstance I0
       (property PINTYPE (string "IN")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))))
     (instance U6
      (viewRef NetlistView
       (cellRef and2
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I342"))
      (property EDIForiginalOrigin (string "(pt 20 -50)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "and2"))
      (portInstance I0
       (property PINTYPE (string "IN")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))))
     (instance U22
      (viewRef NetlistView
       (cellRef and2b1
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I539"))
      (property EDIForiginalOrigin (string "(pt 0 -50)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "and2b1"))
      (portInstance I0
       (property PINTYPE (string "IN"))
       (property PARAM (string "INV")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))))
     (instance U7
      (viewRef NetlistView
       (cellRef or2b1
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I340"))
      (property EDIForiginalOrigin (string "(pt 0 -50)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "or2b1"))
      (portInstance I0
       (property PINTYPE (string "IN"))
       (property PARAM (string "INV")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))))
     (instance U23
      (viewRef NetlistView
       (cellRef and2
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I528"))
      (property EDIForiginalOrigin (string "(pt 20 -50)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "and2"))
      (portInstance I0
       (property PINTYPE (string "IN")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))))
     (instance U8
      (viewRef NetlistView
       (cellRef or2
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I346"))
      (property EDIForiginalOrigin (string "(pt 0 -50)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "or2"))
      (portInstance I0
       (property PINTYPE (string "IN")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))))
     (instance U24
      (viewRef NetlistView
       (cellRef or2b1
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I533"))
      (property EDIForiginalOrigin (string "(pt 0 -50)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "or2b1"))
      (portInstance I0
       (property PINTYPE (string "IN"))
       (property PARAM (string "INV")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))))
     (instance U9
      (viewRef NetlistView
       (cellRef and2b1
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I341"))
      (property EDIForiginalOrigin (string "(pt 0 -50)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "and2b1"))
      (portInstance I0
       (property PINTYPE (string "IN"))
       (property PARAM (string "INV")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))))
     (instance U25
      (viewRef NetlistView
       (cellRef or2
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I557"))
      (property EDIForiginalOrigin (string "(pt 0 -50)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "or2"))
      (portInstance I0
       (property PINTYPE (string "IN")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))))
     (instance U26
      (viewRef NetlistView
       (cellRef and2b1
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I532"))
      (property EDIForiginalOrigin (string "(pt 0 -50)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "and2b1"))
      (portInstance I0
       (property PINTYPE (string "IN"))
       (property PARAM (string "INV")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))))
     (instance U10
      (viewRef NetlistView
       (cellRef and2
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I359"))
      (property EDIForiginalOrigin (string "(pt 20 -50)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "and2"))
      (portInstance I0
       (property PINTYPE (string "IN")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))))
     (instance U11
      (viewRef NetlistView
       (cellRef or2b1
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I354"))
      (property EDIForiginalOrigin (string "(pt 0 -50)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "or2b1"))
      (portInstance I0
       (property PINTYPE (string "IN"))
       (property PARAM (string "INV")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))))
     (instance U12
      (viewRef NetlistView
       (cellRef or2
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I356"))
      (property EDIForiginalOrigin (string "(pt 0 -50)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "or2"))
      (portInstance I0
       (property PINTYPE (string "IN")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))))
     (net N00686
      (joined
       (portRef O (instanceRef U22))
       (portRef I0 (instanceRef U21)))
      (property Name (string "N00686")))
     (net GT
      (joined
       (portRef O (instanceRef U25))
       (portRef GT))
      (property Name (string "GT")))
     (net N00735
      (joined
       (portRef O (instanceRef U19))
       (portRef I1 (instanceRef U21)))
      (property Name (string "N00735")))
     (net N00631
      (joined
       (portRef O (instanceRef U9))
       (portRef I0 (instanceRef U8)))
      (property Name (string "N00631")))
     (net N00624
      (joined
       (portRef O (instanceRef U11))
       (portRef I0 (instanceRef U10)))
      (property Name (string "N00624")))
     (net N00589
      (joined
       (portRef O (instanceRef U10))
       (portRef I1 (instanceRef U12)))
      (property Name (string "N00589")))
     (net B3
      (joined
       (portRef I1 (instanceRef U11))
       (portRef I1 (instanceRef U13))
       (portRef I0 (instanceRef U24))
       (portRef I0 (instanceRef U26))
       (portRef B3))
      (property Name (string "B3")))
     (net B0
      (joined
       (portRef I1 (instanceRef U1))
       (portRef I0 (instanceRef U14))
       (portRef B0))
      (property Name (string "B0")))
     (net N00728
      (joined
       (portRef O (instanceRef U16))
       (portRef I1 (instanceRef U19)))
      (property Name (string "N00728")))
     (net N00721
      (joined
       (portRef O (instanceRef U23))
       (portRef I1 (instanceRef U25)))
      (property Name (string "N00721")))
     (net N00700
      (joined
       (portRef O (instanceRef U24))
       (portRef I0 (instanceRef U23)))
      (property Name (string "N00700")))
     (net N00638
      (joined
       (portRef O (instanceRef U2))
       (portRef I1 (instanceRef U3)))
      (property Name (string "N00638")))
     (net N00672
      (joined
       (portRef O (instanceRef U18))
       (portRef I0 (instanceRef U16)))
      (property Name (string "N00672")))
     (net N00652
      (joined
       (portRef O (instanceRef U4))
       (portRef I0 (instanceRef U2)))
      (property Name (string "N00652")))
     (net N00679
      (joined
       (portRef O (instanceRef U15))
       (portRef I1 (instanceRef U16)))
      (property Name (string "N00679")))
     (net N00693
      (joined
       (portRef O (instanceRef U26))
       (portRef I0 (instanceRef U25)))
      (property Name (string "N00693")))
     (net A2
      (joined
       (portRef I0 (instanceRef U7))
       (portRef I0 (instanceRef U9))
       (portRef I1 (instanceRef U20))
       (portRef I1 (instanceRef U22))
       (portRef A2))
      (property Name (string "A2")))
     (net N00662
      (joined
       (portRef O (instanceRef U14))
       (portRef I1 (instanceRef U15)))
      (property Name (string "N00662")))
     (net N00610
      (joined
       (portRef O (instanceRef U3))
       (portRef I1 (instanceRef U6)))
      (property Name (string "N00610")))
     (net A1
      (joined
       (portRef I0 (instanceRef U4))
       (portRef I0 (instanceRef U5))
       (portRef I1 (instanceRef U17))
       (portRef I1 (instanceRef U18))
       (portRef A1))
      (property Name (string "A1")))
     (net N00707
      (joined
       (portRef O (instanceRef U20))
       (portRef I0 (instanceRef U19)))
      (property Name (string "N00707")))
     (net N00603
      (joined
       (portRef O (instanceRef U6))
       (portRef I1 (instanceRef U8)))
      (property Name (string "N00603")))
     (net N00659
      (joined
       (portRef O (instanceRef U1))
       (portRef I1 (instanceRef U2)))
      (property Name (string "N00659")))
     (net A0
      (joined
       (portRef I0 (instanceRef U1))
       (portRef I1 (instanceRef U14))
       (portRef A0))
      (property Name (string "A0")))
     (net B1
      (joined
       (portRef I1 (instanceRef U4))
       (portRef I1 (instanceRef U5))
       (portRef I0 (instanceRef U17))
       (portRef I0 (instanceRef U18))
       (portRef B1))
      (property Name (string "B1")))
     (net N00617
      (joined
       (portRef O (instanceRef U7))
       (portRef I0 (instanceRef U6)))
      (property Name (string "N00617")))
     (net B2
      (joined
       (portRef I1 (instanceRef U7))
       (portRef I1 (instanceRef U9))
       (portRef I0 (instanceRef U20))
       (portRef I0 (instanceRef U22))
       (portRef B2))
      (property Name (string "B2")))
     (net N00461
      (joined
       (portRef O (instanceRef U13))
       (portRef I0 (instanceRef U12)))
      (property Name (string "N00461")))
     (net N00714
      (joined
       (portRef O (instanceRef U21))
       (portRef I1 (instanceRef U23)))
      (property Name (string "N00714")))
     (net LT
      (joined
       (portRef O (instanceRef U12))
       (portRef LT))
      (property Name (string "LT")))
     (net N00645
      (joined
       (portRef O (instanceRef U5))
       (portRef I0 (instanceRef U3)))
      (property Name (string "N00645")))
     (net N00596
      (joined
       (portRef O (instanceRef U8))
       (portRef I1 (instanceRef U10)))
      (property Name (string "N00596")))
     (net N00665
      (joined
       (portRef O (instanceRef U17))
       (portRef I0 (instanceRef U15)))
      (property Name (string "N00665")))
     (net A3
      (joined
       (portRef I0 (instanceRef U11))
       (portRef I0 (instanceRef U13))
       (portRef I1 (instanceRef U24))
       (portRef I1 (instanceRef U26))
       (portRef A3))
      (property Name (string "A3")))))))
 (design compm4
  (cellRef compm4
   (libraryRef MAIN_LIB))))
