(edif ofde
 (edifVersion 2 0 0)
 (edifLevel 0)
 (keywordMap (keywordLevel 0))
 (status
  (written
   (timeStamp 1998 01 29 19 58 08)
   (program "CAPTURE.EXE" (Version "7.20.145"))
   (comment "Original data from OrCAD/CAPTURE schematic"))
  (comment "")
  (comment "January 29, 1998")
  (comment "G:\MANUFACTURER\XILINXM1\WORKINPROGRESS\XC9500\OFDE.DSN")
  (comment "")
  (comment "")
  (comment "")
  (comment "")
  (comment "")
  (comment ""))
 (external OrCAD_LIB
  (edifLevel 0)
  (technology
   (numberDefinition
    (scale 1 1 (unit distance))))
  (cell inv
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port I (direction INPUT))
     (port O (direction OUTPUT)))))
  (cell obuft
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port I (direction INPUT))
     (port O (direction OUTPUT))
     (port T (direction INPUT)))))
  (cell fd
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port C (direction INPUT))
     (port D (direction INPUT))
     (port Q (direction OUTPUT))))))
 (library MAIN_LIB
  (edifLevel 0)
  (technology
   (numberDefinition
    (scale 1 1 (unit distance))))
  (cell ofde
   (cellType generic)
   (view NetlistView
    (viewType netlist)
    (interface
     (port D (direction INPUT))
     (port E (direction INPUT))
     (port O (direction OUTPUT))
     (port C (direction INPUT)))
    (contents
     (instance U1
      (viewRef NetlistView
       (cellRef inv
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I80"))
      (property EDIForiginalOrigin (string "(pt 20 -20)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "inv"))
      (portInstance I
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))
       (property PARAM (string "INV"))))
     (instance U2
      (viewRef NetlistView
       (cellRef obuft
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I81"))
      (property EDIForiginalOrigin (string "(pt 20 -30)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "obuft"))
      (portInstance I
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT")))
      (portInstance T
       (property PINTYPE (string "IN"))))
     (instance U3
      (viewRef NetlistView
       (cellRef fd
        (libraryRef OrCAD_LIB)))
      (property Name (string "O"))
      (property EDIForiginalOrigin (string "(pt 20 -100)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "fd"))
      (portInstance C
       (property PINTYPE (string "IN")))
      (portInstance D
       (property PINTYPE (string "IN")))
      (portInstance Q
       (property PINTYPE (string "OUT"))))
     (net D
      (joined
       (portRef D (instanceRef U3))
       (portRef D))
      (property Name (string "D")))
     (net E
      (joined
       (portRef I (instanceRef U1))
       (portRef E))
      (property Name (string "E")))
     (net O
      (joined
       (portRef O (instanceRef U2))
       (portRef O))
      (property Name (string "O")))
     (net N00391
      (joined
       (portRef O (instanceRef U1))
       (portRef T (instanceRef U2)))
      (property Name (string "N00391")))
     (net C
      (joined
       (portRef C (instanceRef U3))
       (portRef C))
      (property Name (string "C")))
     (net N00384
      (joined
       (portRef Q (instanceRef U3))
       (portRef I (instanceRef U2)))
      (property Name (string "N00384")))))))
 (design ofde
  (cellRef ofde
   (libraryRef MAIN_LIB))))
