(edif ofdt
 (edifVersion 2 0 0)
 (edifLevel 0)
 (keywordMap (keywordLevel 0))
 (status
  (written
   (timeStamp 1998 01 29 19 58 40)
   (program "CAPTURE.EXE" (Version "7.20.145"))
   (comment "Original data from OrCAD/CAPTURE schematic"))
  (comment "")
  (comment "January 29, 1998")
  (comment "G:\MANUFACTURER\XILINXM1\WORKINPROGRESS\XC9500\OFDT.DSN")
  (comment "")
  (comment "")
  (comment "")
  (comment "")
  (comment "")
  (comment ""))
 (external OrCAD_LIB
  (edifLevel 0)
  (technology
   (numberDefinition
    (scale 1 1 (unit distance))))
  (cell obuft
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port I (direction INPUT))
     (port O (direction OUTPUT))
     (port T (direction INPUT)))))
  (cell fd
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port C (direction INPUT))
     (port D (direction INPUT))
     (port Q (direction OUTPUT))))))
 (library MAIN_LIB
  (edifLevel 0)
  (technology
   (numberDefinition
    (scale 1 1 (unit distance))))
  (cell ofdt
   (cellType generic)
   (view NetlistView
    (viewType netlist)
    (interface
     (port D (direction INPUT))
     (port O (direction OUTPUT))
     (port T (direction INPUT))
     (port C (direction INPUT)))
    (contents
     (instance U1
      (viewRef NetlistView
       (cellRef obuft
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I78"))
      (property EDIForiginalOrigin (string "(pt 20 -30)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "obuft"))
      (portInstance I
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT")))
      (portInstance T
       (property PINTYPE (string "IN"))))
     (instance U2
      (viewRef NetlistView
       (cellRef fd
        (libraryRef OrCAD_LIB)))
      (property Name (string "O"))
      (property EDIForiginalOrigin (string "(pt 20 -100)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "fd"))
      (portInstance C
       (property PINTYPE (string "IN")))
      (portInstance D
       (property PINTYPE (string "IN")))
      (portInstance Q
       (property PINTYPE (string "OUT"))))
     (net O
      (joined
       (portRef O (instanceRef U1))
       (portRef O))
      (property Name (string "O")))
     (net N00386
      (joined
       (portRef Q (instanceRef U2))
       (portRef I (instanceRef U1)))
      (property Name (string "N00386")))
     (net C
      (joined
       (portRef C (instanceRef U2))
       (portRef C))
      (property Name (string "C")))
     (net T
      (joined
       (portRef T (instanceRef U1))
       (portRef T))
      (property Name (string "T")))
     (net D
      (joined
       (portRef D (instanceRef U2))
       (portRef D))
      (property Name (string "D")))))))
 (design ofdt
  (cellRef ofdt
   (libraryRef MAIN_LIB))))
