(edif sr8cled
 (edifVersion 2 0 0)
 (edifLevel 0)
 (keywordMap (keywordLevel 0))
 (status
  (written
   (timeStamp 1998 01 29 20 07 45)
   (program "CAPTURE.EXE" (Version "7.20.145"))
   (comment "Original data from OrCAD/CAPTURE schematic"))
  (comment "")
  (comment "January 29, 1998")
  (comment "G:\MANUFACTURER\XILINXM1\WORKINPROGRESS\XC9500\SR8CLED.DSN")
  (comment "")
  (comment "")
  (comment "")
  (comment "")
  (comment "")
  (comment ""))
 (external OrCAD_LIB
  (edifLevel 0)
  (technology
   (numberDefinition
    (scale 1 1 (unit distance))))
  (cell m2_1
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port D0 (direction INPUT))
     (port D1 (direction INPUT))
     (port O (direction OUTPUT))
     (port S0 (direction INPUT)))))
  (cell fdce
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port C (direction INPUT))
     (port CE (direction INPUT))
     (port CLR (direction INPUT))
     (port D (direction INPUT))
     (port Q (direction OUTPUT)))))
  (cell VCC
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port P (direction OUTPUT)))))
  (cell and2
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port I0 (direction INPUT))
     (port I1 (direction INPUT))
     (port O (direction OUTPUT)))))
  (cell or2
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port I0 (direction INPUT))
     (port I1 (direction INPUT))
     (port O (direction OUTPUT)))))
  (cell GND
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port G (direction OUTPUT))))))
 (library MAIN_LIB
  (edifLevel 0)
  (technology
   (numberDefinition
    (scale 1 1 (unit distance))))
  (cell sr8cled
   (cellType generic)
   (view NetlistView
    (viewType netlist)
    (interface
     (port D3 (direction INPUT))
     (port D4 (direction INPUT))
     (port Q0 (direction OUTPUT))
     (port CE (direction INPUT))
     (port D5 (direction INPUT))
     (port Q1 (direction OUTPUT))
     (port D6 (direction INPUT))
     (port Q2 (direction OUTPUT))
     (port D7 (direction INPUT))
     (port Q3 (direction OUTPUT))
     (port CLR (direction INPUT))
     (port Q4 (direction OUTPUT))
     (port SRI (direction INPUT))
     (port Q5 (direction OUTPUT))
     (port LEFT (direction INPUT))
     (port Q6 (direction OUTPUT))
     (port L (direction INPUT))
     (port Q7 (direction OUTPUT))
     (port SLI (direction INPUT))
     (port D0 (direction INPUT))
     (port D1 (direction INPUT))
     (port C (direction INPUT))
     (port D2 (direction INPUT)))
    (contents
     (instance U13
      (viewRef NetlistView
       (cellRef m2_1
        (libraryRef OrCAD_LIB)))
      (property Name (string "MDR3"))
      (property EDIForiginalOrigin (string "(pt 30 -60)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "m2_1"))
      (portInstance D0
       (property PINTYPE (string "IN")))
      (portInstance D1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT")))
      (portInstance S0
       (property PINTYPE (string "IN"))))
     (instance U14
      (viewRef NetlistView
       (cellRef fdce
        (libraryRef OrCAD_LIB)))
      (property Name (string "Q3"))
      (property EDIForiginalOrigin (string "(pt 20 -100)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "fdce"))
      (portInstance C
       (property PINTYPE (string "IN")))
      (portInstance CE
       (property PINTYPE (string "IN")))
      (portInstance CLR
       (property PINTYPE (string "IN")))
      (portInstance D
       (property PINTYPE (string "IN")))
      (portInstance Q
       (property PINTYPE (string "OUT"))))
     (instance U15
      (viewRef NetlistView
       (cellRef m2_1
        (libraryRef OrCAD_LIB)))
      (property Name (string "MDL3"))
      (property EDIForiginalOrigin (string "(pt 30 -60)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "m2_1"))
      (portInstance D0
       (property PINTYPE (string "IN")))
      (portInstance D1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT")))
      (portInstance S0
       (property PINTYPE (string "IN"))))
     (instance U16
      (viewRef NetlistView
       (cellRef m2_1
        (libraryRef OrCAD_LIB)))
      (property Name (string "MDR4"))
      (property EDIForiginalOrigin (string "(pt 30 -60)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "m2_1"))
      (portInstance D0
       (property PINTYPE (string "IN")))
      (portInstance D1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT")))
      (portInstance S0
       (property PINTYPE (string "IN"))))
     (instance U17
      (viewRef NetlistView
       (cellRef fdce
        (libraryRef OrCAD_LIB)))
      (property Name (string "Q4"))
      (property EDIForiginalOrigin (string "(pt 20 -100)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "fdce"))
      (portInstance C
       (property PINTYPE (string "IN")))
      (portInstance CE
       (property PINTYPE (string "IN")))
      (portInstance CLR
       (property PINTYPE (string "IN")))
      (portInstance D
       (property PINTYPE (string "IN")))
      (portInstance Q
       (property PINTYPE (string "OUT"))))
     (instance U18
      (viewRef NetlistView
       (cellRef m2_1
        (libraryRef OrCAD_LIB)))
      (property Name (string "MDL4"))
      (property EDIForiginalOrigin (string "(pt 30 -60)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "m2_1"))
      (portInstance D0
       (property PINTYPE (string "IN")))
      (portInstance D1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT")))
      (portInstance S0
       (property PINTYPE (string "IN"))))
     (instance U19
      (viewRef NetlistView
       (cellRef m2_1
        (libraryRef OrCAD_LIB)))
      (property Name (string "MDR5"))
      (property EDIForiginalOrigin (string "(pt 30 -60)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "m2_1"))
      (portInstance D0
       (property PINTYPE (string "IN")))
      (portInstance D1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT")))
      (portInstance S0
       (property PINTYPE (string "IN"))))
     (instance U1
      (viewRef NetlistView
       (cellRef VCC
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I127"))
      (property EDIForiginalOrigin (string "(pt 10 -20)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "VCC"))
      (portInstance P
       (property PINTYPE (string "OUT"))))
     (instance U2
      (viewRef NetlistView
       (cellRef and2
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I125"))
      (property EDIForiginalOrigin (string "(pt 20 -50)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "and2"))
      (portInstance I0
       (property PINTYPE (string "IN")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))))
     (instance U3
      (viewRef NetlistView
       (cellRef or2
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I102"))
      (property EDIForiginalOrigin (string "(pt 0 -50)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "or2"))
      (portInstance I0
       (property PINTYPE (string "IN")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))))
     (instance U4
      (viewRef NetlistView
       (cellRef m2_1
        (libraryRef OrCAD_LIB)))
      (property Name (string "MDR0"))
      (property EDIForiginalOrigin (string "(pt 30 -60)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "m2_1"))
      (portInstance D0
       (property PINTYPE (string "IN")))
      (portInstance D1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT")))
      (portInstance S0
       (property PINTYPE (string "IN"))))
     (instance U5
      (viewRef NetlistView
       (cellRef fdce
        (libraryRef OrCAD_LIB)))
      (property Name (string "Q0"))
      (property EDIForiginalOrigin (string "(pt 20 -100)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "fdce"))
      (portInstance C
       (property PINTYPE (string "IN")))
      (portInstance CE
       (property PINTYPE (string "IN")))
      (portInstance CLR
       (property PINTYPE (string "IN")))
      (portInstance D
       (property PINTYPE (string "IN")))
      (portInstance Q
       (property PINTYPE (string "OUT"))))
     (instance U20
      (viewRef NetlistView
       (cellRef fdce
        (libraryRef OrCAD_LIB)))
      (property Name (string "Q5"))
      (property EDIForiginalOrigin (string "(pt 20 -100)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "fdce"))
      (portInstance C
       (property PINTYPE (string "IN")))
      (portInstance CE
       (property PINTYPE (string "IN")))
      (portInstance CLR
       (property PINTYPE (string "IN")))
      (portInstance D
       (property PINTYPE (string "IN")))
      (portInstance Q
       (property PINTYPE (string "OUT"))))
     (instance U6
      (viewRef NetlistView
       (cellRef m2_1
        (libraryRef OrCAD_LIB)))
      (property Name (string "MDL0"))
      (property EDIForiginalOrigin (string "(pt 30 -60)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "m2_1"))
      (portInstance D0
       (property PINTYPE (string "IN")))
      (portInstance D1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT")))
      (portInstance S0
       (property PINTYPE (string "IN"))))
     (instance U21
      (viewRef NetlistView
       (cellRef m2_1
        (libraryRef OrCAD_LIB)))
      (property Name (string "MDL5"))
      (property EDIForiginalOrigin (string "(pt 30 -60)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "m2_1"))
      (portInstance D0
       (property PINTYPE (string "IN")))
      (portInstance D1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT")))
      (portInstance S0
       (property PINTYPE (string "IN"))))
     (instance U7
      (viewRef NetlistView
       (cellRef m2_1
        (libraryRef OrCAD_LIB)))
      (property Name (string "MDR1"))
      (property EDIForiginalOrigin (string "(pt 30 -60)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "m2_1"))
      (portInstance D0
       (property PINTYPE (string "IN")))
      (portInstance D1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT")))
      (portInstance S0
       (property PINTYPE (string "IN"))))
     (instance U22
      (viewRef NetlistView
       (cellRef m2_1
        (libraryRef OrCAD_LIB)))
      (property Name (string "MDR6"))
      (property EDIForiginalOrigin (string "(pt 30 -60)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "m2_1"))
      (portInstance D0
       (property PINTYPE (string "IN")))
      (portInstance D1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT")))
      (portInstance S0
       (property PINTYPE (string "IN"))))
     (instance U8
      (viewRef NetlistView
       (cellRef fdce
        (libraryRef OrCAD_LIB)))
      (property Name (string "Q1"))
      (property EDIForiginalOrigin (string "(pt 20 -100)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "fdce"))
      (portInstance C
       (property PINTYPE (string "IN")))
      (portInstance CE
       (property PINTYPE (string "IN")))
      (portInstance CLR
       (property PINTYPE (string "IN")))
      (portInstance D
       (property PINTYPE (string "IN")))
      (portInstance Q
       (property PINTYPE (string "OUT"))))
     (instance U23
      (viewRef NetlistView
       (cellRef fdce
        (libraryRef OrCAD_LIB)))
      (property Name (string "Q6"))
      (property EDIForiginalOrigin (string "(pt 20 -100)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "fdce"))
      (portInstance C
       (property PINTYPE (string "IN")))
      (portInstance CE
       (property PINTYPE (string "IN")))
      (portInstance CLR
       (property PINTYPE (string "IN")))
      (portInstance D
       (property PINTYPE (string "IN")))
      (portInstance Q
       (property PINTYPE (string "OUT"))))
     (instance U9
      (viewRef NetlistView
       (cellRef m2_1
        (libraryRef OrCAD_LIB)))
      (property Name (string "MDL1"))
      (property EDIForiginalOrigin (string "(pt 30 -60)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "m2_1"))
      (portInstance D0
       (property PINTYPE (string "IN")))
      (portInstance D1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT")))
      (portInstance S0
       (property PINTYPE (string "IN"))))
     (instance U24
      (viewRef NetlistView
       (cellRef m2_1
        (libraryRef OrCAD_LIB)))
      (property Name (string "MDL6"))
      (property EDIForiginalOrigin (string "(pt 30 -60)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "m2_1"))
      (portInstance D0
       (property PINTYPE (string "IN")))
      (portInstance D1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT")))
      (portInstance S0
       (property PINTYPE (string "IN"))))
     (instance U25
      (viewRef NetlistView
       (cellRef m2_1
        (libraryRef OrCAD_LIB)))
      (property Name (string "MDR7"))
      (property EDIForiginalOrigin (string "(pt 30 -60)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "m2_1"))
      (portInstance D0
       (property PINTYPE (string "IN")))
      (portInstance D1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT")))
      (portInstance S0
       (property PINTYPE (string "IN"))))
     (instance U26
      (viewRef NetlistView
       (cellRef fdce
        (libraryRef OrCAD_LIB)))
      (property Name (string "Q7"))
      (property EDIForiginalOrigin (string "(pt 20 -100)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "fdce"))
      (portInstance C
       (property PINTYPE (string "IN")))
      (portInstance CE
       (property PINTYPE (string "IN")))
      (portInstance CLR
       (property PINTYPE (string "IN")))
      (portInstance D
       (property PINTYPE (string "IN")))
      (portInstance Q
       (property PINTYPE (string "OUT"))))
     (instance U27
      (viewRef NetlistView
       (cellRef m2_1
        (libraryRef OrCAD_LIB)))
      (property Name (string "MDL7"))
      (property EDIForiginalOrigin (string "(pt 30 -60)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "m2_1"))
      (portInstance D0
       (property PINTYPE (string "IN")))
      (portInstance D1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT")))
      (portInstance S0
       (property PINTYPE (string "IN"))))
     (instance U28
      (viewRef NetlistView
       (cellRef or2
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I131"))
      (property EDIForiginalOrigin (string "(pt 0 -50)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "or2"))
      (portInstance I0
       (property PINTYPE (string "IN")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))))
     (instance U29
      (viewRef NetlistView
       (cellRef or2
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I120"))
      (property EDIForiginalOrigin (string "(pt 0 -50)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "or2"))
      (portInstance I0
       (property PINTYPE (string "IN")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))))
     (instance U30
      (viewRef NetlistView
       (cellRef or2
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I133"))
      (property EDIForiginalOrigin (string "(pt 0 -50)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "or2"))
      (portInstance I0
       (property PINTYPE (string "IN")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))))
     (instance U31
      (viewRef NetlistView
       (cellRef GND
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I137"))
      (property EDIForiginalOrigin (string "(pt 10 -30)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "GND"))
      (portInstance G
       (property PINTYPE (string "OUT"))))
     (instance U10
      (viewRef NetlistView
       (cellRef m2_1
        (libraryRef OrCAD_LIB)))
      (property Name (string "MDR2"))
      (property EDIForiginalOrigin (string "(pt 30 -60)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "m2_1"))
      (portInstance D0
       (property PINTYPE (string "IN")))
      (portInstance D1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT")))
      (portInstance S0
       (property PINTYPE (string "IN"))))
     (instance U11
      (viewRef NetlistView
       (cellRef fdce
        (libraryRef OrCAD_LIB)))
      (property Name (string "Q2"))
      (property EDIForiginalOrigin (string "(pt 20 -100)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "fdce"))
      (portInstance C
       (property PINTYPE (string "IN")))
      (portInstance CE
       (property PINTYPE (string "IN")))
      (portInstance CLR
       (property PINTYPE (string "IN")))
      (portInstance D
       (property PINTYPE (string "IN")))
      (portInstance Q
       (property PINTYPE (string "OUT"))))
     (instance U12
      (viewRef NetlistView
       (cellRef m2_1
        (libraryRef OrCAD_LIB)))
      (property Name (string "MDL2"))
      (property EDIForiginalOrigin (string "(pt 30 -60)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "m2_1"))
      (portInstance D0
       (property PINTYPE (string "IN")))
      (portInstance D1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT")))
      (portInstance S0
       (property PINTYPE (string "IN"))))
     (net Q0
      (joined
       (portRef D0 (instanceRef U9))
       (portRef Q (instanceRef U5))
       (portRef Q0))
      (property Name (string "Q0")))
     (net LEFT
      (joined
       (portRef I1 (instanceRef U30))
       (portRef LEFT))
      (property Name (string "LEFT")))
     (net N00930
      (joined
       (portRef O (instanceRef U30))
       (portRef I0 (instanceRef U29)))
      (property Name (string "N00930")))
     (net Q4
      (joined
       (portRef D0 (instanceRef U21))
       (portRef D0 (instanceRef U13))
       (portRef Q (instanceRef U17))
       (portRef Q4))
      (property Name (string "Q4")))
     (net SLI
      (joined
       (portRef D0 (instanceRef U6))
       (portRef SLI))
      (property Name (string "SLI")))
     (net Q2
      (joined
       (portRef D0 (instanceRef U15))
       (portRef D0 (instanceRef U7))
       (portRef Q (instanceRef U11))
       (portRef Q2))
      (property Name (string "Q2")))
     (net SRI
      (joined
       (portRef D0 (instanceRef U25))
       (portRef SRI))
      (property Name (string "SRI")))
     (net MDL0
      (joined
       (portRef O (instanceRef U6))
       (portRef D1 (instanceRef U4)))
      (property Name (string "MDL0")))
     (net N00887
      (joined
       (portRef O (instanceRef U28))
       (portRef I0 (instanceRef U3))
       (portRef I1 (instanceRef U29))
       (portRef S0 (instanceRef U27))
       (portRef S0 (instanceRef U24))
       (portRef S0 (instanceRef U21))
       (portRef S0 (instanceRef U18))
       (portRef S0 (instanceRef U15))
       (portRef S0 (instanceRef U12))
       (portRef S0 (instanceRef U9))
       (portRef S0 (instanceRef U6)))
      (property Name (string "N00887")))
     (net MDL1
      (joined
       (portRef O (instanceRef U9))
       (portRef D1 (instanceRef U7)))
      (property Name (string "MDL1")))
     (net L_OR_CE
      (joined
       (portRef O (instanceRef U3))
       (portRef CE (instanceRef U26))
       (portRef CE (instanceRef U23))
       (portRef CE (instanceRef U20))
       (portRef CE (instanceRef U17))
       (portRef CE (instanceRef U14))
       (portRef CE (instanceRef U11))
       (portRef CE (instanceRef U8))
       (portRef CE (instanceRef U5)))
      (property Name (string "L_OR_CE")))
     (net D7
      (joined
       (portRef D1 (instanceRef U27))
       (portRef D7))
      (property Name (string "D7")))
     (net N00933
      (joined
       (portRef G (instanceRef U31))
       (portRef I0 (instanceRef U28))
       (portRef I0 (instanceRef U30)))
      (property Name (string "N00933")))
     (net MDL6
      (joined
       (portRef O (instanceRef U24))
       (portRef D1 (instanceRef U22)))
      (property Name (string "MDL6")))
     (net MDL2
      (joined
       (portRef O (instanceRef U12))
       (portRef D1 (instanceRef U10)))
      (property Name (string "MDL2")))
     (net MDL3
      (joined
       (portRef O (instanceRef U15))
       (portRef D1 (instanceRef U13)))
      (property Name (string "MDL3")))
     (net D5
      (joined
       (portRef D1 (instanceRef U21))
       (portRef D5))
      (property Name (string "D5")))
     (net MDR5
      (joined
       (portRef O (instanceRef U19))
       (portRef D (instanceRef U20)))
      (property Name (string "MDR5")))
     (net D1
      (joined
       (portRef D1 (instanceRef U9))
       (portRef D1))
      (property Name (string "D1")))
     (net MDR6
      (joined
       (portRef O (instanceRef U22))
       (portRef D (instanceRef U23)))
      (property Name (string "MDR6")))
     (net D0
      (joined
       (portRef D1 (instanceRef U6))
       (portRef D0))
      (property Name (string "D0")))
     (net Q3
      (joined
       (portRef D0 (instanceRef U18))
       (portRef D0 (instanceRef U10))
       (portRef Q (instanceRef U14))
       (portRef Q3))
      (property Name (string "Q3")))
     (net MDR7
      (joined
       (portRef O (instanceRef U25))
       (portRef D (instanceRef U26)))
      (property Name (string "MDR7")))
     (net N00756
      (joined
       (portRef O (instanceRef U2))
       (portRef I1 (instanceRef U3)))
      (property Name (string "N00756")))
     (net CE
      (joined
       (portRef I0 (instanceRef U2))
       (portRef CE))
      (property Name (string "CE")))
     (net D3
      (joined
       (portRef D1 (instanceRef U15))
       (portRef D3))
      (property Name (string "D3")))
     (net L_LEFT
      (joined
       (portRef O (instanceRef U29))
       (portRef S0 (instanceRef U4))
       (portRef S0 (instanceRef U7))
       (portRef S0 (instanceRef U10))
       (portRef S0 (instanceRef U13))
       (portRef S0 (instanceRef U16))
       (portRef S0 (instanceRef U19))
       (portRef S0 (instanceRef U22))
       (portRef S0 (instanceRef U25)))
      (property Name (string "L_LEFT")))
     (net C
      (joined
       (portRef C (instanceRef U5))
       (portRef C (instanceRef U8))
       (portRef C (instanceRef U11))
       (portRef C (instanceRef U14))
       (portRef C (instanceRef U17))
       (portRef C (instanceRef U20))
       (portRef C (instanceRef U23))
       (portRef C (instanceRef U26))
       (portRef C))
      (property Name (string "C")))
     (net Q6
      (joined
       (portRef D0 (instanceRef U27))
       (portRef D0 (instanceRef U19))
       (portRef Q (instanceRef U23))
       (portRef Q6))
      (property Name (string "Q6")))
     (net L
      (joined
       (portRef I1 (instanceRef U28))
       (portRef L))
      (property Name (string "L")))
     (net CLR
      (joined
       (portRef CLR (instanceRef U5))
       (portRef CLR (instanceRef U8))
       (portRef CLR (instanceRef U11))
       (portRef CLR (instanceRef U14))
       (portRef CLR (instanceRef U17))
       (portRef CLR (instanceRef U20))
       (portRef CLR (instanceRef U23))
       (portRef CLR (instanceRef U26))
       (portRef CLR))
      (property Name (string "CLR")))
     (net Q7
      (joined
       (portRef D0 (instanceRef U22))
       (portRef Q (instanceRef U26))
       (portRef Q7))
      (property Name (string "Q7")))
     (net Q1
      (joined
       (portRef D0 (instanceRef U12))
       (portRef D0 (instanceRef U4))
       (portRef Q (instanceRef U8))
       (portRef Q1))
      (property Name (string "Q1")))
     (net MDL4
      (joined
       (portRef O (instanceRef U18))
       (portRef D1 (instanceRef U16)))
      (property Name (string "MDL4")))
     (net MDL5
      (joined
       (portRef O (instanceRef U21))
       (portRef D1 (instanceRef U19)))
      (property Name (string "MDL5")))
     (net Q5
      (joined
       (portRef D0 (instanceRef U24))
       (portRef D0 (instanceRef U16))
       (portRef Q (instanceRef U20))
       (portRef Q5))
      (property Name (string "Q5")))
     (net MDL7
      (joined
       (portRef O (instanceRef U27))
       (portRef D1 (instanceRef U25)))
      (property Name (string "MDL7")))
     (net D4
      (joined
       (portRef D1 (instanceRef U18))
       (portRef D4))
      (property Name (string "D4")))
     (net MDR0
      (joined
       (portRef O (instanceRef U4))
       (portRef D (instanceRef U5)))
      (property Name (string "MDR0")))
     (net MDR1
      (joined
       (portRef O (instanceRef U7))
       (portRef D (instanceRef U8)))
      (property Name (string "MDR1")))
     (net D6
      (joined
       (portRef D1 (instanceRef U24))
       (portRef D6))
      (property Name (string "D6")))
     (net MDR2
      (joined
       (portRef O (instanceRef U10))
       (portRef D (instanceRef U11)))
      (property Name (string "MDR2")))
     (net N00847
      (joined
       (portRef P (instanceRef U1))
       (portRef I1 (instanceRef U2)))
      (property Name (string "N00847")))
     (net MDR3
      (joined
       (portRef O (instanceRef U13))
       (portRef D (instanceRef U14)))
      (property Name (string "MDR3")))
     (net D2
      (joined
       (portRef D1 (instanceRef U12))
       (portRef D2))
      (property Name (string "D2")))
     (net MDR4
      (joined
       (portRef O (instanceRef U16))
       (portRef D (instanceRef U17)))
      (property Name (string "MDR4")))))))
 (design sr8cled
  (cellRef sr8cled
   (libraryRef MAIN_LIB))))
