(edif x74_283
 (edifVersion 2 0 0)
 (edifLevel 0)
 (keywordMap (keywordLevel 0))
 (status
  (written
   (timeStamp 1998 01 29 20 13 17)
   (program "CAPTURE.EXE" (Version "7.20.145"))
   (comment "Original data from OrCAD/CAPTURE schematic"))
  (comment "")
  (comment "January 29, 1998")
  (comment "G:\MANUFACTURER\XILINXM1\WORKINPROGRESS\XC9500\X74_283.DSN")
  (comment "")
  (comment "")
  (comment "")
  (comment "")
  (comment "")
  (comment ""))
 (external OrCAD_LIB
  (edifLevel 0)
  (technology
   (numberDefinition
    (scale 1 1 (unit distance))))
  (cell add4
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port A0 (direction INPUT))
     (port A1 (direction INPUT))
     (port A2 (direction INPUT))
     (port A3 (direction INPUT))
     (port B0 (direction INPUT))
     (port B1 (direction INPUT))
     (port B2 (direction INPUT))
     (port B3 (direction INPUT))
     (port CI (direction INPUT))
     (port CO (direction OUTPUT))
     (port OFL (direction OUTPUT))
     (port S0 (direction OUTPUT))
     (port S1 (direction OUTPUT))
     (port S2 (direction OUTPUT))
     (port S3 (direction OUTPUT))))))
 (library MAIN_LIB
  (edifLevel 0)
  (technology
   (numberDefinition
    (scale 1 1 (unit distance))))
  (cell x74_283
   (cellType generic)
   (view NetlistView
    (viewType netlist)
    (interface
     (port B1 (direction INPUT))
     (port S1 (direction OUTPUT))
     (port A1 (direction INPUT))
     (port B2 (direction INPUT))
     (port S2 (direction OUTPUT))
     (port C4 (direction OUTPUT))
     (port A2 (direction INPUT))
     (port B3 (direction INPUT))
     (port S3 (direction OUTPUT))
     (port A3 (direction INPUT))
     (port B4 (direction INPUT))
     (port S4 (direction OUTPUT))
     (port A4 (direction INPUT))
     (port C0 (direction INPUT)))
    (contents
     (instance U1
      (viewRef NetlistView
       (cellRef add4
        (libraryRef OrCAD_LIB)))
      (property Name (string "S3_0"))
      (property EDIForiginalOrigin (string "(pt 20 -260)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "add4"))
      (portInstance A0
       (property PINTYPE (string "IN")))
      (portInstance A1
       (property PINTYPE (string "IN")))
      (portInstance A2
       (property PINTYPE (string "IN")))
      (portInstance A3
       (property PINTYPE (string "IN")))
      (portInstance B0
       (property PINTYPE (string "IN")))
      (portInstance B1
       (property PINTYPE (string "IN")))
      (portInstance B2
       (property PINTYPE (string "IN")))
      (portInstance B3
       (property PINTYPE (string "IN")))
      (portInstance CI
       (property PINTYPE (string "IN")))
      (portInstance CO
       (property PINTYPE (string "OUT")))
      (portInstance OFL
       (property PINTYPE (string "OUT")))
      (portInstance S0
       (property PINTYPE (string "OUT")))
      (portInstance S1
       (property PINTYPE (string "OUT")))
      (portInstance S2
       (property PINTYPE (string "OUT")))
      (portInstance S3
       (property PINTYPE (string "OUT"))))
     (net S2
      (joined
       (portRef S1 (instanceRef U1))
       (portRef S2))
      (property Name (string "S2")))
     (net B3
      (joined
       (portRef B2 (instanceRef U1))
       (portRef B3))
      (property Name (string "B3")))
     (net A3
      (joined
       (portRef A2 (instanceRef U1))
       (portRef A3))
      (property Name (string "A3")))
     (net S3
      (joined
       (portRef S2 (instanceRef U1))
       (portRef S3))
      (property Name (string "S3")))
     (net A4
      (joined
       (portRef A3 (instanceRef U1))
       (portRef A4))
      (property Name (string "A4")))
     (net S4
      (joined
       (portRef S3 (instanceRef U1))
       (portRef S4))
      (property Name (string "S4")))
     (net B1
      (joined
       (portRef B0 (instanceRef U1))
       (portRef B1))
      (property Name (string "B1")))
     (net B2
      (joined
       (portRef B1 (instanceRef U1))
       (portRef B2))
      (property Name (string "B2")))
     (net B4
      (joined
       (portRef B3 (instanceRef U1))
       (portRef B4))
      (property Name (string "B4")))
     (net C4
      (joined
       (portRef CO (instanceRef U1))
       (portRef C4))
      (property Name (string "C4")))
     (net C0
      (joined
       (portRef CI (instanceRef U1))
       (portRef C0))
      (property Name (string "C0")))
     (net A1
      (joined
       (portRef A0 (instanceRef U1))
       (portRef A1))
      (property Name (string "A1")))
     (net S1
      (joined
       (portRef S0 (instanceRef U1))
       (portRef S1))
      (property Name (string "S1")))
     (net A2
      (joined
       (portRef A1 (instanceRef U1))
       (portRef A2))
      (property Name (string "A2")))))))
 (design x74_283
  (cellRef x74_283
   (libraryRef MAIN_LIB))))
