(edif fdc
 (edifVersion 2 0 0)
 (edifLevel 0)
 (keywordMap (keywordLevel 0))
 (status
  (written
   (timeStamp 1998 01 29 18 12 50)
   (program "CAPTURE.EXE" (Version "7.20.145"))
   (comment "Original data from OrCAD/CAPTURE schematic"))
  (comment "")
  (comment "January 29, 1998")
  (comment "G:\MANUFACTURER\XILINXM1\WORKINPROGRESS\XC5200\FDC.DSN")
  (comment "")
  (comment "")
  (comment "")
  (comment "")
  (comment "")
  (comment ""))
 (external OrCAD_LIB
  (edifLevel 0)
  (technology
   (numberDefinition
    (scale 1 1 (unit distance))))
  (cell VCC
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port P (direction OUTPUT)))))
  (cell fdce
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port C (direction INPUT))
     (port CE (direction INPUT))
     (port CLR (direction INPUT))
     (port D (direction INPUT))
     (port Q (direction OUTPUT))))))
 (library MAIN_LIB
  (edifLevel 0)
  (technology
   (numberDefinition
    (scale 1 1 (unit distance))))
  (cell fdc
   (cellType generic)
   (view NetlistView
    (viewType netlist)
    (interface
     (port D (direction INPUT))
     (port CLR (direction INPUT))
     (port Q (direction OUTPUT))
     (port C (direction INPUT)))
    (contents
     (instance U1
      (viewRef NetlistView
       (cellRef VCC
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I37"))
      (property EDIForiginalOrigin (string "(pt 10 -20)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "VCC"))
      (portInstance P
       (property PINTYPE (string "OUT"))))
     (instance U2
      (viewRef NetlistView
       (cellRef fdce
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I30"))
      (property EDIForiginalOrigin (string "(pt 20 -100)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "fdce"))
      (property RLOC (string "R0C0"))
      (portInstance C
       (property PINTYPE (string "IN")))
      (portInstance CE
       (property PINTYPE (string "IN")))
      (portInstance CLR
       (property PINTYPE (string "IN")))
      (portInstance D
       (property PINTYPE (string "IN")))
      (portInstance Q
       (property PINTYPE (string "OUT"))))
     (net CLR
      (joined
       (portRef CLR (instanceRef U2))
       (portRef CLR))
      (property Name (string "CLR")))
     (net C
      (joined
       (portRef C (instanceRef U2))
       (portRef C))
      (property Name (string "C")))
     (net N00401
      (joined
       (portRef P (instanceRef U1))
       (portRef CE (instanceRef U2)))
      (property Name (string "N00401")))
     (net D
      (joined
       (portRef D (instanceRef U2))
       (portRef D))
      (property Name (string "D")))
     (net Q
      (joined
       (portRef Q (instanceRef U2))
       (portRef Q))
      (property Name (string "Q")))))))
 (design fdc
  (cellRef fdc
   (libraryRef MAIN_LIB))))
