(edif or12
 (edifVersion 2 0 0)
 (edifLevel 0)
 (keywordMap (keywordLevel 0))
 (status
  (written
   (timeStamp 1998 01 29 18 49 45)
   (program "CAPTURE.EXE" (Version "7.20.145"))
   (comment "Original data from OrCAD/CAPTURE schematic"))
  (comment "")
  (comment "January 29, 1998")
  (comment "G:\MANUFACTURER\XILINXM1\WORKINPROGRESS\XC5200\OR12.DSN")
  (comment "")
  (comment "")
  (comment "")
  (comment "")
  (comment "")
  (comment ""))
 (external OrCAD_LIB
  (edifLevel 0)
  (technology
   (numberDefinition
    (scale 1 1 (unit distance))))
  (cell fmap
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port I1 (direction INPUT))
     (port I2 (direction INPUT))
     (port I3 (direction INPUT))
     (port I4 (direction INPUT))
     (port O (direction INPUT)))))
  (cell nor4
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port I0 (direction INPUT))
     (port I1 (direction INPUT))
     (port I2 (direction INPUT))
     (port I3 (direction INPUT))
     (port O (direction OUTPUT)))))
  (cell cy_mux
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port CI (direction INPUT))
     (port CO (direction OUTPUT))
     (port DI (direction INPUT))
     (port S (direction INPUT)))))
  (cell VCC
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port P (direction OUTPUT)))))
  (cell cy_init
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port COUT (direction INOUT))
     (port INIT (direction INOUT)))))
  (cell GND
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port G (direction OUTPUT))))))
 (library MAIN_LIB
  (edifLevel 0)
  (technology
   (numberDefinition
    (scale 1 1 (unit distance))))
  (cell or12
   (cellType generic)
   (view NetlistView
    (viewType netlist)
    (interface
     (port I8 (direction INPUT))
     (port I9 (direction INPUT))
     (port I10 (direction INPUT))
     (port I11 (direction INPUT))
     (port I0 (direction INPUT))
     (port I1 (direction INPUT))
     (port O (direction OUTPUT))
     (port I2 (direction INPUT))
     (port I3 (direction INPUT))
     (port I4 (direction INPUT))
     (port I5 (direction INPUT))
     (port I6 (direction INPUT))
     (port I7 (direction INPUT)))
    (contents
     (instance U1
      (viewRef NetlistView
       (cellRef fmap
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I142"))
      (property EDIForiginalOrigin (string "(pt 20 -120)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "fmap"))
      (property RLOC (string "R0C0.LC3"))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance I2
       (property PINTYPE (string "IN")))
      (portInstance I3
       (property PINTYPE (string "IN")))
      (portInstance I4
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "IN"))))
     (instance U2
      (viewRef NetlistView
       (cellRef nor4
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I151"))
      (property EDIForiginalOrigin (string "(pt 0 -80)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "nor4"))
      (portInstance I0
       (property PINTYPE (string "IN")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance I2
       (property PINTYPE (string "IN")))
      (portInstance I3
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))
       (property PARAM (string "INV"))))
     (instance U3
      (viewRef NetlistView
       (cellRef cy_mux
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I147"))
      (property EDIForiginalOrigin (string "(pt 0 -50)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "cy_mux"))
      (property RLOC (string "R0C0.LC3"))
      (portInstance CI
       (property PINTYPE (string "IN")))
      (portInstance CO
       (property PINTYPE (string "OUT")))
      (portInstance DI
       (property PINTYPE (string "IN")))
      (portInstance S
       (property PINTYPE (string "IN"))))
     (instance U4
      (viewRef NetlistView
       (cellRef VCC
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I173"))
      (property EDIForiginalOrigin (string "(pt 10 -20)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "VCC"))
      (portInstance P
       (property PINTYPE (string "OUT"))))
     (instance U5
      (viewRef NetlistView
       (cellRef fmap
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I138"))
      (property EDIForiginalOrigin (string "(pt 20 -120)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "fmap"))
      (property RLOC (string "R0C0.LC2"))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance I2
       (property PINTYPE (string "IN")))
      (portInstance I3
       (property PINTYPE (string "IN")))
      (portInstance I4
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "IN"))))
     (instance U6
      (viewRef NetlistView
       (cellRef nor4
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I127"))
      (property EDIForiginalOrigin (string "(pt 0 -80)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "nor4"))
      (portInstance I0
       (property PINTYPE (string "IN")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance I2
       (property PINTYPE (string "IN")))
      (portInstance I3
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))
       (property PARAM (string "INV"))))
     (instance U7
      (viewRef NetlistView
       (cellRef cy_mux
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I129"))
      (property EDIForiginalOrigin (string "(pt 0 -50)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "cy_mux"))
      (property RLOC (string "R0C0.LC2"))
      (portInstance CI
       (property PINTYPE (string "IN")))
      (portInstance CO
       (property PINTYPE (string "OUT")))
      (portInstance DI
       (property PINTYPE (string "IN")))
      (portInstance S
       (property PINTYPE (string "IN"))))
     (instance U8
      (viewRef NetlistView
       (cellRef fmap
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I29"))
      (property EDIForiginalOrigin (string "(pt 20 -120)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "fmap"))
      (property RLOC (string "R0C0.LC1"))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance I2
       (property PINTYPE (string "IN")))
      (portInstance I3
       (property PINTYPE (string "IN")))
      (portInstance I4
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "IN"))))
     (instance U9
      (viewRef NetlistView
       (cellRef nor4
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I110"))
      (property EDIForiginalOrigin (string "(pt 0 -80)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "nor4"))
      (portInstance I0
       (property PINTYPE (string "IN")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance I2
       (property PINTYPE (string "IN")))
      (portInstance I3
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))
       (property PARAM (string "INV"))))
     (instance U10
      (viewRef NetlistView
       (cellRef cy_mux
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I2"))
      (property EDIForiginalOrigin (string "(pt 0 -50)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "cy_mux"))
      (property RLOC (string "R0C0.LC1"))
      (portInstance CI
       (property PINTYPE (string "IN")))
      (portInstance CO
       (property PINTYPE (string "OUT")))
      (portInstance DI
       (property PINTYPE (string "IN")))
      (portInstance S
       (property PINTYPE (string "IN"))))
     (instance U11
      (viewRef NetlistView
       (cellRef cy_init
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I13"))
      (property EDIForiginalOrigin (string "(pt 20 -50)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "cy_init"))
      (property RLOC (string "R0C0.LC0"))
      (portInstance COUT)
      (portInstance INIT))
     (instance U12
      (viewRef NetlistView
       (cellRef GND
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I174"))
      (property EDIForiginalOrigin (string "(pt 10 -30)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "GND"))
      (portInstance G
       (property PINTYPE (string "OUT"))))
     (net CIN
      (joined
       (portRef CI (instanceRef U10))
       (portRef COUT (instanceRef U11)))
      (property Name (string "CIN")))
     (net S0
      (joined
       (portRef O (instanceRef U9))
       (portRef S (instanceRef U10))
       (portRef O (instanceRef U8)))
      (property Name (string "S0")))
     (net C0
      (joined
       (portRef CO (instanceRef U10))
       (portRef CI (instanceRef U7)))
      (property Name (string "C0")))
     (net I2
      (joined
       (portRef I2 (instanceRef U9))
       (portRef I3 (instanceRef U8))
       (portRef I2))
      (property Name (string "I2")))
     (net I6
      (joined
       (portRef I2 (instanceRef U6))
       (portRef I3 (instanceRef U5))
       (portRef I6))
      (property Name (string "I6")))
     (net N00525
      (joined
       (portRef G (instanceRef U12))
       (portRef INIT (instanceRef U11)))
      (property Name (string "N00525")))
     (net S1
      (joined
       (portRef O (instanceRef U6))
       (portRef S (instanceRef U7))
       (portRef O (instanceRef U5)))
      (property Name (string "S1")))
     (net C1
      (joined
       (portRef CO (instanceRef U7))
       (portRef CI (instanceRef U3)))
      (property Name (string "C1")))
     (net I7
      (joined
       (portRef I3 (instanceRef U6))
       (portRef I4 (instanceRef U5))
       (portRef I7))
      (property Name (string "I7")))
     (net S2
      (joined
       (portRef O (instanceRef U2))
       (portRef S (instanceRef U3))
       (portRef O (instanceRef U1)))
      (property Name (string "S2")))
     (net I11
      (joined
       (portRef I3 (instanceRef U2))
       (portRef I4 (instanceRef U1))
       (portRef I11))
      (property Name (string "I11")))
     (net I0
      (joined
       (portRef I0 (instanceRef U9))
       (portRef I1 (instanceRef U8))
       (portRef I0))
      (property Name (string "I0")))
     (net N00530
      (joined
       (portRef P (instanceRef U4))
       (portRef DI (instanceRef U10))
       (portRef DI (instanceRef U7))
       (portRef DI (instanceRef U3)))
      (property Name (string "N00530")))
     (net I8
      (joined
       (portRef I0 (instanceRef U2))
       (portRef I1 (instanceRef U1))
       (portRef I8))
      (property Name (string "I8")))
     (net I9
      (joined
       (portRef I1 (instanceRef U2))
       (portRef I2 (instanceRef U1))
       (portRef I9))
      (property Name (string "I9")))
     (net I3
      (joined
       (portRef I3 (instanceRef U9))
       (portRef I4 (instanceRef U8))
       (portRef I3))
      (property Name (string "I3")))
     (net I4
      (joined
       (portRef I0 (instanceRef U6))
       (portRef I1 (instanceRef U5))
       (portRef I4))
      (property Name (string "I4")))
     (net I5
      (joined
       (portRef I1 (instanceRef U6))
       (portRef I2 (instanceRef U5))
       (portRef I5))
      (property Name (string "I5")))
     (net I10
      (joined
       (portRef I2 (instanceRef U2))
       (portRef I3 (instanceRef U1))
       (portRef I10))
      (property Name (string "I10")))
     (net I1
      (joined
       (portRef I1 (instanceRef U9))
       (portRef I2 (instanceRef U8))
       (portRef I1))
      (property Name (string "I1")))
     (net O
      (joined
       (portRef CO (instanceRef U3))
       (portRef O))
      (property Name (string "O")))))))
 (design or12
  (cellRef or12
   (libraryRef MAIN_LIB))))
