(edif acc16x2
 (edifVersion 2 0 0)
 (edifLevel 0)
 (keywordMap (keywordLevel 0))
 (status
  (written
   (timeStamp 1998 03 14 20 30 51)
   (program "EXPRESS.EXE" (Version "7.20.171"))
   (comment "Original data from OrCAD/CAPTURE schematic"))
  (comment "")
  (comment "January 29, 1998")
  (comment "E:\LIBRARY\MAINTENANCE\XILINXM1\XC9500\WORKINPROGRESS\ACC16X2.DSN")
  (comment "")
  (comment "")
  (comment "")
  (comment "")
  (comment "")
  (comment ""))
 (external OrCAD_LIB
  (edifLevel 0)
  (technology
   (numberDefinition
    (scale 1 1 (unit distance))))
  (cell acc8x2
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port ADD (direction INPUT))
     (port B7 (direction INPUT))
     (port B6 (direction INPUT))
     (port B5 (direction INPUT))
     (port B4 (direction INPUT))
     (port B3 (direction INPUT))
     (port B2 (direction INPUT))
     (port B1 (direction INPUT))
     (port B0 (direction INPUT))
     (port C (direction INPUT))
     (port CE (direction INPUT))
     (port CI (direction INPUT))
     (port CO (direction OUTPUT))
     (port D7 (direction INPUT))
     (port D6 (direction INPUT))
     (port D5 (direction INPUT))
     (port D4 (direction INPUT))
     (port D3 (direction INPUT))
     (port D2 (direction INPUT))
     (port D1 (direction INPUT))
     (port D0 (direction INPUT))
     (port L (direction INPUT))
     (port Q7 (direction OUTPUT))
     (port Q6 (direction OUTPUT))
     (port Q5 (direction OUTPUT))
     (port Q4 (direction OUTPUT))
     (port Q3 (direction OUTPUT))
     (port Q2 (direction OUTPUT))
     (port Q1 (direction OUTPUT))
     (port Q0 (direction OUTPUT))
     (port R (direction INPUT))))))
 (library MAIN_LIB
  (edifLevel 0)
  (technology
   (numberDefinition
    (scale 1 1 (unit distance))))
  (cell acc16x2
   (cellType generic)
   (view NetlistView
    (viewType netlist)
    (interface
     (port B1 (direction INPUT))
     (port B13 (direction INPUT))
     (port D3 (direction INPUT))
     (port D11 (direction INPUT))
     (port Q15 (direction OUTPUT))
     (port B2 (direction INPUT))
     (port B14 (direction INPUT))
     (port D4 (direction INPUT))
     (port D12 (direction INPUT))
     (port Q0 (direction OUTPUT))
     (port CE (direction INPUT))
     (port B3 (direction INPUT))
     (port B15 (direction INPUT))
     (port D5 (direction INPUT))
     (port D13 (direction INPUT))
     (port Q1 (direction OUTPUT))
     (port B4 (direction INPUT))
     (port D6 (direction INPUT))
     (port D14 (direction INPUT))
     (port Q2 (direction OUTPUT))
     (port B5 (direction INPUT))
     (port D7 (direction INPUT))
     (port D15 (direction INPUT))
     (port Q3 (direction OUTPUT))
     (port B6 (direction INPUT))
     (port D8 (direction INPUT))
     (port Q4 (direction OUTPUT))
     (port CI (direction INPUT))
     (port B7 (direction INPUT))
     (port D9 (direction INPUT))
     (port Q5 (direction OUTPUT))
     (port B8 (direction INPUT))
     (port Q6 (direction OUTPUT))
     (port L (direction INPUT))
     (port B9 (direction INPUT))
     (port Q7 (direction OUTPUT))
     (port Q8 (direction OUTPUT))
     (port Q9 (direction OUTPUT))
     (port CO (direction OUTPUT))
     (port Q10 (direction OUTPUT))
     (port Q11 (direction OUTPUT))
     (port R (direction INPUT))
     (port ADD (direction INPUT))
     (port B10 (direction INPUT))
     (port D0 (direction INPUT))
     (port Q12 (direction OUTPUT))
     (port B11 (direction INPUT))
     (port D1 (direction INPUT))
     (port Q13 (direction OUTPUT))
     (port C (direction INPUT))
     (port B0 (direction INPUT))
     (port B12 (direction INPUT))
     (port D2 (direction INPUT))
     (port D10 (direction INPUT))
     (port Q14 (direction OUTPUT)))
    (contents
     (instance U1
      (viewRef NetlistView
       (cellRef acc8x2
        (libraryRef OrCAD_LIB)))
      (property Name (string "Q7_0"))
      (property EDIForiginalOrigin (string "(pt 0 -180)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "acc8x2"))
      (portInstance ADD
       (property PINTYPE (string "IN")))
      (portInstance B7
       (property PINTYPE (string "IN")))
      (portInstance B6
       (property PINTYPE (string "IN")))
      (portInstance B5
       (property PINTYPE (string "IN")))
      (portInstance B4
       (property PINTYPE (string "IN")))
      (portInstance B3
       (property PINTYPE (string "IN")))
      (portInstance B2
       (property PINTYPE (string "IN")))
      (portInstance B1
       (property PINTYPE (string "IN")))
      (portInstance B0
       (property PINTYPE (string "IN")))
      (portInstance C
       (property PINTYPE (string "IN")))
      (portInstance CE
       (property PINTYPE (string "IN")))
      (portInstance CI
       (property PINTYPE (string "IN")))
      (portInstance CO
       (property PINTYPE (string "OUT")))
      (portInstance D7
       (property PINTYPE (string "IN")))
      (portInstance D6
       (property PINTYPE (string "IN")))
      (portInstance D5
       (property PINTYPE (string "IN")))
      (portInstance D4
       (property PINTYPE (string "IN")))
      (portInstance D3
       (property PINTYPE (string "IN")))
      (portInstance D2
       (property PINTYPE (string "IN")))
      (portInstance D1
       (property PINTYPE (string "IN")))
      (portInstance D0
       (property PINTYPE (string "IN")))
      (portInstance L
       (property PINTYPE (string "IN")))
      (portInstance Q7
       (property PINTYPE (string "OUT")))
      (portInstance Q6
       (property PINTYPE (string "OUT")))
      (portInstance Q5
       (property PINTYPE (string "OUT")))
      (portInstance Q4
       (property PINTYPE (string "OUT")))
      (portInstance Q3
       (property PINTYPE (string "OUT")))
      (portInstance Q2
       (property PINTYPE (string "OUT")))
      (portInstance Q1
       (property PINTYPE (string "OUT")))
      (portInstance Q0
       (property PINTYPE (string "OUT")))
      (portInstance R
       (property PINTYPE (string "IN"))))
     (instance U2
      (viewRef NetlistView
       (cellRef acc8x2
        (libraryRef OrCAD_LIB)))
      (property Name (string "Q15_8"))
      (property EDIForiginalOrigin (string "(pt 0 -180)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "acc8x2"))
      (portInstance ADD
       (property PINTYPE (string "IN")))
      (portInstance B7
       (property PINTYPE (string "IN")))
      (portInstance B6
       (property PINTYPE (string "IN")))
      (portInstance B5
       (property PINTYPE (string "IN")))
      (portInstance B4
       (property PINTYPE (string "IN")))
      (portInstance B3
       (property PINTYPE (string "IN")))
      (portInstance B2
       (property PINTYPE (string "IN")))
      (portInstance B1
       (property PINTYPE (string "IN")))
      (portInstance B0
       (property PINTYPE (string "IN")))
      (portInstance C
       (property PINTYPE (string "IN")))
      (portInstance CE
       (property PINTYPE (string "IN")))
      (portInstance CI
       (property PINTYPE (string "IN")))
      (portInstance CO
       (property PINTYPE (string "OUT")))
      (portInstance D7
       (property PINTYPE (string "IN")))
      (portInstance D6
       (property PINTYPE (string "IN")))
      (portInstance D5
       (property PINTYPE (string "IN")))
      (portInstance D4
       (property PINTYPE (string "IN")))
      (portInstance D3
       (property PINTYPE (string "IN")))
      (portInstance D2
       (property PINTYPE (string "IN")))
      (portInstance D1
       (property PINTYPE (string "IN")))
      (portInstance D0
       (property PINTYPE (string "IN")))
      (portInstance L
       (property PINTYPE (string "IN")))
      (portInstance Q7
       (property PINTYPE (string "OUT")))
      (portInstance Q6
       (property PINTYPE (string "OUT")))
      (portInstance Q5
       (property PINTYPE (string "OUT")))
      (portInstance Q4
       (property PINTYPE (string "OUT")))
      (portInstance Q3
       (property PINTYPE (string "OUT")))
      (portInstance Q2
       (property PINTYPE (string "OUT")))
      (portInstance Q1
       (property PINTYPE (string "OUT")))
      (portInstance Q0
       (property PINTYPE (string "OUT")))
      (portInstance R
       (property PINTYPE (string "IN"))))
     (net B15
      (joined
       (portRef B7 (instanceRef U2))
       (portRef B15))
      (property Name (string "B15"))
      (property LABEL (string "B[15:8]")))
     (net ADD
      (joined
       (portRef ADD (instanceRef U2))
       (portRef ADD (instanceRef U1))
       (portRef ADD))
      (property Name (string "ADD")))
     (net R
      (joined
       (portRef R (instanceRef U2))
       (portRef R (instanceRef U1))
       (portRef R))
      (property Name (string "R")))
     (net CI
      (joined
       (portRef CI (instanceRef U1))
       (portRef CI))
      (property Name (string "CI")))
     (net CO
      (joined
       (portRef CO (instanceRef U2))
       (portRef CO))
      (property Name (string "CO")))
     (net N00423
      (joined
       (portRef CI (instanceRef U2))
       (portRef CO (instanceRef U1)))
      (property Name (string "N00423")))
     (net C
      (joined
       (portRef C (instanceRef U2))
       (portRef C (instanceRef U1))
       (portRef C))
      (property Name (string "C")))
     (net CE
      (joined
       (portRef CE (instanceRef U2))
       (portRef CE (instanceRef U1))
       (portRef CE))
      (property Name (string "CE")))
     (net L
      (joined
       (portRef L (instanceRef U2))
       (portRef L (instanceRef U1))
       (portRef L))
      (property Name (string "L")))
     (net D15
      (joined
       (portRef D7 (instanceRef U2))
       (portRef D15))
      (property Name (string "D15"))
      (property LABEL (string "D[15:8]")))
     (net B0
      (joined
       (portRef B0 (instanceRef U1))
       (portRef B0))
      (property Name (string "B0"))
      (property LABEL (string "B[7:0]")))
     (net B1
      (joined
       (portRef B1 (instanceRef U1))
       (portRef B1))
      (property Name (string "B1"))
      (property LABEL (string "B[7:0]")))
     (net B2
      (joined
       (portRef B2 (instanceRef U1))
       (portRef B2))
      (property Name (string "B2"))
      (property LABEL (string "B[7:0]")))
     (net B3
      (joined
       (portRef B3 (instanceRef U1))
       (portRef B3))
      (property Name (string "B3"))
      (property LABEL (string "B[7:0]")))
     (net B4
      (joined
       (portRef B4 (instanceRef U1))
       (portRef B4))
      (property Name (string "B4"))
      (property LABEL (string "B[7:0]")))
     (net B5
      (joined
       (portRef B5 (instanceRef U1))
       (portRef B5))
      (property Name (string "B5"))
      (property LABEL (string "B[7:0]")))
     (net B6
      (joined
       (portRef B6 (instanceRef U1))
       (portRef B6))
      (property Name (string "B6"))
      (property LABEL (string "B[7:0]")))
     (net B7
      (joined
       (portRef B7 (instanceRef U1))
       (portRef B7))
      (property Name (string "B7"))
      (property LABEL (string "B[7:0]")))
     (net B8
      (joined
       (portRef B0 (instanceRef U2))
       (portRef B8))
      (property Name (string "B8"))
      (property LABEL (string "B[15:8]")))
     (net B9
      (joined
       (portRef B1 (instanceRef U2))
       (portRef B9))
      (property Name (string "B9"))
      (property LABEL (string "B[15:8]")))
     (net B10
      (joined
       (portRef B2 (instanceRef U2))
       (portRef B10))
      (property Name (string "B10"))
      (property LABEL (string "B[15:8]")))
     (net B11
      (joined
       (portRef B3 (instanceRef U2))
       (portRef B11))
      (property Name (string "B11"))
      (property LABEL (string "B[15:8]")))
     (net B12
      (joined
       (portRef B4 (instanceRef U2))
       (portRef B12))
      (property Name (string "B12"))
      (property LABEL (string "B[15:8]")))
     (net B13
      (joined
       (portRef B5 (instanceRef U2))
       (portRef B13))
      (property Name (string "B13"))
      (property LABEL (string "B[15:8]")))
     (net B14
      (joined
       (portRef B6 (instanceRef U2))
       (portRef B14))
      (property Name (string "B14"))
      (property LABEL (string "B[15:8]")))
     (net Q15
      (joined
       (portRef Q7 (instanceRef U2))
       (portRef Q15))
      (property Name (string "Q15"))
      (property LABEL (string "Q[15:8]")))
     (net D0
      (joined
       (portRef D0 (instanceRef U1))
       (portRef D0))
      (property Name (string "D0"))
      (property LABEL (string "D[15:8]")))
     (net D1
      (joined
       (portRef D1 (instanceRef U1))
       (portRef D1))
      (property Name (string "D1"))
      (property LABEL (string "D[15:8]")))
     (net D2
      (joined
       (portRef D2 (instanceRef U1))
       (portRef D2))
      (property Name (string "D2"))
      (property LABEL (string "D[15:8]")))
     (net D3
      (joined
       (portRef D3 (instanceRef U1))
       (portRef D3))
      (property Name (string "D3"))
      (property LABEL (string "D[15:8]")))
     (net D4
      (joined
       (portRef D4 (instanceRef U1))
       (portRef D4))
      (property Name (string "D4"))
      (property LABEL (string "D[15:8]")))
     (net D5
      (joined
       (portRef D5 (instanceRef U1))
       (portRef D5))
      (property Name (string "D5"))
      (property LABEL (string "D[15:8]")))
     (net D6
      (joined
       (portRef D6 (instanceRef U1))
       (portRef D6))
      (property Name (string "D6"))
      (property LABEL (string "D[15:8]")))
     (net D7
      (joined
       (portRef D7 (instanceRef U1))
       (portRef D7))
      (property Name (string "D7"))
      (property LABEL (string "D[15:8]")))
     (net D8
      (joined
       (portRef D0 (instanceRef U2))
       (portRef D8))
      (property Name (string "D8"))
      (property LABEL (string "D[15:8]")))
     (net D9
      (joined
       (portRef D1 (instanceRef U2))
       (portRef D9))
      (property Name (string "D9"))
      (property LABEL (string "D[15:8]")))
     (net D10
      (joined
       (portRef D2 (instanceRef U2))
       (portRef D10))
      (property Name (string "D10"))
      (property LABEL (string "D[15:8]")))
     (net D11
      (joined
       (portRef D3 (instanceRef U2))
       (portRef D11))
      (property Name (string "D11"))
      (property LABEL (string "D[15:8]")))
     (net D12
      (joined
       (portRef D4 (instanceRef U2))
       (portRef D12))
      (property Name (string "D12"))
      (property LABEL (string "D[15:8]")))
     (net D13
      (joined
       (portRef D5 (instanceRef U2))
       (portRef D13))
      (property Name (string "D13"))
      (property LABEL (string "D[15:8]")))
     (net D14
      (joined
       (portRef D6 (instanceRef U2))
       (portRef D14))
      (property Name (string "D14"))
      (property LABEL (string "D[15:8]")))
     (net Q0
      (joined
       (portRef Q0 (instanceRef U1))
       (portRef Q0))
      (property Name (string "Q0"))
      (property LABEL (string "Q[7:0]")))
     (net Q1
      (joined
       (portRef Q1 (instanceRef U1))
       (portRef Q1))
      (property Name (string "Q1"))
      (property LABEL (string "Q[7:0]")))
     (net Q2
      (joined
       (portRef Q2 (instanceRef U1))
       (portRef Q2))
      (property Name (string "Q2"))
      (property LABEL (string "Q[7:0]")))
     (net Q3
      (joined
       (portRef Q3 (instanceRef U1))
       (portRef Q3))
      (property Name (string "Q3"))
      (property LABEL (string "Q[7:0]")))
     (net Q4
      (joined
       (portRef Q4 (instanceRef U1))
       (portRef Q4))
      (property Name (string "Q4"))
      (property LABEL (string "Q[7:0]")))
     (net Q5
      (joined
       (portRef Q5 (instanceRef U1))
       (portRef Q5))
      (property Name (string "Q5"))
      (property LABEL (string "Q[7:0]")))
     (net Q6
      (joined
       (portRef Q6 (instanceRef U1))
       (portRef Q6))
      (property Name (string "Q6"))
      (property LABEL (string "Q[7:0]")))
     (net Q7
      (joined
       (portRef Q7 (instanceRef U1))
       (portRef Q7))
      (property Name (string "Q7"))
      (property LABEL (string "Q[7:0]")))
     (net Q8
      (joined
       (portRef Q0 (instanceRef U2))
       (portRef Q8))
      (property Name (string "Q8"))
      (property LABEL (string "Q[15:8]")))
     (net Q9
      (joined
       (portRef Q1 (instanceRef U2))
       (portRef Q9))
      (property Name (string "Q9"))
      (property LABEL (string "Q[15:8]")))
     (net Q10
      (joined
       (portRef Q2 (instanceRef U2))
       (portRef Q10))
      (property Name (string "Q10"))
      (property LABEL (string "Q[15:8]")))
     (net Q11
      (joined
       (portRef Q3 (instanceRef U2))
       (portRef Q11))
      (property Name (string "Q11"))
      (property LABEL (string "Q[15:8]")))
     (net Q12
      (joined
       (portRef Q4 (instanceRef U2))
       (portRef Q12))
      (property Name (string "Q12"))
      (property LABEL (string "Q[15:8]")))
     (net Q13
      (joined
       (portRef Q5 (instanceRef U2))
       (portRef Q13))
      (property Name (string "Q13"))
      (property LABEL (string "Q[15:8]")))
     (net Q14
      (joined
       (portRef Q6 (instanceRef U2))
       (portRef Q14))
      (property Name (string "Q14"))
      (property LABEL (string "Q[15:8]")))))))
 (design acc16x2
  (cellRef acc16x2
   (libraryRef MAIN_LIB))))
