(edif add1x2
 (edifVersion 2 0 0)
 (edifLevel 0)
 (keywordMap (keywordLevel 0))
 (status
  (written
   (timeStamp 1998 01 29 19 32 31)
   (program "CAPTURE.EXE" (Version "7.20.145"))
   (comment "Original data from OrCAD/CAPTURE schematic"))
  (comment "")
  (comment "January 29, 1998")
  (comment "G:\MANUFACTURER\XILINXM1\WORKINPROGRESS\XC9500\ADD1X2.DSN")
  (comment "")
  (comment "")
  (comment "")
  (comment "")
  (comment "")
  (comment ""))
 (external OrCAD_LIB
  (edifLevel 0)
  (technology
   (numberDefinition
    (scale 1 1 (unit distance))))
  (cell xor2
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port I0 (direction INPUT))
     (port I1 (direction INPUT))
     (port O (direction OUTPUT)))))
  (cell and2b1
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port I0 (direction INPUT))
     (port I1 (direction INPUT))
     (port O (direction OUTPUT)))))
  (cell or2
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port I0 (direction INPUT))
     (port I1 (direction INPUT))
     (port O (direction OUTPUT)))))
  (cell and2
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port I0 (direction INPUT))
     (port I1 (direction INPUT))
     (port O (direction OUTPUT)))))
  (cell or3
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port I0 (direction INPUT))
     (port I1 (direction INPUT))
     (port I2 (direction INPUT))
     (port O (direction OUTPUT))))))
 (library MAIN_LIB
  (edifLevel 0)
  (technology
   (numberDefinition
    (scale 1 1 (unit distance))))
  (cell add1x2
   (cellType generic)
   (view NetlistView
    (viewType netlist)
    (interface
     (port A0 (direction INPUT))
     (port CI (direction INPUT))
     (port CO (direction OUTPUT))
     (port B0 (direction INPUT))
     (port S0 (direction OUTPUT)))
    (contents
     (instance U1
      (viewRef NetlistView
       (cellRef xor2
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I64"))
      (property EDIForiginalOrigin (string "(pt 0 -50)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "xor2"))
      (portInstance I0
       (property PINTYPE (string "IN")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))))
     (instance U2
      (viewRef NetlistView
       (cellRef and2b1
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I60"))
      (property EDIForiginalOrigin (string "(pt 0 -50)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "and2b1"))
      (portInstance I0
       (property PINTYPE (string "IN"))
       (property PARAM (string "INV")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))))
     (instance U3
      (viewRef NetlistView
       (cellRef or2
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I62"))
      (property EDIForiginalOrigin (string "(pt 0 -50)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "or2"))
      (portInstance I0
       (property PINTYPE (string "IN")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))))
     (instance U4
      (viewRef NetlistView
       (cellRef and2b1
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I65"))
      (property EDIForiginalOrigin (string "(pt 0 -50)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "and2b1"))
      (portInstance I0
       (property PINTYPE (string "IN"))
       (property PARAM (string "INV")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))))
     (instance U5
      (viewRef NetlistView
       (cellRef and2
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I61"))
      (property EDIForiginalOrigin (string "(pt 20 -50)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "and2"))
      (portInstance I0
       (property PINTYPE (string "IN")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))))
     (instance U6
      (viewRef NetlistView
       (cellRef and2
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I80"))
      (property EDIForiginalOrigin (string "(pt 20 -50)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "and2"))
      (portInstance I0
       (property PINTYPE (string "IN")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))))
     (instance U7
      (viewRef NetlistView
       (cellRef or3
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I63"))
      (property EDIForiginalOrigin (string "(pt 0 -60)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "or3"))
      (portInstance I0
       (property PINTYPE (string "IN")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance I2
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))))
     (instance U8
      (viewRef NetlistView
       (cellRef and2
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I81"))
      (property EDIForiginalOrigin (string "(pt 20 -50)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "and2"))
      (portInstance I0
       (property PINTYPE (string "IN")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))))
     (net CI
      (joined
       (portRef I0 (instanceRef U2))
       (portRef I0 (instanceRef U8))
       (portRef I0 (instanceRef U5))
       (portRef I1 (instanceRef U4))
       (portRef CI))
      (property Name (string "CI")))
     (net N00398
      (joined
       (portRef O (instanceRef U5))
       (portRef I2 (instanceRef U7)))
      (property Name (string "N00398")))
     (net N00439
      (joined
       (portRef O (instanceRef U4))
       (portRef I0 (instanceRef U3)))
      (property Name (string "N00439")))
     (net N00432
      (joined
       (portRef O (instanceRef U2))
       (portRef I1 (instanceRef U3)))
      (property Name (string "N00432")))
     (net N00425
      (joined
       (portRef O (instanceRef U3))
       (portRef I0 (instanceRef U1)))
      (property Name (string "N00425")))
     (net A0
      (joined
       (portRef I1 (instanceRef U1))
       (portRef I1 (instanceRef U6))
       (portRef I1 (instanceRef U5))
       (portRef A0))
      (property Name (string "A0")))
     (net N00473
      (joined
       (portRef O (instanceRef U8))
       (portRef I0 (instanceRef U7)))
      (property Name (string "N00473")))
     (net CO
      (joined
       (portRef O (instanceRef U7))
       (portRef CO))
      (property Name (string "CO")))
     (net S0
      (joined
       (portRef O (instanceRef U1))
       (portRef S0))
      (property Name (string "S0")))
     (net N00465
      (joined
       (portRef O (instanceRef U6))
       (portRef I1 (instanceRef U7)))
      (property Name (string "N00465")))
     (net B0
      (joined
       (portRef I1 (instanceRef U2))
       (portRef I1 (instanceRef U8))
       (portRef I0 (instanceRef U6))
       (portRef I0 (instanceRef U4))
       (portRef B0))
      (property Name (string "B0")))))))
 (design add1x2
  (cellRef add1x2
   (libraryRef MAIN_LIB))))
