(edif add4x1
 (edifVersion 2 0 0)
 (edifLevel 0)
 (keywordMap (keywordLevel 0))
 (status
  (written
   (timeStamp 1998 01 29 19 33 56)
   (program "CAPTURE.EXE" (Version "7.20.145"))
   (comment "Original data from OrCAD/CAPTURE schematic"))
  (comment "")
  (comment "January 29, 1998")
  (comment "G:\MANUFACTURER\XILINXM1\WORKINPROGRESS\XC9500\ADD4X1.DSN")
  (comment "")
  (comment "")
  (comment "")
  (comment "")
  (comment "")
  (comment ""))
 (external OrCAD_LIB
  (edifLevel 0)
  (technology
   (numberDefinition
    (scale 1 1 (unit distance))))
  (cell xor2
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port I0 (direction INPUT))
     (port I1 (direction INPUT))
     (port O (direction OUTPUT)))))
  (cell and2
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port I0 (direction INPUT))
     (port I1 (direction INPUT))
     (port O (direction OUTPUT)))))
  (cell and3
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port I0 (direction INPUT))
     (port I1 (direction INPUT))
     (port I2 (direction INPUT))
     (port O (direction OUTPUT)))))
  (cell or4
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port I0 (direction INPUT))
     (port I1 (direction INPUT))
     (port I2 (direction INPUT))
     (port I3 (direction INPUT))
     (port O (direction OUTPUT)))))
  (cell and4
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port I0 (direction INPUT))
     (port I1 (direction INPUT))
     (port I2 (direction INPUT))
     (port I3 (direction INPUT))
     (port O (direction OUTPUT)))))
  (cell and5
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port I0 (direction INPUT))
     (port I1 (direction INPUT))
     (port I2 (direction INPUT))
     (port I3 (direction INPUT))
     (port I4 (direction INPUT))
     (port O (direction OUTPUT)))))
  (cell or2
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port I0 (direction INPUT))
     (port I1 (direction INPUT))
     (port O (direction OUTPUT)))))
  (cell or3
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port I0 (direction INPUT))
     (port I1 (direction INPUT))
     (port I2 (direction INPUT))
     (port O (direction OUTPUT))))))
 (library MAIN_LIB
  (edifLevel 0)
  (technology
   (numberDefinition
    (scale 1 1 (unit distance))))
  (cell add4x1
   (cellType generic)
   (view NetlistView
    (viewType netlist)
    (interface
     (port S1 (direction OUTPUT))
     (port B1 (direction INPUT))
     (port A0 (direction INPUT))
     (port B2 (direction INPUT))
     (port S2 (direction OUTPUT))
     (port A1 (direction INPUT))
     (port A2 (direction INPUT))
     (port S3 (direction OUTPUT))
     (port B3 (direction INPUT))
     (port A3 (direction INPUT))
     (port CO (direction OUTPUT))
     (port S0 (direction OUTPUT))
     (port B0 (direction INPUT)))
    (contents
     (instance U13
      (viewRef NetlistView
       (cellRef xor2
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I170"))
      (property EDIForiginalOrigin (string "(pt 0 -50)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "xor2"))
      (portInstance I0
       (property PINTYPE (string "IN")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))))
     (instance U14
      (viewRef NetlistView
       (cellRef and2
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I192"))
      (property EDIForiginalOrigin (string "(pt 20 -50)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "and2"))
      (portInstance I0
       (property PINTYPE (string "IN")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))))
     (instance U15
      (viewRef NetlistView
       (cellRef xor2
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I169"))
      (property EDIForiginalOrigin (string "(pt 0 -50)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "xor2"))
      (portInstance I0
       (property PINTYPE (string "IN")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))))
     (instance U16
      (viewRef NetlistView
       (cellRef and3
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I191"))
      (property EDIForiginalOrigin (string "(pt 20 -60)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "and3"))
      (portInstance I0
       (property PINTYPE (string "IN")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance I2
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))))
     (instance U17
      (viewRef NetlistView
       (cellRef or4
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I244"))
      (property EDIForiginalOrigin (string "(pt 0 -80)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "or4"))
      (portInstance I0
       (property PINTYPE (string "IN")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance I2
       (property PINTYPE (string "IN")))
      (portInstance I3
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))))
     (instance U18
      (viewRef NetlistView
       (cellRef and4
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I190"))
      (property EDIForiginalOrigin (string "(pt 20 -80)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "and4"))
      (portInstance I0
       (property PINTYPE (string "IN")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance I2
       (property PINTYPE (string "IN")))
      (portInstance I3
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))))
     (instance U19
      (viewRef NetlistView
       (cellRef and5
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I189"))
      (property EDIForiginalOrigin (string "(pt 20 -100)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "and5"))
      (portInstance I0
       (property PINTYPE (string "IN")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance I2
       (property PINTYPE (string "IN")))
      (portInstance I3
       (property PINTYPE (string "IN")))
      (portInstance I4
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))))
     (instance U1
      (viewRef NetlistView
       (cellRef and2
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I201"))
      (property EDIForiginalOrigin (string "(pt 20 -50)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "and2"))
      (portInstance I0
       (property PINTYPE (string "IN")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))))
     (instance U2
      (viewRef NetlistView
       (cellRef xor2
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I209"))
      (property EDIForiginalOrigin (string "(pt 0 -50)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "xor2"))
      (portInstance I0
       (property PINTYPE (string "IN")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))))
     (instance U3
      (viewRef NetlistView
       (cellRef and2
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I199"))
      (property EDIForiginalOrigin (string "(pt 20 -50)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "and2"))
      (portInstance I0
       (property PINTYPE (string "IN")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))))
     (instance U4
      (viewRef NetlistView
       (cellRef or2
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I235"))
      (property EDIForiginalOrigin (string "(pt 0 -50)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "or2"))
      (portInstance I0
       (property PINTYPE (string "IN")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))))
     (instance U20
      (viewRef NetlistView
       (cellRef xor2
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I168"))
      (property EDIForiginalOrigin (string "(pt 0 -50)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "xor2"))
      (portInstance I0
       (property PINTYPE (string "IN")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))))
     (instance U5
      (viewRef NetlistView
       (cellRef xor2
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I206"))
      (property EDIForiginalOrigin (string "(pt 0 -50)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "xor2"))
      (portInstance I0
       (property PINTYPE (string "IN")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))))
     (instance U6
      (viewRef NetlistView
       (cellRef and3
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I198"))
      (property EDIForiginalOrigin (string "(pt 20 -60)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "and3"))
      (portInstance I0
       (property PINTYPE (string "IN")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance I2
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))))
     (instance U7
      (viewRef NetlistView
       (cellRef and2
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I196"))
      (property EDIForiginalOrigin (string "(pt 20 -50)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "and2"))
      (portInstance I0
       (property PINTYPE (string "IN")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))))
     (instance U8
      (viewRef NetlistView
       (cellRef xor2
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I171"))
      (property EDIForiginalOrigin (string "(pt 0 -50)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "xor2"))
      (portInstance I0
       (property PINTYPE (string "IN")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))))
     (instance U9
      (viewRef NetlistView
       (cellRef and3
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I195"))
      (property EDIForiginalOrigin (string "(pt 20 -60)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "and3"))
      (portInstance I0
       (property PINTYPE (string "IN")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance I2
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))))
     (instance U10
      (viewRef NetlistView
       (cellRef xor2
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I210"))
      (property EDIForiginalOrigin (string "(pt 0 -50)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "xor2"))
      (portInstance I0
       (property PINTYPE (string "IN")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))))
     (instance U11
      (viewRef NetlistView
       (cellRef or3
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I239"))
      (property EDIForiginalOrigin (string "(pt 0 -60)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "or3"))
      (portInstance I0
       (property PINTYPE (string "IN")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance I2
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))))
     (instance U12
      (viewRef NetlistView
       (cellRef and4
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I194"))
      (property EDIForiginalOrigin (string "(pt 20 -80)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "and4"))
      (portInstance I0
       (property PINTYPE (string "IN")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance I2
       (property PINTYPE (string "IN")))
      (portInstance I3
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))))
     (net N00664
      (joined
       (portRef O (instanceRef U11))
       (portRef I0 (instanceRef U10)))
      (property Name (string "N00664")))
     (net X1
      (joined
       (portRef O (instanceRef U13))
       (portRef I2 (instanceRef U6))
       (portRef I2 (instanceRef U12))
       (portRef I2 (instanceRef U19))
       (portRef I1 (instanceRef U2)))
      (property Name (string "X1")))
     (net A3
      (joined
       (portRef I1 (instanceRef U14))
       (portRef I1 (instanceRef U20))
       (portRef A3))
      (property Name (string "A3")))
     (net N00708
      (joined
       (portRef O (instanceRef U14))
       (portRef I3 (instanceRef U17)))
      (property Name (string "N00708")))
     (net A1
      (joined
       (portRef I1 (instanceRef U13))
       (portRef I1 (instanceRef U3))
       (portRef I1 (instanceRef U18))
       (portRef I1 (instanceRef U9))
       (portRef A1))
      (property Name (string "A1")))
     (net A0
      (joined
       (portRef I1 (instanceRef U8))
       (portRef I1 (instanceRef U1))
       (portRef I1 (instanceRef U19))
       (portRef I1 (instanceRef U12))
       (portRef I1 (instanceRef U6))
       (portRef A0))
      (property Name (string "A0")))
     (net N00701
      (joined
       (portRef O (instanceRef U16))
       (portRef I2 (instanceRef U17)))
      (property Name (string "N00701")))
     (net N00694
      (joined
       (portRef O (instanceRef U19))
       (portRef I0 (instanceRef U17)))
      (property Name (string "N00694")))
     (net B3
      (joined
       (portRef I0 (instanceRef U14))
       (portRef I0 (instanceRef U20))
       (portRef B3))
      (property Name (string "B3")))
     (net S2
      (joined
       (portRef O (instanceRef U5))
       (portRef S2))
      (property Name (string "S2")))
     (net S3
      (joined
       (portRef O (instanceRef U10))
       (portRef S3))
      (property Name (string "S3")))
     (net N00677
      (joined
       (portRef O (instanceRef U4))
       (portRef I0 (instanceRef U5)))
      (property Name (string "N00677")))
     (net N00674
      (joined
       (portRef O (instanceRef U6))
       (portRef I0 (instanceRef U4)))
      (property Name (string "N00674")))
     (net X3
      (joined
       (portRef O (instanceRef U20))
       (portRef I1 (instanceRef U10))
       (portRef I2 (instanceRef U16))
       (portRef I3 (instanceRef U18))
       (portRef I4 (instanceRef U19)))
      (property Name (string "X3")))
     (net B0
      (joined
       (portRef I0 (instanceRef U8))
       (portRef I0 (instanceRef U1))
       (portRef I0 (instanceRef U19))
       (portRef I0 (instanceRef U12))
       (portRef I0 (instanceRef U6))
       (portRef B0))
      (property Name (string "B0")))
     (net B2
      (joined
       (portRef I0 (instanceRef U7))
       (portRef I0 (instanceRef U16))
       (portRef I0 (instanceRef U15))
       (portRef B2))
      (property Name (string "B2")))
     (net N00667
      (joined
       (portRef O (instanceRef U3))
       (portRef I1 (instanceRef U4)))
      (property Name (string "N00667")))
     (net N00657
      (joined
       (portRef O (instanceRef U12))
       (portRef I0 (instanceRef U11)))
      (property Name (string "N00657")))
     (net N00650
      (joined
       (portRef O (instanceRef U9))
       (portRef I1 (instanceRef U11)))
      (property Name (string "N00650")))
     (net A2
      (joined
       (portRef I1 (instanceRef U15))
       (portRef I1 (instanceRef U7))
       (portRef I1 (instanceRef U16))
       (portRef A2))
      (property Name (string "A2")))
     (net X2
      (joined
       (portRef O (instanceRef U15))
       (portRef I2 (instanceRef U9))
       (portRef I3 (instanceRef U12))
       (portRef I2 (instanceRef U18))
       (portRef I3 (instanceRef U19))
       (portRef I1 (instanceRef U5)))
      (property Name (string "X2")))
     (net N00643
      (joined
       (portRef O (instanceRef U7))
       (portRef I2 (instanceRef U11)))
      (property Name (string "N00643")))
     (net B1
      (joined
       (portRef I0 (instanceRef U13))
       (portRef I0 (instanceRef U3))
       (portRef I0 (instanceRef U18))
       (portRef I0 (instanceRef U9))
       (portRef B1))
      (property Name (string "B1")))
     (net CO
      (joined
       (portRef O (instanceRef U17))
       (portRef CO))
      (property Name (string "CO")))
     (net S1
      (joined
       (portRef O (instanceRef U2))
       (portRef S1))
      (property Name (string "S1")))
     (net S0
      (joined
       (portRef O (instanceRef U8))
       (portRef S0))
      (property Name (string "S0")))
     (net N00718
      (joined
       (portRef O (instanceRef U1))
       (portRef I0 (instanceRef U2)))
      (property Name (string "N00718")))
     (net N00715
      (joined
       (portRef O (instanceRef U18))
       (portRef I1 (instanceRef U17)))
      (property Name (string "N00715")))))))
 (design add4x1
  (cellRef add4x1
   (libraryRef MAIN_LIB))))
