(edif brlshft8
 (edifVersion 2 0 0)
 (edifLevel 0)
 (keywordMap (keywordLevel 0))
 (status
  (written
   (timeStamp 1998 01 29 19 47 40)
   (program "CAPTURE.EXE" (Version "7.20.145"))
   (comment "Original data from OrCAD/CAPTURE schematic"))
  (comment "")
  (comment "January 29, 1998")
  (comment "G:\MANUFACTURER\XILINXM1\WORKINPROGRESS\XC9500\BRLSHFT8.DSN")
  (comment "")
  (comment "")
  (comment "")
  (comment "")
  (comment "")
  (comment ""))
 (external OrCAD_LIB
  (edifLevel 0)
  (technology
   (numberDefinition
    (scale 1 1 (unit distance))))
  (cell m2_1
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port D0 (direction INPUT))
     (port D1 (direction INPUT))
     (port O (direction OUTPUT))
     (port S0 (direction INPUT))))))
 (library MAIN_LIB
  (edifLevel 0)
  (technology
   (numberDefinition
    (scale 1 1 (unit distance))))
  (cell brlshft8
   (cellType generic)
   (view NetlistView
    (viewType netlist)
    (interface
     (port S1 (direction INPUT))
     (port S2 (direction INPUT))
     (port O0 (direction OUTPUT))
     (port O1 (direction OUTPUT))
     (port O2 (direction OUTPUT))
     (port O3 (direction OUTPUT))
     (port O4 (direction OUTPUT))
     (port O5 (direction OUTPUT))
     (port I0 (direction INPUT))
     (port O6 (direction OUTPUT))
     (port I1 (direction INPUT))
     (port O7 (direction OUTPUT))
     (port I2 (direction INPUT))
     (port I3 (direction INPUT))
     (port I4 (direction INPUT))
     (port I5 (direction INPUT))
     (port I6 (direction INPUT))
     (port I7 (direction INPUT))
     (port S0 (direction INPUT)))
    (contents
     (instance U13
      (viewRef NetlistView
       (cellRef m2_1
        (libraryRef OrCAD_LIB)))
      (property Name (string "M45"))
      (property EDIForiginalOrigin (string "(pt 30 -60)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "m2_1"))
      (portInstance D0
       (property PINTYPE (string "IN")))
      (portInstance D1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT")))
      (portInstance S0
       (property PINTYPE (string "IN"))))
     (instance U14
      (viewRef NetlistView
       (cellRef m2_1
        (libraryRef OrCAD_LIB)))
      (property Name (string "MO4"))
      (property EDIForiginalOrigin (string "(pt 30 -60)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "m2_1"))
      (portInstance D0
       (property PINTYPE (string "IN")))
      (portInstance D1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT")))
      (portInstance S0
       (property PINTYPE (string "IN"))))
     (instance U15
      (viewRef NetlistView
       (cellRef m2_1
        (libraryRef OrCAD_LIB)))
      (property Name (string "O4"))
      (property EDIForiginalOrigin (string "(pt 30 -60)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "m2_1"))
      (portInstance D0
       (property PINTYPE (string "IN")))
      (portInstance D1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT")))
      (portInstance S0
       (property PINTYPE (string "IN"))))
     (instance U16
      (viewRef NetlistView
       (cellRef m2_1
        (libraryRef OrCAD_LIB)))
      (property Name (string "M56"))
      (property EDIForiginalOrigin (string "(pt 30 -60)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "m2_1"))
      (portInstance D0
       (property PINTYPE (string "IN")))
      (portInstance D1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT")))
      (portInstance S0
       (property PINTYPE (string "IN"))))
     (instance U17
      (viewRef NetlistView
       (cellRef m2_1
        (libraryRef OrCAD_LIB)))
      (property Name (string "MO5"))
      (property EDIForiginalOrigin (string "(pt 30 -60)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "m2_1"))
      (portInstance D0
       (property PINTYPE (string "IN")))
      (portInstance D1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT")))
      (portInstance S0
       (property PINTYPE (string "IN"))))
     (instance U18
      (viewRef NetlistView
       (cellRef m2_1
        (libraryRef OrCAD_LIB)))
      (property Name (string "O5"))
      (property EDIForiginalOrigin (string "(pt 30 -60)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "m2_1"))
      (portInstance D0
       (property PINTYPE (string "IN")))
      (portInstance D1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT")))
      (portInstance S0
       (property PINTYPE (string "IN"))))
     (instance U19
      (viewRef NetlistView
       (cellRef m2_1
        (libraryRef OrCAD_LIB)))
      (property Name (string "M67"))
      (property EDIForiginalOrigin (string "(pt 30 -60)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "m2_1"))
      (portInstance D0
       (property PINTYPE (string "IN")))
      (portInstance D1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT")))
      (portInstance S0
       (property PINTYPE (string "IN"))))
     (instance U1
      (viewRef NetlistView
       (cellRef m2_1
        (libraryRef OrCAD_LIB)))
      (property Name (string "M01"))
      (property EDIForiginalOrigin (string "(pt 30 -60)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "m2_1"))
      (portInstance D0
       (property PINTYPE (string "IN")))
      (portInstance D1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT")))
      (portInstance S0
       (property PINTYPE (string "IN"))))
     (instance U2
      (viewRef NetlistView
       (cellRef m2_1
        (libraryRef OrCAD_LIB)))
      (property Name (string "MO0"))
      (property EDIForiginalOrigin (string "(pt 30 -60)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "m2_1"))
      (portInstance D0
       (property PINTYPE (string "IN")))
      (portInstance D1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT")))
      (portInstance S0
       (property PINTYPE (string "IN"))))
     (instance U3
      (viewRef NetlistView
       (cellRef m2_1
        (libraryRef OrCAD_LIB)))
      (property Name (string "O0"))
      (property EDIForiginalOrigin (string "(pt 30 -60)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "m2_1"))
      (portInstance D0
       (property PINTYPE (string "IN")))
      (portInstance D1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT")))
      (portInstance S0
       (property PINTYPE (string "IN"))))
     (instance U4
      (viewRef NetlistView
       (cellRef m2_1
        (libraryRef OrCAD_LIB)))
      (property Name (string "M12"))
      (property EDIForiginalOrigin (string "(pt 30 -60)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "m2_1"))
      (portInstance D0
       (property PINTYPE (string "IN")))
      (portInstance D1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT")))
      (portInstance S0
       (property PINTYPE (string "IN"))))
     (instance U20
      (viewRef NetlistView
       (cellRef m2_1
        (libraryRef OrCAD_LIB)))
      (property Name (string "MO6"))
      (property EDIForiginalOrigin (string "(pt 30 -60)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "m2_1"))
      (portInstance D0
       (property PINTYPE (string "IN")))
      (portInstance D1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT")))
      (portInstance S0
       (property PINTYPE (string "IN"))))
     (instance U5
      (viewRef NetlistView
       (cellRef m2_1
        (libraryRef OrCAD_LIB)))
      (property Name (string "MO1"))
      (property EDIForiginalOrigin (string "(pt 30 -60)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "m2_1"))
      (portInstance D0
       (property PINTYPE (string "IN")))
      (portInstance D1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT")))
      (portInstance S0
       (property PINTYPE (string "IN"))))
     (instance U21
      (viewRef NetlistView
       (cellRef m2_1
        (libraryRef OrCAD_LIB)))
      (property Name (string "O6"))
      (property EDIForiginalOrigin (string "(pt 30 -60)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "m2_1"))
      (portInstance D0
       (property PINTYPE (string "IN")))
      (portInstance D1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT")))
      (portInstance S0
       (property PINTYPE (string "IN"))))
     (instance U6
      (viewRef NetlistView
       (cellRef m2_1
        (libraryRef OrCAD_LIB)))
      (property Name (string "O1"))
      (property EDIForiginalOrigin (string "(pt 30 -60)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "m2_1"))
      (portInstance D0
       (property PINTYPE (string "IN")))
      (portInstance D1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT")))
      (portInstance S0
       (property PINTYPE (string "IN"))))
     (instance U7
      (viewRef NetlistView
       (cellRef m2_1
        (libraryRef OrCAD_LIB)))
      (property Name (string "M23"))
      (property EDIForiginalOrigin (string "(pt 30 -60)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "m2_1"))
      (portInstance D0
       (property PINTYPE (string "IN")))
      (portInstance D1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT")))
      (portInstance S0
       (property PINTYPE (string "IN"))))
     (instance U22
      (viewRef NetlistView
       (cellRef m2_1
        (libraryRef OrCAD_LIB)))
      (property Name (string "M70"))
      (property EDIForiginalOrigin (string "(pt 30 -60)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "m2_1"))
      (portInstance D0
       (property PINTYPE (string "IN")))
      (portInstance D1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT")))
      (portInstance S0
       (property PINTYPE (string "IN"))))
     (instance U8
      (viewRef NetlistView
       (cellRef m2_1
        (libraryRef OrCAD_LIB)))
      (property Name (string "MO2"))
      (property EDIForiginalOrigin (string "(pt 30 -60)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "m2_1"))
      (portInstance D0
       (property PINTYPE (string "IN")))
      (portInstance D1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT")))
      (portInstance S0
       (property PINTYPE (string "IN"))))
     (instance U23
      (viewRef NetlistView
       (cellRef m2_1
        (libraryRef OrCAD_LIB)))
      (property Name (string "MO7"))
      (property EDIForiginalOrigin (string "(pt 30 -60)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "m2_1"))
      (portInstance D0
       (property PINTYPE (string "IN")))
      (portInstance D1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT")))
      (portInstance S0
       (property PINTYPE (string "IN"))))
     (instance U9
      (viewRef NetlistView
       (cellRef m2_1
        (libraryRef OrCAD_LIB)))
      (property Name (string "O2"))
      (property EDIForiginalOrigin (string "(pt 30 -60)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "m2_1"))
      (portInstance D0
       (property PINTYPE (string "IN")))
      (portInstance D1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT")))
      (portInstance S0
       (property PINTYPE (string "IN"))))
     (instance U24
      (viewRef NetlistView
       (cellRef m2_1
        (libraryRef OrCAD_LIB)))
      (property Name (string "O7"))
      (property EDIForiginalOrigin (string "(pt 30 -60)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "m2_1"))
      (portInstance D0
       (property PINTYPE (string "IN")))
      (portInstance D1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT")))
      (portInstance S0
       (property PINTYPE (string "IN"))))
     (instance U10
      (viewRef NetlistView
       (cellRef m2_1
        (libraryRef OrCAD_LIB)))
      (property Name (string "M34"))
      (property EDIForiginalOrigin (string "(pt 30 -60)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "m2_1"))
      (portInstance D0
       (property PINTYPE (string "IN")))
      (portInstance D1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT")))
      (portInstance S0
       (property PINTYPE (string "IN"))))
     (instance U11
      (viewRef NetlistView
       (cellRef m2_1
        (libraryRef OrCAD_LIB)))
      (property Name (string "MO3"))
      (property EDIForiginalOrigin (string "(pt 30 -60)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "m2_1"))
      (portInstance D0
       (property PINTYPE (string "IN")))
      (portInstance D1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT")))
      (portInstance S0
       (property PINTYPE (string "IN"))))
     (instance U12
      (viewRef NetlistView
       (cellRef m2_1
        (libraryRef OrCAD_LIB)))
      (property Name (string "O3"))
      (property EDIForiginalOrigin (string "(pt 30 -60)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "m2_1"))
      (portInstance D0
       (property PINTYPE (string "IN")))
      (portInstance D1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT")))
      (portInstance S0
       (property PINTYPE (string "IN"))))
     (net MO3
      (joined
       (portRef O (instanceRef U11))
       (portRef D0 (instanceRef U12))
       (portRef D1 (instanceRef U24)))
      (property Name (string "MO3")))
     (net I7
      (joined
       (portRef D0 (instanceRef U22))
       (portRef D1 (instanceRef U19))
       (portRef I7))
      (property Name (string "I7")))
     (net MO1
      (joined
       (portRef O (instanceRef U5))
       (portRef D0 (instanceRef U6))
       (portRef D1 (instanceRef U18)))
      (property Name (string "MO1")))
     (net O7
      (joined
       (portRef O (instanceRef U24))
       (portRef O7))
      (property Name (string "O7")))
     (net M01
      (joined
       (portRef O (instanceRef U1))
       (portRef D0 (instanceRef U2))
       (portRef D1 (instanceRef U20)))
      (property Name (string "M01")))
     (net S0
      (joined
       (portRef S0 (instanceRef U22))
       (portRef S0 (instanceRef U1))
       (portRef S0 (instanceRef U4))
       (portRef S0 (instanceRef U7))
       (portRef S0 (instanceRef U10))
       (portRef S0 (instanceRef U13))
       (portRef S0 (instanceRef U16))
       (portRef S0 (instanceRef U19))
       (portRef S0))
      (property Name (string "S0")))
     (net I6
      (joined
       (portRef D0 (instanceRef U19))
       (portRef D1 (instanceRef U16))
       (portRef I6))
      (property Name (string "I6")))
     (net MO7
      (joined
       (portRef O (instanceRef U23))
       (portRef D0 (instanceRef U24))
       (portRef D1 (instanceRef U12)))
      (property Name (string "MO7")))
     (net I0
      (joined
       (portRef D0 (instanceRef U1))
       (portRef D1 (instanceRef U22))
       (portRef I0))
      (property Name (string "I0")))
     (net M34
      (joined
       (portRef O (instanceRef U10))
       (portRef D0 (instanceRef U11))
       (portRef D1 (instanceRef U5)))
      (property Name (string "M34")))
     (net I5
      (joined
       (portRef D0 (instanceRef U16))
       (portRef D1 (instanceRef U13))
       (portRef I5))
      (property Name (string "I5")))
     (net M12
      (joined
       (portRef O (instanceRef U4))
       (portRef D0 (instanceRef U5))
       (portRef D1 (instanceRef U23)))
      (property Name (string "M12")))
     (net MO6
      (joined
       (portRef O (instanceRef U20))
       (portRef D0 (instanceRef U21))
       (portRef D1 (instanceRef U9)))
      (property Name (string "MO6")))
     (net M70
      (joined
       (portRef O (instanceRef U22))
       (portRef D0 (instanceRef U23))
       (portRef D1 (instanceRef U17)))
      (property Name (string "M70")))
     (net M56
      (joined
       (portRef O (instanceRef U16))
       (portRef D0 (instanceRef U17))
       (portRef D1 (instanceRef U11)))
      (property Name (string "M56")))
     (net S2
      (joined
       (portRef S0 (instanceRef U3))
       (portRef S0 (instanceRef U6))
       (portRef S0 (instanceRef U9))
       (portRef S0 (instanceRef U12))
       (portRef S0 (instanceRef U15))
       (portRef S0 (instanceRef U18))
       (portRef S0 (instanceRef U21))
       (portRef S0 (instanceRef U24))
       (portRef S2))
      (property Name (string "S2")))
     (net M23
      (joined
       (portRef O (instanceRef U7))
       (portRef D0 (instanceRef U8))
       (portRef D1 (instanceRef U2)))
      (property Name (string "M23")))
     (net O2
      (joined
       (portRef O (instanceRef U9))
       (portRef O2))
      (property Name (string "O2")))
     (net I2
      (joined
       (portRef D0 (instanceRef U7))
       (portRef D1 (instanceRef U4))
       (portRef I2))
      (property Name (string "I2")))
     (net S1
      (joined
       (portRef S0 (instanceRef U2))
       (portRef S0 (instanceRef U5))
       (portRef S0 (instanceRef U8))
       (portRef S0 (instanceRef U11))
       (portRef S0 (instanceRef U14))
       (portRef S0 (instanceRef U17))
       (portRef S0 (instanceRef U20))
       (portRef S0 (instanceRef U23))
       (portRef S1))
      (property Name (string "S1")))
     (net MO5
      (joined
       (portRef O (instanceRef U17))
       (portRef D0 (instanceRef U18))
       (portRef D1 (instanceRef U6)))
      (property Name (string "MO5")))
     (net O3
      (joined
       (portRef O (instanceRef U12))
       (portRef O3))
      (property Name (string "O3")))
     (net M45
      (joined
       (portRef O (instanceRef U13))
       (portRef D0 (instanceRef U14))
       (portRef D1 (instanceRef U8)))
      (property Name (string "M45")))
     (net I1
      (joined
       (portRef D0 (instanceRef U4))
       (portRef D1 (instanceRef U1))
       (portRef I1))
      (property Name (string "I1")))
     (net O4
      (joined
       (portRef O (instanceRef U15))
       (portRef O4))
      (property Name (string "O4")))
     (net MO4
      (joined
       (portRef O (instanceRef U14))
       (portRef D0 (instanceRef U15))
       (portRef D1 (instanceRef U3)))
      (property Name (string "MO4")))
     (net MO2
      (joined
       (portRef O (instanceRef U8))
       (portRef D0 (instanceRef U9))
       (portRef D1 (instanceRef U21)))
      (property Name (string "MO2")))
     (net O5
      (joined
       (portRef O (instanceRef U18))
       (portRef O5))
      (property Name (string "O5")))
     (net O0
      (joined
       (portRef O (instanceRef U3))
       (portRef O0))
      (property Name (string "O0")))
     (net O6
      (joined
       (portRef O (instanceRef U21))
       (portRef O6))
      (property Name (string "O6")))
     (net O1
      (joined
       (portRef O (instanceRef U6))
       (portRef O1))
      (property Name (string "O1")))
     (net I4
      (joined
       (portRef D0 (instanceRef U13))
       (portRef D1 (instanceRef U10))
       (portRef I4))
      (property Name (string "I4")))
     (net MO0
      (joined
       (portRef O (instanceRef U2))
       (portRef D0 (instanceRef U3))
       (portRef D1 (instanceRef U15)))
      (property Name (string "MO0")))
     (net M67
      (joined
       (portRef O (instanceRef U19))
       (portRef D0 (instanceRef U20))
       (portRef D1 (instanceRef U14)))
      (property Name (string "M67")))
     (net I3
      (joined
       (portRef D0 (instanceRef U10))
       (portRef D1 (instanceRef U7))
       (portRef I3))
      (property Name (string "I3")))))))
 (design brlshft8
  (cellRef brlshft8
   (libraryRef MAIN_LIB))))
