(edif cd4ce
 (edifVersion 2 0 0)
 (edifLevel 0)
 (keywordMap (keywordLevel 0))
 (status
  (written
   (timeStamp 1998 01 29 19 22 35)
   (program "CAPTURE.EXE" (Version "7.20.145"))
   (comment "Original data from OrCAD/CAPTURE schematic"))
  (comment "")
  (comment "January 29, 1998")
  (comment "G:\MANUFACTURER\XILINXM1\WORKINPROGRESS\XC9500\CD4CE.DSN")
  (comment "")
  (comment "")
  (comment "")
  (comment "")
  (comment "")
  (comment ""))
 (external OrCAD_LIB
  (edifLevel 0)
  (technology
   (numberDefinition
    (scale 1 1 (unit distance))))
  (cell and4b2
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port I0 (direction INPUT))
     (port I1 (direction INPUT))
     (port I2 (direction INPUT))
     (port I3 (direction INPUT))
     (port O (direction OUTPUT)))))
  (cell and5b2
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port I0 (direction INPUT))
     (port I1 (direction INPUT))
     (port I2 (direction INPUT))
     (port I3 (direction INPUT))
     (port I4 (direction INPUT))
     (port O (direction OUTPUT)))))
  (cell and2b1
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port I0 (direction INPUT))
     (port I1 (direction INPUT))
     (port O (direction OUTPUT)))))
  (cell or3
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port I0 (direction INPUT))
     (port I1 (direction INPUT))
     (port I2 (direction INPUT))
     (port O (direction OUTPUT)))))
  (cell fdc
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port C (direction INPUT))
     (port CLR (direction INPUT))
     (port D (direction INPUT))
     (port Q (direction OUTPUT)))))
  (cell and5b1
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port I0 (direction INPUT))
     (port I1 (direction INPUT))
     (port I2 (direction INPUT))
     (port I3 (direction INPUT))
     (port I4 (direction INPUT))
     (port O (direction OUTPUT)))))
  (cell VCC
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port P (direction OUTPUT)))))
  (cell and2
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port I0 (direction INPUT))
     (port I1 (direction INPUT))
     (port O (direction OUTPUT)))))
  (cell and3b2
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port I0 (direction INPUT))
     (port I1 (direction INPUT))
     (port I2 (direction INPUT))
     (port O (direction OUTPUT)))))
  (cell and4b3
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port I0 (direction INPUT))
     (port I1 (direction INPUT))
     (port I2 (direction INPUT))
     (port I3 (direction INPUT))
     (port O (direction OUTPUT)))))
  (cell and5b3
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port I0 (direction INPUT))
     (port I1 (direction INPUT))
     (port I2 (direction INPUT))
     (port I3 (direction INPUT))
     (port I4 (direction INPUT))
     (port O (direction OUTPUT)))))
  (cell or4
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port I0 (direction INPUT))
     (port I1 (direction INPUT))
     (port I2 (direction INPUT))
     (port I3 (direction INPUT))
     (port O (direction OUTPUT))))))
 (library MAIN_LIB
  (edifLevel 0)
  (technology
   (numberDefinition
    (scale 1 1 (unit distance))))
  (cell cd4ce
   (cellType generic)
   (view NetlistView
    (viewType netlist)
    (interface
     (port TC (direction OUTPUT))
     (port Q0 (direction OUTPUT))
     (port Q1 (direction OUTPUT))
     (port CE (direction INPUT))
     (port Q2 (direction OUTPUT))
     (port Q3 (direction OUTPUT))
     (port CLR (direction INPUT))
     (port CEO (direction OUTPUT))
     (port C (direction INPUT)))
    (contents
     (instance U13
      (viewRef NetlistView
       (cellRef and4b2
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I147"))
      (property EDIForiginalOrigin (string "(pt 0 -80)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "and4b2"))
      (portInstance I0
       (property PINTYPE (string "IN"))
       (property PARAM (string "INV")))
      (portInstance I1
       (property PINTYPE (string "IN"))
       (property PARAM (string "INV")))
      (portInstance I2
       (property PINTYPE (string "IN")))
      (portInstance I3
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))))
     (instance U14
      (viewRef NetlistView
       (cellRef and5b2
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I229"))
      (property EDIForiginalOrigin (string "(pt 0 -100)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "and5b2"))
      (portInstance I0
       (property PARAM (string "INV"))
       (property PINTYPE (string "IN")))
      (portInstance I1
       (property PARAM (string "INV"))
       (property PINTYPE (string "IN")))
      (portInstance I2
       (property PINTYPE (string "IN")))
      (portInstance I3
       (property PINTYPE (string "IN")))
      (portInstance I4
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))))
     (instance U15
      (viewRef NetlistView
       (cellRef and2b1
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I175"))
      (property EDIForiginalOrigin (string "(pt 0 -50)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "and2b1"))
      (portInstance I0
       (property PINTYPE (string "IN"))
       (property PARAM (string "INV")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))))
     (instance U16
      (viewRef NetlistView
       (cellRef and4b2
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I146"))
      (property EDIForiginalOrigin (string "(pt 0 -80)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "and4b2"))
      (portInstance I0
       (property PINTYPE (string "IN"))
       (property PARAM (string "INV")))
      (portInstance I1
       (property PINTYPE (string "IN"))
       (property PARAM (string "INV")))
      (portInstance I2
       (property PINTYPE (string "IN")))
      (portInstance I3
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))))
     (instance U17
      (viewRef NetlistView
       (cellRef or3
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I159"))
      (property EDIForiginalOrigin (string "(pt 0 -60)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "or3"))
      (portInstance I0
       (property PINTYPE (string "IN")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance I2
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))))
     (instance U18
      (viewRef NetlistView
       (cellRef fdc
        (libraryRef OrCAD_LIB)))
      (property Name (string "Q1"))
      (property EDIForiginalOrigin (string "(pt 20 -100)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "fdc"))
      (portInstance C
       (property PINTYPE (string "IN")))
      (portInstance CLR
       (property PINTYPE (string "IN")))
      (portInstance D
       (property PINTYPE (string "IN")))
      (portInstance Q
       (property PINTYPE (string "OUT"))))
     (instance U19
      (viewRef NetlistView
       (cellRef and5b1
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I206"))
      (property EDIForiginalOrigin (string "(pt 0 -100)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "and5b1"))
      (portInstance I0
       (property PARAM (string "INV"))
       (property PINTYPE (string "IN")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance I2
       (property PINTYPE (string "IN")))
      (portInstance I3
       (property PINTYPE (string "IN")))
      (portInstance I4
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))))
     (instance U1
      (viewRef NetlistView
       (cellRef VCC
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I106"))
      (property EDIForiginalOrigin (string "(pt 10 -20)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "VCC"))
      (portInstance P
       (property PINTYPE (string "OUT"))))
     (instance U2
      (viewRef NetlistView
       (cellRef and2
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I108"))
      (property EDIForiginalOrigin (string "(pt 20 -50)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "and2"))
      (portInstance I0
       (property PINTYPE (string "IN")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))))
     (instance U3
      (viewRef NetlistView
       (cellRef and3b2
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I107"))
      (property EDIForiginalOrigin (string "(pt 0 -60)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "and3b2"))
      (portInstance I0
       (property PARAM (string "INV"))
       (property PINTYPE (string "IN")))
      (portInstance I1
       (property PARAM (string "INV"))
       (property PINTYPE (string "IN")))
      (portInstance I2
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))))
     (instance U4
      (viewRef NetlistView
       (cellRef and5b2
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I171"))
      (property EDIForiginalOrigin (string "(pt 0 -100)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "and5b2"))
      (portInstance I0
       (property PARAM (string "INV"))
       (property PINTYPE (string "IN")))
      (portInstance I1
       (property PARAM (string "INV"))
       (property PINTYPE (string "IN")))
      (portInstance I2
       (property PINTYPE (string "IN")))
      (portInstance I3
       (property PINTYPE (string "IN")))
      (portInstance I4
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))))
     (instance U20
      (viewRef NetlistView
       (cellRef and4b2
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I230"))
      (property EDIForiginalOrigin (string "(pt 0 -80)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "and4b2"))
      (portInstance I0
       (property PINTYPE (string "IN"))
       (property PARAM (string "INV")))
      (portInstance I1
       (property PINTYPE (string "IN"))
       (property PARAM (string "INV")))
      (portInstance I2
       (property PINTYPE (string "IN")))
      (portInstance I3
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))))
     (instance U5
      (viewRef NetlistView
       (cellRef and4b3
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I109"))
      (property EDIForiginalOrigin (string "(pt 0 -80)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "and4b3"))
      (portInstance I0
       (property PINTYPE (string "IN"))
       (property PARAM (string "INV")))
      (portInstance I1
       (property PINTYPE (string "IN"))
       (property PARAM (string "INV")))
      (portInstance I2
       (property PINTYPE (string "IN"))
       (property PARAM (string "INV")))
      (portInstance I3
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))))
     (instance U6
      (viewRef NetlistView
       (cellRef or3
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I111"))
      (property EDIForiginalOrigin (string "(pt 0 -60)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "or3"))
      (portInstance I0
       (property PINTYPE (string "IN")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance I2
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))))
     (instance U21
      (viewRef NetlistView
       (cellRef and2b1
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I148"))
      (property EDIForiginalOrigin (string "(pt 0 -50)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "and2b1"))
      (portInstance I0
       (property PINTYPE (string "IN"))
       (property PARAM (string "INV")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))))
     (instance U7
      (viewRef NetlistView
       (cellRef fdc
        (libraryRef OrCAD_LIB)))
      (property Name (string "Q0"))
      (property EDIForiginalOrigin (string "(pt 20 -100)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "fdc"))
      (portInstance C
       (property PINTYPE (string "IN")))
      (portInstance CLR
       (property PINTYPE (string "IN")))
      (portInstance D
       (property PINTYPE (string "IN")))
      (portInstance Q
       (property PINTYPE (string "OUT"))))
     (instance U22
      (viewRef NetlistView
       (cellRef and5b3
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I207"))
      (property EDIForiginalOrigin (string "(pt 0 -100)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "and5b3"))
      (portInstance I0
       (property PARAM (string "INV"))
       (property PINTYPE (string "IN")))
      (portInstance I1
       (property PARAM (string "INV"))
       (property PINTYPE (string "IN")))
      (portInstance I2
       (property PARAM (string "INV"))
       (property PINTYPE (string "IN")))
      (portInstance I3
       (property PINTYPE (string "IN")))
      (portInstance I4
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))))
     (instance U23
      (viewRef NetlistView
       (cellRef or3
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I222"))
      (property EDIForiginalOrigin (string "(pt 0 -60)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "or3"))
      (portInstance I0
       (property PINTYPE (string "IN")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance I2
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))))
     (instance U8
      (viewRef NetlistView
       (cellRef and4b2
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I173"))
      (property EDIForiginalOrigin (string "(pt 0 -80)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "and4b2"))
      (portInstance I0
       (property PINTYPE (string "IN"))
       (property PARAM (string "INV")))
      (portInstance I1
       (property PINTYPE (string "IN"))
       (property PARAM (string "INV")))
      (portInstance I2
       (property PINTYPE (string "IN")))
      (portInstance I3
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))))
     (instance U24
      (viewRef NetlistView
       (cellRef fdc
        (libraryRef OrCAD_LIB)))
      (property Name (string "Q3"))
      (property EDIForiginalOrigin (string "(pt 20 -100)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "fdc"))
      (portInstance C
       (property PINTYPE (string "IN")))
      (portInstance CLR
       (property PINTYPE (string "IN")))
      (portInstance D
       (property PINTYPE (string "IN")))
      (portInstance Q
       (property PINTYPE (string "OUT"))))
     (instance U9
      (viewRef NetlistView
       (cellRef and2b1
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I110"))
      (property EDIForiginalOrigin (string "(pt 0 -50)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "and2b1"))
      (portInstance I0
       (property PINTYPE (string "IN"))
       (property PARAM (string "INV")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))))
     (instance U25
      (viewRef NetlistView
       (cellRef and2b1
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I208"))
      (property EDIForiginalOrigin (string "(pt 0 -50)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "and2b1"))
      (portInstance I0
       (property PINTYPE (string "IN"))
       (property PARAM (string "INV")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))))
     (instance U10
      (viewRef NetlistView
       (cellRef or4
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I176"))
      (property EDIForiginalOrigin (string "(pt 0 -80)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "or4"))
      (portInstance I0
       (property PINTYPE (string "IN")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance I2
       (property PINTYPE (string "IN")))
      (portInstance I3
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))))
     (instance U11
      (viewRef NetlistView
       (cellRef fdc
        (libraryRef OrCAD_LIB)))
      (property Name (string "Q2"))
      (property EDIForiginalOrigin (string "(pt 20 -100)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "fdc"))
      (portInstance C
       (property PINTYPE (string "IN")))
      (portInstance CLR
       (property PINTYPE (string "IN")))
      (portInstance D
       (property PINTYPE (string "IN")))
      (portInstance Q
       (property PINTYPE (string "OUT"))))
     (instance U12
      (viewRef NetlistView
       (cellRef and4b2
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I172"))
      (property EDIForiginalOrigin (string "(pt 0 -80)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "and4b2"))
      (portInstance I0
       (property PINTYPE (string "IN"))
       (property PARAM (string "INV")))
      (portInstance I1
       (property PINTYPE (string "IN"))
       (property PARAM (string "INV")))
      (portInstance I2
       (property PINTYPE (string "IN")))
      (portInstance I3
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))))
     (net N00558
      (joined
       (portRef O (instanceRef U22))
       (portRef I1 (instanceRef U23)))
      (property Name (string "N00558")))
     (net N00520
      (joined
       (portRef O (instanceRef U13))
       (portRef I2 (instanceRef U17)))
      (property Name (string "N00520")))
     (net Q3
      (joined
       (portRef I0 (instanceRef U3))
       (portRef I0 (instanceRef U13))
       (portRef I0 (instanceRef U16))
       (portRef I2 (instanceRef U20))
       (portRef I2 (instanceRef U14))
       (portRef Q (instanceRef U24))
       (portRef I1 (instanceRef U25))
       (portRef I3 (instanceRef U22))
       (portRef I0 (instanceRef U19))
       (portRef I0 (instanceRef U12))
       (portRef I0 (instanceRef U8))
       (portRef I0 (instanceRef U4))
       (portRef Q3))
      (property Name (string "Q3")))
     (net N00586
      (joined
       (portRef P (instanceRef U1))
       (portRef I1 (instanceRef U2)))
      (property Name (string "N00586")))
     (net N00517
      (joined
       (portRef O (instanceRef U16))
       (portRef I1 (instanceRef U17)))
      (property Name (string "N00517")))
     (net N00510
      (joined
       (portRef O (instanceRef U21))
       (portRef I0 (instanceRef U17)))
      (property Name (string "N00510")))
     (net CE
      (joined
       (portRef I0 (instanceRef U2))
       (portRef CE))
      (property Name (string "CE")))
     (net N00578
      (joined
       (portRef O (instanceRef U23))
       (portRef D (instanceRef U24)))
      (property Name (string "N00578")))
     (net N00575
      (joined
       (portRef O (instanceRef U10))
       (portRef D (instanceRef U11)))
      (property Name (string "N00575")))
     (net C
      (joined
       (portRef C (instanceRef U24))
       (portRef C (instanceRef U11))
       (portRef C (instanceRef U18))
       (portRef C (instanceRef U7))
       (portRef C))
      (property Name (string "C")))
     (net CLR
      (joined
       (portRef CLR (instanceRef U24))
       (portRef CLR (instanceRef U11))
       (portRef CLR (instanceRef U18))
       (portRef CLR (instanceRef U7))
       (portRef CLR))
      (property Name (string "CLR")))
     (net N00568
      (joined
       (portRef O (instanceRef U19))
       (portRef I2 (instanceRef U23)))
      (property Name (string "N00568")))
     (net Q0
      (joined
       (portRef I1 (instanceRef U3))
       (portRef I2 (instanceRef U5))
       (portRef I1 (instanceRef U9))
       (portRef I1 (instanceRef U13))
       (portRef I2 (instanceRef U16))
       (portRef I3 (instanceRef U20))
       (portRef I3 (instanceRef U14))
       (portRef I2 (instanceRef U22))
       (portRef I3 (instanceRef U19))
       (portRef I1 (instanceRef U8))
       (portRef I3 (instanceRef U4))
       (portRef Q (instanceRef U7))
       (portRef Q0))
      (property Name (string "Q0")))
     (net N00503
      (joined
       (portRef O (instanceRef U3))
       (portRef I2 (instanceRef U6)))
      (property Name (string "N00503")))
     (net N00500
      (joined
       (portRef O (instanceRef U5))
       (portRef I1 (instanceRef U6)))
      (property Name (string "N00500")))
     (net N00601
      (joined
       (portRef I2 (instanceRef U3))
       (portRef I3 (instanceRef U5))
       (portRef I0 (instanceRef U9))
       (portRef I3 (instanceRef U13))
       (portRef I3 (instanceRef U16))
       (portRef I0 (instanceRef U21))
       (portRef I4 (instanceRef U14))
       (portRef I0 (instanceRef U25))
       (portRef I4 (instanceRef U22))
       (portRef I4 (instanceRef U19))
       (portRef I0 (instanceRef U15))
       (portRef I3 (instanceRef U12))
       (portRef I3 (instanceRef U8))
       (portRef I4 (instanceRef U4))
       (portRef O (instanceRef U2)))
      (property Name (string "N00601")))
     (net N00493
      (joined
       (portRef O (instanceRef U9))
       (portRef I0 (instanceRef U6)))
      (property Name (string "N00493")))
     (net N00490
      (joined
       (portRef O (instanceRef U6))
       (portRef D (instanceRef U7)))
      (property Name (string "N00490")))
     (net N00551
      (joined
       (portRef O (instanceRef U15))
       (portRef I0 (instanceRef U10)))
      (property Name (string "N00551")))
     (net Q2
      (joined
       (portRef I0 (instanceRef U5))
       (portRef I0 (instanceRef U20))
       (portRef I0 (instanceRef U14))
       (portRef Q (instanceRef U11))
       (portRef I0 (instanceRef U22))
       (portRef I1 (instanceRef U19))
       (portRef I1 (instanceRef U15))
       (portRef I2 (instanceRef U12))
       (portRef I2 (instanceRef U8))
       (portRef I1 (instanceRef U4))
       (portRef Q2))
      (property Name (string "Q2")))
     (net N00544
      (joined
       (portRef O (instanceRef U12))
       (portRef I1 (instanceRef U10)))
      (property Name (string "N00544")))
     (net Q1
      (joined
       (portRef I1 (instanceRef U5))
       (portRef I2 (instanceRef U13))
       (portRef I1 (instanceRef U16))
       (portRef I1 (instanceRef U21))
       (portRef I1 (instanceRef U20))
       (portRef I1 (instanceRef U14))
       (portRef I1 (instanceRef U22))
       (portRef I2 (instanceRef U19))
       (portRef I1 (instanceRef U12))
       (portRef I2 (instanceRef U4))
       (portRef Q (instanceRef U18))
       (portRef Q1))
      (property Name (string "Q1")))
     (net N00537
      (joined
       (portRef O (instanceRef U4))
       (portRef I3 (instanceRef U10)))
      (property Name (string "N00537")))
     (net TC
      (joined
       (portRef O (instanceRef U20))
       (portRef TC))
      (property Name (string "TC")))
     (net N00561
      (joined
       (portRef O (instanceRef U25))
       (portRef I0 (instanceRef U23)))
      (property Name (string "N00561")))
     (net CEO
      (joined
       (portRef O (instanceRef U14))
       (portRef CEO))
      (property Name (string "CEO")))
     (net N00530
      (joined
       (portRef O (instanceRef U8))
       (portRef I2 (instanceRef U10)))
      (property Name (string "N00530")))
     (net N00527
      (joined
       (portRef O (instanceRef U17))
       (portRef D (instanceRef U18)))
      (property Name (string "N00527")))))))
 (design cd4ce
  (cellRef cd4ce
   (libraryRef MAIN_LIB))))
