(edif comp8
 (edifVersion 2 0 0)
 (edifLevel 0)
 (keywordMap (keywordLevel 0))
 (status
  (written
   (timeStamp 1998 01 29 19 26 33)
   (program "CAPTURE.EXE" (Version "7.20.145"))
   (comment "Original data from OrCAD/CAPTURE schematic"))
  (comment "")
  (comment "January 29, 1998")
  (comment "G:\MANUFACTURER\XILINXM1\WORKINPROGRESS\XC9500\COMP8.DSN")
  (comment "")
  (comment "")
  (comment "")
  (comment "")
  (comment "")
  (comment ""))
 (external OrCAD_LIB
  (edifLevel 0)
  (technology
   (numberDefinition
    (scale 1 1 (unit distance))))
  (cell xnor2
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port I0 (direction INPUT))
     (port I1 (direction INPUT))
     (port O (direction OUTPUT)))))
  (cell and4
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port I0 (direction INPUT))
     (port I1 (direction INPUT))
     (port I2 (direction INPUT))
     (port I3 (direction INPUT))
     (port O (direction OUTPUT)))))
  (cell and2
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port I0 (direction INPUT))
     (port I1 (direction INPUT))
     (port O (direction OUTPUT))))))
 (library MAIN_LIB
  (edifLevel 0)
  (technology
   (numberDefinition
    (scale 1 1 (unit distance))))
  (cell comp8
   (cellType generic)
   (view NetlistView
    (viewType netlist)
    (interface
     (port B1 (direction INPUT))
     (port A0 (direction INPUT))
     (port B2 (direction INPUT))
     (port A1 (direction INPUT))
     (port B3 (direction INPUT))
     (port A2 (direction INPUT))
     (port B4 (direction INPUT))
     (port A3 (direction INPUT))
     (port B5 (direction INPUT))
     (port A4 (direction INPUT))
     (port B6 (direction INPUT))
     (port A5 (direction INPUT))
     (port B7 (direction INPUT))
     (port A6 (direction INPUT))
     (port A7 (direction INPUT))
     (port EQ (direction OUTPUT))
     (port B0 (direction INPUT)))
    (contents
     (instance U1
      (viewRef NetlistView
       (cellRef xnor2
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I45"))
      (property EDIForiginalOrigin (string "(pt 0 -50)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "xnor2"))
      (portInstance I0
       (property PINTYPE (string "IN")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PARAM (string "INV"))
       (property PINTYPE (string "OUT"))))
     (instance U2
      (viewRef NetlistView
       (cellRef xnor2
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I44"))
      (property EDIForiginalOrigin (string "(pt 0 -50)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "xnor2"))
      (portInstance I0
       (property PINTYPE (string "IN")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PARAM (string "INV"))
       (property PINTYPE (string "OUT"))))
     (instance U3
      (viewRef NetlistView
       (cellRef and4
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I41"))
      (property EDIForiginalOrigin (string "(pt 20 -80)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "and4"))
      (portInstance I0
       (property PINTYPE (string "IN")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance I2
       (property PINTYPE (string "IN")))
      (portInstance I3
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))))
     (instance U4
      (viewRef NetlistView
       (cellRef xnor2
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I42"))
      (property EDIForiginalOrigin (string "(pt 0 -50)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "xnor2"))
      (portInstance I0
       (property PINTYPE (string "IN")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PARAM (string "INV"))
       (property PINTYPE (string "OUT"))))
     (instance U5
      (viewRef NetlistView
       (cellRef xnor2
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I43"))
      (property EDIForiginalOrigin (string "(pt 0 -50)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "xnor2"))
      (portInstance I0
       (property PINTYPE (string "IN")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PARAM (string "INV"))
       (property PINTYPE (string "OUT"))))
     (instance U6
      (viewRef NetlistView
       (cellRef and2
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I50"))
      (property EDIForiginalOrigin (string "(pt 20 -50)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "and2"))
      (portInstance I0
       (property PINTYPE (string "IN")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))))
     (instance U7
      (viewRef NetlistView
       (cellRef xnor2
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I36"))
      (property EDIForiginalOrigin (string "(pt 0 -50)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "xnor2"))
      (portInstance I0
       (property PINTYPE (string "IN")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PARAM (string "INV"))
       (property PINTYPE (string "OUT"))))
     (instance U8
      (viewRef NetlistView
       (cellRef xnor2
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I35"))
      (property EDIForiginalOrigin (string "(pt 0 -50)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "xnor2"))
      (portInstance I0
       (property PINTYPE (string "IN")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PARAM (string "INV"))
       (property PINTYPE (string "OUT"))))
     (instance U9
      (viewRef NetlistView
       (cellRef and4
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I32"))
      (property EDIForiginalOrigin (string "(pt 20 -80)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "and4"))
      (portInstance I0
       (property PINTYPE (string "IN")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance I2
       (property PINTYPE (string "IN")))
      (portInstance I3
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))))
     (instance U10
      (viewRef NetlistView
       (cellRef xnor2
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I33"))
      (property EDIForiginalOrigin (string "(pt 0 -50)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "xnor2"))
      (portInstance I0
       (property PINTYPE (string "IN")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PARAM (string "INV"))
       (property PINTYPE (string "OUT"))))
     (instance U11
      (viewRef NetlistView
       (cellRef xnor2
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I34"))
      (property EDIForiginalOrigin (string "(pt 0 -50)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "xnor2"))
      (portInstance I0
       (property PINTYPE (string "IN")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PARAM (string "INV"))
       (property PINTYPE (string "OUT"))))
     (net B2
      (joined
       (portRef I0 (instanceRef U4))
       (portRef B2))
      (property Name (string "B2")))
     (net A3
      (joined
       (portRef I1 (instanceRef U5))
       (portRef A3))
      (property Name (string "A3")))
     (net A2
      (joined
       (portRef I1 (instanceRef U4))
       (portRef A2))
      (property Name (string "A2")))
     (net A1
      (joined
       (portRef I1 (instanceRef U2))
       (portRef A1))
      (property Name (string "A1")))
     (net AB5
      (joined
       (portRef O (instanceRef U8))
       (portRef I2 (instanceRef U9)))
      (property Name (string "AB5")))
     (net B7
      (joined
       (portRef I0 (instanceRef U11))
       (portRef B7))
      (property Name (string "B7")))
     (net AB6
      (joined
       (portRef O (instanceRef U10))
       (portRef I1 (instanceRef U9)))
      (property Name (string "AB6")))
     (net B6
      (joined
       (portRef I0 (instanceRef U10))
       (portRef B6))
      (property Name (string "B6")))
     (net AB03
      (joined
       (portRef O (instanceRef U3))
       (portRef I1 (instanceRef U6)))
      (property Name (string "AB03")))
     (net B5
      (joined
       (portRef I0 (instanceRef U8))
       (portRef B5))
      (property Name (string "B5")))
     (net EQ
      (joined
       (portRef O (instanceRef U6))
       (portRef EQ))
      (property Name (string "EQ")))
     (net B1
      (joined
       (portRef I0 (instanceRef U2))
       (portRef B1))
      (property Name (string "B1")))
     (net B0
      (joined
       (portRef I0 (instanceRef U1))
       (portRef B0))
      (property Name (string "B0")))
     (net AB47
      (joined
       (portRef O (instanceRef U9))
       (portRef I0 (instanceRef U6)))
      (property Name (string "AB47")))
     (net A6
      (joined
       (portRef I1 (instanceRef U10))
       (portRef A6))
      (property Name (string "A6")))
     (net B4
      (joined
       (portRef I0 (instanceRef U7))
       (portRef B4))
      (property Name (string "B4")))
     (net AB2
      (joined
       (portRef O (instanceRef U4))
       (portRef I1 (instanceRef U3)))
      (property Name (string "AB2")))
     (net B3
      (joined
       (portRef I0 (instanceRef U5))
       (portRef B3))
      (property Name (string "B3")))
     (net A7
      (joined
       (portRef I1 (instanceRef U11))
       (portRef A7))
      (property Name (string "A7")))
     (net AB3
      (joined
       (portRef O (instanceRef U5))
       (portRef I0 (instanceRef U3)))
      (property Name (string "AB3")))
     (net AB0
      (joined
       (portRef O (instanceRef U1))
       (portRef I3 (instanceRef U3)))
      (property Name (string "AB0")))
     (net A0
      (joined
       (portRef I1 (instanceRef U1))
       (portRef A0))
      (property Name (string "A0")))
     (net A5
      (joined
       (portRef I1 (instanceRef U8))
       (portRef A5))
      (property Name (string "A5")))
     (net AB4
      (joined
       (portRef O (instanceRef U7))
       (portRef I3 (instanceRef U9)))
      (property Name (string "AB4")))
     (net AB1
      (joined
       (portRef O (instanceRef U2))
       (portRef I2 (instanceRef U3)))
      (property Name (string "AB1")))
     (net A4
      (joined
       (portRef I1 (instanceRef U7))
       (portRef A4))
      (property Name (string "A4")))
     (net AB7
      (joined
       (portRef O (instanceRef U11))
       (portRef I0 (instanceRef U9)))
      (property Name (string "AB7")))))))
 (design comp8
  (cellRef comp8
   (libraryRef MAIN_LIB))))
