(edif cr8ce
 (edifVersion 2 0 0)
 (edifLevel 0)
 (keywordMap (keywordLevel 0))
 (status
  (written
   (timeStamp 1998 01 29 19 28 57)
   (program "CAPTURE.EXE" (Version "7.20.145"))
   (comment "Original data from OrCAD/CAPTURE schematic"))
  (comment "")
  (comment "January 29, 1998")
  (comment "G:\MANUFACTURER\XILINXM1\WORKINPROGRESS\XC9500\CR8CE.DSN")
  (comment "")
  (comment "")
  (comment "")
  (comment "")
  (comment "")
  (comment ""))
 (external OrCAD_LIB
  (edifLevel 0)
  (technology
   (numberDefinition
    (scale 1 1 (unit distance))))
  (cell fdc
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port C (direction INPUT))
     (port CLR (direction INPUT))
     (port D (direction INPUT))
     (port Q (direction OUTPUT)))))
  (cell and5
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port I0 (direction INPUT))
     (port I1 (direction INPUT))
     (port I2 (direction INPUT))
     (port I3 (direction INPUT))
     (port I4 (direction INPUT))
     (port O (direction OUTPUT)))))
  (cell xor2
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port I0 (direction INPUT))
     (port I1 (direction INPUT))
     (port O (direction OUTPUT)))))
  (cell and6
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port I0 (direction INPUT))
     (port I1 (direction INPUT))
     (port I2 (direction INPUT))
     (port I3 (direction INPUT))
     (port I4 (direction INPUT))
     (port I5 (direction INPUT))
     (port O (direction OUTPUT)))))
  (cell VCC
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port P (direction OUTPUT)))))
  (cell and2
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port I0 (direction INPUT))
     (port I1 (direction INPUT))
     (port O (direction OUTPUT)))))
  (cell and7
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port I0 (direction INPUT))
     (port I1 (direction INPUT))
     (port I2 (direction INPUT))
     (port I3 (direction INPUT))
     (port I4 (direction INPUT))
     (port I5 (direction INPUT))
     (port I6 (direction INPUT))
     (port O (direction OUTPUT)))))
  (cell and8
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port I0 (direction INPUT))
     (port I1 (direction INPUT))
     (port I2 (direction INPUT))
     (port I3 (direction INPUT))
     (port I4 (direction INPUT))
     (port I5 (direction INPUT))
     (port I6 (direction INPUT))
     (port I7 (direction INPUT))
     (port O (direction OUTPUT)))))
  (cell inv
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port I (direction INPUT))
     (port O (direction OUTPUT)))))
  (cell and3
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port I0 (direction INPUT))
     (port I1 (direction INPUT))
     (port I2 (direction INPUT))
     (port O (direction OUTPUT)))))
  (cell and4
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port I0 (direction INPUT))
     (port I1 (direction INPUT))
     (port I2 (direction INPUT))
     (port I3 (direction INPUT))
     (port O (direction OUTPUT))))))
 (library MAIN_LIB
  (edifLevel 0)
  (technology
   (numberDefinition
    (scale 1 1 (unit distance))))
  (cell cr8ce
   (cellType generic)
   (view NetlistView
    (viewType netlist)
    (interface
     (port Q0 (direction OUTPUT))
     (port CE (direction INPUT))
     (port Q1 (direction OUTPUT))
     (port Q2 (direction OUTPUT))
     (port Q3 (direction OUTPUT))
     (port CLR (direction INPUT))
     (port Q4 (direction OUTPUT))
     (port Q5 (direction OUTPUT))
     (port Q6 (direction OUTPUT))
     (port Q7 (direction OUTPUT))
     (port C (direction INPUT)))
    (contents
     (instance U13
      (viewRef NetlistView
       (cellRef fdc
        (libraryRef OrCAD_LIB)))
      (property Name (string "Q3"))
      (property EDIForiginalOrigin (string "(pt 20 -100)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "fdc"))
      (portInstance C
       (property PINTYPE (string "IN")))
      (portInstance CLR
       (property PINTYPE (string "IN")))
      (portInstance D
       (property PINTYPE (string "IN")))
      (portInstance Q
       (property PINTYPE (string "OUT"))))
     (instance U14
      (viewRef NetlistView
       (cellRef and5
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I734"))
      (property EDIForiginalOrigin (string "(pt 20 -100)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "and5"))
      (portInstance I0
       (property PINTYPE (string "IN")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance I2
       (property PINTYPE (string "IN")))
      (portInstance I3
       (property PINTYPE (string "IN")))
      (portInstance I4
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))))
     (instance U15
      (viewRef NetlistView
       (cellRef xor2
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I748"))
      (property EDIForiginalOrigin (string "(pt 0 -50)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "xor2"))
      (portInstance I0
       (property PINTYPE (string "IN")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))))
     (instance U16
      (viewRef NetlistView
       (cellRef fdc
        (libraryRef OrCAD_LIB)))
      (property Name (string "Q4"))
      (property EDIForiginalOrigin (string "(pt 20 -100)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "fdc"))
      (portInstance C
       (property PINTYPE (string "IN")))
      (portInstance CLR
       (property PINTYPE (string "IN")))
      (portInstance D
       (property PINTYPE (string "IN")))
      (portInstance Q
       (property PINTYPE (string "OUT"))))
     (instance U17
      (viewRef NetlistView
       (cellRef and6
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I735"))
      (property EDIForiginalOrigin (string "(pt 20 -120)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "and6"))
      (portInstance I0
       (property PINTYPE (string "IN")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance I2
       (property PINTYPE (string "IN")))
      (portInstance I3
       (property PINTYPE (string "IN")))
      (portInstance I4
       (property PINTYPE (string "IN")))
      (portInstance I5
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))))
     (instance U18
      (viewRef NetlistView
       (cellRef xor2
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I745"))
      (property EDIForiginalOrigin (string "(pt 0 -50)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "xor2"))
      (portInstance I0
       (property PINTYPE (string "IN")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))))
     (instance U19
      (viewRef NetlistView
       (cellRef fdc
        (libraryRef OrCAD_LIB)))
      (property Name (string "Q5"))
      (property EDIForiginalOrigin (string "(pt 20 -100)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "fdc"))
      (portInstance C
       (property PINTYPE (string "IN")))
      (portInstance CLR
       (property PINTYPE (string "IN")))
      (portInstance D
       (property PINTYPE (string "IN")))
      (portInstance Q
       (property PINTYPE (string "OUT"))))
     (instance U1
      (viewRef NetlistView
       (cellRef VCC
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I738"))
      (property EDIForiginalOrigin (string "(pt 10 -20)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "VCC"))
      (portInstance P
       (property PINTYPE (string "OUT"))))
     (instance U2
      (viewRef NetlistView
       (cellRef xor2
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I729"))
      (property EDIForiginalOrigin (string "(pt 0 -50)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "xor2"))
      (portInstance I0
       (property PINTYPE (string "IN")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))))
     (instance U3
      (viewRef NetlistView
       (cellRef fdc
        (libraryRef OrCAD_LIB)))
      (property Name (string "Q0"))
      (property EDIForiginalOrigin (string "(pt 20 -100)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "fdc"))
      (portInstance C
       (property PINTYPE (string "IN")))
      (portInstance CLR
       (property PINTYPE (string "IN")))
      (portInstance D
       (property PINTYPE (string "IN")))
      (portInstance Q
       (property PINTYPE (string "OUT"))))
     (instance U4
      (viewRef NetlistView
       (cellRef and2
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I863"))
      (property EDIForiginalOrigin (string "(pt 20 -50)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "and2"))
      (portInstance I0
       (property PINTYPE (string "IN")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))))
     (instance U20
      (viewRef NetlistView
       (cellRef and7
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I736"))
      (property EDIForiginalOrigin (string "(pt 20 -140)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "and7"))
      (portInstance I0
       (property PINTYPE (string "IN")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance I2
       (property PINTYPE (string "IN")))
      (portInstance I3
       (property PINTYPE (string "IN")))
      (portInstance I4
       (property PINTYPE (string "IN")))
      (portInstance I5
       (property PINTYPE (string "IN")))
      (portInstance I6
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))))
     (instance U5
      (viewRef NetlistView
       (cellRef xor2
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I739"))
      (property EDIForiginalOrigin (string "(pt 0 -50)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "xor2"))
      (portInstance I0
       (property PINTYPE (string "IN")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))))
     (instance U21
      (viewRef NetlistView
       (cellRef xor2
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I749"))
      (property EDIForiginalOrigin (string "(pt 0 -50)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "xor2"))
      (portInstance I0
       (property PINTYPE (string "IN")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))))
     (instance U6
      (viewRef NetlistView
       (cellRef fdc
        (libraryRef OrCAD_LIB)))
      (property Name (string "Q1"))
      (property EDIForiginalOrigin (string "(pt 20 -100)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "fdc"))
      (portInstance C
       (property PINTYPE (string "IN")))
      (portInstance CLR
       (property PINTYPE (string "IN")))
      (portInstance D
       (property PINTYPE (string "IN")))
      (portInstance Q
       (property PINTYPE (string "OUT"))))
     (instance U7
      (viewRef NetlistView
       (cellRef and2
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I731"))
      (property EDIForiginalOrigin (string "(pt 20 -50)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "and2"))
      (portInstance I0
       (property PINTYPE (string "IN")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))))
     (instance U22
      (viewRef NetlistView
       (cellRef fdc
        (libraryRef OrCAD_LIB)))
      (property Name (string "Q6"))
      (property EDIForiginalOrigin (string "(pt 20 -100)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "fdc"))
      (portInstance C
       (property PINTYPE (string "IN")))
      (portInstance CLR
       (property PINTYPE (string "IN")))
      (portInstance D
       (property PINTYPE (string "IN")))
      (portInstance Q
       (property PINTYPE (string "OUT"))))
     (instance U8
      (viewRef NetlistView
       (cellRef xor2
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I744"))
      (property EDIForiginalOrigin (string "(pt 0 -50)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "xor2"))
      (portInstance I0
       (property PINTYPE (string "IN")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))))
     (instance U23
      (viewRef NetlistView
       (cellRef and8
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I737"))
      (property EDIForiginalOrigin (string "(pt 20 -160)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "and8"))
      (portInstance I0
       (property PINTYPE (string "IN")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance I2
       (property PINTYPE (string "IN")))
      (portInstance I3
       (property PINTYPE (string "IN")))
      (portInstance I4
       (property PINTYPE (string "IN")))
      (portInstance I5
       (property PINTYPE (string "IN")))
      (portInstance I6
       (property PINTYPE (string "IN")))
      (portInstance I7
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))))
     (instance U24
      (viewRef NetlistView
       (cellRef xor2
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I752"))
      (property EDIForiginalOrigin (string "(pt 0 -50)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "xor2"))
      (portInstance I0
       (property PINTYPE (string "IN")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))))
     (instance U9
      (viewRef NetlistView
       (cellRef fdc
        (libraryRef OrCAD_LIB)))
      (property Name (string "Q2"))
      (property EDIForiginalOrigin (string "(pt 20 -100)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "fdc"))
      (portInstance C
       (property PINTYPE (string "IN")))
      (portInstance CLR
       (property PINTYPE (string "IN")))
      (portInstance D
       (property PINTYPE (string "IN")))
      (portInstance Q
       (property PINTYPE (string "OUT"))))
     (instance U25
      (viewRef NetlistView
       (cellRef fdc
        (libraryRef OrCAD_LIB)))
      (property Name (string "Q7"))
      (property EDIForiginalOrigin (string "(pt 20 -100)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "fdc"))
      (portInstance C
       (property PINTYPE (string "IN")))
      (portInstance CLR
       (property PINTYPE (string "IN")))
      (portInstance D
       (property PINTYPE (string "IN")))
      (portInstance Q
       (property PINTYPE (string "OUT"))))
     (instance U26
      (viewRef NetlistView
       (cellRef inv
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I871"))
      (property EDIForiginalOrigin (string "(pt 20 -20)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "inv"))
      (portInstance I
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))
       (property PARAM (string "INV"))))
     (instance U10
      (viewRef NetlistView
       (cellRef and3
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I732"))
      (property EDIForiginalOrigin (string "(pt 20 -60)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "and3"))
      (portInstance I0
       (property PINTYPE (string "IN")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance I2
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))))
     (instance U11
      (viewRef NetlistView
       (cellRef and4
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I733"))
      (property EDIForiginalOrigin (string "(pt 20 -80)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "and4"))
      (portInstance I0
       (property PINTYPE (string "IN")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance I2
       (property PINTYPE (string "IN")))
      (portInstance I3
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))))
     (instance U12
      (viewRef NetlistView
       (cellRef xor2
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I741"))
      (property EDIForiginalOrigin (string "(pt 0 -50)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "xor2"))
      (portInstance I0
       (property PINTYPE (string "IN")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))))
     (net Q3
      (joined
       (portRef I0 (instanceRef U14))
       (portRef I1 (instanceRef U17))
       (portRef I2 (instanceRef U20))
       (portRef I3 (instanceRef U23))
       (portRef Q (instanceRef U13))
       (portRef I1 (instanceRef U12))
       (portRef Q3))
      (property Name (string "Q3")))
     (net N00756
      (joined
       (portRef O (instanceRef U2))
       (portRef D (instanceRef U3)))
      (property Name (string "N00756")))
     (net N00753
      (joined
       (portRef O (instanceRef U5))
       (portRef D (instanceRef U6)))
      (property Name (string "N00753")))
     (net N00750
      (joined
       (portRef O (instanceRef U8))
       (portRef D (instanceRef U9)))
      (property Name (string "N00750")))
     (net N00822
      (joined
       (portRef O (instanceRef U26))
       (portRef C (instanceRef U3))
       (portRef C (instanceRef U6))
       (portRef C (instanceRef U9))
       (portRef C (instanceRef U13))
       (portRef C (instanceRef U16))
       (portRef C (instanceRef U19))
       (portRef C (instanceRef U22))
       (portRef C (instanceRef U25)))
      (property Name (string "N00822")))
     (net N00747
      (joined
       (portRef O (instanceRef U12))
       (portRef D (instanceRef U13)))
      (property Name (string "N00747")))
     (net Q7
      (joined
       (portRef I1 (instanceRef U24))
       (portRef Q (instanceRef U25))
       (portRef Q7))
      (property Name (string "Q7")))
     (net N00744
      (joined
       (portRef O (instanceRef U15))
       (portRef D (instanceRef U16)))
      (property Name (string "N00744")))
     (net Q2
      (joined
       (portRef I0 (instanceRef U11))
       (portRef I1 (instanceRef U14))
       (portRef I2 (instanceRef U17))
       (portRef I3 (instanceRef U20))
       (portRef I4 (instanceRef U23))
       (portRef Q (instanceRef U9))
       (portRef I1 (instanceRef U8))
       (portRef Q2))
      (property Name (string "Q2")))
     (net N00741
      (joined
       (portRef O (instanceRef U18))
       (portRef D (instanceRef U19)))
      (property Name (string "N00741")))
     (net N00738
      (joined
       (portRef O (instanceRef U21))
       (portRef D (instanceRef U22)))
      (property Name (string "N00738")))
     (net N00735
      (joined
       (portRef O (instanceRef U24))
       (portRef D (instanceRef U25)))
      (property Name (string "N00735")))
     (net Q4
      (joined
       (portRef I0 (instanceRef U17))
       (portRef I1 (instanceRef U20))
       (portRef I2 (instanceRef U23))
       (portRef Q (instanceRef U16))
       (portRef I1 (instanceRef U15))
       (portRef Q4))
      (property Name (string "Q4")))
     (net N00780
      (joined
       (portRef P (instanceRef U1))
       (portRef I1 (instanceRef U4)))
      (property Name (string "N00780")))
     (net N00777
      (joined
       (portRef O (instanceRef U10))
       (portRef I0 (instanceRef U8)))
      (property Name (string "N00777")))
     (net Q1
      (joined
       (portRef I0 (instanceRef U10))
       (portRef I1 (instanceRef U11))
       (portRef I2 (instanceRef U14))
       (portRef I3 (instanceRef U17))
       (portRef I4 (instanceRef U20))
       (portRef I5 (instanceRef U23))
       (portRef Q (instanceRef U6))
       (portRef I1 (instanceRef U5))
       (portRef Q1))
      (property Name (string "Q1")))
     (net N00774
      (joined
       (portRef O (instanceRef U11))
       (portRef I0 (instanceRef U12)))
      (property Name (string "N00774")))
     (net N00765
      (joined
       (portRef O (instanceRef U20))
       (portRef I0 (instanceRef U21)))
      (property Name (string "N00765")))
     (net N00771
      (joined
       (portRef O (instanceRef U14))
       (portRef I0 (instanceRef U15)))
      (property Name (string "N00771")))
     (net N00768
      (joined
       (portRef O (instanceRef U17))
       (portRef I0 (instanceRef U18)))
      (property Name (string "N00768")))
     (net CE
      (joined
       (portRef I0 (instanceRef U4))
       (portRef CE))
      (property Name (string "CE")))
     (net Q5
      (joined
       (portRef I0 (instanceRef U20))
       (portRef I1 (instanceRef U23))
       (portRef Q (instanceRef U19))
       (portRef I1 (instanceRef U18))
       (portRef Q5))
      (property Name (string "Q5")))
     (net Q0
      (joined
       (portRef I0 (instanceRef U7))
       (portRef I1 (instanceRef U10))
       (portRef I2 (instanceRef U11))
       (portRef I3 (instanceRef U14))
       (portRef I4 (instanceRef U17))
       (portRef I5 (instanceRef U20))
       (portRef I6 (instanceRef U23))
       (portRef Q (instanceRef U3))
       (portRef I1 (instanceRef U2))
       (portRef Q0))
      (property Name (string "Q0")))
     (net C
      (joined
       (portRef I (instanceRef U26))
       (portRef C))
      (property Name (string "C")))
     (net N00697
      (joined
       (portRef O (instanceRef U4))
       (portRef I0 (instanceRef U2))
       (portRef I7 (instanceRef U23))
       (portRef I6 (instanceRef U20))
       (portRef I5 (instanceRef U17))
       (portRef I4 (instanceRef U14))
       (portRef I3 (instanceRef U11))
       (portRef I2 (instanceRef U10))
       (portRef I1 (instanceRef U7)))
      (property Name (string "N00697")))
     (net N00762
      (joined
       (portRef O (instanceRef U23))
       (portRef I0 (instanceRef U24)))
      (property Name (string "N00762")))
     (net Q6
      (joined
       (portRef I0 (instanceRef U23))
       (portRef Q (instanceRef U22))
       (portRef I1 (instanceRef U21))
       (portRef Q6))
      (property Name (string "Q6")))
     (net N00759
      (joined
       (portRef O (instanceRef U7))
       (portRef I0 (instanceRef U5)))
      (property Name (string "N00759")))
     (net CLR
      (joined
       (portRef CLR (instanceRef U3))
       (portRef CLR (instanceRef U6))
       (portRef CLR (instanceRef U9))
       (portRef CLR (instanceRef U13))
       (portRef CLR (instanceRef U16))
       (portRef CLR (instanceRef U19))
       (portRef CLR (instanceRef U22))
       (portRef CLR (instanceRef U25))
       (portRef CLR))
      (property Name (string "CLR")))))))
 (design cr8ce
  (cellRef cr8ce
   (libraryRef MAIN_LIB))))
