(edif fjkc
 (edifVersion 2 0 0)
 (edifLevel 0)
 (keywordMap (keywordLevel 0))
 (status
  (written
   (timeStamp 1998 01 29 19 39 10)
   (program "CAPTURE.EXE" (Version "7.20.145"))
   (comment "Original data from OrCAD/CAPTURE schematic"))
  (comment "")
  (comment "January 29, 1998")
  (comment "G:\MANUFACTURER\XILINXM1\WORKINPROGRESS\XC9500\FJKC.DSN")
  (comment "")
  (comment "")
  (comment "")
  (comment "")
  (comment "")
  (comment ""))
 (external OrCAD_LIB
  (edifLevel 0)
  (technology
   (numberDefinition
    (scale 1 1 (unit distance))))
  (cell and2b1
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port I0 (direction INPUT))
     (port I1 (direction INPUT))
     (port O (direction OUTPUT)))))
  (cell or2
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port I0 (direction INPUT))
     (port I1 (direction INPUT))
     (port O (direction OUTPUT)))))
  (cell fdc
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port C (direction INPUT))
     (port CLR (direction INPUT))
     (port D (direction INPUT))
     (port Q (direction OUTPUT))))))
 (library MAIN_LIB
  (edifLevel 0)
  (technology
   (numberDefinition
    (scale 1 1 (unit distance))))
  (cell fjkc
   (cellType generic)
   (view NetlistView
    (viewType netlist)
    (interface
     (port CLR (direction INPUT))
     (port J (direction INPUT))
     (port K (direction INPUT))
     (port Q (direction OUTPUT))
     (port C (direction INPUT)))
    (contents
     (instance U1
      (viewRef NetlistView
       (cellRef and2b1
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I48"))
      (property EDIForiginalOrigin (string "(pt 0 -50)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "and2b1"))
      (portInstance I0
       (property PINTYPE (string "IN"))
       (property PARAM (string "INV")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))))
     (instance U2
      (viewRef NetlistView
       (cellRef or2
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I50"))
      (property EDIForiginalOrigin (string "(pt 0 -50)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "or2"))
      (portInstance I0
       (property PINTYPE (string "IN")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))))
     (instance U3
      (viewRef NetlistView
       (cellRef fdc
        (libraryRef OrCAD_LIB)))
      (property Name (string "Q"))
      (property EDIForiginalOrigin (string "(pt 20 -100)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "fdc"))
      (portInstance C
       (property PINTYPE (string "IN")))
      (portInstance CLR
       (property PINTYPE (string "IN")))
      (portInstance D
       (property PINTYPE (string "IN")))
      (portInstance Q
       (property PINTYPE (string "OUT"))))
     (instance U4
      (viewRef NetlistView
       (cellRef and2b1
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I49"))
      (property EDIForiginalOrigin (string "(pt 0 -50)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "and2b1"))
      (portInstance I0
       (property PINTYPE (string "IN"))
       (property PARAM (string "INV")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))))
     (net N00424
      (joined
       (portRef O (instanceRef U2))
       (portRef D (instanceRef U3)))
      (property Name (string "N00424")))
     (net Q
      (joined
       (portRef I1 (instanceRef U1))
       (portRef I0 (instanceRef U4))
       (portRef Q (instanceRef U3))
       (portRef Q))
      (property Name (string "Q")))
     (net N00417
      (joined
       (portRef O (instanceRef U1))
       (portRef I1 (instanceRef U2)))
      (property Name (string "N00417")))
     (net N00414
      (joined
       (portRef O (instanceRef U4))
       (portRef I0 (instanceRef U2)))
      (property Name (string "N00414")))
     (net K
      (joined
       (portRef I0 (instanceRef U1))
       (portRef K))
      (property Name (string "K")))
     (net J
      (joined
       (portRef I1 (instanceRef U4))
       (portRef J))
      (property Name (string "J")))
     (net CLR
      (joined
       (portRef CLR (instanceRef U3))
       (portRef CLR))
      (property Name (string "CLR")))
     (net C
      (joined
       (portRef C (instanceRef U3))
       (portRef C))
      (property Name (string "C")))))))
 (design fjkc
  (cellRef fjkc
   (libraryRef MAIN_LIB))))
