(edif ifd4x1
 (edifVersion 2 0 0)
 (edifLevel 0)
 (keywordMap (keywordLevel 0))
 (status
  (written
   (timeStamp 1998 01 29 19 45 06)
   (program "CAPTURE.EXE" (Version "7.20.145"))
   (comment "Original data from OrCAD/CAPTURE schematic"))
  (comment "")
  (comment "January 29, 1998")
  (comment "G:\MANUFACTURER\XILINXM1\WORKINPROGRESS\XC9500\IFD4X1.DSN")
  (comment "")
  (comment "")
  (comment "")
  (comment "")
  (comment "")
  (comment ""))
 (external OrCAD_LIB
  (edifLevel 0)
  (technology
   (numberDefinition
    (scale 1 1 (unit distance))))
  (cell ifdx1
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port C (direction INPUT))
     (port CE (direction INPUT))
     (port D (direction INPUT))
     (port Q (direction OUTPUT))))))
 (library MAIN_LIB
  (edifLevel 0)
  (technology
   (numberDefinition
    (scale 1 1 (unit distance))))
  (cell ifd4x1
   (cellType generic)
   (view NetlistView
    (viewType netlist)
    (interface
     (port D3 (direction INPUT))
     (port Q0 (direction OUTPUT))
     (port Q1 (direction OUTPUT))
     (port CE (direction INPUT))
     (port Q2 (direction OUTPUT))
     (port Q3 (direction OUTPUT))
     (port D0 (direction INPUT))
     (port D1 (direction INPUT))
     (port C (direction INPUT))
     (port D2 (direction INPUT)))
    (contents
     (instance U1
      (viewRef NetlistView
       (cellRef ifdx1
        (libraryRef OrCAD_LIB)))
      (property Name (string "Q0"))
      (property EDIForiginalOrigin (string "(pt 0 -100)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "ifdx1"))
      (portInstance C
       (property PINTYPE (string "IN")))
      (portInstance CE
       (property PINTYPE (string "IN")))
      (portInstance D
       (property PINTYPE (string "IN")))
      (portInstance Q
       (property PINTYPE (string "OUT"))))
     (instance U2
      (viewRef NetlistView
       (cellRef ifdx1
        (libraryRef OrCAD_LIB)))
      (property Name (string "Q1"))
      (property EDIForiginalOrigin (string "(pt 0 -100)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "ifdx1"))
      (portInstance C
       (property PINTYPE (string "IN")))
      (portInstance CE
       (property PINTYPE (string "IN")))
      (portInstance D
       (property PINTYPE (string "IN")))
      (portInstance Q
       (property PINTYPE (string "OUT"))))
     (instance U3
      (viewRef NetlistView
       (cellRef ifdx1
        (libraryRef OrCAD_LIB)))
      (property Name (string "Q2"))
      (property EDIForiginalOrigin (string "(pt 0 -100)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "ifdx1"))
      (portInstance C
       (property PINTYPE (string "IN")))
      (portInstance CE
       (property PINTYPE (string "IN")))
      (portInstance D
       (property PINTYPE (string "IN")))
      (portInstance Q
       (property PINTYPE (string "OUT"))))
     (instance U4
      (viewRef NetlistView
       (cellRef ifdx1
        (libraryRef OrCAD_LIB)))
      (property Name (string "Q3"))
      (property EDIForiginalOrigin (string "(pt 0 -100)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "ifdx1"))
      (portInstance C
       (property PINTYPE (string "IN")))
      (portInstance CE
       (property PINTYPE (string "IN")))
      (portInstance D
       (property PINTYPE (string "IN")))
      (portInstance Q
       (property PINTYPE (string "OUT"))))
     (net CE
      (joined
       (portRef CE (instanceRef U1))
       (portRef CE (instanceRef U2))
       (portRef CE (instanceRef U3))
       (portRef CE (instanceRef U4))
       (portRef CE))
      (property Name (string "CE")))
     (net C
      (joined
       (portRef C (instanceRef U1))
       (portRef C (instanceRef U2))
       (portRef C (instanceRef U3))
       (portRef C (instanceRef U4))
       (portRef C))
      (property Name (string "C")))
     (net D3
      (joined
       (portRef D (instanceRef U4))
       (portRef D3))
      (property Name (string "D3")))
     (net D0
      (joined
       (portRef D (instanceRef U1))
       (portRef D0))
      (property Name (string "D0")))
     (net D1
      (joined
       (portRef D (instanceRef U2))
       (portRef D1))
      (property Name (string "D1")))
     (net Q2
      (joined
       (portRef Q (instanceRef U3))
       (portRef Q2))
      (property Name (string "Q2")))
     (net D2
      (joined
       (portRef D (instanceRef U3))
       (portRef D2))
      (property Name (string "D2")))
     (net Q0
      (joined
       (portRef Q (instanceRef U1))
       (portRef Q0))
      (property Name (string "Q0")))
     (net Q1
      (joined
       (portRef Q (instanceRef U2))
       (portRef Q1))
      (property Name (string "Q1")))
     (net Q3
      (joined
       (portRef Q (instanceRef U4))
       (portRef Q3))
      (property Name (string "Q3")))))))
 (design ifd4x1
  (cellRef ifd4x1
   (libraryRef MAIN_LIB))))
