(edif iopad4
 (edifVersion 2 0 0)
 (edifLevel 0)
 (keywordMap (keywordLevel 0))
 (status
  (written
   (timeStamp 1998 01 29 19 47 50)
   (program "CAPTURE.EXE" (Version "7.20.145"))
   (comment "Original data from OrCAD/CAPTURE schematic"))
  (comment "")
  (comment "January 29, 1998")
  (comment "G:\MANUFACTURER\XILINXM1\WORKINPROGRESS\XC9500\IOPAD4.DSN")
  (comment "")
  (comment "")
  (comment "")
  (comment "")
  (comment "")
  (comment ""))
 (external OrCAD_LIB
  (edifLevel 0)
  (technology
   (numberDefinition
    (scale 1 1 (unit distance))))
  (cell iopad
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port IOPAD (direction INOUT))))))
 (library MAIN_LIB
  (edifLevel 0)
  (technology
   (numberDefinition
    (scale 1 1 (unit distance))))
  (cell iopad4
   (cellType generic)
   (view NetlistView
    (viewType netlist)
    (interface
     (port IO0 (direction INOUT))
     (port IO1 (direction INOUT))
     (port IO2 (direction INOUT))
     (port IO3 (direction INOUT)))
    (contents
     (instance U1
      (viewRef NetlistView
       (cellRef iopad
        (libraryRef OrCAD_LIB)))
      (property Name (string "0"))
      (property EDIForiginalOrigin (string "(pt 0 -20)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "iopad"))
      (property EXT (string "BPAD"))
      (portInstance IOPAD))
     (instance U2
      (viewRef NetlistView
       (cellRef iopad
        (libraryRef OrCAD_LIB)))
      (property Name (string "1"))
      (property EDIForiginalOrigin (string "(pt 0 -20)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "iopad"))
      (property EXT (string "BPAD"))
      (portInstance IOPAD))
     (instance U3
      (viewRef NetlistView
       (cellRef iopad
        (libraryRef OrCAD_LIB)))
      (property Name (string "2"))
      (property EDIForiginalOrigin (string "(pt 0 -20)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "iopad"))
      (property EXT (string "BPAD"))
      (portInstance IOPAD))
     (instance U4
      (viewRef NetlistView
       (cellRef iopad
        (libraryRef OrCAD_LIB)))
      (property Name (string "3"))
      (property EDIForiginalOrigin (string "(pt 0 -20)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "iopad"))
      (property EXT (string "BPAD"))
      (portInstance IOPAD))
     (net IO1
      (joined
       (portRef IOPAD (instanceRef U2))
       (portRef IO1))
      (property Name (string "IO1")))
     (net IO0
      (joined
       (portRef IOPAD (instanceRef U1))
       (portRef IO0))
      (property Name (string "IO0")))
     (net IO3
      (joined
       (portRef IOPAD (instanceRef U4))
       (portRef IO3))
      (property Name (string "IO3")))
     (net IO2
      (joined
       (portRef IOPAD (instanceRef U3))
       (portRef IO2))
      (property Name (string "IO2")))))))
 (design iopad4
  (cellRef iopad4
   (libraryRef MAIN_LIB))))
