(edif cj5re
 (edifVersion 2 0 0)
 (edifLevel 0)
 (keywordMap (keywordLevel 0))
 (status
  (written
   (timeStamp 1998 01 29 17 11 09)
   (program "CAPTURE.EXE" (Version "7.20.145"))
   (comment "Original data from OrCAD/CAPTURE schematic"))
  (comment "")
  (comment "January 29, 1998")
  (comment "G:\MANUFACTURER\XILINXM1\WORKINPROGRESS\XC3X00\CJ5RE.DSN")
  (comment "")
  (comment "")
  (comment "")
  (comment "")
  (comment "")
  (comment ""))
 (external OrCAD_LIB
  (edifLevel 0)
  (technology
   (numberDefinition
    (scale 1 1 (unit distance))))
  (cell fdre
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port C (direction INPUT))
     (port CE (direction INPUT))
     (port D (direction INPUT))
     (port Q (direction OUTPUT))
     (port R (direction INPUT)))))
  (cell inv
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port I (direction INPUT))
     (port O (direction OUTPUT))))))
 (library MAIN_LIB
  (edifLevel 0)
  (technology
   (numberDefinition
    (scale 1 1 (unit distance))))
  (cell cj5re
   (cellType generic)
   (view NetlistView
    (viewType netlist)
    (interface
     (port Q0 (direction OUTPUT))
     (port CE (direction INPUT))
     (port Q1 (direction OUTPUT))
     (port Q2 (direction OUTPUT))
     (port Q3 (direction OUTPUT))
     (port Q4 (direction OUTPUT))
     (port R (direction INPUT))
     (port C (direction INPUT)))
    (contents
     (instance U1
      (viewRef NetlistView
       (cellRef fdre
        (libraryRef OrCAD_LIB)))
      (property Name (string "Q0"))
      (property EDIForiginalOrigin (string "(pt 20 -100)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "fdre"))
      (portInstance C
       (property PINTYPE (string "IN")))
      (portInstance CE
       (property PINTYPE (string "IN")))
      (portInstance D
       (property PINTYPE (string "IN")))
      (portInstance Q
       (property PINTYPE (string "OUT")))
      (portInstance R
       (property PINTYPE (string "IN"))))
     (instance U2
      (viewRef NetlistView
       (cellRef inv
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I34"))
      (property EDIForiginalOrigin (string "(pt 20 -20)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "inv"))
      (portInstance I
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PARAM (string "INV"))
       (property PINTYPE (string "OUT"))))
     (instance U3
      (viewRef NetlistView
       (cellRef fdre
        (libraryRef OrCAD_LIB)))
      (property Name (string "Q1"))
      (property EDIForiginalOrigin (string "(pt 20 -100)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "fdre"))
      (portInstance C
       (property PINTYPE (string "IN")))
      (portInstance CE
       (property PINTYPE (string "IN")))
      (portInstance D
       (property PINTYPE (string "IN")))
      (portInstance Q
       (property PINTYPE (string "OUT")))
      (portInstance R
       (property PINTYPE (string "IN"))))
     (instance U4
      (viewRef NetlistView
       (cellRef fdre
        (libraryRef OrCAD_LIB)))
      (property Name (string "Q2"))
      (property EDIForiginalOrigin (string "(pt 20 -100)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "fdre"))
      (portInstance C
       (property PINTYPE (string "IN")))
      (portInstance CE
       (property PINTYPE (string "IN")))
      (portInstance D
       (property PINTYPE (string "IN")))
      (portInstance Q
       (property PINTYPE (string "OUT")))
      (portInstance R
       (property PINTYPE (string "IN"))))
     (instance U5
      (viewRef NetlistView
       (cellRef fdre
        (libraryRef OrCAD_LIB)))
      (property Name (string "Q3"))
      (property EDIForiginalOrigin (string "(pt 20 -100)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "fdre"))
      (portInstance C
       (property PINTYPE (string "IN")))
      (portInstance CE
       (property PINTYPE (string "IN")))
      (portInstance D
       (property PINTYPE (string "IN")))
      (portInstance Q
       (property PINTYPE (string "OUT")))
      (portInstance R
       (property PINTYPE (string "IN"))))
     (instance U6
      (viewRef NetlistView
       (cellRef fdre
        (libraryRef OrCAD_LIB)))
      (property Name (string "Q4"))
      (property EDIForiginalOrigin (string "(pt 20 -100)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "fdre"))
      (portInstance C
       (property PINTYPE (string "IN")))
      (portInstance CE
       (property PINTYPE (string "IN")))
      (portInstance D
       (property PINTYPE (string "IN")))
      (portInstance Q
       (property PINTYPE (string "OUT")))
      (portInstance R
       (property PINTYPE (string "IN"))))
     (net Q3
      (joined
       (portRef D (instanceRef U6))
       (portRef Q (instanceRef U5))
       (portRef Q3))
      (property Name (string "Q3")))
     (net Q4B
      (joined
       (portRef O (instanceRef U2))
       (portRef D (instanceRef U1)))
      (property Name (string "Q4B")))
     (net C
      (joined
       (portRef C (instanceRef U6))
       (portRef C (instanceRef U1))
       (portRef C (instanceRef U3))
       (portRef C (instanceRef U4))
       (portRef C (instanceRef U5))
       (portRef C))
      (property Name (string "C")))
     (net CE
      (joined
       (portRef CE (instanceRef U6))
       (portRef CE (instanceRef U1))
       (portRef CE (instanceRef U3))
       (portRef CE (instanceRef U4))
       (portRef CE (instanceRef U5))
       (portRef CE))
      (property Name (string "CE")))
     (net Q0
      (joined
       (portRef D (instanceRef U3))
       (portRef Q (instanceRef U1))
       (portRef Q0))
      (property Name (string "Q0")))
     (net Q4
      (joined
       (portRef I (instanceRef U2))
       (portRef Q (instanceRef U6))
       (portRef Q4))
      (property Name (string "Q4")))
     (net Q2
      (joined
       (portRef D (instanceRef U5))
       (portRef Q (instanceRef U4))
       (portRef Q2))
      (property Name (string "Q2")))
     (net Q1
      (joined
       (portRef D (instanceRef U4))
       (portRef Q (instanceRef U3))
       (portRef Q1))
      (property Name (string "Q1")))
     (net R
      (joined
       (portRef R (instanceRef U6))
       (portRef R (instanceRef U1))
       (portRef R (instanceRef U3))
       (portRef R (instanceRef U4))
       (portRef R (instanceRef U5))
       (portRef R))
      (property Name (string "R")))))))
 (design cj5re
  (cellRef cj5re
   (libraryRef MAIN_LIB))))
