(edif gxtl
 (edifVersion 2 0 0)
 (edifLevel 0)
 (keywordMap (keywordLevel 0))
 (status
  (written
   (timeStamp 1998 01 29 17 19 30)
   (program "CAPTURE.EXE" (Version "7.20.145"))
   (comment "Original data from OrCAD/CAPTURE schematic"))
  (comment "")
  (comment "January 29, 1998")
  (comment "G:\MANUFACTURER\XILINXM1\WORKINPROGRESS\XC3X00\GXTL.DSN")
  (comment "")
  (comment "")
  (comment "")
  (comment "")
  (comment "")
  (comment ""))
 (external OrCAD_LIB
  (edifLevel 0)
  (technology
   (numberDefinition
    (scale 1 1 (unit distance))))
  (cell osc
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port O (direction OUTPUT)))))
  (cell aclk
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port I (direction INPUT))
     (port O (direction OUTPUT))))))
 (library MAIN_LIB
  (edifLevel 0)
  (technology
   (numberDefinition
    (scale 1 1 (unit distance))))
  (cell gxtl
   (cellType generic)
   (view NetlistView
    (viewType netlist)
    (interface
     (port O (direction OUTPUT)))
    (contents
     (instance U1
      (viewRef NetlistView
       (cellRef osc
        (libraryRef OrCAD_LIB)))
      (property (rename _PULSELO "@PULSELO") (string "@PULSEL"))
      (property Name (string "$1I2"))
      (property EDIForiginalOrigin (string "(pt 20 -80)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "osc"))
      (property (rename _PULSEHI "@PULSEHI") (string "@PULSEH"))
      (portInstance O
       (property PINTYPE (string "OUT"))))
     (instance U2
      (viewRef NetlistView
       (cellRef aclk
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I3"))
      (property EDIForiginalOrigin (string "(pt 20 -20)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "aclk"))
      (portInstance I
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))))
     (net O
      (joined
       (portRef O (instanceRef U2))
       (portRef O))
      (property Name (string "O")))
     (net OSC_OUT
      (joined
       (portRef O (instanceRef U1))
       (portRef I (instanceRef U2)))
      (property Name (string "OSC_OUT")))))))
 (design gxtl
  (cellRef gxtl
   (libraryRef MAIN_LIB))))
