(edif ild_1
 (edifVersion 2 0 0)
 (edifLevel 0)
 (keywordMap (keywordLevel 0))
 (status
  (written
   (timeStamp 1998 01 29 17 21 09)
   (program "CAPTURE.EXE" (Version "7.20.145"))
   (comment "Original data from OrCAD/CAPTURE schematic"))
  (comment "")
  (comment "January 29, 1998")
  (comment "G:\MANUFACTURER\XILINXM1\WORKINPROGRESS\XC3X00\ILD_1.DSN")
  (comment "")
  (comment "")
  (comment "")
  (comment "")
  (comment "")
  (comment ""))
 (external OrCAD_LIB
  (edifLevel 0)
  (technology
   (numberDefinition
    (scale 1 1 (unit distance))))
  (cell ild
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port D (direction INPUT))
     (port G (direction INPUT))
     (port Q (direction OUTPUT)))))
  (cell inv
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port I (direction INPUT))
     (port O (direction OUTPUT))))))
 (library MAIN_LIB
  (edifLevel 0)
  (technology
   (numberDefinition
    (scale 1 1 (unit distance))))
  (cell ild_1
   (cellType generic)
   (view NetlistView
    (viewType netlist)
    (interface
     (port D (direction INPUT))
     (port G (direction INPUT))
     (port Q (direction OUTPUT)))
    (contents
     (instance U1
      (viewRef NetlistView
       (cellRef ild
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I15"))
      (property EDIForiginalOrigin (string "(pt 20 -100)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "ild"))
      (portInstance D
       (property PINTYPE (string "IN")))
      (portInstance G
       (property PINTYPE (string "IN")))
      (portInstance Q
       (property PINTYPE (string "OUT"))))
     (instance U2
      (viewRef NetlistView
       (cellRef inv
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I20"))
      (property EDIForiginalOrigin (string "(pt 20 -20)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "inv"))
      (portInstance I
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PARAM (string "INV"))
       (property PINTYPE (string "OUT"))))
     (net G
      (joined
       (portRef I (instanceRef U2))
       (portRef G))
      (property Name (string "G")))
     (net D
      (joined
       (portRef D (instanceRef U1))
       (portRef D))
      (property Name (string "D")))
     (net GB
      (joined
       (portRef O (instanceRef U2))
       (portRef G (instanceRef U1)))
      (property Name (string "GB")))
     (net Q
      (joined
       (portRef Q (instanceRef U1))
       (portRef Q))
      (property Name (string "Q")))))))
 (design ild_1
  (cellRef ild_1
   (libraryRef MAIN_LIB))))
