(edif sr4rled
 (edifVersion 2 0 0)
 (edifLevel 0)
 (keywordMap (keywordLevel 0))
 (status
  (written
   (timeStamp 1998 01 29 17 35 37)
   (program "CAPTURE.EXE" (Version "7.20.145"))
   (comment "Original data from OrCAD/CAPTURE schematic"))
  (comment "")
  (comment "January 29, 1998")
  (comment "G:\MANUFACTURER\XILINXM1\WORKINPROGRESS\XC3X00\SR4RLED.DSN")
  (comment "")
  (comment "")
  (comment "")
  (comment "")
  (comment "")
  (comment ""))
 (external OrCAD_LIB
  (edifLevel 0)
  (technology
   (numberDefinition
    (scale 1 1 (unit distance))))
  (cell m2_1
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port D0 (direction INPUT))
     (port D1 (direction INPUT))
     (port O (direction OUTPUT))
     (port S0 (direction INPUT)))))
  (cell or2
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port I0 (direction INPUT))
     (port I1 (direction INPUT))
     (port O (direction OUTPUT)))))
  (cell fdre
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port C (direction INPUT))
     (port CE (direction INPUT))
     (port D (direction INPUT))
     (port Q (direction OUTPUT))
     (port R (direction INPUT))))))
 (library MAIN_LIB
  (edifLevel 0)
  (technology
   (numberDefinition
    (scale 1 1 (unit distance))))
  (cell sr4rled
   (cellType generic)
   (view NetlistView
    (viewType netlist)
    (interface
     (port D3 (direction INPUT))
     (port Q0 (direction OUTPUT))
     (port CE (direction INPUT))
     (port Q1 (direction OUTPUT))
     (port Q2 (direction OUTPUT))
     (port Q3 (direction OUTPUT))
     (port SRI (direction INPUT))
     (port LEFT (direction INPUT))
     (port L (direction INPUT))
     (port SLI (direction INPUT))
     (port D0 (direction INPUT))
     (port R (direction INPUT))
     (port D1 (direction INPUT))
     (port D2 (direction INPUT))
     (port C (direction INPUT)))
    (contents
     (instance U13
      (viewRef NetlistView
       (cellRef m2_1
        (libraryRef OrCAD_LIB)))
      (property Name (string "MDL3"))
      (property EDIForiginalOrigin (string "(pt 30 -60)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "m2_1"))
      (portInstance D0
       (property PINTYPE (string "IN")))
      (portInstance D1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT")))
      (portInstance S0
       (property PINTYPE (string "IN"))))
     (instance U14
      (viewRef NetlistView
       (cellRef or2
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I110"))
      (property EDIForiginalOrigin (string "(pt 0 -50)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "or2"))
      (portInstance I0
       (property PINTYPE (string "IN")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))))
     (instance U1
      (viewRef NetlistView
       (cellRef or2
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I77"))
      (property EDIForiginalOrigin (string "(pt 0 -50)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "or2"))
      (portInstance I0
       (property PINTYPE (string "IN")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))))
     (instance U2
      (viewRef NetlistView
       (cellRef m2_1
        (libraryRef OrCAD_LIB)))
      (property Name (string "MDR0"))
      (property EDIForiginalOrigin (string "(pt 30 -60)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "m2_1"))
      (portInstance D0
       (property PINTYPE (string "IN")))
      (portInstance D1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT")))
      (portInstance S0
       (property PINTYPE (string "IN"))))
     (instance U3
      (viewRef NetlistView
       (cellRef fdre
        (libraryRef OrCAD_LIB)))
      (property Name (string "Q0"))
      (property EDIForiginalOrigin (string "(pt 20 -100)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "fdre"))
      (portInstance C
       (property PINTYPE (string "IN")))
      (portInstance CE
       (property PINTYPE (string "IN")))
      (portInstance D
       (property PINTYPE (string "IN")))
      (portInstance Q
       (property PINTYPE (string "OUT")))
      (portInstance R
       (property PINTYPE (string "IN"))))
     (instance U4
      (viewRef NetlistView
       (cellRef m2_1
        (libraryRef OrCAD_LIB)))
      (property Name (string "MDL0"))
      (property EDIForiginalOrigin (string "(pt 30 -60)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "m2_1"))
      (portInstance D0
       (property PINTYPE (string "IN")))
      (portInstance D1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT")))
      (portInstance S0
       (property PINTYPE (string "IN"))))
     (instance U5
      (viewRef NetlistView
       (cellRef m2_1
        (libraryRef OrCAD_LIB)))
      (property Name (string "MDR1"))
      (property EDIForiginalOrigin (string "(pt 30 -60)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "m2_1"))
      (portInstance D0
       (property PINTYPE (string "IN")))
      (portInstance D1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT")))
      (portInstance S0
       (property PINTYPE (string "IN"))))
     (instance U6
      (viewRef NetlistView
       (cellRef fdre
        (libraryRef OrCAD_LIB)))
      (property Name (string "Q1"))
      (property EDIForiginalOrigin (string "(pt 20 -100)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "fdre"))
      (portInstance C
       (property PINTYPE (string "IN")))
      (portInstance CE
       (property PINTYPE (string "IN")))
      (portInstance D
       (property PINTYPE (string "IN")))
      (portInstance Q
       (property PINTYPE (string "OUT")))
      (portInstance R
       (property PINTYPE (string "IN"))))
     (instance U7
      (viewRef NetlistView
       (cellRef m2_1
        (libraryRef OrCAD_LIB)))
      (property Name (string "MDL1"))
      (property EDIForiginalOrigin (string "(pt 30 -60)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "m2_1"))
      (portInstance D0
       (property PINTYPE (string "IN")))
      (portInstance D1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT")))
      (portInstance S0
       (property PINTYPE (string "IN"))))
     (instance U8
      (viewRef NetlistView
       (cellRef m2_1
        (libraryRef OrCAD_LIB)))
      (property Name (string "MDR2"))
      (property EDIForiginalOrigin (string "(pt 30 -60)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "m2_1"))
      (portInstance D0
       (property PINTYPE (string "IN")))
      (portInstance D1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT")))
      (portInstance S0
       (property PINTYPE (string "IN"))))
     (instance U9
      (viewRef NetlistView
       (cellRef fdre
        (libraryRef OrCAD_LIB)))
      (property Name (string "Q2"))
      (property EDIForiginalOrigin (string "(pt 20 -100)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "fdre"))
      (portInstance C
       (property PINTYPE (string "IN")))
      (portInstance CE
       (property PINTYPE (string "IN")))
      (portInstance D
       (property PINTYPE (string "IN")))
      (portInstance Q
       (property PINTYPE (string "OUT")))
      (portInstance R
       (property PINTYPE (string "IN"))))
     (instance U10
      (viewRef NetlistView
       (cellRef m2_1
        (libraryRef OrCAD_LIB)))
      (property Name (string "MDL2"))
      (property EDIForiginalOrigin (string "(pt 30 -60)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "m2_1"))
      (portInstance D0
       (property PINTYPE (string "IN")))
      (portInstance D1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT")))
      (portInstance S0
       (property PINTYPE (string "IN"))))
     (instance U11
      (viewRef NetlistView
       (cellRef m2_1
        (libraryRef OrCAD_LIB)))
      (property Name (string "MDR3"))
      (property EDIForiginalOrigin (string "(pt 30 -60)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "m2_1"))
      (portInstance D0
       (property PINTYPE (string "IN")))
      (portInstance D1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT")))
      (portInstance S0
       (property PINTYPE (string "IN"))))
     (instance U12
      (viewRef NetlistView
       (cellRef fdre
        (libraryRef OrCAD_LIB)))
      (property Name (string "Q3"))
      (property EDIForiginalOrigin (string "(pt 20 -100)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "fdre"))
      (portInstance C
       (property PINTYPE (string "IN")))
      (portInstance CE
       (property PINTYPE (string "IN")))
      (portInstance D
       (property PINTYPE (string "IN")))
      (portInstance Q
       (property PINTYPE (string "OUT")))
      (portInstance R
       (property PINTYPE (string "IN"))))
     (net L_LEFT
      (joined
       (portRef O (instanceRef U14))
       (portRef S0 (instanceRef U2))
       (portRef S0 (instanceRef U5))
       (portRef S0 (instanceRef U8))
       (portRef S0 (instanceRef U11)))
      (property Name (string "L_LEFT")))
     (net D1
      (joined
       (portRef D1 (instanceRef U7))
       (portRef D1))
      (property Name (string "D1")))
     (net MDR0
      (joined
       (portRef O (instanceRef U2))
       (portRef D (instanceRef U3)))
      (property Name (string "MDR0")))
     (net C
      (joined
       (portRef C (instanceRef U3))
       (portRef C (instanceRef U6))
       (portRef C (instanceRef U9))
       (portRef C (instanceRef U12))
       (portRef C))
      (property Name (string "C")))
     (net L
      (joined
       (portRef S0 (instanceRef U13))
       (portRef I0 (instanceRef U1))
       (portRef S0 (instanceRef U4))
       (portRef S0 (instanceRef U7))
       (portRef S0 (instanceRef U10))
       (portRef I1 (instanceRef U14))
       (portRef L))
      (property Name (string "L")))
     (net SRI
      (joined
       (portRef D0 (instanceRef U11))
       (portRef SRI))
      (property Name (string "SRI")))
     (net Q2
      (joined
       (portRef D0 (instanceRef U13))
       (portRef D0 (instanceRef U5))
       (portRef Q (instanceRef U9))
       (portRef Q2))
      (property Name (string "Q2")))
     (net MDR2
      (joined
       (portRef O (instanceRef U8))
       (portRef D (instanceRef U9)))
      (property Name (string "MDR2")))
     (net MDR1
      (joined
       (portRef O (instanceRef U5))
       (portRef D (instanceRef U6)))
      (property Name (string "MDR1")))
     (net MDL2
      (joined
       (portRef O (instanceRef U10))
       (portRef D1 (instanceRef U8)))
      (property Name (string "MDL2")))
     (net D3
      (joined
       (portRef D1 (instanceRef U13))
       (portRef D3))
      (property Name (string "D3")))
     (net MDL3
      (joined
       (portRef O (instanceRef U13))
       (portRef D1 (instanceRef U11)))
      (property Name (string "MDL3")))
     (net CE
      (joined
       (portRef I1 (instanceRef U1))
       (portRef CE))
      (property Name (string "CE")))
     (net Q0
      (joined
       (portRef D0 (instanceRef U7))
       (portRef Q (instanceRef U3))
       (portRef Q0))
      (property Name (string "Q0")))
     (net L_OR_CE
      (joined
       (portRef O (instanceRef U1))
       (portRef CE (instanceRef U12))
       (portRef CE (instanceRef U9))
       (portRef CE (instanceRef U6))
       (portRef CE (instanceRef U3)))
      (property Name (string "L_OR_CE")))
     (net MDL1
      (joined
       (portRef O (instanceRef U7))
       (portRef D1 (instanceRef U5)))
      (property Name (string "MDL1")))
     (net MDL0
      (joined
       (portRef O (instanceRef U4))
       (portRef D1 (instanceRef U2)))
      (property Name (string "MDL0")))
     (net LEFT
      (joined
       (portRef I0 (instanceRef U14))
       (portRef LEFT))
      (property Name (string "LEFT")))
     (net Q3
      (joined
       (portRef D0 (instanceRef U8))
       (portRef Q (instanceRef U12))
       (portRef Q3))
      (property Name (string "Q3")))
     (net MDR3
      (joined
       (portRef O (instanceRef U11))
       (portRef D (instanceRef U12)))
      (property Name (string "MDR3")))
     (net Q1
      (joined
       (portRef D0 (instanceRef U10))
       (portRef D0 (instanceRef U2))
       (portRef Q (instanceRef U6))
       (portRef Q1))
      (property Name (string "Q1")))
     (net R
      (joined
       (portRef R (instanceRef U3))
       (portRef R (instanceRef U6))
       (portRef R (instanceRef U9))
       (portRef R (instanceRef U12))
       (portRef R))
      (property Name (string "R")))
     (net D0
      (joined
       (portRef D1 (instanceRef U4))
       (portRef D0))
      (property Name (string "D0")))
     (net D2
      (joined
       (portRef D1 (instanceRef U10))
       (portRef D2))
      (property Name (string "D2")))
     (net SLI
      (joined
       (portRef D0 (instanceRef U4))
       (portRef SLI))
      (property Name (string "SLI")))))))
 (design sr4rled
  (cellRef sr4rled
   (libraryRef MAIN_LIB))))
