(edif x74_280
 (edifVersion 2 0 0)
 (edifLevel 0)
 (keywordMap (keywordLevel 0))
 (status
  (written
   (timeStamp 1998 01 29 17 41 05)
   (program "CAPTURE.EXE" (Version "7.20.145"))
   (comment "Original data from OrCAD/CAPTURE schematic"))
  (comment "")
  (comment "January 29, 1998")
  (comment "G:\MANUFACTURER\XILINXM1\WORKINPROGRESS\XC3X00\X74_280.DSN")
  (comment "")
  (comment "")
  (comment "")
  (comment "")
  (comment "")
  (comment ""))
 (external OrCAD_LIB
  (edifLevel 0)
  (technology
   (numberDefinition
    (scale 1 1 (unit distance))))
  (cell xor5
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port I0 (direction INPUT))
     (port I1 (direction INPUT))
     (port I2 (direction INPUT))
     (port I3 (direction INPUT))
     (port I4 (direction INPUT))
     (port O (direction OUTPUT)))))
  (cell xor2
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port I0 (direction INPUT))
     (port I1 (direction INPUT))
     (port O (direction OUTPUT)))))
  (cell xor4
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port I0 (direction INPUT))
     (port I1 (direction INPUT))
     (port I2 (direction INPUT))
     (port I3 (direction INPUT))
     (port O (direction OUTPUT)))))
  (cell xnor2
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port I0 (direction INPUT))
     (port I1 (direction INPUT))
     (port O (direction OUTPUT))))))
 (library MAIN_LIB
  (edifLevel 0)
  (technology
   (numberDefinition
    (scale 1 1 (unit distance))))
  (cell x74_280
   (cellType generic)
   (view NetlistView
    (viewType netlist)
    (interface
     (port D (direction INPUT))
     (port E (direction INPUT))
     (port F (direction INPUT))
     (port G (direction INPUT))
     (port H (direction INPUT))
     (port I (direction INPUT))
     (port EVEN (direction OUTPUT))
     (port ODD (direction OUTPUT))
     (port A (direction INPUT))
     (port B (direction INPUT))
     (port C (direction INPUT)))
    (contents
     (instance U1
      (viewRef NetlistView
       (cellRef xor5
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I8"))
      (property EDIForiginalOrigin (string "(pt 0 -100)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "xor5"))
      (portInstance I0
       (property PINTYPE (string "IN")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance I2
       (property PINTYPE (string "IN")))
      (portInstance I3
       (property PINTYPE (string "IN")))
      (portInstance I4
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))))
     (instance U2
      (viewRef NetlistView
       (cellRef xor2
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I1"))
      (property EDIForiginalOrigin (string "(pt 0 -50)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "xor2"))
      (portInstance I0
       (property PINTYPE (string "IN")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))))
     (instance U3
      (viewRef NetlistView
       (cellRef xor4
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I6"))
      (property EDIForiginalOrigin (string "(pt 0 -80)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "xor4"))
      (portInstance I0
       (property PINTYPE (string "IN")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance I2
       (property PINTYPE (string "IN")))
      (portInstance I3
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))))
     (instance U4
      (viewRef NetlistView
       (cellRef xnor2
        (libraryRef OrCAD_LIB)))
      (property Name (string "$1I3"))
      (property EDIForiginalOrigin (string "(pt 0 -50)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "xnor2"))
      (portInstance I0
       (property PINTYPE (string "IN")))
      (portInstance I1
       (property PINTYPE (string "IN")))
      (portInstance O
       (property PINTYPE (string "OUT"))
       (property PARAM (string "INV"))))
     (net I
      (joined
       (portRef I0 (instanceRef U3))
       (portRef I))
      (property Name (string "I")))
     (net X5
      (joined
       (portRef O (instanceRef U1))
       (portRef I1 (instanceRef U2))
       (portRef I0 (instanceRef U4)))
      (property Name (string "X5")))
     (net EVEN
      (joined
       (portRef O (instanceRef U4))
       (portRef EVEN))
      (property Name (string "EVEN")))
     (net D
      (joined
       (portRef I1 (instanceRef U1))
       (portRef D))
      (property Name (string "D")))
     (net C
      (joined
       (portRef I2 (instanceRef U1))
       (portRef C))
      (property Name (string "C")))
     (net ODD
      (joined
       (portRef O (instanceRef U2))
       (portRef ODD))
      (property Name (string "ODD")))
     (net G
      (joined
       (portRef I2 (instanceRef U3))
       (portRef G))
      (property Name (string "G")))
     (net X4
      (joined
       (portRef O (instanceRef U3))
       (portRef I1 (instanceRef U4))
       (portRef I0 (instanceRef U2)))
      (property Name (string "X4")))
     (net F
      (joined
       (portRef I3 (instanceRef U3))
       (portRef F))
      (property Name (string "F")))
     (net B
      (joined
       (portRef I3 (instanceRef U1))
       (portRef B))
      (property Name (string "B")))
     (net E
      (joined
       (portRef I0 (instanceRef U1))
       (portRef E))
      (property Name (string "E")))
     (net A
      (joined
       (portRef I4 (instanceRef U1))
       (portRef A))
      (property Name (string "A")))
     (net H
      (joined
       (portRef I1 (instanceRef U3))
       (portRef H))
      (property Name (string "H")))))))
 (design x74_280
  (cellRef x74_280
   (libraryRef MAIN_LIB))))
