(edif cd4rle
 (edifVersion 2 0 0)
 (edifLevel 0)
 (keywordMap (keywordLevel 0))
 (status
  (written
   (timeStamp 1997 08 14 00 22 52)
   (program "EXPRESS.EXE" (Version "7.10.375"))
   (comment "Original data from OrCAD/CAPTURE schematic"))
  (comment "")
  (comment "August 13, 1997")
  (comment "G:\M1_LIBS\XC4000EX\CD4RLE.DSN")
  (comment "")
  (comment "")
  (comment "")
  (comment "")
  (comment "")
  (comment ""))
 (external OrCAD_LIB
  (edifLevel 0)
  (technology
   (numberDefinition
    (scale 1 1 (unit distance))))
  (cell ftrsle
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port C (direction INPUT)(designator "C"))
     (port CE (direction INPUT)(designator "CE"))
     (port D (direction INPUT)(designator "D"))
     (port L (direction INPUT)(designator "L"))
     (port Q (direction OUTPUT)(designator "Q"))
     (port R (direction INPUT)(designator "R"))
     (port S (direction INPUT)(designator "S"))
     (port T (direction INPUT)(designator "T")))))
  (cell and2b1
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port I0 (direction INPUT)(designator "I0"))
     (port I1 (direction INPUT)(designator "I1"))
     (port O (direction OUTPUT)(designator "O")))))
  (cell and2
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port I0 (direction INPUT)(designator "I0"))
     (port I1 (direction INPUT)(designator "I1"))
     (port O (direction OUTPUT)(designator "O")))))
  (cell or2
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port I0 (direction INPUT)(designator "I0"))
     (port I1 (direction INPUT)(designator "I1"))
     (port O (direction OUTPUT)(designator "O")))))
  (cell and4b2
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port I0 (direction INPUT)(designator "I0"))
     (port I1 (direction INPUT)(designator "I1"))
     (port I2 (direction INPUT)(designator "I2"))
     (port I3 (direction INPUT)(designator "I3"))
     (port O (direction OUTPUT)(designator "O")))))
  (cell GND
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port G (direction OUTPUT)(designator "G"))))))
 (library MAIN_LIB
  (edifLevel 0)
  (technology
   (numberDefinition
    (scale 1 1 (unit distance))))
  (cell cd4rle
   (cellType generic)
   (view NetlistView
    (viewType netlist)
    (interface
     (port TC (direction OUTPUT))
     (port D3 (direction INPUT))
     (port Q0 (direction OUTPUT))
     (port CE (direction INPUT))
     (port Q1 (direction OUTPUT))
     (port Q2 (direction OUTPUT))
     (port Q3 (direction OUTPUT))
     (port L (direction INPUT))
     (port CEO (direction OUTPUT))
     (port R (direction INPUT))
     (port D0 (direction INPUT))
     (port D1 (direction INPUT))
     (port C (direction INPUT))
     (port D2 (direction INPUT)))
    (contents
     (instance U1
      (viewRef NetlistView
       (cellRef ftrsle
        (libraryRef OrCAD_LIB))) (designator "U1")
      (property Name (string "Q0"))
      (property EDIForiginalOrigin (string "(pt 20 -150)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "ftrsle")))
     (instance U2
      (viewRef NetlistView
       (cellRef ftrsle
        (libraryRef OrCAD_LIB))) (designator "U2")
      (property Name (string "Q1"))
      (property EDIForiginalOrigin (string "(pt 20 -150)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "ftrsle")))
     (instance U3
      (viewRef NetlistView
       (cellRef and2b1
        (libraryRef OrCAD_LIB))) (designator "U3")
      (property Name (string "$1I181"))
      (property EDIForiginalOrigin (string "(pt 0 -50)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "and2b1")))
     (instance U4
      (viewRef NetlistView
       (cellRef ftrsle
        (libraryRef OrCAD_LIB))) (designator "U4")
      (property Name (string "Q2"))
      (property EDIForiginalOrigin (string "(pt 20 -150)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "ftrsle")))
     (instance U5
      (viewRef NetlistView
       (cellRef ftrsle
        (libraryRef OrCAD_LIB))) (designator "U5")
      (property Name (string "Q3"))
      (property EDIForiginalOrigin (string "(pt 20 -150)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "ftrsle")))
     (instance U6
      (viewRef NetlistView
       (cellRef and2
        (libraryRef OrCAD_LIB))) (designator "U6")
      (property Name (string "$1I2"))
      (property EDIForiginalOrigin (string "(pt 20 -50)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "and2")))
     (instance U7
      (viewRef NetlistView
       (cellRef and2
        (libraryRef OrCAD_LIB))) (designator "U7")
      (property Name (string "$1I123"))
      (property EDIForiginalOrigin (string "(pt 20 -50)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "and2")))
     (instance U8
      (viewRef NetlistView
       (cellRef or2
        (libraryRef OrCAD_LIB))) (designator "U8")
      (property Name (string "$1I13"))
      (property EDIForiginalOrigin (string "(pt 0 -50)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "or2")))
     (instance U9
      (viewRef NetlistView
       (cellRef and2
        (libraryRef OrCAD_LIB))) (designator "U9")
      (property Name (string "$1I166"))
      (property EDIForiginalOrigin (string "(pt 20 -50)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "and2")))
     (instance U10
      (viewRef NetlistView
       (cellRef and4b2
        (libraryRef OrCAD_LIB))) (designator "U10")
      (property Name (string "$1I178"))
      (property EDIForiginalOrigin (string "(pt 0 -80)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "and4b2")))
     (instance U11
      (viewRef NetlistView
       (cellRef and2
        (libraryRef OrCAD_LIB))) (designator "U11")
      (property Name (string "$1I150"))
      (property EDIForiginalOrigin (string "(pt 20 -50)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "and2")))
     (instance U12
      (viewRef NetlistView
       (cellRef GND
        (libraryRef OrCAD_LIB))) (designator "U12")
      (property Name (string "$1I145"))
      (property EDIForiginalOrigin (string "(pt 10 -30)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "GND")))
     (net T3
      (joined
       (portRef O (instanceRef U8))
       (portRef T (instanceRef U5)))
      (property Name (string "T3")))
     (net D0
      (joined
       (portRef D (instanceRef U1))
       (portRef D0))
      (property Name (string "D0")))
     (net T2
      (joined
       (portRef O (instanceRef U7))
       (portRef I0 (instanceRef U6))
       (portRef T (instanceRef U4)))
      (property Name (string "T2")))
     (net CEO
      (joined
       (portRef O (instanceRef U11))
       (portRef CEO))
      (property Name (string "CEO")))
     (net N00460
      (joined
       (portRef G (instanceRef U12))
       (portRef S (instanceRef U1))
       (portRef S (instanceRef U2))
       (portRef S (instanceRef U4))
       (portRef S (instanceRef U5)))
      (property Name (string "N00460")))
     (net D1
      (joined
       (portRef D (instanceRef U2))
       (portRef D1))
      (property Name (string "D1")))
     (net L
      (joined
       (portRef L (instanceRef U1))
       (portRef L (instanceRef U5))
       (portRef L (instanceRef U4))
       (portRef L (instanceRef U2))
       (portRef L))
      (property Name (string "L")))
     (net R
      (joined
       (portRef R (instanceRef U1))
       (portRef R (instanceRef U5))
       (portRef R (instanceRef U4))
       (portRef R (instanceRef U2))
       (portRef R))
      (property Name (string "R")))
     (net TC
      (joined
       (portRef O (instanceRef U10))
       (portRef I1 (instanceRef U11))
       (portRef TC))
      (property Name (string "TC")))
     (net Q0
      (joined
       (portRef I1 (instanceRef U3))
       (portRef I0 (instanceRef U7))
       (portRef I0 (instanceRef U9))
       (portRef I2 (instanceRef U10))
       (portRef Q (instanceRef U1))
       (portRef Q0))
      (property Name (string "Q0")))
     (net CE
      (joined
       (portRef I0 (instanceRef U11))
       (portRef T (instanceRef U1))
       (portRef CE (instanceRef U5))
       (portRef CE (instanceRef U4))
       (portRef CE (instanceRef U2))
       (portRef CE (instanceRef U1))
       (portRef CE))
      (property Name (string "CE")))
     (net Q2
      (joined
       (portRef I0 (instanceRef U10))
       (portRef Q (instanceRef U4))
       (portRef I1 (instanceRef U6))
       (portRef Q2))
      (property Name (string "Q2")))
     (net Q3
      (joined
       (portRef I0 (instanceRef U3))
       (portRef I3 (instanceRef U10))
       (portRef Q (instanceRef U5))
       (portRef I1 (instanceRef U9))
       (portRef Q3))
      (property Name (string "Q3")))
     (net TQ03
      (joined
       (portRef O (instanceRef U9))
       (portRef I0 (instanceRef U8)))
      (property Name (string "TQ03")))
     (net T1
      (joined
       (portRef O (instanceRef U3))
       (portRef T (instanceRef U2)))
      (property Name (string "T1")))
     (net Q1
      (joined
       (portRef I1 (instanceRef U7))
       (portRef I1 (instanceRef U10))
       (portRef Q (instanceRef U2))
       (portRef Q1))
      (property Name (string "Q1")))
     (net D3
      (joined
       (portRef D (instanceRef U5))
       (portRef D3))
      (property Name (string "D3")))
     (net D2
      (joined
       (portRef D (instanceRef U4))
       (portRef D2))
      (property Name (string "D2")))
     (net C
      (joined
       (portRef C (instanceRef U1))
       (portRef C (instanceRef U5))
       (portRef C (instanceRef U4))
       (portRef C (instanceRef U2))
       (portRef C))
      (property Name (string "C")))
     (net TQ2
      (joined
       (portRef I1 (instanceRef U8))
       (portRef O (instanceRef U6)))
      (property Name (string "TQ2")))))))
 (design cd4rle
  (cellRef cd4rle
   (libraryRef MAIN_LIB))))
