(edif cj4ce
 (edifVersion 2 0 0)
 (edifLevel 0)
 (keywordMap (keywordLevel 0))
 (status
  (written
   (timeStamp 1997 08 14 00 23 13)
   (program "EXPRESS.EXE" (Version "7.10.375"))
   (comment "Original data from OrCAD/CAPTURE schematic"))
  (comment "")
  (comment "August 13, 1997")
  (comment "G:\M1_LIBS\XC4000EX\CJ4CE.DSN")
  (comment "")
  (comment "")
  (comment "")
  (comment "")
  (comment "")
  (comment ""))
 (external OrCAD_LIB
  (edifLevel 0)
  (technology
   (numberDefinition
    (scale 1 1 (unit distance))))
  (cell fdce
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port C (direction INPUT)(designator "C"))
     (port CE (direction INPUT)(designator "CE"))
     (port CLR (direction INPUT)(designator "CLR"))
     (port D (direction INPUT)(designator "D"))
     (port Q (direction OUTPUT)(designator "Q")))))
  (cell inv
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port I (direction INPUT)(designator "I"))
     (port O (direction OUTPUT)(designator "O"))))))
 (library MAIN_LIB
  (edifLevel 0)
  (technology
   (numberDefinition
    (scale 1 1 (unit distance))))
  (cell cj4ce
   (cellType generic)
   (view NetlistView
    (viewType netlist)
    (interface
     (port Q0 (direction OUTPUT))
     (port Q1 (direction OUTPUT))
     (port CE (direction INPUT))
     (port Q2 (direction OUTPUT))
     (port Q3 (direction OUTPUT))
     (port CLR (direction INPUT))
     (port C (direction INPUT)))
    (contents
     (instance U1
      (viewRef NetlistView
       (cellRef fdce
        (libraryRef OrCAD_LIB))) (designator "U1")
      (property Name (string "Q0"))
      (property EDIForiginalOrigin (string "(pt 20 -100)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "fdce"))
      (property INIT (string "R")))
     (instance U2
      (viewRef NetlistView
       (cellRef inv
        (libraryRef OrCAD_LIB))) (designator "U2")
      (property Name (string "$1I34"))
      (property EDIForiginalOrigin (string "(pt 20 -20)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "inv")))
     (instance U3
      (viewRef NetlistView
       (cellRef fdce
        (libraryRef OrCAD_LIB))) (designator "U3")
      (property Name (string "Q1"))
      (property EDIForiginalOrigin (string "(pt 20 -100)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "fdce"))
      (property INIT (string "R")))
     (instance U4
      (viewRef NetlistView
       (cellRef fdce
        (libraryRef OrCAD_LIB))) (designator "U4")
      (property Name (string "Q2"))
      (property EDIForiginalOrigin (string "(pt 20 -100)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "fdce"))
      (property INIT (string "R")))
     (instance U5
      (viewRef NetlistView
       (cellRef fdce
        (libraryRef OrCAD_LIB))) (designator "U5")
      (property Name (string "Q3"))
      (property EDIForiginalOrigin (string "(pt 20 -100)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "fdce"))
      (property INIT (string "R")))
     (net Q1
      (joined
       (portRef D (instanceRef U4))
       (portRef Q (instanceRef U3))
       (portRef Q1))
      (property Name (string "Q1")))
     (net CE
      (joined
       (portRef CE (instanceRef U5))
       (portRef CE (instanceRef U1))
       (portRef CE (instanceRef U3))
       (portRef CE (instanceRef U4))
       (portRef CE))
      (property Name (string "CE")))
     (net Q3B
      (joined
       (portRef O (instanceRef U2))
       (portRef D (instanceRef U1)))
      (property Name (string "Q3B")))
     (net CLR
      (joined
       (portRef CLR (instanceRef U5))
       (portRef CLR (instanceRef U1))
       (portRef CLR (instanceRef U3))
       (portRef CLR (instanceRef U4))
       (portRef CLR))
      (property Name (string "CLR")))
     (net C
      (joined
       (portRef C (instanceRef U5))
       (portRef C (instanceRef U1))
       (portRef C (instanceRef U3))
       (portRef C (instanceRef U4))
       (portRef C))
      (property Name (string "C")))
     (net Q0
      (joined
       (portRef D (instanceRef U3))
       (portRef Q (instanceRef U1))
       (portRef Q0))
      (property Name (string "Q0")))
     (net Q3
      (joined
       (portRef I (instanceRef U2))
       (portRef Q (instanceRef U5))
       (portRef Q3))
      (property Name (string "Q3")))
     (net Q2
      (joined
       (portRef D (instanceRef U5))
       (portRef Q (instanceRef U4))
       (portRef Q2))
      (property Name (string "Q2")))))))
 (design cj4ce
  (cellRef cj4ce
   (libraryRef MAIN_LIB))))
