(edif fjkce
 (edifVersion 2 0 0)
 (edifLevel 0)
 (keywordMap (keywordLevel 0))
 (status
  (written
   (timeStamp 1997 08 14 00 39 37)
   (program "EXPRESS.EXE" (Version "7.10.375"))
   (comment "Original data from OrCAD/CAPTURE schematic"))
  (comment "")
  (comment "August 13, 1997")
  (comment "G:\M1_LIBS\XC4000EX\FJKCE.DSN")
  (comment "")
  (comment "")
  (comment "")
  (comment "")
  (comment "")
  (comment ""))
 (external OrCAD_LIB
  (edifLevel 0)
  (technology
   (numberDefinition
    (scale 1 1 (unit distance))))
  (cell and3b2
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port I0 (direction INPUT)(designator "I0"))
     (port I1 (direction INPUT)(designator "I1"))
     (port I2 (direction INPUT)(designator "I2"))
     (port O (direction OUTPUT)(designator "O")))))
  (cell and3b1
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port I0 (direction INPUT)(designator "I0"))
     (port I1 (direction INPUT)(designator "I1"))
     (port I2 (direction INPUT)(designator "I2"))
     (port O (direction OUTPUT)(designator "O")))))
  (cell or3
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port I0 (direction INPUT)(designator "I0"))
     (port I1 (direction INPUT)(designator "I1"))
     (port I2 (direction INPUT)(designator "I2"))
     (port O (direction OUTPUT)(designator "O")))))
  (cell and2b1
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port I0 (direction INPUT)(designator "I0"))
     (port I1 (direction INPUT)(designator "I1"))
     (port O (direction OUTPUT)(designator "O")))))
  (cell fdce
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port C (direction INPUT)(designator "C"))
     (port CE (direction INPUT)(designator "CE"))
     (port CLR (direction INPUT)(designator "CLR"))
     (port D (direction INPUT)(designator "D"))
     (port Q (direction OUTPUT)(designator "Q"))))))
 (library MAIN_LIB
  (edifLevel 0)
  (technology
   (numberDefinition
    (scale 1 1 (unit distance))))
  (cell fjkce
   (cellType generic)
   (view NetlistView
    (viewType netlist)
    (interface
     (port CE (direction INPUT))
     (port CLR (direction INPUT))
     (port J (direction INPUT))
     (port K (direction INPUT))
     (port Q (direction OUTPUT))
     (port C (direction INPUT)))
    (contents
     (instance U1
      (viewRef NetlistView
       (cellRef and3b2
        (libraryRef OrCAD_LIB))) (designator "U1")
      (property Name (string "$1I37"))
      (property EDIForiginalOrigin (string "(pt 0 -60)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "and3b2")))
     (instance U2
      (viewRef NetlistView
       (cellRef and3b1
        (libraryRef OrCAD_LIB))) (designator "U2")
      (property Name (string "$1I40"))
      (property EDIForiginalOrigin (string "(pt 0 -60)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "and3b1")))
     (instance U3
      (viewRef NetlistView
       (cellRef or3
        (libraryRef OrCAD_LIB))) (designator "U3")
      (property Name (string "$1I41"))
      (property EDIForiginalOrigin (string "(pt 0 -60)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "or3")))
     (instance U4
      (viewRef NetlistView
       (cellRef and2b1
        (libraryRef OrCAD_LIB))) (designator "U4")
      (property Name (string "$1I43"))
      (property EDIForiginalOrigin (string "(pt 0 -50)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "and2b1")))
     (instance U5
      (viewRef NetlistView
       (cellRef fdce
        (libraryRef OrCAD_LIB))) (designator "U5")
      (property Name (string "$1I32"))
      (property EDIForiginalOrigin (string "(pt 20 -100)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "fdce"))
      (property INIT (string "R"))
      (property RLOC (string "R0C0")))
     (net Q
      (joined
       (portRef I2 (instanceRef U1))
       (portRef I0 (instanceRef U2))
       (portRef Q (instanceRef U5))
       (portRef Q))
      (property Name (string "Q")))
     (net A2
      (joined
       (portRef O (instanceRef U4))
       (portRef I0 (instanceRef U3)))
      (property Name (string "A2")))
     (net CLR
      (joined
       (portRef CLR (instanceRef U5))
       (portRef CLR))
      (property Name (string "CLR")))
     (net C
      (joined
       (portRef C (instanceRef U5))
       (portRef C))
      (property Name (string "C")))
     (net A0
      (joined
       (portRef O (instanceRef U1))
       (portRef I2 (instanceRef U3)))
      (property Name (string "A0")))
     (net A1
      (joined
       (portRef I1 (instanceRef U3))
       (portRef O (instanceRef U2)))
      (property Name (string "A1")))
     (net CE
      (joined
       (portRef CE (instanceRef U5))
       (portRef CE))
      (property Name (string "CE")))
     (net AD
      (joined
       (portRef O (instanceRef U3))
       (portRef D (instanceRef U5)))
      (property Name (string "AD")))
     (net J
      (joined
       (portRef I1 (instanceRef U4))
       (portRef I0 (instanceRef U1))
       (portRef I2 (instanceRef U2))
       (portRef J))
      (property Name (string "J")))
     (net K
      (joined
       (portRef I0 (instanceRef U4))
       (portRef I1 (instanceRef U1))
       (portRef I1 (instanceRef U2))
       (portRef K))
      (property Name (string "K")))))))
 (design fjkce
  (cellRef fjkce
   (libraryRef MAIN_LIB))))
