(edif ifd4
 (edifVersion 2 0 0)
 (edifLevel 0)
 (keywordMap (keywordLevel 0))
 (status
  (written
   (timeStamp 1997 08 14 00 47 00)
   (program "EXPRESS.EXE" (Version "7.10.375"))
   (comment "Original data from OrCAD/CAPTURE schematic"))
  (comment "")
  (comment "August 13, 1997")
  (comment "G:\M1_LIBS\XC4000EX\IFD4.DSN")
  (comment "")
  (comment "")
  (comment "")
  (comment "")
  (comment "")
  (comment ""))
 (external OrCAD_LIB
  (edifLevel 0)
  (technology
   (numberDefinition
    (scale 1 1 (unit distance))))
  (cell ifd
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port C (direction INPUT)(designator "C"))
     (port D (direction INPUT)(designator "D"))
     (port Q (direction OUTPUT)(designator "Q"))))))
 (library MAIN_LIB
  (edifLevel 0)
  (technology
   (numberDefinition
    (scale 1 1 (unit distance))))
  (cell ifd4
   (cellType generic)
   (view NetlistView
    (viewType netlist)
    (interface
     (port D3 (direction INPUT))
     (port Q0 (direction OUTPUT))
     (port Q1 (direction OUTPUT))
     (port Q2 (direction OUTPUT))
     (port Q3 (direction OUTPUT))
     (port D0 (direction INPUT))
     (port D1 (direction INPUT))
     (port C (direction INPUT))
     (port D2 (direction INPUT)))
    (contents
     (instance U1
      (viewRef NetlistView
       (cellRef ifd
        (libraryRef OrCAD_LIB))) (designator "U1")
      (property Name (string "Q0"))
      (property EDIForiginalOrigin (string "(pt 20 -100)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "ifd"))
      (property INIT (string "R")))
     (instance U2
      (viewRef NetlistView
       (cellRef ifd
        (libraryRef OrCAD_LIB))) (designator "U2")
      (property Name (string "Q1"))
      (property EDIForiginalOrigin (string "(pt 20 -100)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "ifd"))
      (property INIT (string "R")))
     (instance U3
      (viewRef NetlistView
       (cellRef ifd
        (libraryRef OrCAD_LIB))) (designator "U3")
      (property Name (string "Q2"))
      (property EDIForiginalOrigin (string "(pt 20 -100)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "ifd"))
      (property INIT (string "R")))
     (instance U4
      (viewRef NetlistView
       (cellRef ifd
        (libraryRef OrCAD_LIB))) (designator "U4")
      (property Name (string "Q3"))
      (property EDIForiginalOrigin (string "(pt 20 -100)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "ifd"))
      (property INIT (string "R")))
     (net D0
      (joined
       (portRef D (instanceRef U1))
       (portRef D0))
      (property Name (string "D0")))
     (net D2
      (joined
       (portRef D (instanceRef U3))
       (portRef D2))
      (property Name (string "D2")))
     (net Q1
      (joined
       (portRef Q (instanceRef U2))
       (portRef Q1))
      (property Name (string "Q1")))
     (net C
      (joined
       (portRef C (instanceRef U1))
       (portRef C (instanceRef U2))
       (portRef C (instanceRef U3))
       (portRef C (instanceRef U4))
       (portRef C))
      (property Name (string "C")))
     (net D1
      (joined
       (portRef D (instanceRef U2))
       (portRef D1))
      (property Name (string "D1")))
     (net Q2
      (joined
       (portRef Q (instanceRef U3))
       (portRef Q2))
      (property Name (string "Q2")))
     (net D3
      (joined
       (portRef D (instanceRef U4))
       (portRef D3))
      (property Name (string "D3")))
     (net Q0
      (joined
       (portRef Q (instanceRef U1))
       (portRef Q0))
      (property Name (string "Q0")))
     (net Q3
      (joined
       (portRef Q (instanceRef U4))
       (portRef Q3))
      (property Name (string "Q3")))))))
 (design ifd4
  (cellRef ifd4
   (libraryRef MAIN_LIB))))
