(edif wand16
 (edifVersion 2 0 0)
 (edifLevel 0)
 (keywordMap (keywordLevel 0))
 (status
  (written
   (timeStamp 1997 08 14 01 44 11)
   (program "EXPRESS.EXE" (Version "7.10.375"))
   (comment "Original data from OrCAD/CAPTURE schematic"))
  (comment "")
  (comment "August 13, 1997")
  (comment "G:\M1_LIBS\XC4000EX\WAND16.DSN")
  (comment "")
  (comment "")
  (comment "")
  (comment "")
  (comment "")
  (comment ""))
 (external OrCAD_LIB
  (edifLevel 0)
  (technology
   (numberDefinition
    (scale 1 1 (unit distance))))
  (cell wand1
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port I (direction INPUT)(designator "I"))
     (port O (direction OUTPUT)(designator "O"))))))
 (library MAIN_LIB
  (edifLevel 0)
  (technology
   (numberDefinition
    (scale 1 1 (unit distance))))
  (cell wand16
   (cellType generic)
   (view NetlistView
    (viewType netlist)
    (interface
     (port I8 (direction INPUT))
     (port I9 (direction INPUT))
     (port I10 (direction INPUT))
     (port I11 (direction INPUT))
     (port I12 (direction INPUT))
     (port I13 (direction INPUT))
     (port I14 (direction INPUT))
     (port I0 (direction INPUT))
     (port I15 (direction INPUT))
     (port I1 (direction INPUT))
     (port O (direction INOUT))
     (port I2 (direction INPUT))
     (port I3 (direction INPUT))
     (port I4 (direction INPUT))
     (port I5 (direction INPUT))
     (port I6 (direction INPUT))
     (port I7 (direction INPUT)))
    (contents
     (instance U13
      (viewRef NetlistView
       (cellRef wand1
        (libraryRef OrCAD_LIB))) (designator "U13")
      (property Name (string "$1I65"))
      (property EDIForiginalOrigin (string "(pt 20 -20)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "wand1")))
     (instance U14
      (viewRef NetlistView
       (cellRef wand1
        (libraryRef OrCAD_LIB))) (designator "U14")
      (property Name (string "$1I48"))
      (property EDIForiginalOrigin (string "(pt 20 -20)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "wand1")))
     (instance U15
      (viewRef NetlistView
       (cellRef wand1
        (libraryRef OrCAD_LIB))) (designator "U15")
      (property Name (string "$1I53"))
      (property EDIForiginalOrigin (string "(pt 20 -20)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "wand1")))
     (instance U16
      (viewRef NetlistView
       (cellRef wand1
        (libraryRef OrCAD_LIB))) (designator "U16")
      (property Name (string "$1I54"))
      (property EDIForiginalOrigin (string "(pt 20 -20)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "wand1")))
     (instance U1
      (viewRef NetlistView
       (cellRef wand1
        (libraryRef OrCAD_LIB))) (designator "U1")
      (property Name (string "$1I57"))
      (property EDIForiginalOrigin (string "(pt 20 -20)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "wand1")))
     (instance U2
      (viewRef NetlistView
       (cellRef wand1
        (libraryRef OrCAD_LIB))) (designator "U2")
      (property Name (string "$1I58"))
      (property EDIForiginalOrigin (string "(pt 20 -20)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "wand1")))
     (instance U3
      (viewRef NetlistView
       (cellRef wand1
        (libraryRef OrCAD_LIB))) (designator "U3")
      (property Name (string "$1I59"))
      (property EDIForiginalOrigin (string "(pt 20 -20)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "wand1")))
     (instance U4
      (viewRef NetlistView
       (cellRef wand1
        (libraryRef OrCAD_LIB))) (designator "U4")
      (property Name (string "$1I60"))
      (property EDIForiginalOrigin (string "(pt 20 -20)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "wand1")))
     (instance U5
      (viewRef NetlistView
       (cellRef wand1
        (libraryRef OrCAD_LIB))) (designator "U5")
      (property Name (string "$1I61"))
      (property EDIForiginalOrigin (string "(pt 20 -20)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "wand1")))
     (instance U6
      (viewRef NetlistView
       (cellRef wand1
        (libraryRef OrCAD_LIB))) (designator "U6")
      (property Name (string "$1I62"))
      (property EDIForiginalOrigin (string "(pt 20 -20)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "wand1")))
     (instance U7
      (viewRef NetlistView
       (cellRef wand1
        (libraryRef OrCAD_LIB))) (designator "U7")
      (property Name (string "$1I56"))
      (property EDIForiginalOrigin (string "(pt 20 -20)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "wand1")))
     (instance U8
      (viewRef NetlistView
       (cellRef wand1
        (libraryRef OrCAD_LIB))) (designator "U8")
      (property Name (string "$1I55"))
      (property EDIForiginalOrigin (string "(pt 20 -20)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "wand1")))
     (instance U9
      (viewRef NetlistView
       (cellRef wand1
        (libraryRef OrCAD_LIB))) (designator "U9")
      (property Name (string "$1I52"))
      (property EDIForiginalOrigin (string "(pt 20 -20)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "wand1")))
     (instance U10
      (viewRef NetlistView
       (cellRef wand1
        (libraryRef OrCAD_LIB))) (designator "U10")
      (property Name (string "$1I51"))
      (property EDIForiginalOrigin (string "(pt 20 -20)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "wand1")))
     (instance U11
      (viewRef NetlistView
       (cellRef wand1
        (libraryRef OrCAD_LIB))) (designator "U11")
      (property Name (string "$1I50"))
      (property EDIForiginalOrigin (string "(pt 20 -20)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "wand1")))
     (instance U12
      (viewRef NetlistView
       (cellRef wand1
        (libraryRef OrCAD_LIB))) (designator "U12")
      (property Name (string "$1I49"))
      (property EDIForiginalOrigin (string "(pt 20 -20)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "wand1")))
     (net I4
      (joined
       (portRef I (instanceRef U5))
       (portRef I4))
      (property Name (string "I4")))
     (net I5
      (joined
       (portRef I (instanceRef U6))
       (portRef I5))
      (property Name (string "I5")))
     (net I1
      (joined
       (portRef I (instanceRef U2))
       (portRef I1))
      (property Name (string "I1")))
     (net I0
      (joined
       (portRef I (instanceRef U1))
       (portRef I0))
      (property Name (string "I0")))
     (net I6
      (joined
       (portRef I (instanceRef U7))
       (portRef I6))
      (property Name (string "I6")))
     (net I2
      (joined
       (portRef I (instanceRef U3))
       (portRef I2))
      (property Name (string "I2")))
     (net I7
      (joined
       (portRef I (instanceRef U8))
       (portRef I7))
      (property Name (string "I7")))
     (net I13
      (joined
       (portRef I (instanceRef U14))
       (portRef I13))
      (property Name (string "I13")))
     (net I14
      (joined
       (portRef I (instanceRef U15))
       (portRef I14))
      (property Name (string "I14")))
     (net I15
      (joined
       (portRef I (instanceRef U16))
       (portRef I15))
      (property Name (string "I15")))
     (net I10
      (joined
       (portRef I (instanceRef U11))
       (portRef I10))
      (property Name (string "I10")))
     (net I11
      (joined
       (portRef I (instanceRef U12))
       (portRef I11))
      (property Name (string "I11")))
     (net I12
      (joined
       (portRef I (instanceRef U13))
       (portRef I12))
      (property Name (string "I12")))
     (net O
      (joined
       (portRef O (instanceRef U1))
       (portRef O (instanceRef U16))
       (portRef O (instanceRef U15))
       (portRef O (instanceRef U14))
       (portRef O (instanceRef U13))
       (portRef O (instanceRef U12))
       (portRef O (instanceRef U11))
       (portRef O (instanceRef U10))
       (portRef O (instanceRef U9))
       (portRef O (instanceRef U8))
       (portRef O (instanceRef U7))
       (portRef O (instanceRef U6))
       (portRef O (instanceRef U5))
       (portRef O (instanceRef U4))
       (portRef O (instanceRef U3))
       (portRef O (instanceRef U2))
       (portRef O))
      (property Name (string "O")))
     (net I3
      (joined
       (portRef I (instanceRef U4))
       (portRef I3))
      (property Name (string "I3")))
     (net I8
      (joined
       (portRef I (instanceRef U9))
       (portRef I8))
      (property Name (string "I8")))
     (net I9
      (joined
       (portRef I (instanceRef U10))
       (portRef I9))
      (property Name (string "I9")))))))
 (design wand16
  (cellRef wand16
   (libraryRef MAIN_LIB))))
