(edif brlshft4
 (edifVersion 2 0 0)
 (edifLevel 0)
 (keywordMap (keywordLevel 0))
 (status
  (written
   (timeStamp 1997 08 13 22 02 57)
   (program "EXPRESS.EXE" (Version "7.10.375"))
   (comment "Original data from OrCAD/CAPTURE schematic"))
  (comment "")
  (comment "August 13, 1997")
  (comment "G:\M1_LIBS\XC4000E\BRLSHFT4.DSN")
  (comment "")
  (comment "")
  (comment "")
  (comment "")
  (comment "")
  (comment ""))
 (external OrCAD_LIB
  (edifLevel 0)
  (technology
   (numberDefinition
    (scale 1 1 (unit distance))))
  (cell m2_1
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port D0 (direction INPUT)(designator "D0"))
     (port D1 (direction INPUT)(designator "D1"))
     (port O (direction OUTPUT)(designator "O"))
     (port S0 (direction INPUT)(designator "S0"))))))
 (library MAIN_LIB
  (edifLevel 0)
  (technology
   (numberDefinition
    (scale 1 1 (unit distance))))
  (cell brlshft4
   (cellType generic)
   (view NetlistView
    (viewType netlist)
    (interface
     (port S1 (direction INPUT))
     (port O0 (direction OUTPUT))
     (port O1 (direction OUTPUT))
     (port O2 (direction OUTPUT))
     (port O3 (direction OUTPUT))
     (port I0 (direction INPUT))
     (port I1 (direction INPUT))
     (port I2 (direction INPUT))
     (port I3 (direction INPUT))
     (port S0 (direction INPUT)))
    (contents
     (instance U1
      (viewRef NetlistView
       (cellRef m2_1
        (libraryRef OrCAD_LIB))) (designator "U1")
      (property Name (string "M01"))
      (property EDIForiginalOrigin (string "(pt 30 -60)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "m2_1")))
     (instance U2
      (viewRef NetlistView
       (cellRef m2_1
        (libraryRef OrCAD_LIB))) (designator "U2")
      (property Name (string "O0"))
      (property EDIForiginalOrigin (string "(pt 30 -60)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "m2_1")))
     (instance U3
      (viewRef NetlistView
       (cellRef m2_1
        (libraryRef OrCAD_LIB))) (designator "U3")
      (property Name (string "M12"))
      (property EDIForiginalOrigin (string "(pt 30 -60)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "m2_1")))
     (instance U4
      (viewRef NetlistView
       (cellRef m2_1
        (libraryRef OrCAD_LIB))) (designator "U4")
      (property Name (string "O1"))
      (property EDIForiginalOrigin (string "(pt 30 -60)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "m2_1")))
     (instance U5
      (viewRef NetlistView
       (cellRef m2_1
        (libraryRef OrCAD_LIB))) (designator "U5")
      (property Name (string "M23"))
      (property EDIForiginalOrigin (string "(pt 30 -60)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "m2_1")))
     (instance U6
      (viewRef NetlistView
       (cellRef m2_1
        (libraryRef OrCAD_LIB))) (designator "U6")
      (property Name (string "O2"))
      (property EDIForiginalOrigin (string "(pt 30 -60)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "m2_1")))
     (instance U7
      (viewRef NetlistView
       (cellRef m2_1
        (libraryRef OrCAD_LIB))) (designator "U7")
      (property Name (string "M30"))
      (property EDIForiginalOrigin (string "(pt 30 -60)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "m2_1")))
     (instance U8
      (viewRef NetlistView
       (cellRef m2_1
        (libraryRef OrCAD_LIB))) (designator "U8")
      (property Name (string "O3"))
      (property EDIForiginalOrigin (string "(pt 30 -60)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "m2_1")))
     (net M12
      (joined
       (portRef O (instanceRef U3))
       (portRef D0 (instanceRef U4))
       (portRef D1 (instanceRef U8)))
      (property Name (string "M12")))
     (net S1
      (joined
       (portRef S0 (instanceRef U2))
       (portRef S0 (instanceRef U4))
       (portRef S0 (instanceRef U6))
       (portRef S0 (instanceRef U8))
       (portRef S1))
      (property Name (string "S1")))
     (net O2
      (joined
       (portRef O (instanceRef U6))
       (portRef O2))
      (property Name (string "O2")))
     (net O3
      (joined
       (portRef O (instanceRef U8))
       (portRef O3))
      (property Name (string "O3")))
     (net I3
      (joined
       (portRef D0 (instanceRef U7))
       (portRef D1 (instanceRef U5))
       (portRef I3))
      (property Name (string "I3")))
     (net M23
      (joined
       (portRef O (instanceRef U5))
       (portRef D0 (instanceRef U6))
       (portRef D1 (instanceRef U2)))
      (property Name (string "M23")))
     (net M01
      (joined
       (portRef O (instanceRef U1))
       (portRef D0 (instanceRef U2))
       (portRef D1 (instanceRef U6)))
      (property Name (string "M01")))
     (net S0
      (joined
       (portRef S0 (instanceRef U7))
       (portRef S0 (instanceRef U1))
       (portRef S0 (instanceRef U3))
       (portRef S0 (instanceRef U5))
       (portRef S0))
      (property Name (string "S0")))
     (net I0
      (joined
       (portRef D0 (instanceRef U1))
       (portRef D1 (instanceRef U7))
       (portRef I0))
      (property Name (string "I0")))
     (net O0
      (joined
       (portRef O (instanceRef U2))
       (portRef O0))
      (property Name (string "O0")))
     (net O1
      (joined
       (portRef O (instanceRef U4))
       (portRef O1))
      (property Name (string "O1")))
     (net I1
      (joined
       (portRef D0 (instanceRef U3))
       (portRef D1 (instanceRef U1))
       (portRef I1))
      (property Name (string "I1")))
     (net I2
      (joined
       (portRef D0 (instanceRef U5))
       (portRef D1 (instanceRef U3))
       (portRef I2))
      (property Name (string "I2")))
     (net M30
      (joined
       (portRef O (instanceRef U7))
       (portRef D0 (instanceRef U8))
       (portRef D1 (instanceRef U4)))
      (property Name (string "M30")))))))
 (design brlshft4
  (cellRef brlshft4
   (libraryRef MAIN_LIB))))
