(edif decode8
 (edifVersion 2 0 0)
 (edifLevel 0)
 (keywordMap (keywordLevel 0))
 (status
  (written
   (timeStamp 1997 08 13 22 24 13)
   (program "EXPRESS.EXE" (Version "7.10.375"))
   (comment "Original data from OrCAD/CAPTURE schematic"))
  (comment "")
  (comment "August 13, 1997")
  (comment "G:\M1_LIBS\XC4000E\DECODE8.DSN")
  (comment "")
  (comment "")
  (comment "")
  (comment "")
  (comment "")
  (comment ""))
 (external OrCAD_LIB
  (edifLevel 0)
  (technology
   (numberDefinition
    (scale 1 1 (unit distance))))
  (cell wand1
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port I (direction INPUT)(designator "I"))
     (port O (direction OUTPUT)(designator "O"))))))
 (library MAIN_LIB
  (edifLevel 0)
  (technology
   (numberDefinition
    (scale 1 1 (unit distance))))
  (cell decode8
   (cellType generic)
   (view NetlistView
    (viewType netlist)
    (interface
     (port A0 (direction INPUT))
     (port A1 (direction INPUT))
     (port A2 (direction INPUT))
     (port A3 (direction INPUT))
     (port A4 (direction INPUT))
     (port A5 (direction INPUT))
     (port A6 (direction INPUT))
     (port A7 (direction INPUT))
     (port O (direction INOUT)))
    (contents
     (instance U1
      (viewRef NetlistView
       (cellRef wand1
        (libraryRef OrCAD_LIB))) (designator "U1")
      (property Name (string "$1I34"))
      (property EDIForiginalOrigin (string "(pt 20 -20)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "wand1")))
     (instance U2
      (viewRef NetlistView
       (cellRef wand1
        (libraryRef OrCAD_LIB))) (designator "U2")
      (property Name (string "$1I41"))
      (property EDIForiginalOrigin (string "(pt 20 -20)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "wand1")))
     (instance U3
      (viewRef NetlistView
       (cellRef wand1
        (libraryRef OrCAD_LIB))) (designator "U3")
      (property Name (string "$1I42"))
      (property EDIForiginalOrigin (string "(pt 20 -20)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "wand1")))
     (instance U4
      (viewRef NetlistView
       (cellRef wand1
        (libraryRef OrCAD_LIB))) (designator "U4")
      (property Name (string "$1I43"))
      (property EDIForiginalOrigin (string "(pt 20 -20)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "wand1")))
     (instance U5
      (viewRef NetlistView
       (cellRef wand1
        (libraryRef OrCAD_LIB))) (designator "U5")
      (property Name (string "$1I44"))
      (property EDIForiginalOrigin (string "(pt 20 -20)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "wand1")))
     (instance U6
      (viewRef NetlistView
       (cellRef wand1
        (libraryRef OrCAD_LIB))) (designator "U6")
      (property Name (string "$1I47"))
      (property EDIForiginalOrigin (string "(pt 20 -20)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "wand1")))
     (instance U7
      (viewRef NetlistView
       (cellRef wand1
        (libraryRef OrCAD_LIB))) (designator "U7")
      (property Name (string "$1I46"))
      (property EDIForiginalOrigin (string "(pt 20 -20)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "wand1")))
     (instance U8
      (viewRef NetlistView
       (cellRef wand1
        (libraryRef OrCAD_LIB))) (designator "U8")
      (property Name (string "$1I45"))
      (property EDIForiginalOrigin (string "(pt 20 -20)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "wand1")))
     (net A6
      (joined
       (portRef I (instanceRef U7))
       (portRef A6))
      (property Name (string "A6")))
     (net A1
      (joined
       (portRef I (instanceRef U2))
       (portRef A1))
      (property Name (string "A1")))
     (net A0
      (joined
       (portRef I (instanceRef U1))
       (portRef A0))
      (property Name (string "A0")))
     (net A5
      (joined
       (portRef I (instanceRef U6))
       (portRef A5))
      (property Name (string "A5")))
     (net A4
      (joined
       (portRef I (instanceRef U5))
       (portRef A4))
      (property Name (string "A4")))
     (net A7
      (joined
       (portRef I (instanceRef U8))
       (portRef A7))
      (property Name (string "A7")))
     (net O
      (joined
       (portRef O (instanceRef U1))
       (portRef O (instanceRef U8))
       (portRef O (instanceRef U7))
       (portRef O (instanceRef U6))
       (portRef O (instanceRef U5))
       (portRef O (instanceRef U4))
       (portRef O (instanceRef U3))
       (portRef O (instanceRef U2))
       (portRef O))
      (property Name (string "O")))
     (net A3
      (joined
       (portRef I (instanceRef U4))
       (portRef A3))
      (property Name (string "A3")))
     (net A2
      (joined
       (portRef I (instanceRef U3))
       (portRef A2))
      (property Name (string "A2")))))))
 (design decode8
  (cellRef decode8
   (libraryRef MAIN_LIB))))
