(edif fdc
 (edifVersion 2 0 0)
 (edifLevel 0)
 (keywordMap (keywordLevel 0))
 (status
  (written
   (timeStamp 1997 08 13 22 27 03)
   (program "EXPRESS.EXE" (Version "7.10.375"))
   (comment "Original data from OrCAD/CAPTURE schematic"))
  (comment "")
  (comment "August 13, 1997")
  (comment "G:\M1_LIBS\XC4000E\FDC.DSN")
  (comment "")
  (comment "")
  (comment "")
  (comment "")
  (comment "")
  (comment ""))
 (external OrCAD_LIB
  (edifLevel 0)
  (technology
   (numberDefinition
    (scale 1 1 (unit distance))))
  (cell VCC
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port P (direction OUTPUT)(designator "P")))))
  (cell fdce
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port C (direction INPUT)(designator "C"))
     (port CE (direction INPUT)(designator "CE"))
     (port CLR (direction INPUT)(designator "CLR"))
     (port D (direction INPUT)(designator "D"))
     (port Q (direction OUTPUT)(designator "Q"))))))
 (library MAIN_LIB
  (edifLevel 0)
  (technology
   (numberDefinition
    (scale 1 1 (unit distance))))
  (cell fdc
   (cellType generic)
   (view NetlistView
    (viewType netlist)
    (interface
     (port D (direction INPUT))
     (port CLR (direction INPUT))
     (port Q (direction OUTPUT))
     (port C (direction INPUT)))
    (contents
     (instance U1
      (viewRef NetlistView
       (cellRef VCC
        (libraryRef OrCAD_LIB))) (designator "U1")
      (property Name (string "$1I37"))
      (property EDIForiginalOrigin (string "(pt 10 -20)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "VCC")))
     (instance U2
      (viewRef NetlistView
       (cellRef fdce
        (libraryRef OrCAD_LIB))) (designator "U2")
      (property Name (string "$1I30"))
      (property EDIForiginalOrigin (string "(pt 20 -100)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "fdce"))
      (property INIT (string "R"))
      (property RLOC (string "R0C0")))
     (net C
      (joined
       (portRef C (instanceRef U2))
       (portRef C))
      (property Name (string "C")))
     (net Q
      (joined
       (portRef Q (instanceRef U2))
       (portRef Q))
      (property Name (string "Q")))
     (net N00350
      (joined
       (portRef P (instanceRef U1))
       (portRef CE (instanceRef U2)))
      (property Name (string "N00350")))
     (net D
      (joined
       (portRef D (instanceRef U2))
       (portRef D))
      (property Name (string "D")))
     (net CLR
      (joined
       (portRef CLR (instanceRef U2))
       (portRef CLR))
      (property Name (string "CLR")))))))
 (design fdc
  (cellRef fdc
   (libraryRef MAIN_LIB))))
