(edif ftsrle
 (edifVersion 2 0 0)
 (edifLevel 0)
 (keywordMap (keywordLevel 0))
 (status
  (written
   (timeStamp 1997 08 13 22 38 03)
   (program "EXPRESS.EXE" (Version "7.10.375"))
   (comment "Original data from OrCAD/CAPTURE schematic"))
  (comment "")
  (comment "August 13, 1997")
  (comment "G:\M1_LIBS\XC4000E\FTSRLE.DSN")
  (comment "")
  (comment "")
  (comment "")
  (comment "")
  (comment "")
  (comment ""))
 (external OrCAD_LIB
  (edifLevel 0)
  (technology
   (numberDefinition
    (scale 1 1 (unit distance))))
  (cell xor2
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port I0 (direction INPUT)(designator "I0"))
     (port I1 (direction INPUT)(designator "I1"))
     (port O (direction OUTPUT)(designator "O")))))
  (cell m2_1
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port D0 (direction INPUT)(designator "D0"))
     (port D1 (direction INPUT)(designator "D1"))
     (port O (direction OUTPUT)(designator "O"))
     (port S0 (direction INPUT)(designator "S0")))))
  (cell and2b1
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port I0 (direction INPUT)(designator "I0"))
     (port I1 (direction INPUT)(designator "I1"))
     (port O (direction OUTPUT)(designator "O")))))
  (cell fdse
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port C (direction INPUT)(designator "C"))
     (port CE (direction INPUT)(designator "CE"))
     (port D (direction INPUT)(designator "D"))
     (port Q (direction OUTPUT)(designator "Q"))
     (port S (direction INPUT)(designator "S")))))
  (cell or3
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port I0 (direction INPUT)(designator "I0"))
     (port I1 (direction INPUT)(designator "I1"))
     (port I2 (direction INPUT)(designator "I2"))
     (port O (direction OUTPUT)(designator "O"))))))
 (library MAIN_LIB
  (edifLevel 0)
  (technology
   (numberDefinition
    (scale 1 1 (unit distance))))
  (cell ftsrle
   (cellType generic)
   (view NetlistView
    (viewType netlist)
    (interface
     (port D (direction INPUT))
     (port CE (direction INPUT))
     (port L (direction INPUT))
     (port Q (direction OUTPUT))
     (port R (direction INPUT))
     (port S (direction INPUT))
     (port T (direction INPUT))
     (port C (direction INPUT)))
    (contents
     (instance U1
      (viewRef NetlistView
       (cellRef xor2
        (libraryRef OrCAD_LIB))) (designator "U1")
      (property Name (string "$1I32"))
      (property EDIForiginalOrigin (string "(pt 0 -50)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "xor2")))
     (instance U2
      (viewRef NetlistView
       (cellRef m2_1
        (libraryRef OrCAD_LIB))) (designator "U2")
      (property Name (string "$1I30"))
      (property EDIForiginalOrigin (string "(pt 30 -60)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "m2_1")))
     (instance U3
      (viewRef NetlistView
       (cellRef and2b1
        (libraryRef OrCAD_LIB))) (designator "U3")
      (property Name (string "$1I76"))
      (property EDIForiginalOrigin (string "(pt 0 -50)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "and2b1")))
     (instance U4
      (viewRef NetlistView
       (cellRef fdse
        (libraryRef OrCAD_LIB))) (designator "U4")
      (property Name (string "$1I35"))
      (property EDIForiginalOrigin (string "(pt 20 -110)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "fdse"))
      (property RLOC (string "R0C0")))
     (instance U5
      (viewRef NetlistView
       (cellRef or3
        (libraryRef OrCAD_LIB))) (designator "U5")
      (property Name (string "$1I70"))
      (property EDIForiginalOrigin (string "(pt 0 -60)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "or3")))
     (net C
      (joined
       (portRef C (instanceRef U4))
       (portRef C))
      (property Name (string "C")))
     (net CE_R_L
      (joined
       (portRef CE (instanceRef U4))
       (portRef O (instanceRef U5)))
      (property Name (string "CE_R_L")))
     (net MD_S
      (joined
       (portRef O (instanceRef U3))
       (portRef D (instanceRef U4)))
      (property Name (string "MD_S")))
     (net Q
      (joined
       (portRef I1 (instanceRef U1))
       (portRef Q (instanceRef U4))
       (portRef Q))
      (property Name (string "Q")))
     (net L
      (joined
       (portRef S0 (instanceRef U2))
       (portRef I1 (instanceRef U5))
       (portRef L))
      (property Name (string "L")))
     (net MD
      (joined
       (portRef O (instanceRef U2))
       (portRef I1 (instanceRef U3)))
      (property Name (string "MD")))
     (net S
      (joined
       (portRef S (instanceRef U4))
       (portRef S))
      (property Name (string "S")))
     (net D
      (joined
       (portRef D1 (instanceRef U2))
       (portRef D))
      (property Name (string "D")))
     (net T
      (joined
       (portRef I0 (instanceRef U1))
       (portRef T))
      (property Name (string "T")))
     (net R
      (joined
       (portRef I0 (instanceRef U3))
       (portRef I2 (instanceRef U5))
       (portRef R))
      (property Name (string "R")))
     (net TQ
      (joined
       (portRef O (instanceRef U1))
       (portRef D0 (instanceRef U2)))
      (property Name (string "TQ")))
     (net CE
      (joined
       (portRef I0 (instanceRef U5))
       (portRef CE))
      (property Name (string "CE")))))))
 (design ftsrle
  (cellRef ftsrle
   (libraryRef MAIN_LIB))))
