(edif ild16
 (edifVersion 2 0 0)
 (edifLevel 0)
 (keywordMap (keywordLevel 0))
 (status
  (written
   (timeStamp 1997 08 13 22 44 05)
   (program "EXPRESS.EXE" (Version "7.10.375"))
   (comment "Original data from OrCAD/CAPTURE schematic"))
  (comment "")
  (comment "August 13, 1997")
  (comment "G:\M1_LIBS\XC4000E\ILD16.DSN")
  (comment "")
  (comment "")
  (comment "")
  (comment "")
  (comment "")
  (comment ""))
 (external OrCAD_LIB
  (edifLevel 0)
  (technology
   (numberDefinition
    (scale 1 1 (unit distance))))
  (cell ild
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port D (direction INPUT)(designator "D"))
     (port G (direction INPUT)(designator "G"))
     (port Q (direction OUTPUT)(designator "Q"))))))
 (library MAIN_LIB
  (edifLevel 0)
  (technology
   (numberDefinition
    (scale 1 1 (unit distance))))
  (cell ild16
   (cellType generic)
   (view NetlistView
    (viewType netlist)
    (interface
     (port D3 (direction INPUT))
     (port D11 (direction INPUT))
     (port Q15 (direction OUTPUT))
     (port D4 (direction INPUT))
     (port D12 (direction INPUT))
     (port Q0 (direction OUTPUT))
     (port D5 (direction INPUT))
     (port D13 (direction INPUT))
     (port Q1 (direction OUTPUT))
     (port G (direction INPUT))
     (port D6 (direction INPUT))
     (port D14 (direction INPUT))
     (port Q2 (direction OUTPUT))
     (port D7 (direction INPUT))
     (port D15 (direction INPUT))
     (port Q3 (direction OUTPUT))
     (port D8 (direction INPUT))
     (port Q4 (direction OUTPUT))
     (port D9 (direction INPUT))
     (port Q5 (direction OUTPUT))
     (port Q6 (direction OUTPUT))
     (port Q7 (direction OUTPUT))
     (port Q8 (direction OUTPUT))
     (port Q9 (direction OUTPUT))
     (port Q10 (direction OUTPUT))
     (port Q11 (direction OUTPUT))
     (port D0 (direction INPUT))
     (port Q12 (direction OUTPUT))
     (port D1 (direction INPUT))
     (port Q13 (direction OUTPUT))
     (port D2 (direction INPUT))
     (port D10 (direction INPUT))
     (port Q14 (direction OUTPUT)))
    (contents
     (instance U13
      (viewRef NetlistView
       (cellRef ild
        (libraryRef OrCAD_LIB))) (designator "U13")
      (property Name (string "Q6"))
      (property EDIForiginalOrigin (string "(pt 20 -100)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "ild")))
     (instance U14
      (viewRef NetlistView
       (cellRef ild
        (libraryRef OrCAD_LIB))) (designator "U14")
      (property Name (string "Q14"))
      (property EDIForiginalOrigin (string "(pt 20 -100)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "ild")))
     (instance U15
      (viewRef NetlistView
       (cellRef ild
        (libraryRef OrCAD_LIB))) (designator "U15")
      (property Name (string "Q7"))
      (property EDIForiginalOrigin (string "(pt 20 -100)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "ild")))
     (instance U16
      (viewRef NetlistView
       (cellRef ild
        (libraryRef OrCAD_LIB))) (designator "U16")
      (property Name (string "Q15"))
      (property EDIForiginalOrigin (string "(pt 20 -100)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "ild")))
     (instance U1
      (viewRef NetlistView
       (cellRef ild
        (libraryRef OrCAD_LIB))) (designator "U1")
      (property Name (string "Q0"))
      (property EDIForiginalOrigin (string "(pt 20 -100)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "ild")))
     (instance U2
      (viewRef NetlistView
       (cellRef ild
        (libraryRef OrCAD_LIB))) (designator "U2")
      (property Name (string "Q8"))
      (property EDIForiginalOrigin (string "(pt 20 -100)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "ild")))
     (instance U3
      (viewRef NetlistView
       (cellRef ild
        (libraryRef OrCAD_LIB))) (designator "U3")
      (property Name (string "Q1"))
      (property EDIForiginalOrigin (string "(pt 20 -100)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "ild")))
     (instance U4
      (viewRef NetlistView
       (cellRef ild
        (libraryRef OrCAD_LIB))) (designator "U4")
      (property Name (string "Q9"))
      (property EDIForiginalOrigin (string "(pt 20 -100)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "ild")))
     (instance U5
      (viewRef NetlistView
       (cellRef ild
        (libraryRef OrCAD_LIB))) (designator "U5")
      (property Name (string "Q2"))
      (property EDIForiginalOrigin (string "(pt 20 -100)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "ild")))
     (instance U6
      (viewRef NetlistView
       (cellRef ild
        (libraryRef OrCAD_LIB))) (designator "U6")
      (property Name (string "Q10"))
      (property EDIForiginalOrigin (string "(pt 20 -100)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "ild")))
     (instance U7
      (viewRef NetlistView
       (cellRef ild
        (libraryRef OrCAD_LIB))) (designator "U7")
      (property Name (string "Q3"))
      (property EDIForiginalOrigin (string "(pt 20 -100)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "ild")))
     (instance U8
      (viewRef NetlistView
       (cellRef ild
        (libraryRef OrCAD_LIB))) (designator "U8")
      (property Name (string "Q11"))
      (property EDIForiginalOrigin (string "(pt 20 -100)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "ild")))
     (instance U9
      (viewRef NetlistView
       (cellRef ild
        (libraryRef OrCAD_LIB))) (designator "U9")
      (property Name (string "Q4"))
      (property EDIForiginalOrigin (string "(pt 20 -100)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "ild")))
     (instance U10
      (viewRef NetlistView
       (cellRef ild
        (libraryRef OrCAD_LIB))) (designator "U10")
      (property Name (string "Q12"))
      (property EDIForiginalOrigin (string "(pt 20 -100)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "ild")))
     (instance U11
      (viewRef NetlistView
       (cellRef ild
        (libraryRef OrCAD_LIB))) (designator "U11")
      (property Name (string "Q5"))
      (property EDIForiginalOrigin (string "(pt 20 -100)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "ild")))
     (instance U12
      (viewRef NetlistView
       (cellRef ild
        (libraryRef OrCAD_LIB))) (designator "U12")
      (property Name (string "Q13"))
      (property EDIForiginalOrigin (string "(pt 20 -100)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "ild")))
     (net Q1
      (joined
       (portRef Q (instanceRef U3))
       (portRef Q1))
      (property Name (string "Q1")))
     (net D5
      (joined
       (portRef D (instanceRef U11))
       (portRef D5))
      (property Name (string "D5")))
     (net Q0
      (joined
       (portRef Q (instanceRef U1))
       (portRef Q0))
      (property Name (string "Q0")))
     (net Q8
      (joined
       (portRef Q (instanceRef U2))
       (portRef Q8))
      (property Name (string "Q8")))
     (net D6
      (joined
       (portRef D (instanceRef U13))
       (portRef D6))
      (property Name (string "D6")))
     (net G
      (joined
       (portRef G (instanceRef U2))
       (portRef G (instanceRef U4))
       (portRef G (instanceRef U6))
       (portRef G (instanceRef U8))
       (portRef G (instanceRef U10))
       (portRef G (instanceRef U12))
       (portRef G (instanceRef U14))
       (portRef G (instanceRef U16))
       (portRef G (instanceRef U1))
       (portRef G (instanceRef U3))
       (portRef G (instanceRef U5))
       (portRef G (instanceRef U7))
       (portRef G (instanceRef U9))
       (portRef G (instanceRef U11))
       (portRef G (instanceRef U13))
       (portRef G (instanceRef U15))
       (portRef G))
      (property Name (string "G")))
     (net Q7
      (joined
       (portRef Q (instanceRef U15))
       (portRef Q7))
      (property Name (string "Q7")))
     (net Q6
      (joined
       (portRef Q (instanceRef U13))
       (portRef Q6))
      (property Name (string "Q6")))
     (net Q13
      (joined
       (portRef Q (instanceRef U12))
       (portRef Q13))
      (property Name (string "Q13")))
     (net Q5
      (joined
       (portRef Q (instanceRef U11))
       (portRef Q5))
      (property Name (string "Q5")))
     (net D1
      (joined
       (portRef D (instanceRef U3))
       (portRef D1))
      (property Name (string "D1")))
     (net Q14
      (joined
       (portRef Q (instanceRef U14))
       (portRef Q14))
      (property Name (string "Q14")))
     (net D0
      (joined
       (portRef D (instanceRef U1))
       (portRef D0))
      (property Name (string "D0")))
     (net Q4
      (joined
       (portRef Q (instanceRef U9))
       (portRef Q4))
      (property Name (string "Q4")))
     (net Q15
      (joined
       (portRef Q (instanceRef U16))
       (portRef Q15))
      (property Name (string "Q15")))
     (net D2
      (joined
       (portRef D (instanceRef U5))
       (portRef D2))
      (property Name (string "D2")))
     (net Q3
      (joined
       (portRef Q (instanceRef U7))
       (portRef Q3))
      (property Name (string "Q3")))
     (net D3
      (joined
       (portRef D (instanceRef U7))
       (portRef D3))
      (property Name (string "D3")))
     (net D14
      (joined
       (portRef D (instanceRef U14))
       (portRef D14))
      (property Name (string "D14")))
     (net Q2
      (joined
       (portRef Q (instanceRef U5))
       (portRef Q2))
      (property Name (string "Q2")))
     (net D4
      (joined
       (portRef D (instanceRef U9))
       (portRef D4))
      (property Name (string "D4")))
     (net D15
      (joined
       (portRef D (instanceRef U16))
       (portRef D15))
      (property Name (string "D15")))
     (net Q9
      (joined
       (portRef Q (instanceRef U4))
       (portRef Q9))
      (property Name (string "Q9")))
     (net D7
      (joined
       (portRef D (instanceRef U15))
       (portRef D7))
      (property Name (string "D7")))
     (net Q10
      (joined
       (portRef Q (instanceRef U6))
       (portRef Q10))
      (property Name (string "Q10")))
     (net D9
      (joined
       (portRef D (instanceRef U4))
       (portRef D9))
      (property Name (string "D9")))
     (net D8
      (joined
       (portRef D (instanceRef U2))
       (portRef D8))
      (property Name (string "D8")))
     (net Q11
      (joined
       (portRef Q (instanceRef U8))
       (portRef Q11))
      (property Name (string "Q11")))
     (net Q12
      (joined
       (portRef Q (instanceRef U10))
       (portRef Q12))
      (property Name (string "Q12")))
     (net D10
      (joined
       (portRef D (instanceRef U6))
       (portRef D10))
      (property Name (string "D10")))
     (net D11
      (joined
       (portRef D (instanceRef U8))
       (portRef D11))
      (property Name (string "D11")))
     (net D12
      (joined
       (portRef D (instanceRef U10))
       (portRef D12))
      (property Name (string "D12")))
     (net D13
      (joined
       (portRef D (instanceRef U12))
       (portRef D13))
      (property Name (string "D13")))))))
 (design ild16
  (cellRef ild16
   (libraryRef MAIN_LIB))))
