(edif ofdti_1
 (edifVersion 2 0 0)
 (edifLevel 0)
 (keywordMap (keywordLevel 0))
 (status
  (written
   (timeStamp 1997 08 13 23 08 47)
   (program "EXPRESS.EXE" (Version "7.10.375"))
   (comment "Original data from OrCAD/CAPTURE schematic"))
  (comment "")
  (comment "August 13, 1997")
  (comment "G:\M1_LIBS\XC4000E\OFDTI_1.DSN")
  (comment "")
  (comment "")
  (comment "")
  (comment "")
  (comment "")
  (comment ""))
 (external OrCAD_LIB
  (edifLevel 0)
  (technology
   (numberDefinition
    (scale 1 1 (unit distance))))
  (cell ofdti
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port C (direction INPUT)(designator "C"))
     (port D (direction INPUT)(designator "D"))
     (port O (direction OUTPUT)(designator "O"))
     (port T (direction INPUT)(designator "T")))))
  (cell inv
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port I (direction INPUT)(designator "I"))
     (port O (direction OUTPUT)(designator "O"))))))
 (library MAIN_LIB
  (edifLevel 0)
  (technology
   (numberDefinition
    (scale 1 1 (unit distance))))
  (cell ofdti_1
   (cellType generic)
   (view NetlistView
    (viewType netlist)
    (interface
     (port D (direction INPUT))
     (port O (direction OUTPUT))
     (port T (direction INPUT))
     (port C (direction INPUT)))
    (contents
     (instance U1
      (viewRef NetlistView
       (cellRef ofdti
        (libraryRef OrCAD_LIB))) (designator "U1")
      (property Name (string "$1I15"))
      (property EDIForiginalOrigin (string "(pt 20 -110)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "ofdti"))
      (property INIT (string "S")))
     (instance U2
      (viewRef NetlistView
       (cellRef inv
        (libraryRef OrCAD_LIB))) (designator "U2")
      (property Name (string "$1I20"))
      (property EDIForiginalOrigin (string "(pt 20 -20)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "inv")))
     (net C
      (joined
       (portRef I (instanceRef U2))
       (portRef C))
      (property Name (string "C")))
     (net T
      (joined
       (portRef T (instanceRef U1))
       (portRef T))
      (property Name (string "T")))
     (net CB
      (joined
       (portRef O (instanceRef U2))
       (portRef C (instanceRef U1)))
      (property Name (string "CB")))
     (net D
      (joined
       (portRef D (instanceRef U1))
       (portRef D))
      (property Name (string "D")))
     (net O
      (joined
       (portRef O (instanceRef U1))
       (portRef O))
      (property Name (string "O")))))))
 (design ofdti_1
  (cellRef ofdti_1
   (libraryRef MAIN_LIB))))
