(edif opad8
 (edifVersion 2 0 0)
 (edifLevel 0)
 (keywordMap (keywordLevel 0))
 (status
  (written
   (timeStamp 1997 08 13 23 14 09)
   (program "EXPRESS.EXE" (Version "7.10.375"))
   (comment "Original data from OrCAD/CAPTURE schematic"))
  (comment "")
  (comment "August 13, 1997")
  (comment "G:\M1_LIBS\XC4000E\OPAD8.DSN")
  (comment "")
  (comment "")
  (comment "")
  (comment "")
  (comment "")
  (comment ""))
 (external OrCAD_LIB
  (edifLevel 0)
  (technology
   (numberDefinition
    (scale 1 1 (unit distance))))
  (cell opad
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port OPAD (direction INOUT)(designator "OPAD"))))))
 (library MAIN_LIB
  (edifLevel 0)
  (technology
   (numberDefinition
    (scale 1 1 (unit distance))))
  (cell opad8
   (cellType generic)
   (view NetlistView
    (viewType netlist)
    (interface
     (port O0 (direction INOUT))
     (port O1 (direction INOUT))
     (port O2 (direction INOUT))
     (port O3 (direction INOUT))
     (port O4 (direction INOUT))
     (port O5 (direction INOUT))
     (port O6 (direction INOUT))
     (port O7 (direction INOUT)))
    (contents
     (instance U1
      (viewRef NetlistView
       (cellRef opad
        (libraryRef OrCAD_LIB))) (designator "U1")
      (property Name (string "$1I60"))
      (property EDIForiginalOrigin (string "(pt 20 -20)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "opad"))
      (property EXT (string "OPAD")))
     (instance U2
      (viewRef NetlistView
       (cellRef opad
        (libraryRef OrCAD_LIB))) (designator "U2")
      (property Name (string "$1I61"))
      (property EDIForiginalOrigin (string "(pt 20 -20)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "opad"))
      (property EXT (string "OPAD")))
     (instance U3
      (viewRef NetlistView
       (cellRef opad
        (libraryRef OrCAD_LIB))) (designator "U3")
      (property Name (string "$1I62"))
      (property EDIForiginalOrigin (string "(pt 20 -20)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "opad"))
      (property EXT (string "OPAD")))
     (instance U4
      (viewRef NetlistView
       (cellRef opad
        (libraryRef OrCAD_LIB))) (designator "U4")
      (property Name (string "$1I63"))
      (property EDIForiginalOrigin (string "(pt 20 -20)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "opad"))
      (property EXT (string "OPAD")))
     (instance U5
      (viewRef NetlistView
       (cellRef opad
        (libraryRef OrCAD_LIB))) (designator "U5")
      (property Name (string "$1I64"))
      (property EDIForiginalOrigin (string "(pt 20 -20)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "opad"))
      (property EXT (string "OPAD")))
     (instance U6
      (viewRef NetlistView
       (cellRef opad
        (libraryRef OrCAD_LIB))) (designator "U6")
      (property Name (string "$1I65"))
      (property EDIForiginalOrigin (string "(pt 20 -20)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "opad"))
      (property EXT (string "OPAD")))
     (instance U7
      (viewRef NetlistView
       (cellRef opad
        (libraryRef OrCAD_LIB))) (designator "U7")
      (property Name (string "$1I66"))
      (property EDIForiginalOrigin (string "(pt 20 -20)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "opad"))
      (property EXT (string "OPAD")))
     (instance U8
      (viewRef NetlistView
       (cellRef opad
        (libraryRef OrCAD_LIB))) (designator "U8")
      (property Name (string "$1I67"))
      (property EDIForiginalOrigin (string "(pt 20 -20)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "opad"))
      (property EXT (string "OPAD")))
     (net O1
      (joined
       (portRef OPAD (instanceRef U2))
       (portRef O1))
      (property Name (string "O1")))
     (net O2
      (joined
       (portRef OPAD (instanceRef U3))
       (portRef O2))
      (property Name (string "O2")))
     (net O3
      (joined
       (portRef OPAD (instanceRef U4))
       (portRef O3))
      (property Name (string "O3")))
     (net O4
      (joined
       (portRef OPAD (instanceRef U5))
       (portRef O4))
      (property Name (string "O4")))
     (net O5
      (joined
       (portRef OPAD (instanceRef U6))
       (portRef O5))
      (property Name (string "O5")))
     (net O7
      (joined
       (portRef OPAD (instanceRef U8))
       (portRef O7))
      (property Name (string "O7")))
     (net O6
      (joined
       (portRef OPAD (instanceRef U7))
       (portRef O6))
      (property Name (string "O6")))
     (net O0
      (joined
       (portRef OPAD (instanceRef U1))
       (portRef O0))
      (property Name (string "O0")))))))
 (design opad8
  (cellRef opad8
   (libraryRef MAIN_LIB))))
