(edif readback
 (edifVersion 2 0 0)
 (edifLevel 0)
 (keywordMap (keywordLevel 0))
 (status
  (written
   (timeStamp 1997 08 13 23 21 24)
   (program "EXPRESS.EXE" (Version "7.10.375"))
   (comment "Original data from OrCAD/CAPTURE schematic"))
  (comment "")
  (comment "August 13, 1997")
  (comment "G:\M1_LIBS\XC4000E\READBACK.DSN")
  (comment "")
  (comment "")
  (comment "")
  (comment "")
  (comment "")
  (comment ""))
 (external OrCAD_LIB
  (edifLevel 0)
  (technology
   (numberDefinition
    (scale 1 1 (unit distance))))
  (cell rdclk
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port I (direction INPUT)(designator "I")))))
  (cell rdbk
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port DATA (direction OUTPUT)(designator "DATA"))
     (port RIP (direction OUTPUT)(designator "RIP"))
     (port TRIG (direction INPUT)(designator "TRIG"))))))
 (library MAIN_LIB
  (edifLevel 0)
  (technology
   (numberDefinition
    (scale 1 1 (unit distance))))
  (cell readback
   (cellType generic)
   (view NetlistView
    (viewType netlist)
    (interface
     (port RIP (direction INOUT))
     (port DATA (direction INOUT))
     (port TRIG (direction INPUT))
     (port CLK (direction INPUT)))
    (contents
     (instance U1
      (viewRef NetlistView
       (cellRef rdclk
        (libraryRef OrCAD_LIB))) (designator "U1")
      (property Name (string "$1I73"))
      (property EDIForiginalOrigin (string "(pt 20 -80)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "rdclk")))
     (instance U2
      (viewRef NetlistView
       (cellRef rdbk
        (libraryRef OrCAD_LIB))) (designator "U2")
      (property Name (string "$1I72"))
      (property EDIForiginalOrigin (string "(pt 20 -80)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "rdbk")))
     (net RIP
      (joined
       (portRef RIP (instanceRef U2))
       (portRef RIP))
      (property Name (string "RIP")))
     (net DATA
      (joined
       (portRef DATA (instanceRef U2))
       (portRef DATA))
      (property Name (string "DATA")))
     (net TRIG
      (joined
       (portRef TRIG (instanceRef U2))
       (portRef TRIG))
      (property Name (string "TRIG")))
     (net CLK
      (joined
       (portRef I (instanceRef U1))
       (portRef CLK))
      (property Name (string "CLK")))))))
 (design readback
  (cellRef readback
   (libraryRef MAIN_LIB))))
