(edif x74_158
 (edifVersion 2 0 0)
 (edifLevel 0)
 (keywordMap (keywordLevel 0))
 (status
  (written
   (timeStamp 1997 08 13 23 37 32)
   (program "EXPRESS.EXE" (Version "7.10.375"))
   (comment "Original data from OrCAD/CAPTURE schematic"))
  (comment "")
  (comment "August 13, 1997")
  (comment "G:\M1_LIBS\XC4000E\X74_158.DSN")
  (comment "")
  (comment "")
  (comment "")
  (comment "")
  (comment "")
  (comment ""))
 (external OrCAD_LIB
  (edifLevel 0)
  (technology
   (numberDefinition
    (scale 1 1 (unit distance))))
  (cell m2_1e
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port D0 (direction INPUT)(designator "D0"))
     (port D1 (direction INPUT)(designator "D1"))
     (port E (direction INPUT)(designator "E"))
     (port O (direction OUTPUT)(designator "O"))
     (port S0 (direction INPUT)(designator "S0")))))
  (cell inv
   (cellType generic)
   (comment "From OrCAD library MENTOR_LIB.OLB")
   (view NetlistView
    (viewType netlist)
    (interface
     (port I (direction INPUT)(designator "I"))
     (port O (direction OUTPUT)(designator "O"))))))
 (library MAIN_LIB
  (edifLevel 0)
  (technology
   (numberDefinition
    (scale 1 1 (unit distance))))
  (cell x74_158
   (cellType generic)
   (view NetlistView
    (viewType netlist)
    (interface
     (port B1 (direction INPUT))
     (port B2 (direction INPUT))
     (port A1 (direction INPUT))
     (port A2 (direction INPUT))
     (port B3 (direction INPUT))
     (port G (direction INPUT))
     (port A3 (direction INPUT))
     (port B4 (direction INPUT))
     (port A4 (direction INPUT))
     (port Y1 (direction OUTPUT))
     (port Y2 (direction OUTPUT))
     (port Y3 (direction OUTPUT))
     (port Y4 (direction OUTPUT))
     (port S (direction INPUT)))
    (contents
     (instance U1
      (viewRef NetlistView
       (cellRef m2_1e
        (libraryRef OrCAD_LIB))) (designator "U1")
      (property Name (string "O1"))
      (property EDIForiginalOrigin (string "(pt 0 -80)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "m2_1e")))
     (instance U2
      (viewRef NetlistView
       (cellRef inv
        (libraryRef OrCAD_LIB))) (designator "U2")
      (property Name (string "$1I92"))
      (property EDIForiginalOrigin (string "(pt 20 -20)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "inv")))
     (instance U3
      (viewRef NetlistView
       (cellRef m2_1e
        (libraryRef OrCAD_LIB))) (designator "U3")
      (property Name (string "O2"))
      (property EDIForiginalOrigin (string "(pt 0 -80)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "m2_1e")))
     (instance U4
      (viewRef NetlistView
       (cellRef inv
        (libraryRef OrCAD_LIB))) (designator "U4")
      (property Name (string "$1I96"))
      (property EDIForiginalOrigin (string "(pt 20 -20)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "inv")))
     (instance U5
      (viewRef NetlistView
       (cellRef m2_1e
        (libraryRef OrCAD_LIB))) (designator "U5")
      (property Name (string "O3"))
      (property EDIForiginalOrigin (string "(pt 0 -80)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "m2_1e")))
     (instance U6
      (viewRef NetlistView
       (cellRef inv
        (libraryRef OrCAD_LIB))) (designator "U6")
      (property Name (string "$1I98"))
      (property EDIForiginalOrigin (string "(pt 20 -20)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "inv")))
     (instance U7
      (viewRef NetlistView
       (cellRef m2_1e
        (libraryRef OrCAD_LIB))) (designator "U7")
      (property Name (string "O4"))
      (property EDIForiginalOrigin (string "(pt 0 -80)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "m2_1e")))
     (instance U8
      (viewRef NetlistView
       (cellRef inv
        (libraryRef OrCAD_LIB))) (designator "U8")
      (property Name (string "$1I100"))
      (property EDIForiginalOrigin (string "(pt 20 -20)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "inv")))
     (instance U9
      (viewRef NetlistView
       (cellRef inv
        (libraryRef OrCAD_LIB))) (designator "U9")
      (property Name (string "$1I66"))
      (property EDIForiginalOrigin (string "(pt 20 -20)"))
      (property EDIFviewName (string "VIEW_1"))
      (property Value (string "inv")))
     (net Y4
      (joined
       (portRef O (instanceRef U8))
       (portRef Y4))
      (property Name (string "Y4")))
     (net A4
      (joined
       (portRef D0 (instanceRef U7))
       (portRef A4))
      (property Name (string "A4")))
     (net B4
      (joined
       (portRef D1 (instanceRef U7))
       (portRef B4))
      (property Name (string "B4")))
     (net Y3
      (joined
       (portRef O (instanceRef U6))
       (portRef Y3))
      (property Name (string "Y3")))
     (net Y2
      (joined
       (portRef O (instanceRef U4))
       (portRef Y2))
      (property Name (string "Y2")))
     (net S
      (joined
       (portRef S0 (instanceRef U7))
       (portRef S0 (instanceRef U1))
       (portRef S0 (instanceRef U3))
       (portRef S0 (instanceRef U5))
       (portRef S))
      (property Name (string "S")))
     (net Y1
      (joined
       (portRef O (instanceRef U2))
       (portRef Y1))
      (property Name (string "Y1")))
     (net O4
      (joined
       (portRef O (instanceRef U7))
       (portRef I (instanceRef U8)))
      (property Name (string "O4")))
     (net E
      (joined
       (portRef O (instanceRef U9))
       (portRef E (instanceRef U7))
       (portRef E (instanceRef U1))
       (portRef E (instanceRef U3))
       (portRef E (instanceRef U5)))
      (property Name (string "E")))
     (net O2
      (joined
       (portRef O (instanceRef U3))
       (portRef I (instanceRef U4)))
      (property Name (string "O2")))
     (net O1
      (joined
       (portRef O (instanceRef U1))
       (portRef I (instanceRef U2)))
      (property Name (string "O1")))
     (net G
      (joined
       (portRef I (instanceRef U9))
       (portRef G))
      (property Name (string "G")))
     (net O3
      (joined
       (portRef O (instanceRef U5))
       (portRef I (instanceRef U6)))
      (property Name (string "O3")))
     (net B1
      (joined
       (portRef D1 (instanceRef U1))
       (portRef B1))
      (property Name (string "B1")))
     (net A2
      (joined
       (portRef D0 (instanceRef U3))
       (portRef A2))
      (property Name (string "A2")))
     (net A3
      (joined
       (portRef D0 (instanceRef U5))
       (portRef A3))
      (property Name (string "A3")))
     (net A1
      (joined
       (portRef D0 (instanceRef U1))
       (portRef A1))
      (property Name (string "A1")))
     (net B3
      (joined
       (portRef D1 (instanceRef U5))
       (portRef B3))
      (property Name (string "B3")))
     (net B2
      (joined
       (portRef D1 (instanceRef U3))
       (portRef B2))
      (property Name (string "B2")))))))
 (design x74_158
  (cellRef x74_158
   (libraryRef MAIN_LIB))))
